<div class="row">
    <div class="col-xs-2">
        <label for="name">Name</label>
    </div>
    <div class="col-xs-1">
        <img class="info_img" data-toggle="tooltip" title="<%= t('c_name')%>" src="/assets/info_55x55.png" alt="dummy">
    </div>
    <div class="col-xs-6">
        <% if params[:action] == "edit" %>
            <input type="text" class="form-control input-sm" id="name" name="name" placeholder="<%= @catalog_info["name"]%>" value="<%= @catalog_info["name"]%>">
        <%else%>
            <input type="text" class="form-control input-sm" id="name" name="name" value="">
        <%end%>         
    </div>
</div>


<div class="row">
    <div class="col-xs-2">
        <label for="theme">Theme</label>
    </div>
    <div class="col-xs-1">
        <img class="info_img" data-toggle="tooltip" data-html="true" title="<%=t('c_theme')%>" src="/assets/info_55x55.png" alt="dummy">
    </div>
    <div class="col-xs-6">
        <% if params[:action] == "edit" %>
            <input type="text" class="form-control input-sm" id="theme" name="theme" placeholder="<%= @catalog_info["theme"]%>" value="<%= @catalog_info["theme"]%>" readonly>
        <%else%>
            <select name="theme" id="theme" class="form-control input-sm" tabindex="1">
                <option value="video">Video</option>
                <option value="movie">Movie</option>
                <option value="show">Show</option>
                <option value="article">Article</option>
                <option value="livetv">Live TV</option>
                <option value="person">Person</option>
            </select>
        <%end%>
    </div>
</div>

<%#= @catalog_info.inspect %>
<!-- Layout type for content owner starts-->
<%if params[:action] == "edit" %>
<% if @catalog_info["theme"] == "person"%>
<div class="row" id="catalog_layout_type_edit">
    <div class="col-xs-2">
        <label for="layout_type">Layout Type</label>
    </div>
    <div class="col-xs-1">
        <img class="info_img" data-toggle="tooltip" title="<%#=t('add_cl_enter_layout_type')%>" src="/assets/info_55x55.png" alt="dummy">
    </div>
    
    <div class="col-xs-6">
        <% @layout_type = ["person","content_owner"] %>
        <select id="layout_type" name="layout_type" class="form-control input-sm" data-width='100%' data-dropup-auto="false" data-size="5">
            <option value="">Select one from below</option>
            <% @layout_type.each do |l_type|%>
                    <option value="<%= l_type %>" <%= "selected='selected'" if l_type == @catalog_info["layout_type"] %>><%= l_type.camelcase %></option>   
            <%end%>
        </select>
    </div>
</div>
<% end %>
<% else %>
<div class="row" id="catalog_layout_type">
    <div class="col-xs-2">
        <label for="layout_type">Layout Type</label>
    </div>
    <div class="col-xs-1">
        <img class="info_img" data-toggle="tooltip" title="<%#=t('add_cl_enter_layout_type')%>" src="/assets/info_55x55.png" alt="dummy">
    </div>
    
    <div class="col-xs-6">
        <% @layout_type = ["person","content_owner"] %>
        <select id="layout_type" name="layout_type" class="form-control input-sm" data-width='100%' data-dropup-auto="false" data-size="5">
            <option value="">Select one from below</option>
            <% @layout_type.each do |l_type|%>
                    <option value="<%= l_type %>"><%= l_type.camelcase %></option>
            <%end%>
        </select>
    </div>
</div>
<% end %>
<!-- Layout type for content owner ends-->
<div class="row">
    <div class="col-xs-2">
        <label for="sequence_no">Enter Catalog Order</label>
    </div>
    <div class="col-xs-1">
        <img class="info_img" data-toggle="tooltip" title="<%=t('c_order')%>" src="/assets/info_55x55.png" alt="dummy">
    </div>
    <div class="col-xs-6">
        <% if params[:action] == "edit" %>
            <input type="number" class="form-control input-sm" id="sequence_no" name="sequence_no" placeholder="" value="<%= @catalog_info["sequence_no"]%>" min="1">
        <%else%>
            <input type="number" class="form-control input-sm" id="sequence_no" name="sequence_no" placeholder="" value="1" min="1">
        <%end%>
    </div>
</div>


<form enctype="multipart/form-data">

    <% if params[:action] == "edit" %>
        <% if @catalog_info["catalog_images"].blank? || @catalog_info["item_images"].blank?%>

            <form enctype="multipart/form-data">
                <div class="row">
                    <div class="col-xs-2">
                        <label for="p_listing_image">Portrait Image</label>
                    </div>
                    <div class="col-xs-1">
                        <img class="info_img" data-toggle="tooltip" title="<%=t('c_portrait_image')%>" src="/assets/info_55x55.png" alt="dummy">
                    </div>
                    <div class="col-xs-6">
                        <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_small.jpg" id= "cpimgsrc" alt="image" class="s3_image" style="background-color: dimgrey;">
                        <div class="upload-section">
                            <input type="file" id="cpimg" class="choose-file"  name="cpimg" style="display:inline;">
                            <input type="button" class="btn btn-primary upload-image" id="cpimgb" name="cpimgb" value="Upload Image">
                            (251px X 141px)-(png,jpeg,gif)
                        </div>
                    </div>
                </div>    
                <input type="hidden" id= "catalog_p_listing_image" name="catalog_p_listing_image">
                <div class="row">
                    <div class="col-xs-2">
                        <label for="featured_image">Banner Image</label>
                    </div>
                    <div class="col-xs-1">
                        <img class="info_img" data-toggle="tooltip" title="<%=t('c_item_f_image')%>" src="/assets/info_55x55.png" alt="dummy">
                    </div>
                    <div class="col-xs-6 upload-section">
                        <input type="file" id="ifimg" class="choose-file"  name="ifimg" style="display:inline;">
                        <input type="button" class="btn btn-primary upload-image" id="ifimgb" name="ifimgb" value="Upload Image">
                        <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_large.jpg" id= "ifimgsrc" alt="image" style="width:794px;height:447px;">
                    </div>
                </div>  
                <input type="hidden" id= "item_featured_image" name="item_featured_image">
                <div class="row">
                    <div class="col-xs-2">
                        <label for="l_listing_image">Large Image</label>
                    </div>
                    <div class="col-xs-1">
                        <img class="info_img" data-toggle="tooltip" title="<%=t('c_item_l_image')%>" src="/assets/info_55x55.png" alt="dummy">
                    </div>
                    <div class="col-xs-6 upload-section small-image">
                        <input type="file" id="ilimg" class="choose-file"  name="ilimg" style="display:inline;">
                        <input type="button" class="btn btn-primary upload-image" id="ilimgb" name="ilimgb" value="Upload Image">
                        <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_medium.jpg" id= "limgsrc" alt="image" style="width:410px;height:231px;">
                    </div>
                </div>    
                <input type="hidden" id= "item_l_listing_image" name="item_l_listing_image">
                <div class="row">
                    <div class="col-xs-2">
                        <label for="p_listing_image">Small Image</label>
                    </div>
                    <div class="col-xs-1">
                        <img class="info_img" data-toggle="tooltip" title="<%=t('c_item_l_s_image')%>" src="/assets/info_55x55.png" alt="dummy">
                    </div>
                    <div class="col-xs-6 upload-section small-image">
                        <input type="file" id="pimg" class="choose-file"  name="pimg" style="display:inline;">
                        <input type="button" class="btn btn-primary upload-image" id="pimgb" name="pimgb" value="Upload Image">
                        <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_small.jpg" id= "pimgsrc" alt="image" style="width:251px;height:141px;">
                    </div>
                </div>    
                <input type="hidden" id= "item_p_listing_image" name="item_p_listing_image">
        <%else%>
            <div class="row">
                <div class="col-xs-2">
                    <label for="p_listing_image">Portrait Image</label>
                </div>
                <div class="col-xs-1">
                    <img class="info_img" data-toggle="tooltip" title="<%=t('c_portrait_image')%>" src="/assets/info_55x55.png" alt="dummy">
                </div>
                <div class="col-xs-6">
                    <% if @catalog_info["catalog_images"]["p_small"]["url"].blank? %>
                        <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_large.jpg" id= "cpimgsrc" alt="image" class="s3_image" style="background-color: dimgrey;">
                        <input type="hidden" id= "catalog_p_listing_image" name="catalog_p_listing_image">
                    <%else%>
                        <img src="<%=@catalog_info["catalog_images"]["p_small"]["url"]%>" id= "cpimgsrc" alt="image" class="s3_image" style="background-color: dimgrey;">
                        <input type="hidden" id= "catalog_p_listing_image" name="catalog_p_listing_image" value="<%=@catalog_info["catalog_images"]["p_small"]["url"]%>">
                    <%end%>
                    <div class="upload-section">
                        <input type="file" id="cpimg" class="choose-file"  name="cpimg" style="display:inline;">
                        <input type="button" class="btn btn-primary upload-image" id="cpimgb" name="cpimgb" value="Upload Image">
                        (30px X 30px)-(png,jpeg,gif)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-2">
                    <label for="featured_image">Banner Image</label>
                </div>
                <div class="col-xs-1">
                    <img class="info_img" data-toggle="tooltip" title="<%=t('c_item_f_image')%>" src="/assets/info_55x55.png" alt="dummy">
                </div>
                <div class="col-xs-6">
                    <% if @catalog_info["item_images"]["l_large"]["url"].blank? %>
                        <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_large.jpg" id= "ifimgsrc" alt="image" class="s3_image">
                        <input type="hidden" id= "item_featured_image" name="item_featured_image" >
                    <%else%>
                        <img src="<%=@catalog_info["item_images"]["l_large"]["url"]%>" id= "ifimgsrc" alt="image" class="s3_image">
                        <input type="hidden" id= "item_featured_image" name="item_featured_image" value="<%=@catalog_info["item_images"]["l_large"]["url"]%>">
                    <%end%>
                    <div class="upload-section">
                        <input type="file" id="ifimg" class="choose-file"  name="ifimg" style="display:inline;">
                        <input type="button" class="btn btn-primary upload-image" id="ifimgb" name="ifimgb" value="Upload Image">
                        (794px X 447px)-(png,jpeg,gif)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-2">
                    <label for="l_listing_image">Large Image</label>
                </div>
                <div class="col-xs-1">
                    <img class="info_img" data-toggle="tooltip" title="<%=t('c_item_l_image')%>" src="/assets/info_55x55.png" alt="dummy">
                </div>
                <div class="col-xs-6">
                    <% if @catalog_info["item_images"]["l_medium"]["url"].blank? %>
                        <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_medium.jpg" id= "limgsrc" alt="image" class="s3_image">
                        <input type="hidden" id= "item_l_listing_image" name="item_l_listing_image" >
                    <%else%>
                        <img src="<%=@catalog_info["item_images"]["l_medium"]["url"]%>" id= "limgsrc" alt="image" class="s3_image">
                        <input type="hidden" id= "item_l_listing_image" name="item_l_listing_image" value="<%=@catalog_info["item_images"]["l_medium"]["url"]%>">
                    <%end%>
                    <div class="upload-section">
                        <input type="file" id="ilimg" class="choose-file"  name="ilimg" style="display:inline;">
                        <input type="button" class="btn btn-primary upload-image" id="ilimgb" name="ilimgb" value="Upload Image">
                        (410px X 231px)-(png,jpeg,gif)
                    </div>
                </div>
            </div>    


            <div class="row">
                <div class="col-xs-2">
                    <label for="p_listing_image">Small Image</label>
                </div>
                <div class="col-xs-1">
                    <img class="info_img" data-toggle="tooltip" title="<%=t('c_item_l_s_image')%>" src="/assets/info_55x55.png" alt="dummy">
                </div>
                <div class="col-xs-6">
                    <% if @catalog_info["item_images"]["p_small"]["url"].blank? %>
                        <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_small.jpg" id= "pimgsrc" alt="image" class="s3_image">
                        <input type="hidden" id= "item_p_listing_image" name="item_p_listing_image" >
                    <%else%>
                        <img src="<%=@catalog_info["item_images"]["p_small"]["url"]%>" id= "pimgsrc" alt="image" class="s3_image">
                        <input type="hidden" id= "item_p_listing_image" name="item_p_listing_image" value="<%=@catalog_info["item_images"]["p_small"]["url"]%>">
                    <%end%>
                    <div class="upload-section">
                        <input type="file" id="pimg" class="choose-file"  name="pimg" style="display:inline;">
                        <input type="button" class="btn btn-primary upload-image" id="pimgb" name="pimgb" value="Upload Image">
                        (251px X 141px)-(png,jpeg,gif)
                    </div>
                </div>
            </div>
        <%end%>

        <%else%>
            <div class="row">
                <div class="col-xs-2">
                    <label for="p_listing_image">Portrait Image</label>
                </div>
                <div class="col-xs-1">
                    <img class="info_img" data-toggle="tooltip" title="<%=t('c_portrait_image')%>" src="/assets/info_55x55.png" alt="dummy">
                </div>
                <div class="col-xs-6">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_small.jpg" id= "cpimgsrc" alt="image" class="s3_image">
                    <div class="upload-section">
                        <input type="file" id="cpimg" class="choose-file"  name="cpimg" style="display:inline;">
                        (30px X 30px)-(png,jpeg,gif)
                        <input type="button" class="btn btn-primary upload-image" id="cpimgb" name="cpimgb" value="Upload Image">
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="error_media"  id="ecpimg"> </div>
            </div>  
            <input type="hidden" id= "catalog_p_listing_image" name="catalog_p_listing_image">

            <div class="row">
                <div class="col-xs-2">
                    <label for="featured_image">Banner Image</label>
                </div>
                <div class="col-xs-1">
                    <img class="info_img" data-toggle="tooltip" title="<%=t('c_item_f_image')%>" src="/assets/info_55x55.png" alt="dummy">
                </div>
                <div class="col-xs-6">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_large.jpg" id= "ifimgsrc" alt="image" class="s3_image">
                    <div class="upload-section">
                        <input type="file" id="ifimg" class="choose-file"  name="ifimg" style="display:inline;">
                        <input type="button" class="btn btn-primary upload-image" id="ifimgb" name="ifimgb" value="Upload Image">
                        (794px X 447px)-(png,jpeg,gif)
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="error_media"  id="eifimg"> </div>
            </div>  
            <input type="hidden" id= "item_featured_image" name="item_featured_image">

            <div class="row">
                <div class="col-xs-2">
                    <label for="l_listing_image">Large Image</label>
                </div>
                <div class="col-xs-1">
                    <img class="info_img" data-toggle="tooltip" title="<%=t('c_item_l_image')%>" src="/assets/info_55x55.png" alt="dummy">
                </div>
                <div class="col-xs-6">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_medium.jpg" id= "limgsrc" alt="image" class="s3_image">
                    <div class="upload-section">
                        <input type="file" id="ilimg" class="choose-file"  name="ilimg" style="display:inline;">
                        <input type="button" class="btn btn-primary upload-image" id="ilimgb" name="ilimgb" value="Upload Image">
                        (410px X 231px)-(png,jpeg,gif)
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="error_media"  id="eilimg"> </div>
            </div>    
            <input type="hidden" id= "item_l_listing_image" name="item_l_listing_image">

            <div class="row">
                <div class="col-xs-2">
                    <label for="p_listing_image">Small Image</label>
                </div>
                <div class="col-xs-1">
                    <img class="info_img" data-toggle="tooltip" title="<%=t('c_item_l_s_image')%>" src="/assets/info_55x55.png" alt="dummy">
                </div>

                <div class="col-xs-6">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_small.jpg" id= "pimgsrc" alt="image" class="s3_image">
                    <div class="upload-section">
                        <input type="file" id="pimg" class="choose-file"  name="pimg" style="display:inline;">
                        <input type="button" class="btn btn-primary upload-image" id="pimgb" name="pimgb" value="Upload Image">
                        (251px X 141px)-(png,jpeg,gif)
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="error_media"  id="epimg"> </div>
            </div>    
            <input type="hidden" id= "item_p_listing_image" name="item_p_listing_image">

        <%end%>
    </form>


    <div class="row">
        <div class="col-xs-2">
            <label>Custom Tag</label>
        </div>
        <div class="col-xs-1">
            <img class="info_img" data-toggle="tooltip" title="<%=t('c_custom_tag')%>" src="/assets/info_55x55.png" alt="dummy">
        </div>
        <div class="col-xs-6">
            <%if params[:action] == "edit"%>
                <div class="radio">
                    <% if !@catalog_info["custom_tags"].blank? %>
                        <label><input type="radio" id="custom_tag" name="custom_tag" value="on" checked>Yes</label>
                        <label><input type="radio" id="custom_tag" name="custom_tag" value="off">No</label>
                    <%else%> 
                        <label><input type="radio" id="custom_tag" name="custom_tag" value="off" checked>No</label>
                        <label><input type="radio" id="custom_tag" name="custom_tag" value="on" >Yes</label>
                    <%end%>
                </div>
                <div class="form-group" id="custom-group">
                    <div class="col-xs-12">
                        <div class="constructor">
                            <button class="btn btn-xs btn-info con_add_field_button">Add More Fields</button>
                            <div class="row">
                                <div class="col-xs-3">
                                    <p class="mb0">Tag Name</p>
                                </div>
                                <div class="col-xs-3">
                                    <p class="mb0">Datatype</p>
                                </div>
                                <div class="col-xs-3">
                                    <p class="mb0">Mandatory</p>
                                </div>
                            </div>
                            <% if !@catalog_info["custom_tags"].blank? %>
                                <% @catalog_info["custom_tags"].each do |tag_hash| %>
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <input type="text" class="form-control" id="tag_namesid" name="tag_names[]" value="<%= tag_hash["tag"]%>" onkeypress="return spacecheck(event);" placeholder="<%= tag_hash["tag"]%>" readonly >
                                        </div>
                                        <div class="col-xs-3 variable-keys">
                                            <select class="form-control" name="tag_types[]" readOnly="true">
                                                <option value="<%= tag_hash["type"]%>"><%= tag_hash["type"]%></option>
                                            </select>
                                        </div>
                                        <div class="col-xs-3">
                                            <select class="form-control"  name="mandatory[]">
                                                <%if tag_hash["mandatory"] == true || tag_hash["mandatory"] == "yes"%>
                                                    <option value="yes">Yes</option>
                                                <%else%>
                                                    <option value="no">No</option>
                                                <%end%>
                                            </select>
                                        </div>
                                    </div>
                                <%end%>
                            <%else%>
                                Please Add Custom tags
                            <%end%>
                        </div>
                    </div>
                </div> 
            <%else%>
                <div class="radio">
                    <label><input type="radio" id="custom_tag" name="custom_tag" value="on">Yes</label>
                    <label><input type="radio" id="custom_tag" name="custom_tag" value="off" checked>No</label>
                </div>
                <div class="form-group" id="custom-group">
                    <div class="col-xs-12">
                        <div class="constructor">
                            <button class="btn btn-xs btn-info con_add_field_button">Add More Fields</button>
                            <div class="row">
                                <div class="col-xs-4">
                                    <p class="mb0">Tag Name</p>
                                </div>
                                <div class="col-xs-3">
                                    <p class="mb0">Datatype</p>
                                </div>
                                <div class="col-xs-3">
                                    <p class="mb0">Mandatory</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            <%end%>          
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2">
            <label>Video List</label>
        </div>
        <div class="col-xs-1">
            <img class="info_img" data-toggle="tooltip" title="<%=t('c_video_list')%>" src="/assets/info_55x55.png" alt="dummy">
        </div>
        <div class="col-xs-6">
            <!-- <input type="checkbox" class="form-control input-sm" id="videolist_tag" name="videolist_tag" data-toggle="toggle" data-size="mini"> -->
            <%if params[:action] == "edit"%>
                <div class="radio">
                    <% if !@catalog_info["videolist_tags"].blank? %>
                        <label><input type="radio" id="videolist_tag" name="videolist_tag" value="on" checked>Yes</label>
                        <label><input type="radio" id="videolist_tag" name="videolist_tag" value="off">No</label>
                    <%else%> 
                        <label><input type="radio" id="videolist_tag" name="videolist_tag" value="off" checked>No</label>
                        <label><input type="radio" id="videolist_tag" name="videolist_tag" value="on" >Yes</label>
                    <%end%>
                </div>
                <div class="form-group" id="videolist-group">
                    <div class="col-xs-12">
                        <div class="videoconstructor">
                            <button class="btn btn-xs btn-info video_add_field_button">Add More Videolist</button>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p class="mb0">Video List Name</p>
                                </div>
                            </div>
                            <%if !@catalog_info["videolist_tags"].blank? %>
                                <% @catalog_info["videolist_tags"].each do |v_hash| %>
                                    <p> <input type="text" class="form-control input-sm" name="videolist_names[]" value="<%= v_hash%>" onblur="chkDup(event,this);"> </p>
                                <% end %>
                            <%else%>
                                <!-- <label>please Add Video List</label> -->
                            <% end %>
                        </div>
                    </div>
                </div> 
            <%else%>
                <div class="radio">
                    <label><input type="radio" id="videolist_tag" name="videolist_tag" value="on">Yes</label>
                    <label><input type="radio" id="videolist_tag" name="videolist_tag" value="off" checked>No</label>
                </div>
                <div class="form-group" id="videolist-group">
                    <div class="col-xs-12">
                        <div class="videoconstructor">
                            <button class="btn btn-xs btn-info video_add_field_button">Add More Videolist</button>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p class="mb0">Video List Name</p>
                                    <!-- <div class="row"><div class="col-xs-10"><input type="text" class="form-control videolist-names" name="videolist_names[]"></div> <a href="#" class="remove_field1">Remove</a></div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <%end%>
        </div>          
    </div>

    <%if params[:action] == "edit"%>
        <% tenant_count = Tenant.where(:bg_id=>@bg.id).count%>
        <% if tenant_count > 1%>
            <div class="row">
                <div style="float: left;">
                    <label>Tenant Specific Configurations</label>
                </div>
            </div>
        <%end%>
        <%Tenant.where(:bg_id=>@bg.id).each do |tenant|%>

            <% if Tenant.where(:bg_id=>@bg.id).count > 1 %>
                <div class="row">
                    <div class="col-xs-2">
                        <label>Tenant </label>
                    </div>
                    <div class="col-xs-1"></div>
                    <div class="col-xs-6">  
                        <%=tenant.name.capitalize%>
                    </div>
                </div>
            <% end %>

            <div class="row">
                <div class="col-xs-2">
                    <label for="apps[]">Platforms</label>
                </div>
                <div class="col-xs-1">
                    <img class="info_img" data-toggle="tooltip" title="<%=t('c_apps')%>" src="/assets/info_55x55.png" alt="dummy">
                </div>
                <div class="col-xs-6">
                    <div class="checkbox">                  
                        <!-- Tenant Apps -->
                        <% apps = App.where(:tenant_id=>tenant.id) %>
                        <% apps.each do |t_app|%>
                            <% tenant_app = t_app.as_json%>
                            <% catalog_app = @catalog["app_id"] %>
                            <% if catalog_app.include?("#{tenant_app['_id']}") %>
                                <label>
                                    <input type="checkbox" id="app_checkbox" name="apps[]" value="<%=t_app["_id"]%>" checked> <%=t_app["name"]%>
                                </label>    
                            <%else%>
                                <label>
                                    <input type="checkbox" id="app_checkbox" name="apps[]" value="<%=t_app["_id"]%>"><%=t_app["name"]%>  
                                </label>
                            <%end%>
                        <%end%>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-2">
                    <!-- Tenant genres -->
                    <label for="<%=tenant.id%>-genres[]">Select Genres</label>
                </div>
                <div class="col-xs-1">
                    <img class="info_img" data-toggle="tooltip" title="<%=t('c_genres')%>" src="/assets/info_55x55.png" alt="dummy">
                </div>
                <div class="col-xs-6">
                    <div class="checkbox">
                        <%default_genres = (@default_data["default_genres"].map{|v| v["name"]}).sort%>
                        <% if @catalog_info["genres"][tenant.ott_id] %>
                            <% genres = (@catalog_info["genres"][tenant.ott_id].map{|h| h["name"]}).sort %>
                            <% default_genres.each do |d_genre| %>
                                <% if genres.include? d_genre %>
                                    <label>
                                        <input type="checkbox" id="genres" name="<%=tenant.id%>-genres[]" value="<%= d_genre%>" checked> <%= d_genre.camelcase %>
                                    </label>        
                                <%else%>
                                    <label>
                                        <input type="checkbox" id="genres" name="<%=tenant.id%>-genres[]" value="<%= d_genre%>"> <%= d_genre.camelcase %>
                                    </label>    
                                <%end%> 
                            <% end %>
                        <% else %>
                            <% default_genres.each do |d_genre| %>
                                <label>
                                    <input type="checkbox" id="genres" name="<%=tenant.id%>-genres[]" value="<%= d_genre%>"> <%= d_genre.camelcase %>
                                </label>        
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-2">
                    <label for="<%=tenant.id%>-languages[]">Select Languages</label>
                </div>
                <div class="col-xs-1">
                    <img class="info_img" data-toggle="tooltip" title="<%=t('c_language')%>" src="/assets/info_55x55.png" alt="dummy">
                </div>
                <div class="col-xs-6">      
                    <div class="checkbox">
                        <%default_languages = (@default_data["default_languages"].map{|v| v["name"]}).sort%>
                        <% if @catalog_info["languages"][tenant.ott_id] %>
                            <% languages = (@catalog_info["languages"][tenant.ott_id].map{|h| h["name"]}).sort %>
                            <% default_languages.each do |d_language| %>
                                <% if languages.include? d_language %>
                                    <label>
                                      <input type="checkbox" id="languages" name="<%=tenant.id%>-languages[]" value="<%= d_language%>" checked>
                                      <%= d_language.camelcase %>
                                    </label>        
                                <%else%>
                                    <label> 
                                        <input type="checkbox" id="languages" name="<%=tenant.id%>-languages[]" value="<%= d_language%>">
                                        <%= d_language.camelcase %>
                                    </label>            
                                <%end%>    
                            <%end%>
                        <% else %>
                            <% default_languages.each do |d_language| %>
                                <label> 
                                    <input type="checkbox" id="languages" name="<%=tenant.id%>-languages[]" value="<%= d_language%>">
                                    <%= d_language.camelcase %>
                                </label>            
                            <% end %>
                        <%end%>    
                    </div>
                </div>
            </div>
        <%end%>

    <%else%>
        <% tenant_count = Tenant.where(:bg_id=>@bg.id).count%>
        <% if tenant_count > 1%>
            <div class="row">
                <div style="float: left;">
                    <label>Tenant Specific Configurations</label>
                </div>
            </div>
        <%end%>
        <%Tenant.where(:bg_id=>@bg.id).each do |tenant|%>

            <!-- <div class="panel panel-default">
            <div class="panel-body"> -->
            <div class="row">
                <%if tenant_count > 1%>
                    <div class="col-xs-2">
                        <label >Tenant </label> 
                    </div>
                    <div class="col-xs-1"></div>
                    <div class="col-xs-6">
                        <%=tenant.name.capitalize%>
                    </div>
                <% end %>

                <div class="col-xs-12"></div>
                <% apps = App.where(:tenant_id=>tenant.id).sort({KEY:1}) %>
                <% app_count = apps.count %>
                <div class="col-xs-2">
                    <label>Platforms</label>
                </div>
                <div class="col-xs-1">
                    <img class="info_img" data-toggle="tooltip" title="<%=t('c_apps')%>" src="/assets/info_55x55.png" alt="dummy">
                </div>
                <div class="col-xs-6">
                    <div class="checkbox">
                        <label id="app_label"></label><div class="clear"></div>
                        <% apps.each do |app|%>
                            <label class="checkboxapp<%=app_count%>">
                                <input type="checkbox" class="checkboxapp" id="checkboxapp<%=app.id%>" name="apps[]" value="<%=app.id%>"><%=app.name%>
                            </label>
                        <%end%>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-2">
                    <label>Select Genres</label>
                </div>
                <div class="col-xs-1">
                    <img class="info_img" data-toggle="tooltip" title="<%=t('c_genres')%>" src="/assets/info_55x55.png" alt="dummy">
                </div>
                <div class="col-xs-6">
                    <div class="checkbox" >
                        <label id="genres_label"></label><div class="clear"></div>
                        <% genres = @ott_default_config["default_genres"].map{ |h| h["name"] } %>
                        <% genres.sort.each do |genre| %>
                            <label><input type="checkbox" id="genres" class="genres" name="<%=tenant.id%>-genres[]" value="<%= genre %>"><%= genre.gsub("_", " ").camelcase %></label>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="row">   
                <div class="col-xs-2">
                    <label for="<%=tenant.id%>-languages[]">Select Languages</label>
                </div>
                <div class="col-xs-1">
                    <img class="info_img" data-toggle="tooltip" title="<%=t('c_language')%>" src="/assets/info_55x55.png" alt="dummy">
                </div>
                <div class="col-xs-6">
                    <div class="checkbox" >
                        <label id="lang_label"></label><div class="clear"></div>
                        <% languages = @ott_default_config["default_languages"].map{ |h| h["name"] } %>
                        <% languages.sort.each do |language| %>
                            <label><input type="checkbox" id="languages" class="languages" name="<%=tenant.id%>-languages[]" value="<%= language %>"><%= language.camelcase %></label>
                        <% end %>
                    </div>
                </div>
            </div>
        <%end%>
    <%end%>

    <% if params[:action] == "edit" %>
        <div class="row">
            <div class="col-xs-2">
                <!-- Tenant genres -->
                <label for="episodetype_tags">Select Episode Type</label>
            </div>
            <div class="col-xs-1">
                <img class="info_img" data-toggle="tooltip" title="<%#= t('c_genres')%>" src="/assets/info_55x55.png" alt="dummy">
            </div>
            <div class="col-xs-6">
                <div class="checkbox">
                    <% default_episodetype_tags = (@default_data["default_episodetype_tags"]) %>
                    <% if @catalog_info["episodetype_tags"] %>
                        <% episodetype_tags = (@catalog_info["episodetype_tags"].map{|h| h["name"]}).sort %>
                        <% default_episodetype_tags.each do |d_episodetype_tag| %>
                            
                            <% if episodetype_tags.include? d_episodetype_tag["name"] %>
                                <label>
                                    <input type="checkbox" id="episodetype_tags" name="episodetype_tags[]" value="<%= d_episodetype_tag['name']%>-<%= d_episodetype_tag['display_title'] %>" checked> <%= d_episodetype_tag["display_title"].camelcase %>
                                    </label>        
                            <%else%>
                                <label>
                                    <input type="checkbox" id="episodetype_tags" name="episodetype_tags[]" value="<%= d_episodetype_tag['name']%>-<%= d_episodetype_tag['display_title'] %>"> <%= d_episodetype_tag["display_title"].camelcase %>
                                </label>    
                            <%end%> 
                        <% end %>
                    <% else %>
                        <% default_episodetype_tags.each do |d_episodetype_tag| %>
                            <label>
                                <input type="checkbox" id="episodetype_tags" name="episodetype_tags[]" value="<%= d_episodetype_tag['name']%>-<%= d_episodetype_tag['display_title']%>"> <%= d_episodetype_tag["display_title"].camelcase %>
                            </label>        
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    <% else %>
        <div class="row">   
            <div class="col-xs-2">
                <label for="episodetype_tags[]">Select Episode Types</label>
            </div>
            <div class="col-xs-1">
                <img class="info_img" data-toggle="tooltip" title="<%#=t('c_language')%>" src="/assets/info_55x55.png" alt="dummy">
            </div>
            <div class="col-xs-6">
                <div class="checkbox" >
                    <label id="lang_label"></label><div class="clear"></div>
                    <% @ott_default_config["default_episodetype_tags"].each do |episodetype_tag| %>
                        <label><input type="checkbox" id="episodetype_tags" class="episodetype_tags" name="episodetype_tags[]" value="<%= episodetype_tag['name'] %>-<%= episodetype_tag['display_title'] %>"><%= episodetype_tag['display_title'].camelcase %></label>
                    <% end %>
                </div>
            </div>
        </div>
    <% end -%>

    <div class="row">
        <div class="col-xs-2">
            <label for="name">SEO</label>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2">
            <label for="name">Title</label>
        </div>
        <div class="col-xs-1">
            <img class="info_img" data-toggle="tooltip" title="<%=t('c_meta_title')%>" src="/assets/info_55x55.png" alt="dummy">
        </div>
        <div class="col-xs-6">
            <%if params[:action] == "edit"%>
                <input type="text" class="form-control input-sm" id="meta_title" name="meta_title" placeholder="" value="<%= @catalog_info["meta_title"]%>">
            <%else%>
                <input type="text" class="form-control input-sm" id="meta_title" name="meta_title" placeholder="" value="">
            <%end%>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <label for="name">Description</label>
        </div>
        <div class="col-xs-1">
            <img class="info_img" data-toggle="tooltip" title="<%=t('c_description')%>" src="/assets/info_55x55.png" alt="dummy">
        </div>
        <div class="col-xs-6">
            <%if params[:action] == "edit"%>
                <textarea class="form-control input-sm" rows="5" id="meta_description" name="meta_description" placeholder="" value="<%= @catalog_info["meta_description"]%>"></textarea>
            <%else%>
                <textarea class="form-control input-sm" rows="5" id="meta_description" name="meta_description" placeholder="" value=""></textarea>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <label for="name">Keywords</label>
        </div>
        <div class="col-xs-1">
            <img class="info_img" data-toggle="tooltip" title="<%=t('c_keywords')%>" src="/assets/info_55x55.png" alt="dummy">
        </div>
        <div class="col-xs-6">
            <%if params[:action] == "edit"%>
                <input type="text" class="form-control input-sm" id="meta_keywords" name="meta_keywords" placeholder="" value="<%= @catalog_info["meta_keywords"]%>">
            <%else%>
                <input type="text" class="form-control input-sm" id="meta_keywords" name="meta_keywords" placeholder="" value="">
            <%end%>
        </div>
    </div>
