

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>


<script>


    function checkDuplicates() {
        // get all input elements
        var $elems = $("input:text[name='videolist_names[]']");

        // we store the inputs value inside this array
        var values = [];
        // return this
        var isDuplicated = false;
        // loop through elements
        $elems.each(function () {
            //If value is empty then move to the next iteration.
            if(!this.value) return true;
            //If the stored array has this value, break from the each method
            if(values.indexOf(this.value) !== -1) {
                isDuplicated = true;
                return false;
            }
            // store the value
            values.push(this.value);
        });   

        return isDuplicated;     
    }
    // $(".video-list-item").blur(function(){
    //     chkDup(this);
    // });
    function chkDup(event, _this){
        event.stopPropagation();
        console.log("inside!");
        console.log(_this);
        if(checkDuplicates()){
            alert("Video list name must be unique!");
            $(_this).val("");
            $(_this).focus();
            return false;
        }
        // else{
        //     alert(" No Dupliate Found!");
        // }
    }


	//$(document).ready(function(){
        //alert("inside videolist_tag");
        //checking videolist_tag values are unique.
        //var videolistnames = [];
        //$("div.videoconstructor").on('change', "input:text[name='videolist_names[]']", function () {
        // $("input:text[name='videolist_names[]']").change(function(){
        //    $($("input:text[name='videolist_names[]']").get().reverse()).each(function(){
        //        videolistnames = videolistnames.filter(function(entry) { return entry.trim() != ''; });                
        //        if ( $.inArray(this.value, videolistnames) >= 0 ) {
        //            alert("Video list name must be unique!");
        //            $(this).val("");
        //            $(this).focus();
        //            return false; // <-- stops the loop
        //        } else {
        //            videolistnames.push( this.value );
        //        }
        //    });
        //});
//    });
</script>
<script>
$(document).ready(function(){
    $("#catalog_layout_type").hide();
    var theme = $("#theme").val();
    if (theme == "person")
    {
         $("#catalog_layout_type_edit").show();
    }
    else
    {
         $("#catalog_layout_type_edit").hide();
    }
    $('#theme').on('change', function() {
      if(this.value == "person")
      {
        $("#catalog_layout_type").show();
      }
      else
      {
        $("#catalog_layout_type").hide();
      }
});
  });
</script>
<%if params[:action] == "view_all" %>
		<script type="text/javascript">
		function load_actions() {

			$('.delete-catalog').click(function(){
			$.ajax({
				url: '/catalogs/'+$(this).attr('catalog-id')+'?method=delete',
				type: 'POST',
				timeout: 120000,
				error: function(e,t){
					if (t == "timeout"){
						alert("Timed Out Wait for Response");
					}
					else{
						alert(JSON.parse(e.responseText)["error"]);
					}
				},
				success: function(d){
					location.reload();
				}
			});
		});

		$('.edit-catalog').click(function(){
			window.location.href = '/catalogs/edit?catalog_id='+$(this).attr('catalog-id');
		});

		$('.add-channel').click(function() {
			window.location.href = '/livechannels/new?catalog_id='+$(this).attr('catalog-id');
		});
		$('.add-show').click(function() {
			window.location.href = '/shows/new?catalog_id='+$(this).attr('catalog-id');
		});
		$('.add-media').click(function() {
            window.location.href = '/media/new'
		});

    $('.add-catalog-to-list').click(function(){
        //alert("redirecting to -> catalog_lists/get_lists?catalog_id="+$(this).attr('catalog-id'));
        window.location.href = '/catalog_lists/get_lists?catalog_id='+$(this).attr('catalog-id');
    });

		$('.info-catalog').click(function() {

			window.location.href = '/catalogs/get_info?catalog_id='+$(this).attr('catalog-id')+'&method=view';
		});
	    
	    }
		</script>
		<%else%>

<script type="text/javascript">
(function($,W,D)
{
    var JQUERY4U = {};

    JQUERY4U.UTIL =
    {
        setupFormValidation: function()
        {
        	$.validator.addMethod("custdupli", function(value, element) {
				    var parentForm = $(element).closest('form');
				    var custRepeated = 0;
				    if (value != '') {
				        $(parentForm.find(':text')).each(function () {
				            if ($(this).val() === value) {
				                custRepeated++;
				            }
				        });
				    }
				    return custRepeated === 1 || custRepeated === 0;

				}, "* Duplicate");
            //form validation rules
            $("#catalogForm").validate({

                errorPlacement: function (error, element) {
                   // error.css({'float':'left','color':'red'});
                    error.css({'float':'left','color':'red','padding-left':'0px', 'font-weight':'700','text-align':'left'});
                    // error.addClass("error");
                    // error.insertAfter(element);

                    if ($(element).hasClass("checkboxapp")) {
						var lastCheckBox = $('[name="'+element.attr("name")+'"]:last');
						//error.insertAfter(lastCheckBox.closest('label'));
						error.insertAfter(element.parents("checkbox"));
						 $('#app_label').append(error.clone());
					} 

					else if ($(element).hasClass("genres")) {
					error.insertAfter(element.parents("checkbox"));
					 $('#genres_label').append(error.clone());
					 }

					 else if ($(element).hasClass("languages")) {
					error.insertAfter(element.parents("checkbox"));
					 $('#lang_label').append(error.clone());
					 }

					 else{
						error.insertAfter(element);
					 }				

          //            if(element.attr("name") == "apps[]")  {
          //            	console.log(element.parent("div"));
				      //   error.appendTo( element.parent("div") );
				      // } else {
				      //   error.insertAfter(element);
				      // }
                },
                rules: {
                    name: "required",
                    //'apps[]': "required",
                   // 'tag_names[]' : "required"
                    'tag_names[]' : {
				            required: true,
				            custdupli: true
				        }
                },
                messages: {
                    name: "THIS FIELD IS MANDATORY",
                    //'apps[]': "THIS FIELD IS MANDATORY",
                  //  'tag_names[]': "THIS FIELD IS MANDATORY"
                  'tag_names[]' : {
				            required: "THIS FIELD IS MANDATORY",
				            custdupli: "TRY DIFFERENT TAG NAME"
				        }
                },
                submitHandler: function(form) {
                    //form.submit();
                     return false;
                }
            });

            $(".checkboxapp").each(function () {
		        $(this).rules('add', {
		            required: true,
				  	messages: {
				    required: "THIS FIELD IS MANDATORY"
				  }
		        });
		    });
		    $('#genres').each(function () {
		        $(this).rules('add', {
		            required: true,
				  	messages: {
				    required: "THIS FIELD IS MANDATORY"
				  }
		        });
		    });

		    $('#languages').each(function () {
		        $(this).rules('add', {
		            required: true,
				  	messages: {
				    required: "THIS FIELD IS MANDATORY"
				  }
		        });
		    });
        }
    }

    //when the dom has loaded setup form validation rules
    $(D).ready(function($) {
        JQUERY4U.UTIL.setupFormValidation();
    });

})(jQuery, window, document);



			// Validate form data
			// function validateForm(){
			// 	var name = $('#name').val();
			// 	if ((name.trim()).length == 0) {
			// 		alert("Please Provide Name!");
			// 		return false;
			// 	}
			// 	return true;
			// }
</script>
<%if params[:action] == "edit"%>

<script type="text/javascript">

$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});



var lang = []

		// Validate form data
		function validateForm(){
            //alert("Validate Form Function!");
				var name = $('#name').val();
				if ((name.trim()).length == 0) {
						alert("Name can not be empty!");
						return false;
				}

        var sequence_no = $('#sequence_no').val();
        if (sequence_no <= 0){
        alert("Enter ORDER VALUE GREATER THAN OR EQUAL TO 1");
        return false;
        }

        // var videolistnames = [];
        // $("input:text[name='videolist_names[]']").change(function(){
        //     $("input:text[name='videolist_names[]']").each(function(){
        //         //  alert("inside videolist_tag");
        //         if ( $.inArray(this.value, videolistnames) >= 0 ) {
        //             alert("Video list must be unique!");
        //             return false; // <-- stops the loop
        //         } else {
        //             videolistnames.push( this.value );
        //         }
        //     });
        // });


        var inputs = document.getElementsByName("tag_names[]");
      if (inputs.length > 1) {
        for(i=0; i < inputs.length; i++)  {
          var langname = inputs[i].value;
          lang.push(langname); 
          console.log("langname===="+lang);
        }

        function duplicate( A ) {   
          var i, j, n;
          n=A.length;
          for (i=0; i<n; i++) {                       
            for (j=i+1; j<n; j++) {       
              if (A[i]==A[j]) 
                return true;
            } }
            return false;
        }
        if ( duplicate(lang) ) {
          alert("TRY DIFFERENT CUSTOM TAG NAME");
          lang.length=0;
          return false;
        }
        else{
          //$("#tag_namesid").text("TRY DIFFERENT TAG NAME");
          //alert("TRY DIFFERENT TAG NAME");
          //lang.length=0;
          return true;
        }
        return duplicate(lang);
      }

				return true;
		}


		// $('#custom_tag').change(function() {
		// 		if ($(this).prop('checked').toString()=="true"){
		// 				$('#custom-group').show();
		// 		}else{
		// 				$('#custom-group').hide();
		// 		}
		// });

      $("input:radio[name='custom_tag']").click(function(){
          if($(this).val() == "on"){
             $('#custom-group').show();
          }else{
            $('#custom-group').hide();
          }
      });

      $("input:radio[name='videolist_tag']").click(function(){
          if($(this).val() == "on"){
             $('#videolist-group').show();
          }else{
            $('#videolist-group').hide();
          }
      });



		// $('#videolist_tag').change(function() {
		// 		if ($(this).prop('checked').toString()=="true"){
		// 				$('#videolist-group').show();
		// 		}else{
		// 				$('#videolist-group').hide();
		// 		}
		// });

		$(".con_add_field_button").click(function(cus){
				cus.preventDefault();
				var dd = document.createElement("div");
				$(dd).append('<div class="row"><div class="col-xs-3"><input type="text" class="form-control" onkeypress="return spacecheck(event);" name="tag_names[]"></div><div class="col-xs-3 variable-keys"><select class="form-control" name="tag_types[]" readOnly="true"><option value="Array">Array</option><option value="Integer">Integer</option><option value="String">String</option><option value="DateTime">DateTime</option></select></div><div class="col-xs-3"><select class="form-control"  name="mandatory[]"><option value="yes">Yes</option><option value="no">No</option></select></div><a href="#" class="remove_field">Remove</a></div>');
				$(".constructor").append($(dd));     
				cuseventFormControl($(dd));           
		});

		$(".constructor").on("click",".remove_field", function(cus){
				cus.preventDefault(); $(this).parent('div').remove();
		});

		$(".video_add_field_button").click(function(v){
				v.preventDefault();
				var vv = document.createElement("div");
				$(vv).append('<div class="row"><div class="col-xs-10"><input type="text" class="form-control" name="videolist_names[]" onblur="chkDup(event,this);"></div> <a href="#" class="remove_field1">Remove</a></div>');
				$(".videoconstructor").append($(vv));
				vidoeeventFormControl($(vv));
				           
		});

		$(".videoconstructor").on("click",".remove_field1", function(v){
				v.preventDefault(); $(this).parent('div').remove();
		});


		function cuseventFormControl(gt){          
				$(gt.find('select[name="'+'tag_names[]'+'"]')).change(function(){               
						disableFormControls(this);                  
				});
		}

		function vidoeeventFormControl(vt){          
				$(vt.find('select[name="'+'videolist_names[]'+'"]')).change(function(){               
						disableFormControls(this);                  
				});
		}

		$(document).ready(function () {
			  var cata = '<%=@catalog_info["custom_tags"]%>'
			  console.log("cata is"+cata)
			  if(cata == null || cata == " " || cata == '[]'){
				$('#custom-group').hide();
			}else{
				$('#custom-group').show();
			}
		});

		$(document).ready(function () {
			var vid = '<%=@catalog_info["videolist_tags"]%>'
			if(vid == null || vid == " " || vid == '[]'){
				$('#videolist-group').hide();
			}
			else{
				$('#videolist-group').show();
			}
		});


		$("#cpimgb").click(function(){
    var cfileSelect = document.getElementById('cpimg');
    var catalog_name = document.getElementById("name").value;
    var cfiles = cfileSelect.files;
    console.log("files is::"+cfiles);

    if (cfiles.length == 0)
    {
        alert("Please Choose Image");
    }
    else
    {
    if (catalog_name == "" || catalog_name == null)
    {
        alert("Please Provide Name!");
    }
    else
    {
        if (cfiles[0].type == "image/png" || cfiles[0].type == "image/jpeg" || cfiles[0].type == "image/gif")
        {
        console.log("image");
        var cwidth = 30;
        var cheight = 30;
        var imgstatus = imagevalidation(cfiles,cwidth,cheight);
        }
        else
        {
        alert("Upload Image Files Only");
        }
    }
    }
});


	$("#ifimgb").click(function(){
    var ffileSelect = document.getElementById('ifimg');
    var catalog_name = document.getElementById("name").value;
    var ffiles = ffileSelect.files;
    console.log("files is::"+ffiles);

    if (ffiles.length == 0)
    {
        alert("Please Choose Image");
    }
    else
    {
    if (catalog_name == "" || catalog_name == null)
    {
        alert("Please Provide Name!");
    }
    else
    {
        if (ffiles[0].type == "image/png" || ffiles[0].type == "image/jpeg" || ffiles[0].type == "image/gif")
        {
        console.log("image");
        var fwidth = 794;
        var fheight = 447;
        var imgstatus = imagevalidation(ffiles,fwidth,fheight);
        }
        else
        {
        alert("Upload Image Files Only");
        }
    }
    }
});

$("#ilimgb").click(function(){
    var lfileSelect = document.getElementById('ilimg');
    var catalog_name = document.getElementById("name").value;
    var lfiles = lfileSelect.files;
    console.log("files is::"+lfiles);

    if (lfiles.length == 0)
    {
        alert("Please Choose Image");
    }
    else
    {
    if (catalog_name == "" || catalog_name == null)
    {
        alert("Please Provide Name!");
    }
    else
    {
        if (lfiles[0].type == "image/png" || lfiles[0].type == "image/jpeg" || lfiles[0].type == "image/gif")
        {
        console.log("image");
        var lwidth = 410;
        var lheight = 231;
        var imgstatus = imagevalidation(lfiles,lwidth,lheight);
        }
        else
        {
        alert("Upload Image Files Only");
        }
    }
    }
});

$("#pimgb").click(function(){
    var pfileSelect = document.getElementById('pimg');
    var catalog_name = document.getElementById("name").value;
    var pfiles = pfileSelect.files;
    console.log("pfiles is::"+pfiles);

    if (pfiles.length == 0)
    {
        alert("Please Choose Image");
    }
    else
    {
    if (catalog_name == "" || catalog_name == null)
    {
        alert("Please Provide Name!");
    }
    else
    {
        if (pfiles[0].type == "image/png" || pfiles[0].type == "image/jpeg" || pfiles[0].type == "image/gif")
        {
        console.log("image");
        var pwidth = 251;
        var pheight = 141;
        var imgstatus = imagevalidation(pfiles,pwidth,pheight);
        }
        else
        {
        alert("Upload Image Files Only");
        }
    }
    }
});

function imagevalidation(file,wid,hei){
    var upimg = new Image();
    upimg.onload = function () 
    {            
     if (this.width < wid && this.height < hei){
        alert("Resolution must be" +wid+"X"+hei+"px format");
    }
    else if (this.width > wid && this.height > hei){
        alert("Resolution must be" +wid+"X"+hei+"px format");
    }else{
        console.log(this.width+" : "+this.height);

    if (file[0].size > 500000){
        alert("Please Upload Image of Size less than 500KB");
    }
    else{
        console.log("files size is:::::"+file[0].size);

        var key = "<%=@signature[:key]%>"
        var awsAccessKeyId = "<%=@signature[:access_key]%>"
        var acl = "<%=@signature[:acl]%>"
        var policy = "<%=@signature[:policy]%>"
        var signature = "<%=@signature[:signature]%>"
        console.log("signature key==="+key);
        console.log("signature access_key==="+awsAccessKeyId);
        console.log("signature acl==="+acl);
        console.log("signature policy==="+policy);
        console.log("signature==="+signature);

        uploadImage(key, awsAccessKeyId, acl, policy, signature, file, wid, hei)
    }
    }
    }
    upimg.src = URL.createObjectURL(file[0]);  
}

function uploadImage(key, awsAccessKeyId, acl, policy, signature, file, wid, hei) {

      var catalog_name = document.getElementById("name").value;
      catalog_name = catalog_name.replace(/[^a-zA-Z0-9\s]/g,"");
      catalog_name = catalog_name.toLowerCase();
      catalog_name = catalog_name.replace(/\s/g,'-');

      var imgname = file[0].name;
      var imgindex = imgname.lastIndexOf('.');
      var imgext = imgname.substring(imgindex);
      var bucket = "<%=@signature[:bucket]%>"
      var domain_name = "<%=@signature[:domain_name]%>"
      url = 'http://'+bucket+'.s3.amazonaws.com/'
      if (domain_name == "" || domain_name == null){
        imageurl = "https://s3-ap-southeast-1.amazonaws.com/"+bucket+"/"+key+catalog_name+"/images/"+catalog_name+"-"+wid+"x"+hei+imgext
      }else{
      imageurl = 'http://'+domain_name+"/"+key+catalog_name+"/images/"+catalog_name+"-"+wid+"x"+hei+imgext
    }

      var fd = new FormData();

      //fd.append('key', key+file[0].name);
      fd.append('key', key+catalog_name+"/images/"+catalog_name+"-"+wid+"x"+hei+imgext);
      fd.append('AWSAccessKeyId', awsAccessKeyId);
      fd.append('acl', acl);
      //fd.append('success_action_redirect', success_action_redirect);
      fd.append('policy', policy);
      fd.append('signature', signature);  
      fd.append('Content-Type', 'image/');
      fd.append("file", file[0]);

      $.ajax({
        type: 'POST',
        url: url,
        processData: false,
        contentType: false,
        data: fd,
        success: function(response) {
            console.log("response"+response);
            imageurl = imageurl
            console.log("imageurl is===="+imageurl);
            if (wid == 30){
            document.getElementById("cpimgsrc").src = imageurl+"?"+Math.random();
            document.getElementById("catalog_p_listing_image").value = imageurl;
            }
            if (wid == 794){
            document.getElementById("ifimgsrc").src = imageurl+"?"+Math.random();
            document.getElementById("item_featured_image").value = imageurl;
            }
            if (wid == 410){
            document.getElementById("limgsrc").src = imageurl+"?"+Math.random();
            document.getElementById("item_l_listing_image").value = imageurl;
            }
            if (wid == 251){
            document.getElementById("pimgsrc").src = imageurl+"?"+Math.random();
            document.getElementById("item_p_listing_image").value = imageurl;
            }
          
          alert('Success uploading Image');
        },
        error: function (response) {
            console.log(response);
          alert('Problem uploading Image');
        }
  });
}



		$('#submitCatalogForm').click(function(){
				var status = validateForm();
				console.log(status);

				if ( status == true) {
          pbar=false;
				var data = $('#catalogForm').serialize();
				$.ajax({
						url: '/catalogs/<%= @catalog["_id"]%>?method=edit',
						data: data,
						type: 'POST',
						dataType: 'json',
						timeout: 120000,
						error: function(e,t){
								if (t == "timeout"){
										alert("Timed Out Wait for Response")
								}
								else{
										alert(JSON.parse(e.responseText)["error"]);
								}
						},
						success: function(d){
								window.location = "/catalogs/view_all"
								//window.location = "/tenants/view_tenant/<%=@tenant_id%>"
						}
				});
				}
		});

		function spacecheck(event) {
			if (event.keyCode == 13) {
			    return false;
			}
			if(event.charCode==32){
			    return false;
			}
			}
</script>

<%else%>
<script type="text/javascript">
$("#cpimgb").click(function(){
    var cfileSelect = document.getElementById('cpimg');
    var catalog_name = document.getElementById("name").value;
    var cfiles = cfileSelect.files;
    console.log("files is::"+cfiles);

    if (cfiles.length == 0)
    {
        //alert("Please Choose Image");
        $("#ecpimg").text("Please Choose Image");
    }
    else
    {
    if (catalog_name == "" || catalog_name == null)
    {
        alert("Please Provide Name!");
    }
    else
    {
        if (cfiles[0].type == "image/png" || cfiles[0].type == "image/jpeg" || cfiles[0].type == "image/gif")
        {
        console.log("image");
        var cwidth = 30;
        var cheight = 30;
        var imgstatus = imagevalidation(cfiles,cwidth,cheight);
        }
        else
        {
        //alert("Upload Image Files Only");
        $("#ecpimg").text("Upload Image Files Only");
        }
    }
    }
});


	$("#ifimgb").click(function(){
    var ffileSelect = document.getElementById('ifimg');
    var catalog_name = document.getElementById("name").value;
    var ffiles = ffileSelect.files;
    console.log("files is::"+ffiles);

    if (ffiles.length == 0)
    {
        //alert("Please Choose Image");
        $("#eifimg").text("Please Choose Image");
    }
    else
    {
    if (catalog_name == "" || catalog_name == null)
    {
        alert("Please Provide Name!");
    }
    else
    {
        if (ffiles[0].type == "image/png" || ffiles[0].type == "image/jpeg" || ffiles[0].type == "image/gif")
        {
        console.log("image");
        var fwidth = 794;
        var fheight = 447;
        var imgstatus = imagevalidation(ffiles,fwidth,fheight);
        }
        else
        {
        //alert("Upload Image Files Only");
        $("#eifimg").text("Upload Image Files Only");
        }
    }
    }
});

$("#ilimgb").click(function(){
    var lfileSelect = document.getElementById('ilimg');
    var catalog_name = document.getElementById("name").value;
    var lfiles = lfileSelect.files;
    console.log("files is::"+lfiles);

    if (lfiles.length == 0)
    {
       // alert("Please Choose Image");
       $("#eilimg").text("Please Choose Image");
    }
    else
    {
    if (catalog_name == "" || catalog_name == null)
    {
        alert("Please Provide Name!");
    }
    else
    {
        if (lfiles[0].type == "image/png" || lfiles[0].type == "image/jpeg" || lfiles[0].type == "image/gif")
        {
        console.log("image");
        var lwidth = 410;
        var lheight = 231;
        var imgstatus = imagevalidation(lfiles,lwidth,lheight);
        }
        else
        {
        //alert("Upload Image Files Only");
        $("#eilimg").text("Upload Image Files Only");
        }
    }
    }
});

$("#pimgb").click(function(){
    var pfileSelect = document.getElementById('pimg');
    var catalog_name = document.getElementById("name").value;
    var pfiles = pfileSelect.files;
    console.log("pfiles is::"+pfiles);

    if (pfiles.length == 0)
    {
        //alert("Please Choose Image");
        $("#epimg").text("Please Choose Image");
    }
    else
    {
    if (catalog_name == "" || catalog_name == null)
    {
        alert("Please Provide Name!");
    }
    else
    {
        if (pfiles[0].type == "image/png" || pfiles[0].type == "image/jpeg" || pfiles[0].type == "image/gif")
        {
        console.log("image");
        var pwidth = 251;
        var pheight = 141;
        var imgstatus = imagevalidation(pfiles,pwidth,pheight);
        }
        else
        {
        //alert("Upload Image Files Only");
        $("#epimg").text("Upload Image Files Only");
        }
    }
    }
});

function imagevalidation(file,wid,hei){
    var upimg = new Image();
    upimg.onload = function () 
    {            
     if (this.width < wid && this.height < hei){
        alert("Resolution must be" +wid+"X"+hei+"px format");
    }
    else if (this.width > wid && this.height > hei){
        alert("Resolution must be" +wid+"X"+hei+"px format");
    }else{
        console.log(this.width+" : "+this.height);

    if (file[0].size > 500000){
        alert("Please Upload Image of Size less than 500KB");
    }
    else{
        console.log("files size is:::::"+file[0].size);

        var key = "<%=@signature[:key]%>"
        var awsAccessKeyId = "<%=@signature[:access_key]%>"
        var acl = "<%=@signature[:acl]%>"
        var policy = "<%=@signature[:policy]%>"
        var signature = "<%=@signature[:signature]%>"
        console.log("signature key==="+key);
        console.log("signature access_key==="+awsAccessKeyId);
        console.log("signature acl==="+acl);
        console.log("signature policy==="+policy);
        console.log("signature==="+signature);

        uploadImage(key, awsAccessKeyId, acl, policy, signature, file, wid, hei)
    }
    }
    }
    upimg.src = URL.createObjectURL(file[0]);  
}

function uploadImage(key, awsAccessKeyId, acl, policy, signature, file, wid, hei) {

      var catalog_name = document.getElementById("name").value;
      catalog_name = catalog_name.replace(/[^a-zA-Z0-9\s]/g,"");
      catalog_name = catalog_name.toLowerCase();
      catalog_name = catalog_name.replace(/\s/g,'-');
      var bucket = "<%=@signature[:bucket]%>"

      var imgname = file[0].name;
      var imgindex = imgname.lastIndexOf('.');
      var imgext = imgname.substring(imgindex);
      var domain_name = "<%=@signature[:domain_name]%>"

       url = 'http://'+bucket+'.s3.amazonaws.com/'

      if (domain_name == "" || domain_name == null){
        imageurl = "https://s3-ap-southeast-1.amazonaws.com/"+bucket+"/"+key+catalog_name+"/images/"+catalog_name+"-"+wid+"x"+hei+imgext
      }else{
      imageurl = 'http://'+domain_name+"/"+key+catalog_name+"/images/"+catalog_name+"-"+wid+"x"+hei+imgext
    }

      var fd = new FormData();
      //fd.append('key', key+file[0].name);
      fd.append('key', key+catalog_name+"/images/"+catalog_name+"-"+wid+"x"+hei+imgext);
      fd.append('AWSAccessKeyId', awsAccessKeyId);
      fd.append('acl', acl);
      //fd.append('success_action_redirect', success_action_redirect);
      fd.append('policy', policy);
      fd.append('signature', signature);  
      fd.append('Content-Type', 'image/');
      fd.append("file", file[0]);

      $.ajax({
        type: 'POST',
        url: url,
        processData: false,
        contentType: false,
        data: fd,
        success: function(response) {
            console.log("response"+response);
            imageurl = imageurl
            console.log("imageurl is===="+imageurl);
            if (wid == 30){
            document.getElementById("cpimgsrc").src = imageurl+"?"+Math.random();
            document.getElementById("catalog_p_listing_image").value = imageurl;
            $("#ecpimg").text("Image Uploaded to S3");
            }
            if (wid == 794){
            document.getElementById("ifimgsrc").src = imageurl+"?"+Math.random();
            document.getElementById("item_featured_image").value = imageurl;
            $("#eifimg").text("Image Uploaded to S3");
            }
            if (wid == 410){
            document.getElementById("limgsrc").src = imageurl+"?"+Math.random();
            document.getElementById("item_l_listing_image").value = imageurl;
            $("#eilimg").text("Image Uploaded to S3");
            }
            if (wid == 251){
            document.getElementById("pimgsrc").src = imageurl+"?"+Math.random();
            document.getElementById("item_p_listing_image").value = imageurl;
            $("#epimg").text("Image Uploaded to S3");
            }
          
          //alert('Success uploading Image');
        },
        error: function (response) {
            console.log(response);
          alert('Problem uploading Image');
        }
  });
}

			$('#submitCatalogForm').click(function(){
				//var status = validateForm();
				var status = $('#catalogForm').valid();
				console.log(status);

				if ( status == true) {
          pbar=false;
					var data = $('#catalogForm').serialize();
					$.ajax({
						url: '/catalogs/',
						data: data,
						type: 'POST',
						dataType: 'json',
						timeout: 120000,
						error: function(e,t){
							if (t == "timeout"){
								alert("Timed Out Wait for Response")
							}
							else{
								alert(JSON.parse(e.responseText)["error"]);
							}
						},
						success: function(d){
							window.location = "/catalogs/view_all"
							//window.location = "/tenants/view_tenant/<%=@tenant_id%>"
						}
					});
				}
			});

			// $('#custom_tag').change(function() {
			// 	if ($(this).prop('checked').toString()=="true"){
			// 		$('#custom-group').show();
			// 	}else{
			// 		$('#custom-group').hide();
			// 	}
			// });

            $("input:radio[name='custom_tag']").click(function(){
                if($(this).val() == "on"){
                   $('#custom-group').show();
                }else{
                	$('#custom-group').hide();
                }
            });

            $("input:radio[name='videolist_tag']").click(function(){
                if($(this).val() == "on"){
                   $('#videolist-group').show();
                }else{
                    $('#videolist-group').hide();
                }
            });

            


			// $('#videolist_tag').change(function() {
			// 	if ($(this).prop('checked').toString()=="true"){
			// 		$('#videolist-group').show();
			// 	}else{
			// 		$('#videolist-group').hide();
			// 	}
			// });

			$(".con_add_field_button").click(function(e){
				e.preventDefault();
				var dd = document.createElement("div");
				$(dd).append('<div class="row"><div class="col-xs-4"><input type="text" class="form-control" name="tag_names[]" onkeypress="return spacecheck(event);"></div><div class="col-xs-3 variable-keys"><select class="form-control" name="tag_types[]" readOnly="true"><option value="Array">Array</option><option value="Integer">Integer</option><option value="String">String</option><option value="DateTime">DateTime</option></select></div><div class="col-xs-3"><select class="form-control"  name="mandatory[]"><option value="yes">Yes</option><option value="no">No</option></select></div><a href="#" class="remove_field">Remove</a></div>');
				$(".constructor").append($(dd));     
				eventFormControl($(dd));           
			});

			$(".constructor").on("click",".remove_field", function(e){
				e.preventDefault(); $(this).parent('div').remove();
			})


			$(".video_add_field_button").click(function(v){
				v.preventDefault();
				var vv = document.createElement("div");
				$(vv).append('<div class="row"><div class="col-xs-10"><input type="text" class="form-control" name="videolist_names[]" onblur="chkDup(event,this);"></div> <a href="#" class="remove_field1">Remove</a></div>');
				$(".videoconstructor").append($(vv));
				vidoeeventFormControl($(vv));

			});

			$(".videoconstructor").on("click",".remove_field1", function(v){
				v.preventDefault(); $(this).parent('div').remove();
			})



			function eventFormControl(gt){          
				$(gt.find('select[name="'+'tag_names[]'+'"]')).change(function(){               
					disableFormControls(this);                  
				});
			}

			function vidoeeventFormControl(vt){          
				$(vt.find('select[name="'+'videolist_names[]'+'"]')).change(function(){               
					disableFormControls(this);                  
				});
			}

			$(document).ready(function () {
				$('#custom-group').hide();
			});

			$(document).ready(function () {
				$('#videolist-group').hide();
			});

			function spacecheck(event) {
			if (event.keyCode == 13) {
			    return false;
			}
			if(event.charCode==32){
			    return false;
			}
			}

			
		</script>
	<%end%>
<%end%>
<script type="text/javascript">
$(document).ready(function(){


  
    $('#license_start_date').datetimepicker({
                    locale: 'en',
                    format: 'YYYY-MM-DD HH:mm'
                });
      $('#content_end_date').datetimepicker({
                    locale: 'en',
                    format: 'YYYY-MM-DD HH:mm'
                });

    $.validator.setDefaults({ ignore: ":hidden:not(.chosen-select, .ckeditor)" });
    //deal with copying the ckeditor text into the actual textarea
    CKEDITOR.on('instanceReady', function () {
        $.each(CKEDITOR.instances, function (instance) {
            CKEDITOR.instances[instance].document.on("keyup", CK_jQ);
            CKEDITOR.instances[instance].document.on("paste", CK_jQ);
            CKEDITOR.instances[instance].document.on("keypress", CK_jQ);
            CKEDITOR.instances[instance].document.on("blur", CK_jQ);
            CKEDITOR.instances[instance].document.on("change", CK_jQ);
        });
    });

    function CK_jQ() {
        for (instance in CKEDITOR.instances) {
            CKEDITOR.instances[instance].updateElement();
        }
    }


});    
</script>
