<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/media/new?catalog_id=<%= @catalog.id%>'">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Media
                </button>
                <% if !current_bg.data_upload.blank? %>
                  <% current_bg.data_upload.each do |up| %>
                    <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/media/<%= up %>_upload'">
                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> <%= up.capitalize %> Upload
                    </button>
                    <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/media/<%= up %>_update'">
                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> <%= up.capitalize %> Update
                    </button>
                  <% end %>   
                  <button type="button" class="btn btn-primary btn-sm export-data" catalog-id='<%=@catalog.id%>'>
                  <span class="glyphicon glyphicon-export" aria-hidden="true"></span> Export Data
                  </button>
                <% end%> 

                  <div>
                    <table class = "table table-condensed table-striped">
                      <thead>
                        <tr>
                          <th>Title</th>
                          <th>Asset ID </th>
                          <th>Transcoding Priority</th>
                          <th>Transcoding Status</th>
                          <th>OTT Status</th>
                          <th>Actions</th>
                        </tr>
                      </thead> 
                      <tbody>
                        <% @items.each do |media| %>

                        <tr>
                        <td><%= link_to media["title"], "/media/edit?media_id="+media['_id'] %></td>
                        <td><%= media["asset_id"] %></td>
                        <td>
                        <div class="btn-group">
                        <button type="button" class="btn btn-xs update-priority <%= 'btn-success' if media['priority'] == 'low' %>" priority="low" media-id='<%= media["_id"] %>'>Low</button>
                        <button type="button" class="btn btn-xs update-priority <%= 'btn-success' if media['priority'] == 'medium' %>" priority="medium" media-id='<%= media["_id"] %>'>Med</button>
                        <button type="button" class="btn btn-xs update-priority <%= 'btn-success' if media['priority'] == 'high' %>" priority="high" media-id='<% media["_id"] %>'>High</button>
                        </div>
                        </td>
                        <td>
                        <%  case media["status"] %>
                        <% when "Created" %>
                        <% percentage_complete = 0  
                        css_class =  "progress-bar progress-bar-success progress-striped active" 
                        css_style_width =  0    %>

                        <% when "Processing Request" %>
                        <% percentage_complete = 10
                        css_class = "progress-bar progress-bar-success progress-striped active"
                        css_style_width =   10   %>

                        <% when "Request Error" %>
                        <% percentage_complete = 10  
                        css_class = "progress-bar progress-bar-danger" 
                        css_style_width =     10 %>

                        <% when "Ingesting" %>
                        <% percentage_complete = 20 
                        css_class = "progress-bar progress-bar-success progress-striped active" 
                        css_style_width =    20  %>

                        <% when "Ingested" %>
                        <% percentage_complete = 30  
                        css_class = "progress-bar progress-bar-success progress-striped active" 
                        css_style_width =     30 %>

                        <% when "Transcoding" %>
                        <% percentage_complete = 60  
                        css_class =  "progress-bar progress-bar-success progress-striped active" 
                        css_style_width =     60 %>

                        <% when "Published" %>
                        <% percentage_complete = 100  
                        css_class =  "progress-bar progress-bar-success" 
                        css_style_width =   100   %>

                        <% when "Ingestion Error" %>
                        <% percentage_complete = 100  
                        css_class = "progress-bar progress-bar-danger" 
                        css_style_width =    20  %>

                        <% when "Transcoding Error" %>
                        <% percentage_complete = 100  
                        css_class =  "progress-bar progress-bar-danger" 
                        css_style_width =    60  %>

                        <% when "Created Externally" %>
                        <% percentage_complete = 0 
                        css_class =  "progress-bar progress-bar-success progress-striped active"
                        css_style_width =    0  %>

                        <% else %>  
                        <% end  %>

                        <div class="progress"><div class='<%=  css_class %>' role="progressbar" aria-valuenow='<%= percentage_complete %>' aria-valuemin="0" aria-valuemax="100" style="width: '<%= css_style_width %>'%;"><span><%= media["status"] %></span></div>
                        </div>
                        </td>
                        <td><%= media["ott_status"] %></td>
                        <td>
                        <span class="inline-block" data-toggle="tooltip" title="Republish"><button type="button" class="btn btn-xs btn-primary republish-media <%#= 'disabled' if !@privileges.include? 'republish'%>" media-id = '<%= media["_id"] %>'><span class="glyphicon glyphicon glyphicon-repeat"></button>
                        </span>

                        <span class = "inline-block" data-toggle="tooltip" title="Transcode"><button type="button" class= " btn btn-xs btn-primary transcode-media <%#= 'disabled' if !@privileges.include? 'transcode'%>" media-id='<%= media["_id"] %>'><span class="glyphicon glyphicon-indent-left"></button></span>

                        <span class="inline-block" data-toggle="tooltip" title="Play"><button type="button" class="<%#= 'disabled' if !@privileges.include? 'play_media'%> btn btn-xs btn-success play-media" media-id='<%= media["_id"] %>'><span class="glyphicon glyphicon-play"></button></span>

                        <span class="inline-block" data-toggle="tooltip" title="Edit"><button type="button" class="<%#= 'disabled' if !@privileges.include? 'edit_media'%> btn btn-xs btn-default edit-media" media-id='<%= media["_id"] %>'><span class="glyphicon glyphicon-pencil"></button></span>

                        <% if media["ott_status"] == "published" %>
                        <span class="inline-block" data-toggle="tooltip" title="Remove from OTT"><button type="button" class="remove-ott btn btn-xs btn-danger <%#= 'disabled' if !@privileges.include? 'publish'%> " media-id='<%= media["_id"] %>'><span class="glyphicon glyphicon-import"></button></span>

                        <% else %>
                        <span class="inline-block" data-toggle="tooltip" title="Push to OTT"><button type="button" class="push-ott <%#= 'disabled' if !@privileges.include? 'publish'%> btn btn-xs btn-warning " media-id='<%= media["_id"] %>'><span class="glyphicon glyphicon-export"></button></span>

                        <% end %>


                        <span class="inline-block" data-toggle="tooltip" title="Add Item to List"><button type="button" class="<%#= 'disabled' if !@privileges.include? 'add_to_list'%> btn btn-xs btn-info add-content" content-id='<%= media["_id"] %>'><span class="glyphicon glyphicon-s glyphicon-plus"></button></span>

                        <!-- <span class="inline-block" data-toggle="tooltip" title="View Info"><button type="button" class="btn btn-xs btn-info info-media" media-id='<%#= media["_id"] %>'><span class="glyphicon glyphicon-eye-open"></button></span>
                        -->
                        <span class="inline-block" data-toggle="tooltip" title="Delete"><button type="button" class="btn btn-xs btn-danger delete-media <%#= 'disabled' if !@privileges.include? 'delete_media'%>" media-id='<%= media["_id"] %>'><span class="glyphicon glyphicon-trash"></button></span>



                        </td>
                        </tr>
                        <% end %>
                      </tbody>
                    </table>              
                  </div>   
                  <div>
                    <% if params[:page].to_i != 1 %> 
                    <%=link_to "Previous","#{request.original_url.split("?page")[0]}?page=#{params[:page].to_i-1}"%>
                    <%else %>
                    Previous
                    <% end %>
                    <% if @next_items.empty? %>
                    Next
                    <% else %>
                    <%=link_to "Next","#{request.original_url.split("?page")[0]}?page=#{params[:page].to_i+1}"%>
                    <% end %>
                  </div>

            </div>
        </div>
    </div>
</div>
<div id="player" style="background-color:black;"></div>
<div id="view_media"></div>
<div id="view_item"></div>
<div id="view_lists"></div>
<div id="view_media_status"></div>





                        <script type="text/javascript">
                           $('.edit-media').click(function(){
                                var titleid =  $(this).attr('title-id');  
                                window.location.href = '/media/edit?media_id='+$(this).attr('media-id');
                            });

                           $('.transcode-media').click(function(){
                                $.ajax({
                                    url: '/media/'+$(this).attr('media-id')+'?method=transcode',
                                    type: 'POST',
                                    timeout: 120000,
                                    error: function(e,t){
                                        if (t == "timeout"){
                                            alert("Timed Out Wait for Response")
                                        }
                                        else{
                                            alert(JSON.parse(e.responseText)["error"]);
                                        }
                                    },
                                    success: function(d){
                                        location.reload();
                                    }
                                });
                            });

                           $('.delete-media').click(function(){
                                $.ajax({
                                    url: '/media/'+$(this).attr('media-id')+'?method=delete',
                                    type: 'POST',
                                    timeout: 120000,
                                    error: function(e,t){
                                        if (t == "timeout"){
                                            alert("Timed Out Wait for Response")
                                        }
                                        else{
                                            alert(JSON.parse(e.responseText)["error"]);
                                        }
                                    },
                                    success: function(d){
                                        alert("item deleted successfuly");
                                        location.reload();
                                    }
                                });
                            });

                           $('.play-media').click(function(){
                                $.ajax({
                                    url: '/media/play/'+$(this).attr('media-id'),
                                    type: 'GET',
                                    timeout: 120000,
                                    error: function(e,t){
                                        if (t == "timeout"){
                                            alert("Timed Out Wait for Response")
                                        }
                                        else{
                                            alert(JSON.parse(e.responseText)["error"]);
                                        }
                                    },
                                    success: function(d){
                                        $("#player").html(d);
                                        $('#viewModal').modal('show');
                                    }
                                });
                            });

                           $('.info-media').click(function(){
                                window.location.href = '/media/view_media/'+$(this).attr('media-id');
                                // $.ajax({
                                //     url: '/media/view_media/'+$(this).attr('media-id'),
                                //     type: 'GET',
                                //     timeout: 120000,
                                //     error: function(e,t){
                                //         if (t == "timeout"){
                                //             alert("Timed Out Wait for Response")
                                //         }
                                //         else{
                                //             alert(JSON.parse(e.responseText)["error"]);
                                //         }
                                //     },
                                //     success: function(d){
                                //         $("#view_media").html(d);
                                //         $('#viewModal2').modal('show');
                                //     }
                                // });
                            });

                            $('.update-priority').click(function(){
                                $.ajax({
                                    url: '/media/'+$(this).attr('media-id')+'?method=update_priority&priority='+$(this).attr('priority'),
                                    type: 'POST',
                                    timeout: 120000,
                                    error: function(e,t){
                                        if (t == "timeout"){
                                            alert("Timed Out Wait for Response")
                                        }
                                        else{
                                            alert(JSON.parse(e.responseText)["error"]);
                                        }
                                    },
                                    success: function(d){
                                        location.reload();
                                    }
                                });
                            });

                            $('.push-ott').click(function(){
                                $.ajax({
                                    url: '/media/'+$(this).attr('media-id')+'?method=publish_at_ott',
                                    type: 'POST',
                                    timeout: 120000,
                                    error: function(e,t){
                                        if (t == "timeout"){
                                            alert("Timed Out Wait for Response")
                                        }
                                        else{
                                            alert(JSON.parse(e.responseText)["error"]);
                                        }
                                    },
                                    success: function(d){
                                        location.reload();
                                    }
                                });
                            });

                            $('.remove-ott').click(function(){
                                $.ajax({
                                    url: '/media/'+$(this).attr('media-id')+'?method=unpublish_at_ott',
                                    type: 'POST',
                                    timeout: 120000,
                                    error: function(e,t){
                                        if (t == "timeout"){
                                            alert("Timed Out Wait for Response")
                                        }
                                        else{
                                            alert(JSON.parse(e.responseText)["error"]);
                                        }
                                    },
                                    success: function(d){
                                        location.reload();
                                    }
                                });
                            });
                            $('span').tooltip();

                            $('.info-content').click(function(){
                                
                                $.ajax({
                                    url: '/catalogs/<%=@catalog.id%>/items/'+$(this).attr('content-id'),
                                    type: 'GET',
                                    timeout: 120000,
                                    error: function(e,t){
                                        if (t == "timeout"){
                                            alert("Timed Out Wait for Response")
                                        }
                                        else{
                                            alert(JSON.parse(e.responseText)["error"]);
                                        }
                                    },
                                    success: function(d){
                                        $("#view_item").html(d);
                                        $('#viewModal2').modal('show');
                                    }
                                });
                            });


                            $('.add-content').click(function(){
                                
                                var theme = "<%= @catalog.theme %>";
                                var catalog_id = "<%= @catalog.ott_id %>";
                                if ( theme == "show") {
                                    
                                    window.location.href = '/catalog_lists/get_lists?content_id='+$(this).attr('content-id');
                          
                                }
                                else if (theme == "person") {
                                    //window.location.href = "/catalog_lists/get_lists?theme="+theme+"&catalog_id="+catalog_id+"";
                                    window.location.href = "/catalog_lists/get_lists?theme="+theme+"&catalog_id="+catalog_id+'&person_id='+$(this).attr('content-id');
                                }
                                else if (theme == "livetv") {
                                    window.location.href = "/catalog_lists/get_lists?theme="+theme+"&catalog_id="+catalog_id+'&channel_id='+$(this).attr('content-id');
                                }
                                else {
                                    window.location.href = '/catalog_lists/get_lists?content_id='+$(this).attr('content-id');   
                                }

                                // var titleid =  $(this).attr('title-id');  
                                // window.location.href = '/media/edit?media_id='+$(this).attr('media-id');

                                // $.ajax({
                                //     url: url,
                                //     type: 'GET',
                                //     timeout: 120000,
                                //     error: function(e,t){
                                //         if (t == "timeout"){
                                //             alert("Timed Out Wait for Response")
                                //         }
                                //         else{
                                //             alert(JSON.parse(e.responseText)["error"]);
                                //         }
                                //     },
                                //     success: function(d){
                                //         // $("#view_lists").html(d);
                                //         // $('#viewModal2').modal('show');
                                //     }
                                // });
                            });

                            $('.export-data').click(function(){
                                var url = '/catalogs/view_media_status?catalog_id='+$(this).attr('catalog-id');
                                $.ajax({
                                    url: url,
                                    type: 'GET',
                                    timeout: 120000,
                                    error: function(e,t){
                                        if (t == "timeout"){
                                            alert("Timed Out Wait for Response")
                                        }
                                        else{
                                            alert(JSON.parse(e.responseText)["error"]);
                                        }
                                    },
                                    success: function(d){
                                        $("#view_media_status").html(d);
                                        $('#viewModal2').modal('show');
                                    }
                                });
                            });

                            $('.republish-media').click(function(){
                                $.ajax({
                                    url: '/media/'+$(this).attr('media-id')+'?method=republish_media',
                                    type: 'POST',
                                    timeout: 120000,
                                    error: function(e,t){
                                        if (t == "timeout"){
                                            alert("Timed Out Wait for Response")
                                        }
                                        else{
                                            alert(JSON.parse(e.responseText)["error"]);
                                        }
                                    },
                                    success: function(d){
                                        location.reload();
                                    }
                                });
                            });

                            $(function(){
                          //alert("Search is loaded!");
                          $('.search-title').click(function(){
                            var catalogid = $("#search_catalog_id").attr('catalog-id');
                            var q = $('#searchtitle').val();
                            q = q.trim();
                            var url = '/search?q='+q+'&catalog_id='+catalogid;
                            if (q.length == 0) {
                              alert("Please enter the title for searching...");
                              return false;
                            } else {
                              $.ajax({
                                    url: url,
                                    type: 'GET',
                                    timeout: 120000,
                                    error: function(e,t){
                                        if (t == "timeout"){
                                            alert("Timed Out Wait for Response")
                                        }
                                        else{
                                            alert(JSON.parse(e.responseText)["error"]);
                                        }
                                    },
                                    success: function(d){
                                        //alert("Item has got deleted successfuly!!");
                                        location.reload();
                                    }
                                });
                            }
                          });
                        });
                        $('document')
                         $(document).on('change','#item_sdd',function(){

                                var itemsdata = $(this).val();
                                 // alert(itemsdata);
                                var content_id = itemsdata.split("-")[0]
                                var catalog_id = itemsdata.split("-")[1]
                                var status_val = itemsdata.split("-")[2]
                                 var title_val = itemsdata.split("-")[3]
                                 var ottstatus = itemsdata.split("-")[4]

                                         console.log(itemsdata); 
                                        $.ajax({
                                          url: '/user_theme/'+content_id+'?method=update',
                                          type: 'POST',
                                          data: {id: content_id, catalog_id: catalog_id, item_status: status_val,title: title_val,status: ottstatus},
                                          timeout: 120000,
                                            error: function(e,t){
                                            if (t == "timeout"){
                                                alert("Timed Out Wait for Response")
                                            }
                                            else{
                                                alert(JSON.parse(e.responseText)["error"]);
                                            }
                                        },
                                        success: function(d){
                                            window.location.href = "/catalogs/view_catalog/"+catalog_id;
                                        }
                                        });
                            });
                        </script>
                 
