<div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-body">

                <% if @catalog.theme == "article" %>
                    <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/articles/new?catalog_id=<%=@catalog.id%>'">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Article
                    </button>    
                <% end %>

         				<% if @catalog.theme == "livetv"%>
         					<button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/livechannels/new?catalog_id=<%=@catalog.id%>&tenant_id=<%=@catalog["tenant_id"][0]%>'">
         						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Channel
         					</button>
         				<% end -%>

                <% if @catalog.theme == "user"%>
                  <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/user_theme/add_feedback?catalog_id=<%=@catalog.id%>&tenant_id=<%=@catalog["tenant_id"][0]%>'">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add feedback
                  </button>
                <% end -%>

                <!-- beginning of data upload code for nonuser theme -->
                <% if @catalog.theme == "show"%>
                    <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href ='/shows/new?catalog_id=<%=@catalog.id%>'">
                       <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Show
                    </button>
          
                  <% if !current_bg.data_upload.blank? %>
                      <% current_bg.data_upload.each do |up| %>

                           <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/media/<%= up %>_upload'">
                              <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> <%= up.capitalize %> Upload
                           </button>

                           <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/media/<%= up %>_update'">
                              <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> <%= up.capitalize %> Update
                           </button>

                      <% end -%>                
                         <button type="button" class="btn btn-primary btn-sm export-data" catalog-id='+<%=@catalog.id%>+'>
                            <span class="glyphicon glyphicon-export" aria-hidden="true"></span> Export Data
                         </button>
                  <% end -%>
               <% end %>
               <!-- end of data upload code for nonuser theme -->

               <!-- beginning of data upload code for user theme --> 
                <% if @catalog.theme == "person" %>   
                      
                            <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/people/new?catalog_id=<%=@catalog.id%>'">
                              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Person
                            </button>

                        <% if !current_bg.data_upload.blank? %>

                           <% if (current_bg.data_upload.include? "bulk") %>

                             <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/people/new_bulk_upload'">
                                 <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Bulk Upload
                             </button>

                             <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/people/bulk_update'">
                                 <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Bulk Update
                             </button> 

                             <button type="button" class="btn btn-primary btn-sm export-data" catalog-id='+<%=@catalog.id%>+'>
                                <span class="glyphicon glyphicon-export" aria-hidden="true"></span> Export Data
                             </button>

                           <% end %>

                        <% end %>

                <% end %>   
                <!-- end of data upload code for user theme -->  
               
                                                       
                  <div>

                        <% theme_name = "CMS ID"%>
                        <% if @catalog.theme == "show" %>
                          <% theme_name = "Show Id"%>
                        <% end  %>
                        <% if @catalog.theme == "article" %>
                          <% theme_name = "Article Id"%>
                        <% end  %>  
                        <% if @catalog.theme == "person" || @catalog.theme == "user" %>
                          <% theme_name = "OTT ID" %>
                        <% end %>              

                        <table class = "table table-condensed table-striped">
                          <thead>
                              <tr>
                                 <th>Title</th>
                                 
                                 <% if @catalog.theme != "livetv" %>
                                   <th><%= theme_name %></th>
                                 <% end %>   
                                 
                                 <% if @catalog.theme == "person" || @catalog.theme == "livetv" || @catalog.theme == "user" %>
                                   <th>Status</th>
                                 <% end %>

                                 <% if @catalog.theme == "user" %>
                                  <th> Item Status</th>
                                 <% end %> 
                                 
                                 <th>Description</th>
                                 <th>Actions</th>
                              </tr>
                          </thead> 
                          <tbody>
                              <% @items.each do |item| %>
                                 <tr>
                                    <% if @catalog.theme == "show" %>
                                       <td ><%= link_to item["title"],"/shows/view_subcategories?show_id="+item["content_id"] %></td>
                                    <% elsif @catalog.theme == "user" %>
                                      <td><%= link_to item["title"], "/user_theme/edit?catalog_id="+item["catalog_id"]+"&usertheme_id="+item["content_id"]%></td>
                                    <% else %> 
                                       <td><%= item["title"] %></td>
                                    <% end %>


                                    <% if @catalog.theme != "livetv" %>
                                      <% if @catalog.theme == "person" || @catalog.theme == "user" %>
                                        <td><%= item["content_id"] %></td>
                                      <% else %>
                                       <td><%= item["cms_id"] %></td>
                                      <% end %>
                                    <% end %>

                                    <% if @catalog.theme == "person" || @catalog.theme == "livetv" || @catalog.theme == "user" %>
                                       <td><%= item["status"] %></td>
                                    <% end %>

                                    <% if @catalog.theme == "user" %>
                                      <td> <%= item["item_status"] %> </td>
                                    <% end %> 

                                    <% description = item["description"] %>

                                    <% if (description) && ( description.length > 20) %>
                                       <% description = truncate(description, :length => 20) %>
                                    <% end %>

                                       <td><%= description %></td>
                                       <td>

                                    <% case @catalog.theme %>
                                    <% when "person" %>
                                      <% link = "/people/edit?person_id="+item['content_id']+"&catalog_id="+item["catalog_id"]   %>
                                    <% when "show" %>
                                      <% link = "/shows/edit?show_id="+item['content_id'] %>
                                    <% when "user" %>
                                      <% if @catalog["name"] == "qa" || @catalog["name"]== "QA" %>
                                      <% link = "/user_theme/edit?catalog_id="+item['catalog_id']+"&usertheme_id="+item['content_id'] %>
                                      <% end %>
                                      <% if @catalog["name"] == "feedback" || @catalog["name"]== "Feedback" %>
                                      <% link = "/user_theme/edit_feedback?catalog_id="+item['catalog_id']+"&usertheme_id="+item['content_id'] %>
                                      <% end %>
                                    <% when "livetv" %>
                                      <% link = "/livechannels/edit?catalog_id="+item['catalog_id']+"&livetv_id="+item['content_id'] %>
                                    <% else %>
                                      <% link = "/articles/edit?article_id="+item["content_id"] %>
                                    <% end %> 

                                     <span class="inline-block" data-toggle="tooltip" title="Edit">
                                      <%= link_to link, class: "btn btn-default btn-xs" do %>
                                      <i class= "glyphicon glyphicon-pencil"></i>
                                      <% end %>

                                   <span class="inline-block" data-toggle="tooltip" title="Add Item to List"><button type="button" class=" btn btn-xs btn-info add-content-dup" content-id='<%= item["content_id"] %>'><span class="glyphicon glyphicon-s glyphicon-plus"></button></span>

                                   <span class="inline-block" data-toggle="tooltip" title="Delete Item"></span><button type="button" class="btn btn-xs btn-danger delete-item-dup" content-id = '<%= item["content_id"]+"-"+ @catalog.theme+ "-"+ item["catalog_id"]  %>'> <span class="glyphicon glyphicon-s glyphicon-trash"></button></span>


                                 </tr>
                              <% end %>
                           </tbody>     
                        </table>
                  </div>

                  <div>
                    <% if params[:page].to_i != 0 %> 
                      <%= link_to "Previous","#{request.original_url.split("?page")[0]}?page=#{params[:page].to_i-1}"%>
                    <% else %>
                     Previous
                    <% end %>
                    <% if @next_items.empty? %>
                     Next
                    <% else %>
                      <%= link_to "Next","#{request.original_url.split("?page")[0]}?page=#{params[:page].to_i+1}"%>
                    <% end %>
                  </div> 
            </div>   
          </div> 
        </div> 
      </div> 
    <script type="text/javascript" >
         $(document).on("click", ".delete-item-dup", function(){

          var theme = $(this).attr('content-id').split("-")[1];
          var item_id = $(this).attr('content-id').split("-")[0];
          var catalog_id = $(this).attr('content-id').split("-")[2];
          console.log("theme is "+ theme)
          if (theme == "livetv")
          {
            var url =  '/livechannels/update?method=delete&item_id='+item_id+'&catalog_id='+catalog_id;
        }
          if (theme == "show")
          {
              var url = '/shows/'+ item_id +'?method=delete';
          }
          if (theme == "person")
          {
              var url = '/people/'+ item_id +'?method=delete&catalog_id='+ catalog_id;
          }
          if (theme == "article")
          {
              var url = '/articles/'+ item_id +'?method=delete&catalog_id='+ catalog_id;
          }
          if (theme == "user") 
          {
             var url = '/user_theme/'+ item_id +'?method=delete&catalog_id='+ catalog_id;
          }

          $.ajax({
            url: url,
            type: 'POST',
            timeout: 120000,
            error: function(e,t)
            {
              if (t == "timeout")
              {
                  alert("Timed Out Wait for Response")
              }
              else
              {
                  alert(JSON.parse(e.responseText)["error"]);
              }
            },
            success: function(d)
            {
              alert("Item has got deleted successfuly!!");
              location.reload();
            }
            });
         });

        $(document).on("click",'.add-content-dup',function()
        {
            var theme = "<%= @catalog.theme %>";
            var catalog_cms_id = '<%= @catalog["_id"] %>'
            var catalog_id = "<%= @catalog.ott_id %>";
            if ( theme == "show") {
               
                  window.location.href = '/catalog_lists/get_lists?show_id='+$(this).attr('content-id');
            }
            else if (theme == "person") {
               window.location.href = "/catalog_lists/get_lists?theme="+theme+"&catalog_id="+catalog_id+'&person_id='+$(this).attr('content-id');
            }
            else if (theme == "livetv") {
               window.location.href = "/catalog_lists/get_lists?theme="+theme+"&catalog_id="+catalog_id+'&channel_id='+$(this).attr('content-id');
            }
            else if (theme == "user")
            {
               window.location.href = '/catalog_lists/get_lists?user_theme_id='+$(this).attr('content-id')+"&catalog_id="+catalog_cms_id;   
            }
            else {
               window.location.href = '/catalog_lists/get_lists?content_id='+$(this).attr('content-id');   
            }

        });

                                     
    </script>
