<div class="modal fade" id="viewModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="view_media_status">
            	<div class="panel panel-default">
				    <div class="panel-body tabs">
				        <div class="panel-info">
				            <div id="media-primary">
				                <div class="container-fluid">
			                    	<form class="form-horizontal" id="statusForm" role="form">
				                        <div class="col-xs-2">
		                                    <label for="protocols">Select Status</label>
		                                </div>

		                                <div class="col-xs-1">
		                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
		                                </div>

		                                <div class="col-xs-6">
		                                        <select class="form-control input-smcon-type" id="status" name="status" multiple>
		                                        <option value="all">All</option>
		                                        <option value="edit">Edit</option>
		                                        <option value="published">Published</option>
		                                        <option value="unpublished">Unpublished</option>
		                                        </select>
		                                </div>

				                        <br><div class="col-xs-12 mt20">
		                                <button type="button" class="btn btn-primary" id="submitStatusForm">Submit</button>
		                                </div>
			                        </form>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
	
	$('#submitStatusForm').click(function(){
		var data = $('#statusForm').serialize();
		console.log(data);
		$.ajax({
            url: '/catalogs/<%=@catalog_id%>/export_data',
            data: data,
            type: 'POST',
            dataType: 'json',
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
            },
            success: function(d){
            	
            	var catalog_id = "<%=@catalog_id%>"
                window.location = "/catalogs/view_catalog/"+ catalog_id.trim();
            }
        });
    });
</script>