<style type="text/css">
.inline-block {
display: inline-block;
}
table .progress {
margin-bottom: 3px;
position: relative;
}
table .progress span {
position: absolute;
display: block;
width: 100%;
color: black;
}
</style>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li>OTT</li>
      <li>Catalog</li>
      <%if @catalog %>
        <li class="active"><%=@catalog.name%></li>
      <%end%>
    </ol>
  </div>

  <!-- Catalogs For Non Media -->
  <%if @catalog.theme == "person" || (@catalog.theme == "show" ) || @catalog.theme == "article" || @catalog.theme == "livetv" || @catalog.theme == "user"%>
    <%= render :partial => 'catalogs/non_media_items' %>
  <%else%>
  <!-- Catalogs For Theme Media -->
    <%= render :partial => 'catalogs/media_items' %>
  <% end %>
</div>
