 <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">   
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">Catalogs</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <% if (current_user.roles.length == 1) && (current_user.roles[0] == "media_viewer") %>
                        <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/catalogs/new'">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Catalog
                        </button>
                    <% end -%>
                    <div>
                        <table class = "table table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Theme</th>
                                    <th>Apps</th>
                                    <th>Catalog ID</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @catalogs .each do |catalog| %>
                                    <tr>
                                        <td>
                                            <%= link_to catalog["name"], "/catalogs/view_catalog/"+catalog["_id"] %>
                                         </td>
                                         <td><%= catalog["theme"] %></td>
                                         <td><%= catalog["app_id"].length %></td>
                                         <td><%= catalog["_id"] %></td>
                                         <td>
                                             <span class="inline-block" data-toggle="tooltip" title="Edit"><button type="button" class="btn btn-xs btn-default edit-catalog" catalog-id='<%= catalog["_id"] %>'><span class="glyphicon glyphicon-pencil"></button></span>

                                             <span class="inline-block" data-toggle="tooltip" title="Add catalog to List"><button type="button" class="btn btn-xs btn-info add-catalog-to-list" catalog-id='<%= catalog["_id"] %>'><span class="glyphicon glyphicon-s glyphicon-plus"></button></span>

                                             <span class="inline-block" data-toggle="tooltip" title="Delete"><button type="button" class=" btn btn-xs btn-danger delete-catalog" catalog-id='<%= catalog["_id"] %>'><span class="glyphicon glyphicon-trash"></button>

                                        </td>  
                                        </tr>
                                <% end %>    
                            </tbody>
                        </table>
                    </div>
                     <div>
                    <% if params[:page].to_i != 0 %> 
                      <%=link_to "Previous","#{request.original_url.split("?page")[0]}?page=#{params[:page].to_i-1}"%>
                    <%else %>
                     Previous
                    <% end %>
                    <% if @next_catalogs.empty? %>
                     Next
                    <% else %>
                      <%=link_to "Next","#{request.original_url.split("?page")[0]}?page=#{params[:page].to_i+1}"%>
                    <% end %>
                  </div>                    
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function()
    {
        $('[data-toggle="tooltip"]').tooltip();   
    });

    $('.delete-catalog').click(function()
    {
            $.ajax({
                url: '/catalogs/'+$(this).attr('catalog-id')+'?method=delete',
                type: 'POST',
                timeout: 120000,
                error: function(e,t){
                    if (t == "timeout"){
                        alert("Timed Out Wait for Response");
                    }
                    else{
                        alert(JSON.parse(e.responseText)["error"]);
                    }
                },
                success: function(d){
                    location.reload();
                }
            });
        });

    $('.edit-catalog').click(function()
    {
            window.location.href = '/catalogs/edit?catalog_id='+$(this).attr('catalog-id');
    });

    $('.add-catalog-to-list').click(function(){
        //alert("redirecting to -> catalog_lists/get_lists?catalog_id="+$(this).attr('catalog-id'));
        window.location.href = '/catalog_lists/get_lists?catalog_id='+$(this).attr('catalog-id');
    });

</script>
