<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li>Tenants</li>
            <li class="active">All</li>
        </ol>
    </div><!--/.row-->
    <!-- <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tenants</h1>
        </div>
    </div> --><!--/.row-->
    <!-- <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-blue panel-widget ">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <em class="glyphicon glyphicon-asterisk glyphicon-l"></em>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">0</div>
                        <div class="text-muted">Random</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-orange panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <em class="glyphicon glyphicon-file glyphicon-l"></em>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">0</div>
                        <div class="text-muted">Phantom</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-teal panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <em class="glyphicon glyphicon-edit glyphicon-l"></em>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">0</div>
                        <div class="text-muted">Custom</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-red panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <em class="glyphicon glyphicon-th glyphicon-l"></em>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">0</div>
                        <div class="text-muted">Total</div>
                    </div>
                </div>
            </div>
        </div>
    </div> --><!--/.row-->
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="table1" data_source="/tenants" auto_refresh="100000000" loader="false" entries_info="true">
                        <script type="text/javascript" >
                            $(document).ready(function(){       
                                var table1 = new saranyutable("#table1");
                                table1.createBody = function createBody(_this) {            
                                    $(_this.selector).find("thead").append(
                                        '<tr><th><left>Name</left></th><th><left>Actions</left></th></tr>');
                                };
                                table1.load();                      
                                table1.appendContent = function appendContent(data,_this){      
                                    var tbody = $(_this.selector).find("tbody");
                                    tbody.html(""); 
                                    for ( var i = 0; i < data.list.length; i++) {
                                        //name
                                        // if(data.list[i].name.length > 15){
                                        //     name = data.list[i].name.substring(0,15)+"...."
                                        // }else{
                                        //     name = data.list[i].name
                                        // }
                                        name = data.list[i].name
                                        //name = '<a href="/tenants/view_tenant/'+data.list[i]._id+'">'+name+'</a>'
                                        name = name
                                        //ott_id
                                        // ott_id = data.list[i].ott_id
                                        //ott_auth_token
                                        // ott_auth_token = data.list[i].ott_auth_token
                                        //actions
                                        actions = ""
                                        delete_disabled = "disabled"

                                        // add_app_button = '<span class="inline-block" data-toggle="tooltip" title="Add App"><button type="button" class="btn btn-xs btn-info add-app" tenant-id='+data.list[i]._id+'><span class="glyphicon glyphicon-s glyphicon-plus"></button></span>'

                                        add_app_button = '<span class="inline-block" data-toggle="tooltip" title="Add App"><button type="button" class="btn btn-xs btn-info '+delete_disabled+'" tenant-id='+data.list[i]._id+'><span class="glyphicon glyphicon-s glyphicon-plus"></button></span>'



                                        delete_button = '<span class="inline-block" data-toggle="tooltip" title="Delete"><button type="button" class="'+delete_disabled+' btn btn-xs btn-danger delete-tenant" tenant-id='+data.list[i]._id+'><span class="glyphicon glyphicon-remove"></button>'

                                        actions =  add_app_button+" "+delete_button
                                        //append                
                                        tbody.append("<tr><td>" + name
                                            // + "</td><td>" + ott_id
                                            // + "</td><td>" + ott_auth_token
                                            + "</td><td>" + actions
                                            +"</td></tr>");
                                    }
                                    load_actions();
                                };
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
function load_actions() {
    
    $('.add-app').click(function() {
        window.location.href = '/apps/new?tid='+$(this).attr('tenant-id')
    });

    $('.delete-tenant').click(function(){
        $.ajax({
            url: '/tenants/'+$(this).attr('tenant-id')+'?method=delete',
            type: 'POST',
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
            },
            success: function(d){
                location.reload();
            }
        });
    });
};
</script>