	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
				<li>OTT</li>
				<li class="active">Tenant</li>
			</ol>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body tabs">
						
						<ul class="nav nav-pills">
							<!-- <li class="active"><a href="#pilltab1" data-toggle="tab">Tenant Info</a></li> -->
							<li class="active"><a href="#pilltab2" data-toggle="tab">Catalogs</a></li>
							<li><a href="#pilltab4" data-toggle="tab">Catalog Lists</a></li>
							<li><a href="#pilltab3" data-toggle="tab">Apps</a></li>
							<li><a href="#pilltab5" data-toggle="tab">Access Controls</a></li>
							<li><a href="#pilltab6" data-toggle="tab">Subscription Plans</a></li>
							<li><a href="#pilltab7" data-toggle="tab">App Messages</a></li>
							<!-- <li><a href="/media/view_all?tenant=<%=@tenant.id%>" >All Media</a></li> -->
						</ul>

						<!-- Start of tab-content -->
						<div class="tab-content">

							<!-- Start of pilltab2 -->
							<div class="tab-pane fade in active" id="pilltab2">
								<div class="panel panel-primary">
									<!-- <div class="panel-heading">Catalogs</div> -->
									<button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/catalogs/new?tid=<%=@tenant.id%>'">
										<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Catalog
									</button>
									
									<div class="panel-body">
										<div id="table2" data_source="/catalogs?tenant_id=<%=@tenant.id%>" auto_refresh="100000000" loader="false" entries_info="true">
											<script type="text/javascript" >
												$(document).ready(function(){       
													var table2 = new saranyutable("#table2");
													table2.createBody = function createBody(_this) {            
													$(_this.selector).find("thead").append(
															'<tr><th><left>Name</left></th><th><left>Theme</left></th><th><left>Apps</left></th><th><left>Catalog ID</left></th><th><left>Actions</left></th></tr>');
													};
													
													table2.load();	                      
													table2.appendContent = function appendContent(data,_this){      
													var tbody = $(_this.selector).find("tbody");
													tbody.html(""); 
														for ( var i = 0; i < data.list.length; i++) {
															//name
															// if(data.list[i].name.length > 15){
															// dtitle = data.list[i].name.substring(0,15)+"...."
															// }else{
															// dtitle = data.list[i].name
															// }
															dtitle = data.list[i].name													
															name = '<a href="/catalogs/view_catalog/'+data.list[i]._id+'">'+dtitle+'</a>'
															//theme
															theme = data.list[i].theme
															//apps
															apps = data.list[i].app_id.length
															//tenants
															tenants = data.list[i].tenant_id.length
															//ott_id
															// ott_id = data.list[i].ott_id
															//cms_id
															cms_id = data.list[i]._id
															//actions
															actions = ""
															// delete_disabled = ""
															// delete_disabled = "disabled"
															view_button = '<span class="inline-block" data-toggle="tooltip" title="View Info"><button type="button" class="btn btn-xs btn-info info-catalog" catalog-id='+data.list[i]["_id"]+'><span class="glyphicon glyphicon-eye-open"></button></span>'

															edit_button =  '<span class="inline-block" data-toggle="tooltip" title="Edit"><button type="button" class="btn btn-xs btn-default edit-catalog" catalog-id='+data.list[i]["_id"]+'><span class="glyphicon glyphicon-pencil"></button></span>'

															// delete_catalog_button =  '<span class="inline-block" data-toggle="tooltip" title="Edit"><button type="button" class="btn btn-xs btn-default delete-cat" catalog-id='+data.list[i]["_id"]+'><span class="glyphicon glyphicon-pencil"></button></span>'
															
															delete_catalog_button = '<span class="inline-block" data-toggle="tooltip" title="Delete"><button type="button" class=" btn btn-xs btn-danger delete-catalog" catalog-id='+data.list[i]._id+'><span class="glyphicon glyphicon-trash"></button>'

															add_channel_button = '<span class="inline-block" data-toggle="tooltip" title="Add Channels"><button type="button" class="btn btn-xs btn-info add-channel" catalog-id='+data.list[i]["_id"]+'><span class="glyphicon glyphicon-s glyphicon-plus"></button></span>'

															add_show_button = '<span class="inline-block" data-toggle="tooltip" title="Add Show"><button type="button" class="btn btn-xs btn-info add-show" catalog-id='+data.list[i]["_id"]+'><span class="glyphicon glyphicon-s glyphicon-plus"></button></span>'

															add_media_button = '<span class="inline-block" data-toggle="tooltip" title="Add Media"><button type="button" class="btn btn-xs btn-info add-media"><span class="glyphicon glyphicon-s glyphicon-plus"></button></span>'

															if (theme == "livetv") {
																actions = view_button+"&nbsp;"+edit_button+"&nbsp;"+add_channel_button
															}
															else if (data.list[i].theme == "show") {
																actions = view_button+"&nbsp;"+edit_button+"&nbsp;"+delete_catalog_button
															}
															else {
																actions = view_button+"&nbsp;"+edit_button+"&nbsp;"+delete_catalog_button+"&nbsp;"
															}
															//append                
															tbody.append("<tr><td>" + name
																+ "</td><td>" + theme
																+ "</td><td>" + apps
															// + "</td><td>" + tenants
															// + "</td><td>" + ott_id
															+ "</td><td>" + cms_id
															+ "</td><td>" + actions
															+"</td></tr>");
														}
														load_actions();
													};
												});
											</script>
										</div>
									</div>
								</div>
							</div>
							<!-- End of pilltab2 -->
							

							<!-- Start of pilltab7 -->
							<div class="tab-pane fade" id="pilltab7">
								<div class="panel panel-primary">
									<div class="panel-body">
										<div id="table7" data_source="/messages/get_all?tenant_id=<%=@tenant.id%>" auto_refresh="100000000" loader="false" entries_info="true">
											<script type="text/javascript" >
												$(document).ready(function(){       
													var table7 = new saranyutable("#table7");
													table7.createBody = function createBody(_this) {            
														$(_this.selector).find("thead").append(
															'<tr><th><left>Title</left></th><th><left>Message Type</left></th><th><left>Actions</left></th></tr>');
													};
													table7.load();                      
													table7.appendContent = function appendContent(data,_this){      
													var tbody = $(_this.selector).find("tbody");
													tbody.html(""); 
														for ( var i = 0; i < data.items.length; i++) {
															//name						
															// if(data.items[i].title.length > 30){
															// title = data.items[i].title.substring(0,15)+"...."
															// }else{
															// title = data.items[i].title
															// }
															title = data.items[i].title						
															//theme
															platform_note = data.items[i].platform_note
															//apps
															platform_code = data.items[i].type
															if(platform_code == "static_page"){
																platform_code = "Static Page"
															}
															if(platform_code == "template"){
																platform_code = "Template"
															}
															if(platform_code == "app_message"){
																platform_code = "App Message"
															}

															//actions
															actions = ""
															// delete_disabled = ""
															delete_disabled = "disabled"

															edit_button =  '<span class="inline-block" data-toggle="tooltip" title="Edit"><button type="button" class="btn btn-xs btn-default message-edit" msid='+data.items[i].content_id+'><span class="glyphicon glyphicon-pencil"></button></span>'

															actions = edit_button
															//append                
															tbody.append("<tr><td>" + title
																+ "</td><td>" + platform_code
																+ "</td><td>" + actions
																+"</td></tr>");
														}
														load_actions();
													};
												});
											</script>
										</div>
									</div>
								</div>
							</div>
							<!-- End of pilltab7 -->

							<!-- Start of pilltab3 -->
							<div class="tab-pane fade" id="pilltab3">
								<div class="panel panel-primary">
									<!-- <div class="panel-heading">Apps</div> -->
									<div class="panel-body">
									<% if !@webview.blank? %>
									<div><a href="<%=@webview%>">Check The Webview</a></div>
									<%end%>
										<div id="table3" data_source="/apps?tenant_id=<%=@tenant.id%>" auto_refresh="100000000" loader="false" entries_info="true">
											<script type="text/javascript" >
												$(document).ready(function(){       
													var table3 = new saranyutable("#table3");

													<% if current_user.roles.include?"cms_manager"%>
													table3.createBody = function createBody(_this) {            
														$(_this.selector).find("thead").append(
															'<tr><th><left>Name</left></th><th><left>Platform</left></th><th><left>CMS ID</left></th><th><left>OTT Auth Token</left></th></tr>');
													};
													<% else %>
													table3.createBody = function createBody(_this) {            
														$(_this.selector).find("thead").append(
															'<tr><th><left>Name</left></th><th><left>Platform</left></th><th><left>CMS ID</left></th></tr>');
													};
													<% end %>

													table3.load();                      
													table3.appendContent = function appendContent(data,_this){      
														var tbody = $(_this.selector).find("tbody");
														tbody.html(""); 
														for ( var i = 0; i < data.list.length; i++) {
															//name
															// if (data.list[i].name.length > 15){										
															// name = data.list[i].name.substring(0,15)+"...."
															// }else{
															// 	name = data.list[i].name
															// }
															name = data.list[i].name
															//platform
															platform = data.list[i].platform
															//tenant_id
															// tenant_id = data.list[i].tenant_id 
															//ott_id
															// ott_id = data.list[i].ott_id
															//ott_auth_token
															ott_auth_token = data.list[i].ott_auth_token
															cms_id = data.list[i]._id
															//actions
															actions = ""
															delete_disabled = ""
															actions = '<button type="button" class="'+delete_disabled+' btn btn-xs btn-danger delete-app" app-id='+data.list[i]._id+'><span class="glyphicon glyphicon-remove"></button>'
															//append                
															tbody.append("<tr><td>" + name
																+ "</td><td>" + platform
																// + "</td><td>" + tenant_id
																+ "</td><td>" + cms_id
																// + "</td><td>" + ott_id
																<% if current_user.roles.include?"cms_manager"%>
																+ "</td><td>" + ott_auth_token
																<% end %>
															// + "</td><td>" + actions
															+"</td></tr>");
														}
														load_actions();
													};
												});
											</script>
										</div>
									</div>
								</div>
							</div>
							<!-- End of pilltab3 -->

							<!-- Start of pilltab4 -->
							<div class="tab-pane fade" id="pilltab4">
								<div class="panel panel-primary">
									<!-- <div class="panel-heading">Catalog Lists</div> -->
									<button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/catalog_lists/new'">
										<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Catalog List
									</button>
									<div class="panel-body">
										<div id="table4" data_source="/catalog_lists?tenant_id=<%=@tenant.id%>" auto_refresh="100000000" loader="false" entries_info="true">
											<script type="text/javascript" >
												$(document).ready(function(){       
													var table4 = new saranyutable("#table4");
													table4.createBody = function createBody(_this) {            
														$(_this.selector).find("thead").append(
															'<tr><th><left>Title</left></th><th><left>Display Title</left></th><th><left>Catalog Name</left></th><th><left>Actions</left></th></tr>');
													};
													table4.load();                      
													table4.appendContent = function appendContent(data,_this){      
														var tbody = $(_this.selector).find("tbody");
														tbody.html(""); 
														for ( var i = 0; i < data.list.length; i++) {
															//title
															// title = data.list[i].title

															// if (data.list[i].title.length > 15){
															// dtitle = data.list[i].title.substring(0,15)+"...."
															// }else{
															// 	dtitle = data.list[i].title
															// }

															dtitle = data.list[i].title

															title = '<a href="/catalog_lists/view_catalog_list/'+data.list[i]._id+'">'+dtitle+'</a>'
															//display_title
															display_title = data.list[i].display_title
															//catalog_id
															// if (data.list[i].catalog_name.length > 15){
															// catalog_name = data.list[i].catalog_name.substring(0,15)+"...."
															// }else{
															// catalog_name = data.list[i].catalog_name
															// }

															catalog_name = data.list[i].catalog_name															
															
															//tenant_id
															// tenant_names = data.list[i].tenant_names 
															//ott_id
															// ott_id = data.list[i].ott_id
															//actions
															actions = ""
															// Need to add in future
															delete_disabled = ""
															view_button = '<span class="inline-block" data-toggle="tooltip" title="View Info"><button type="button" class="btn btn-xs btn-info info-list" list-id='+data.list[i]["_id"]+'><span class="glyphicon glyphicon-eye-open"></button>'

															edit_button =  '<span class="inline-block" data-toggle="tooltip" title="Edit"><button type="button" class="btn btn-xs btn-default edit-list" list-id='+data.list[i]["_id"]+'><span class="glyphicon glyphicon-pencil"></button></span>'

															delete_button = '<button type="button" data-toggle="tooltip" title="Delete" class="'+delete_disabled+' btn btn-xs btn-danger delete-cataloglist" cataloglist-id='+data.list[i]._id+'><span class="glyphicon glyphicon-remove"></button>'
															//append   
															actions = edit_button+"&nbsp;"+delete_button             
															tbody.append("<tr><td>" + title
																+ "</td><td>" + display_title
																+ "</td><td>" + catalog_name
																// + "</td><td>" + tenant_names
																+ "</td><td>" + actions
																+"</td></tr>");
														}
														load_actions();
													};
												});
											</script>
										</div>
									</div>
								</div>
							</div>
							<!-- End of pilltab4 -->

							<!-- Start of pilltab5 -->
							<div class="tab-pane fade" id="pilltab5">
								<div class="panel panel-primary">
									<button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/accesscontrol/new?tenant_id=<%=@tenant.id%>'">
										<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Access Control
									</button>
									<div class="panel-body">
										<div id="table5" data_source="/accesscontrol/get_all?tenant_id=<%=@tenant.id%>" auto_refresh="100000000" loader="false" entries_info="true">
											<script type="text/javascript" >
												$(document).ready(function(){       
													var table5 = new saranyutable("#table5");
													table5.createBody = function createBody(_this) {            
														$(_this.selector).find("thead").append(
															'<tr><th><left>Title</left></th><th><left>Is Free</left></th><th><left>Ads </left></th><th><left>Login</left></th><th><left>Actions</left></th></tr>');
													};
													table5.load();                      
													table5.appendContent = function appendContent(data,_this){      
														var tbody = $(_this.selector).find("tbody");
														tbody.html(""); 
														for ( var i = 0; i < data.items.items.length; i++) {
															catalog_id = data.items.catalog_id
															is_free = data.items.items[i].is_free
															if (is_free == true){
																is_free = "Yes"
															}
															else{
																is_free = "No"
															}
															ads_available = data.items.items[i].ads_available
															if (ads_available == true){
																ads_available = "Yes"
															}
															else{
																ads_available = "No"
															}
															login_required = data.items.items[i].login_required
															if (login_required == true){
																login_required = "Yes"
															}
															else{
																login_required = "No"
															}
															
															// if (data.items.items[i].title.length > 15){
															// title = data.items.items[i].title.substring(0,15)+"...."
															// }else{
															// title = data.items.items[i].title
															// }

															title = data.items.items[i].title

															content_id = data.items.items[i].content_id
															actions = ""
															// Need to Add delete in future
															delete_disabled = ""

															view_button = '<span class="inline-block" data-toggle="tooltip" title="View Info"><button type="button" class="btn btn-xs btn-info info-acescontrol" content_id='+content_id+'><span class="glyphicon glyphicon-eye-open"></button>'

															edit_button =  '<span class="inline-block" data-toggle="tooltip" title="Edit"><button type="button" class="btn btn-xs btn-default edit-acescontrol" content_id='+content_id+'> <span class="glyphicon glyphicon-pencil"></button></span>'

															delete_button = '<span class="inline-block" data-toggle="tooltip" title="Delete"><button type="button" class="'+delete_disabled+' btn btn-xs btn-danger delete-acescontrol" content_id='+content_id+'><span class="glyphicon glyphicon-trash"></button></span>'

															actions = edit_button+"&nbsp;"+delete_disabled
															//append                
															tbody.append("<tr><td>" +  title
																+ "</td><td>" + is_free
																+ "</td><td>" + ads_available
																+ "</td><td>" + login_required
																+ "</td><td>" + actions
																+"</td></tr>");
														}
														load_actions();
													};
												});
											</script>
										</div> 
									</div>
								</div>
							</div>
							<!-- End of pilltab5 -->

							<!-- Start of pilltab6 -->
							<div class="tab-pane fade" id="pilltab6">
								<div class="panel panel-primary">
									<div class="panel-body">
										<div id="table6" data_source="/subscription/get_all?tenant_id=<%=@tenant.id%>" auto_refresh="100000000" loader="false" entries_info="true">
											<script type="text/javascript" >
												$(document).ready(function(){       
													var table6 = new saranyutable("#table6");
													table6.createBody = function createBody(_this) {            
														$(_this.selector).find("thead").append(
															'<tr><th><left>Title</left></th><th><left>Number of Plans</left></th><th><left>Actions</left></th></tr>');
													};
													table6.load();                      
													table6.appendContent = function appendContent(data,_this){      
														var tbody = $(_this.selector).find("tbody");
														tbody.html(""); 
														for ( var i = 0; i < data.items.items.length; i++) {
															totalplans = data.items.items[i].plans.length
															if(data.items.items[i].app_ids.length == 0){
																app_id = 0
															}else{
																app_id = data.items.items[i].app_ids[0]
															}
															dtitle = data.items.items[i].title;
															if (dtitle == "app_plans"){
																dtitle = "Free Plans"
															}else{
																dtitle = data.items.items[i].title;
															}

															title = '<a href="/subscription/view_all?tenant_id=<%=@tenant.id%>&content_id='+data.items.items[i].id+'&app_id='+app_id+'">'+dtitle+'</a>'
															content_id = data.items.items[i].id
															
															actions = ""
															delete_disabled = "disabled"

															view_button = '<span class="inline-block" data-toggle="tooltip" title="View Info"><button type="button" class="btn btn-xs btn-info info-subscription" content_id='+content_id+' app_id='+app_id+'><span class="glyphicon glyphicon-eye-open"></button>'


															add_plans = '<span class="inline-block" data-toggle="tooltip" title="Add Plan"><button type="button" class="btn btn-xs btn-info add-plans" content-id='+content_id+' app_id='+app_id+'><span class="glyphicon glyphicon-s glyphicon-plus"></button>'


															actions = add_plans+"&nbsp;"

															//append                
															tbody.append("<tr><td>" + title
															+ "</td><td>" + totalplans
															+ "</td><td>" + actions
															+"</td></tr>");
														}
														load_actions();
													};
												});
											</script>
										</div>
									</div>
								</div>
							</div>
							<!-- End of pilltab6 -->

						</div>
						<!-- End of tab-content -->

					</div>
					<!--panel-body tabs-->
				</div>
				<!-- panel panel-default -->
			</div>
			<!-- col-lg-12 -->
		</div>
		<!-- End of Row -->
	</div>
	

<div id="view_catalog_info"></div>
<div id="view_ac_info"></div>
<div id="view_sub_info"></div>

<script type="text/javascript">

	function load_actions() {
		
		$('.delete-catalog').click(function(){
			$.ajax({
				url: '/catalogs/'+$(this).attr('catalog-id')+'?method=delete',
				type: 'POST',
				timeout: 120000,
				error: function(e,t){
					if (t == "timeout"){
						alert("Timed Out Wait for Response");
					}
					else{
						alert(JSON.parse(e.responseText)["error"]);
					}
				},
				success: function(d){
					location.reload();
				}
			});
		});

		$('.delete-app').click(function(){
			$.ajax({
				url: '/apps/'+$(this).attr('app-id')+'?method=delete',
				type: 'POST',
				timeout: 120000,
				error: function(e,t){
					if (t == "timeout"){
						alert("Timed Out Wait for Response")
					}
					else{
						alert(JSON.parse(e.responseText)["error"]);
					}
				},
				success: function(d){
					location.reload();
				}
			});
		});

		$('.delete-cataloglist').click(function(){
			$.ajax({
				url: '/catalog_lists/'+$(this).attr('cataloglist-id')+'?method=delete',
				type: 'POST',
				timeout: 120000,
				error: function(e,t){
					if (t == "timeout"){
						alert("Timed Out Wait for Response")
					}
					else{
						alert(JSON.parse(e.responseText)["error"]);
					}
				},
				success: function(d){
					location.reload();
				}
			});
		});

		$('.message-edit').click(function(){
			window.location.href = '/message/edit?msid='+$(this).attr('msid')+"&tid=<%=@tenant.id%>";
		});

		$('.edit-list').click(function(){
			window.location.href = '/catalog_lists/edit?list_id='+$(this).attr('list-id');
		});

		$('.edit-catalog').click(function(){
			window.location.href = '/catalogs/edit?catalog_id='+$(this).attr('catalog-id')+"&tid=<%=@tenant.id%>";
		});

		$('.add-channel').click(function() {
			window.location.href = '/livechannels/new?tenant_id=<%=@tenant.id%>&catalog_id='+$(this).attr('catalog-id');
		});
		$('.add-show').click(function() {
			window.location.href = '/shows/new?catalog_id='+$(this).attr('catalog-id');
		});
		$('.add-media').click(function() {
			window.location.href = '/media/new'
		});

		$('.info-catalog').click(function() {

			window.location.href = '/catalogs/get_info?catalog_id='+$(this).attr('catalog-id')+'&method=view&tid=<%=@tenant.id%>';

	// $.ajax({
	// 	url: '/catalogs/get_info/'+$(this).attr('catalog-id'),
	// 	type: "GET",
	// 	timeout: 120000,
	// 	error: function(e,t){
	// 		if (t == "timeout"){
	//                alert("Timed Out Wait for Response")
	//            }
	//            else{
	//                alert(JSON.parse(e.responseText)["error"]);
	//            }
	// 	},
	// 	success: function(d){
	// 		$("#view_catalog_info").html(d);
	//            $('#viewModal2').modal('show');
	// 	}
	// });
	});

		$('.info-acescontrol').click(function() {
			$.ajax({
				url: '/accesscontrol/details?tenant_id=<%=@tenant.id%>&content_id='+$(this).attr('content_id'),
				type: "GET",
				timeout: 120000,
				error: function(e,t){
					if (t == "timeout"){
						alert("Timed Out Wait for Response")
					}
					else{
						alert(JSON.parse(e.responseText)["error"]);
					}
				},
				success: function(d){
					$("#view_ac_info").html(d);
					$('#viewModal2').modal('show');
				}
			});
		});  

		$('.edit-acescontrol').click(function(){
			window.location.href = '/accesscontrol/details?method=edit&tenant_id=<%=@tenant.id%>&content_id='+$(this).attr('content_id');
		});


		$('.delete-acescontrol').click(function(){
			$.ajax({
				url: '/accesscontrol/delete?method=delete&tenant_id=<%=@tenant.id%>&content_id='+$(this).attr('content_id'),
				type: 'delete',
				timeout: 120000,
				error: function(e,t){
					if (t == "timeout"){
						alert("Timed Out Wait for Response")
					}
					else{
						alert(JSON.parse(e.responseText)["error"]);
					}
				},
				success: function(d){
					location.reload();
				}
			});
		});


		$('.add-plans').click(function(){
			window.location.href = '/subscription/plans?tenant_id=<%=@tenant.id%>&content_id='+$(this).attr('content-id')+'&app_id='+$(this).attr('app_id');
		});

		$('.info-subscription').click(function() {
			$.ajax({
				url: '/subscription/plans?tenant_id=<%=@tenant.id%>&method=view&content_id='+$(this).attr('content_id')+'&app_id='+$(this).attr('app_id'),
				type: "GET",
				timeout: 120000,
				error: function(e,t){
					if (t == "timeout"){
						alert("Timed Out Wait for Response")
					}
					else{
						alert(JSON.parse(e.responseText)["error"]);
					}
				},
				success: function(d){
					$("#view_sub_info").html(d);
					$('#viewModal2').modal('show');
				}
			});
		}); 

	// $('.info-list').click(function(){
	//     $.ajax({
	//         url: '/catalog_lists/'+$(this).attr('list-id'),
	//         type: 'GET',
	//         timeout: 120000,
	//         error: function(e,t){
	//             if (t == "timeout"){
	//                 alert("Timed Out Wait for Response")
	//             }
	//             else{
	//                 alert(JSON.parse(e.responseText)["error"]);
	//             }
	//         },
	//         success: function(d){
	//             location.reload();
	//         }
	//     });
	// });
};
</script>