<br><br>
<form class="form-horizontal" id="LoginForm" role="form">
	<div class="row">
		<div class="col-md-6">
			<div id="email" class="form-group">
				<label for="email" class="col-sm-5 control-label">Email</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" name="email" placeholder="a@x.com" value="">
				</div>
			</div>
			<div id="password" class="form-group">
				<label for="password" class="col-sm-5 control-label">Password</label>
				<div class="col-sm-7">
					<input type="password" class="form-control" name="password" placeholder="Password" value="">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-5 control-label"></label>
				<div class="col-sm-7">
					<button type="button" class="btn btn-info" id="submitLoginForm">Log In</button>
					<a href="/" type="button" class="btn btn-danger" id="cancelLoginForm">Cancel</a>
				</div>
			</div>
		</div>	  
	</div>
</form>
<br>

<script type="text/javascript">
	$('#submitLoginForm').click(function(){
		var data = $('#LoginForm').serialize();
		$.ajax({
			url: '/users/login',
			data: data,
			type: 'POST',
			dataType: 'json',
			timeout: 120000,
			error: function(e,t){
				if (t == "timeout"){
					alert("Timed Out Wait for Response")
				}
				else{
				  	alert(JSON.parse(e.responseText)["error"]);
				}
			},
			success: function(d){
				window.location = "/"
			}
		});
	});
</script>			