
<style type="text/css">
.inline-block {
    display: inline-block;
}
table .progress {
    margin-bottom: 3px;
    position: relative;
}
table .progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}
</style>


<div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/video_list/new?catalog_id=<%= @item["catalog_cms_id"]%>&media_id=<%=params[:media_id]%>'">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Video List
                </button>

                    <div id="table1" data_source="/media?catalog_id=<%= @edit_media.ott_catalog_id%>&video_list=yes&parent_media_id=<%=@edit_media.id%>"  loader="false" auto_refresh="10000" entries_info="true">
                    <!-- auto_refresh="10000" -->
                        <script type="text/javascript" >  
                            $(document).ready(function(){       
                                var table1 = new saranyutable("#table1");
                                table1.createBody = function createBody(_this) {
                                    $(_this.selector).find("thead").append(
                                        '<tr><th id="titleid" width="20%"><left>Title</left></th><th width="20%"><left>Transcoding Priority</left></th><th width="20%"><left>Transcoding Status</left></th><th width="15%"><left>OTT Status</left></th><th width="25%"><left>Actions</left></th></tr>');
                                };
                                table1.load();                      
                                table1.appendContent = function appendContent(data,_this){      
                                    var tbody = $(_this.selector).find("tbody");
                                    tbody.html(""); 
                                    for ( var i = 0; i < data.list.length; i++) {
                                        //title 
                                        

                                        //alert(data.list[i].title);
                                        dtitle = data.list[i].title
                                        //title = '<a href="/media/view_media/'+data.list[i]._id+'">'+dtitle+'</a>'
                                        //title = '<a href="/media/edit?media_id='+data.list[i]._id+'">'+dtitle+'</a>'
                                        title = dtitle
                                        videoliststatus = data.list[i].videolist
                                        //progress
                                        progress = null
                                        status = data.list[i].status
                                        switch(status) {
                                            case "Created":
                                                progress = '<div class="progress progress-striped active"><div class="progress-bar progress-bar-success progress-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"><span>'+status+'</span></div></div>'
                                                break;
                                            case "Processing Request":
                                                progress = '<div class="progress progress-striped active"><div class="progress-bar progress-bar-success progress-striped active" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;"><span>'+status+'</span></div></div>'
                                                break;
                                            case "Request Error":
                                                progress = '<div class="progress"><div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;"><span>'+status+'</span></div></div>'
                                                break;
                                            case "Ingesting":
                                                progress = '<div class="progress progress-striped active"><div class="progress-bar progress-bar-success progress-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"><span>'+status+'</span></div></div>'
                                                break;
                                            case "Ingested":
                                                progress = '<div class="progress progress-striped active"><div class="progress-bar progress-bar-success progress-striped active" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"><span>'+status+'</span></div></div>'
                                                break;
                                            case "Transcoding":
                                                progress = '<div class="progress progress-striped active"><div class="progress-bar progress-bar-success progress-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><span>'+status+'</span></div></div>'
                                                break;
                                            case "Published":
                                                progress = '<div class="progress"><div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><span>'+status+'</span></div></div>'
                                                break;
                                            case "Ingestion Error":
                                                progress = '<div class="progress"><div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"><span>'+status+'</span></div></div>'
                                                break;
                                            case "Transcoding Error":
                                                progress = '<div class="progress"><div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><span>'+status+'</span></div></div>'
                                                break;
                                            case "Created Externally":
                                                progress = '<div class="progress progress-striped active"><div class="progress-bar progress-bar-success progress-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"><span>'+status+'</span></div></div>'
                                                break;
                                            default:
                                        }
                                        //priority
                                        priority = null
                                        low = ""
                                        medium = ""
                                        high = ""

                                        if (status != "Created Externally") {
                                        switch(data.list[i].priority){
                                            case "low":
                                                low = "btn-success";
                                                break;
                                            case "medium":
                                                medium = "btn-success";
                                                break;
                                            case "high":
                                                high = "btn-success";
                                                break;
                                        } }
                                        disabled = "" 
                                        if (data.list[i].status == "Published" || data.list[i].status == "Ingestion Error" || data.list[i].status == "Transcoding Error" || data.list[i].status == "Request Error" || data.list[i].status == "Created Externally") {
                                            disabled = "disabled"
                                        }
                                        priority = '<div class="btn-group"><button type="button" class="btn btn-xs update-priority '+low+'" priority="low" media-id='+data.list[i]._id+' '+disabled+'>Low</button><button type="button" class="btn btn-xs update-priority '+medium+'" priority="medium" media-id='+data.list[i]._id+' '+disabled+'>Med</button><button type="button" class="btn btn-xs update-priority '+high+'" priority="high" media-id='+data.list[i]._id+' '+disabled+'>High</button></div>'
                                        //ott_status
                                        ott_status = data.list[i].ott_status
                                        //actions
                                        actions = null
                                        // edit_disabled = ""
                                        edit_disabled = "disabled"
                                        play_disabled = "disabled"
                                        push_ott_disabled = "disabled"
                                        remove_ott_disabled = "disabled"
                                        transcode_disabled = "disabled"
                                        if (data.list[i].status == "Created"){
                                            transcode_disabled = ""
                                        }
                                        // if ((data.list[i].status == "Published" || data.list[i].status == "Created Externally")){
                                        if ((data.list[i].status == "published" || data.list[i].status == "Created Externally")){
                                            play_disabled = ""
                                            edit_disabled = ""
                                        }
                                        if (data.list[i].ott_status == "unpublished"){
                                            push_ott_disabled = ""
                                        }
                                        else if(data.list[i].ott_status == "edit"){
                                            push_ott_disabled = ""
                                        }else if(data.list[i].ott_status == "published"){
                                            remove_ott_disabled = ""
                                        }

                                        transcode_button = '<span class="inline-block" data-toggle="tooltip" title="Transcode"><button type="button" class="'+transcode_disabled+' btn btn-xs btn-primary transcode-media" media-id='+data.list[i]._id+'><span class="glyphicon glyphicon-indent-left"></button></span>'
                                        play_button = '<span class="inline-block" data-toggle="tooltip" title="Play"><button type="button" class="'+play_disabled+' btn btn-xs btn-success play-media" media-id='+data.list[i]._id+'><span class="glyphicon glyphicon-play"></button></span>'

                                        // if (videoliststatus == true){
                                        // edit_button = '<span class="inline-block" data-toggle="tooltip" title="Edit"><button type="button" class="'+edit_disabled+' btn btn-xs btn-default edit-video" video-id='+data.list[i]._id+'><span class="glyphicon glyphicon-pencil"></button></span>'
                                        // }else{
                                        edit_button = '<span class="inline-block" data-toggle="tooltip" title="Edit"><button type="button" class="'+edit_disabled+' btn btn-xs btn-default edit-media" media-id='+data.list[i]._id+'><span class="glyphicon glyphicon-pencil"></button></span>'
                                        // }

                                        delete_disabled = "disabled"

                                        push_to_ott_button = '<span class="inline-block" data-toggle="tooltip" title="Push to OTT"><button type="button" class="'+push_ott_disabled+' btn btn-xs btn-warning push-ott" media-id='+data.list[i]._id+'><span class="glyphicon glyphicon-export"></button></span>'
                                        remove_from_ott_button = '<span class="inline-block" data-toggle="tooltip" title="Remove from OTT"><button type="button" class="'+remove_ott_disabled+' btn btn-xs btn-danger remove-ott" media-id='+data.list[i]._id+'><span class="glyphicon glyphicon-import"></button></span>'
                                        info_button = '<span class="inline-block" data-toggle="tooltip" title="View Info"><button type="button" class="btn btn-xs btn-info info-media" media-id='+data.list[i]._id+'><span class="glyphicon glyphicon-eye-open"></button></span>'
                                        
                                        delete_button = '<span class="inline-block" data-toggle="tooltip" title="Delete"><button type="button" class="btn btn-xs btn-danger delete-media" media-id='+data.list[i]._id+'><span class="glyphicon glyphicon-trash"></button></span>'

                                        add_item = '<span class="inline-block" data-toggle="tooltip" title="Add Item to List"><button type="button" class="btn btn-xs btn-info add-content" content-id='+data.list[i]._id+'><span class="glyphicon glyphicon-s glyphicon-plus"></button></span>'

                                        nbsp = '&nbsp;'
                                        ott_button = null
                                        if (data.list[i].ott_status=="published"){
                                            ott_button = remove_from_ott_button
                                        }else{
                                            ott_button = push_to_ott_button
                                        }


                                        // <%#if @bg.plan == "transcoding"%>
                                        // actions = play_button+nbsp+info_button+nbsp+delete_button
                                        // <%#elsif @bg.plan == "ott" || @bg.plan == "ott_saas"%>
                                            <%if user_is_boss?%>
                                            actions = transcode_button+nbsp+play_button+nbsp+edit_button+nbsp+ott_button+nbsp+delete_button
                                            <%elsif current_user.roles.include?"publisher"%>
                                            actions = transcode_button+nbsp+play_button+nbsp+edit_button+nbsp+delete_button
                                            <%elsif current_user.roles.include?"content_editor"%>
                                            actions = play_button+nbsp+edit_button+nbsp
                                            <%elsif current_user.roles.include?"media_viewer"%>
                                            actions = play_button
                                            <%end%>
                                        //<%#end%>
                                        //append                
                                        tbody.append("<tr><td id='titleid'>" + title
                                            +"</td><td>"+ priority
                                            +"</td><td>"+ progress
                                        // <%#if @bg.plan=="ott" || @bg.plan=="ott_saas" %>
                                            +"</td><td>"+ ott_status
                                        // <%#end%>
                                            + "</td><td>" + actions
                                            +"</td></tr>");
                                    }
                                    load_actions();
                                };
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="view_item"></div>
<div id="view_lists"></div>
<div id="view_media_status"></div>

<div id="player" style="background-color:black;"></div>
<div id="view_media"></div>


<script type="text/javascript">
function load_actions() {

    // $('.edit-video').click(function(){
    //     window.location.href = '/videolist/edit?video_id='+$(this).attr('video-id');
    // });

    $('.edit-media').click(function(){
        var titleid =  $(this).attr('title-id');  
        //window.location.href = '/media/edit?media_id='+$(this).attr('media-id');
        window.location.href = '/videolist/edit?video_id='+$(this).attr('media-id');
    });

    $('.transcode-media').click(function(){
        $.ajax({
            url: '/media/'+$(this).attr('media-id')+'?method=transcode',
            type: 'POST',
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
            },
            success: function(d){
                //location.reload();
                var curr_page = window.location.href+"&vl=yes";
                window.location = curr_page;
            }
        });
    });

    $('.delete-media').click(function(){
        $.ajax({
            url: '/media/'+$(this).attr('media-id')+'?method=delete',
            type: 'POST',
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
            },
            success: function(d){
                //location.reload();
                var curr_page = window.location.href+"&vl=yes";
                window.location = curr_page;
            }
        });
    });

    $('.play-media').click(function(){
        $.ajax({
            url: '/media/play/'+$(this).attr('media-id'),
            type: 'GET',
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
            },
            success: function(d){
                $("#player").html(d);
                $('#viewModal').modal('show');
            }
        });
    });
    $('.info-media').click(function(){
        window.location.href = '/media/view_media/'+$(this).attr('media-id');
        // $.ajax({
        //     url: '/media/view_media/'+$(this).attr('media-id'),
        //     type: 'GET',
        //     timeout: 120000,
        //     error: function(e,t){
        //         if (t == "timeout"){
        //             alert("Timed Out Wait for Response")
        //         }
        //         else{
        //             alert(JSON.parse(e.responseText)["error"]);
        //         }
        //     },
        //     success: function(d){
        //         $("#view_media").html(d);
        //         $('#viewModal2').modal('show');
        //     }
        // });
    });

    $('.update-priority').click(function(){
        $.ajax({
            url: '/media/'+$(this).attr('media-id')+'?method=update_priority&priority='+$(this).attr('priority'),
            type: 'POST',
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
            },
            success: function(d){
                //location.reload();
                var curr_page = window.location.href+"&vl=yes";
                window.location = curr_page;
            }
        });
    });

    $('.push-ott').click(function(){
        $.ajax({
            url: '/media/'+$(this).attr('media-id')+'?method=publish_at_ott',
            type: 'POST',
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
            },
            success: function(d){
                //location.reload();
                var curr_page = window.location.href+"&vl=yes";
                window.location = curr_page;
            }
        });
    });

     $('.remove-ott').click(function(){
        $.ajax({
            url: '/media/'+$(this).attr('media-id')+'?method=unpublish_at_ott',
            type: 'POST',
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
            },
            success: function(d){
                //location.reload();
                var curr_page = window.location.href+"&vl=yes";
                window.location = curr_page;
            }
        });
    });
    $('span').tooltip();

    // $('.add-content').click(function(){
        
    //     var theme = "<%#= @catalog.theme %>";
    //     if ( theme == "show") {
    //         window.location.href = '/catalog_lists/get_lists?show_id='+$(this).attr('content-id');
    //     }
    //     else {
    //         window.location.href = '/catalog_lists/get_lists?content_id='+$(this).attr('content-id');   
    //     }

    // });

    // $('.add-videolist').click(function(){
    //     var contentid = $(this).attr('content-id');
    //     $.ajax({
    //         url: '/videolist/<%#=@catalog.id%>/videolist_tags?contentid='+$(this).attr('content-id'),
    //         type: 'GET',
    //         timeout: 120000,
    //         error: function(e,t){
    //             if (t == "timeout"){
    //                 alert("Timed Out Wait for Response")
    //             }
    //             else{
    //                 alert(JSON.parse(e.responseText)["error"]);
    //             }
    //         },
    //         success: function(d){
    //             window.location.href = '/videolist/<%#=@catalog.id%>/videolist_tags?contentid='+contentid;
    //         }
    //     });
    // });

};
</script>