<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li>Video List</li>
                <li class="active">Add Video List</li>
        </ol>
    </div><!--/.row-->
    <!-- <div class="row">
        <div class="col-lg-12">
            <%if !@edit_media%>
                <h1 class="page-header">Add Media</h1>
            <%else%>
                <h1 class="page-header">Edit Media</h1>
            <%end%>
        </div>
    </div> --><!--/.row-->
    
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body tabs">


                    <div id="morefields" class="row morefields" style="display:none">
                    <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-2">
                          <label>Role</label>
                          </div>
                          <div class="col-xs-1">
                            <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                          </div>
                          <div class="col-xs-6">
                          <input type="text" class="form-control input-sm" name="roles[]" value="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                          <label>Description</label>
                          </div>
                          <div class="col-xs-1">
                            <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                          </div>
                          <div class="col-xs-6">
                          <textarea class="form-control input-sm" rows="5" name="descriptions[]" value=""></textarea>
                          <!-- <input type="text" class="form-control input-sm" name="descriptions[]" value=""> -->
                        </div>
                    </div>
                    <!-- <div class="row">   
                        <div class="col-xs-2">
                          <label>Display Image</label>
                          </div>
                          <div class="col-xs-1">
                            <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                          </div>
                          <div class="col-xs-6">
                          <input type="text" class="form-control input-sm" name="images[]" value="">
                        </div>
                    </div> -->
                        </div>
                        </div>
                     </div>

                    <form class="form-horizontal" id="mediaForm" role="form" enctype="multipart/form-data">
                        <ul class="nav nav-pills">
                            <li class="active"><a href="#basic-info-tab" data-toggle="tab">Mandatory Metadata</a></li>
                            <%if @bg.plan=="ott" || @bg.plan=="ott_saas" %>
                            <li><a href="#metadata-tab" data-toggle="tab">Optional Metadata</a></li>
                            <li><a href="#people-tab" data-toggle="tab">Cast and Crew</a></li>
                            <%end%>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="basic-info-tab">


                             <% if !(@bg.plan=="ott_saas") %>
                             <div class="row">
                                    <div class="col-xs-2">
                                        <label for="title">Title</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the title for the media. Title shall be used to display on the applications" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                       <div class="col-xs-6">
                                        <input type="text" class="form-control input-sm" id="title" name="title" value="<%if @edit_media%><%=@edit_media.title%>"<%else%>""<%end%>>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-2">
                                        <label for="source_type">Source Type</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can chose the source type here. You can chose either ftp or http for ingestion" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                    <div class="col-xs-6">
                                        <select id="source_type" name="source_type" value=<%if @edit_media%><%=@edit_media.source_type%><%else%>""<%end%> class="form-control input-sm">
                                            <option value="FTP">FTP</option>
                                            <option value="HTTP" disabled="disabled">HTTP</option>
                                            <option value="S3" disabled="disabled">S3</option>
                                        </select>
                                    </div>
                                    </div>
                                    <div class="row">
                                    <div class="col-xs-2">
                                        <label for="source_url">Source URL</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the source URL for ingestion. Source video shall be pulled from this link for further processing" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                        <%if @edit_media%>
                                        <input type="text" class="form-control input-sm" id="source_url" name="source_url" placeholder="http:// or ftp://" value=<%=@edit_media.source_url%>>
                                        <%else%>
                                        <input type="text" class="form-control input-sm" id="source_url" name="source_url" placeholder="http:// or ftp://" value="">
                                        <%end%>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-2">
                                        <label for="ps_id">Publish Setting</label>
                                        </div>
                                        <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                        <div class="col-xs-6">
                                        <select id="ps_id" name="ps_id" class="form-control input-sm">
                                            <option value="">Select one from below</option>
                                            <%if @edit_media%>
                                            <%if @edit_media.bulk_upload_id%>
                                            <%@ps_list_bulk.each do |ps|%>
                                            <option <%if @edit_media%><%if ps.id.to_s==@edit_media.publish_settings_id.to_s%>selected="selected"<%end%><%end%> value=<%=ps.id%>><%=ps.name%></option>
                                            <%end%>
                                            <%else%>
                                            <%@ps_list_single.each do |ps|%>
                                            <option <%if @edit_media%><%if ps.id.to_s==@edit_media.publish_settings_id.to_s%>selected="selected"<%end%><%end%> value=<%=ps.id%>><%=ps.name%></option>
                                            <%end%>
                                            <%end%>
                                            <%else%>
                                            <%@ps_list_single.each do |ps|%>
                                            <option <%if @edit_media%><%if ps.id.to_s==@edit_media.publish_settings_id.to_s%>selected="selected"<%end%><%end%> value=<%=ps.id%>><%=ps.name%></option>
                                            <%end%>
                                            <%end%> 
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-2">
                                        <label for="priority">Priority</label>
                                        </div>
                                        <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                        <div class="col-xs-6">
                                        <select id="priority" name="priority" class="form-control input-sm">
                                            <option value="">Select one from below</option>
                                            <option <%if @edit_media%><%if @edit_media.priority=="low"%>selected="selected"<%end%><%end%> value="low">Low</option>
                                            <option <%if @edit_media%><%if @edit_media.priority=="medium"%>selected="selected"<%end%><%end%> value="medium">Medium</option>
                                            <option <%if @edit_media%><%if @edit_media.priority=="high"%>selected="selected"<%end%><%end%> value="high">High</option>
                                        </select>
                                    </div>
                                </div>
                                <%else%>
                                <div class="row">
                                <div class="error_media"  id="defaulterror"> </div>
                                    <div class="col-xs-2">
                                        <label for="title">Title</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the title for the media. Title shall be used to display on the applications" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                       <div class="col-xs-6">
                                        <input type="text" class="form-control input-sm" id="title" onchange="titlecheck();" name="title" value="<%if @edit_media%><%=@edit_media.title%>"<%else%>""<%end%>>
                                        <input type=hidden id="catalog_id" name="catalog_id" value="<%=@catalog_id%>">
                                        <input type=hidden id="media_title" name="media_title">
                                        <input type=hidden id="video_list" name="video_list" value="true">
                                        <input type=hidden id="signaturekey" name="signaturekey">
                                        <input type=hidden id="access_key" name="access_key">
                                        <input type=hidden id="acl" name="acl">
                                        <input type=hidden id="policy" name="policy">
                                        <input type=hidden id="signature" name="signature">
                                        <input type=hidden id="bucket" name="bucket">
                                        <input type=hidden id="domain_name" name="domain_name">
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="error_media"  id="etid"> </div>
                                </div>
                                <%if @catalog["theme"] == "show"%>
                                <%if @show_data.nil?%>
                                <input type=hidden id="Esubcategory" name="Esubcategory" value="<%=@subcategory_data["title"]%>">
                                <input type=hidden id="subcategory_id" value="<%=@subcategory_id%>">
                                <%else%>
                                <input type=hidden id="Eshow" name="Eshow" value="<%=@show_data["title"]%>">
                                <input type=hidden id="show_id" value="<%=@show_id%>">
                                <%end%>
                                <%else%>
                                <input type=hidden id="Esubcategory" name="Esubcategory" value="">
                                <input type=hidden id="Eshow" name="Eshow" value="">
                                <input type=hidden id="show_id" value="">
                                <input type=hidden id="subcategory_id" value="">
                                <%end%>
                                <script type="text/javascript">
                                function titlecheck(){


                                    var title = document.getElementById("title").value;
                                    title = title.replace(/[^a-zA-Z0-9\s]/g,"");
                                    title = title.toLowerCase();
                                    title = title.replace(/\s/g,'-');
                                    document.getElementById("media_title").value = title;
                                    var video_list = document.getElementById("video_list").value;
                                    var catalog_id = document.getElementById("catalog_id").value;
                                    if(document.getElementById("Eshow") != null){
                                        var show = document.getElementById("Eshow").value;
                                        var show_id = document.getElementById("show_id").value;
                                    }
                                    else{
                                        var show = "";
                                        var show_id = "";
                                    }
                                    if (document.getElementById("Esubcategory") != null){
                                        var subcategory = document.getElementById("Esubcategory").value;
                                        var subcategory_id = document.getElementById("subcategory_id").value;
                                    }else{
                                        var subcategory = "";
                                        var subcategory_id = "";
                                    }
                                    pbar = false;
                                    $.ajax({
                                        url: '/media/titlecheck',
                                        data: {title: title, catalog_id: catalog_id, show: show, show_id: show_id, subcategory: subcategory, subcategory_id: subcategory_id, video_list: video_list},
                                        type: 'POST',
                                        dataType: 'json',
                                        timeout: 120000,
                                        error: function(e,t){
                                            if (t == "timeout"){

                                                alert("Timed Out Wait for Response");
                                            }
                                            else{
                                                // alert(JSON.parse(e.responseText)["error"]);
                                                $("#etid").text(JSON.parse(e.responseText)["error"]);
                                            }
                                        },
                                        success: function(d){
                                            console.log("data is==="+d);
                                            var signature = d.signature;
                                            console.log("signature==="+signature);

                                            console.log("signature key==="+signature["key"]);
                                            console.log("signature bucket==="+signature["bucket"]);
                                            console.log("signature domain_name==="+signature["domain_name"]);
                                            console.log("signature access_key==="+signature["access_key"]);
                                            console.log("signature acl==="+signature["acl"]);
                                            console.log("signature policy==="+signature["policy"]);
                                            console.log("signature signature==="+signature["signature"]);

                                            document.getElementById("signaturekey").value = signature["key"];
                                            document.getElementById("access_key").value = signature["access_key"];
                                            document.getElementById("acl").value = signature["acl"];
                                            document.getElementById("policy").value = signature["policy"];
                                            document.getElementById("signature").value = signature["signature"];
                                            document.getElementById("bucket").value = signature["bucket"];
                                            document.getElementById("domain_name").value = signature["domain_name"];
                                        }
                                    });
                                }

                                </script>


                                <div class="row">  
                                <div class="error_media" id="rtrsid"></div>
                                  <div class="col-xs-2">
                                    <label>Do you want to transcode?</label>
                                  </div>
                                  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can set the flag to yes or no. If you choose 'yes' then you shall be given an option to enter the source path and then trigger media processing. If you choose 'no' then you shall be allowed to add an existing smart url, youtube url." src="/assets/info_55x55.png" alt="dummy">
                                  </div>
                                  <div class="col-xs-6">
                                    <div class="radio">
                                      <label><input type="radio" id="optradio" name="optradio" value="yes">Yes</label>
                                      <label><input type="radio" id="optradio" name="optradio" value="No">No</label>
                                    </div>
                                  </div>
                                </div> 

                            <script type="text/javascript">
                            $("input:radio[name='optradio']").click(function(){
                                if($(this).val() == "yes"){
                                    $("#ST").show();
                                    $("#SU").show();
                                    $("#PU").hide();
                                    $("#DPU").hide();
                                    $("#IR").show();
                                    $("#UVS").hide();
                                }
                                if($(this).val() == "No"){
                                    $("#ST").hide();
                                    $("#SU").hide();
                                    $("#UVS").hide();
                                    $("#PU").show();
                                    $("#DPU").show();
                                    $("#IR").hide();
                                    $('input[name="imgoptradio"]').prop('checked', false);
                                    $("#IMG").show();
                                }
                            });
                            </script>

                            <div class="row" id="ST" style="display:none;">
                                    <div class="col-xs-2">
                                        <label for="source_type">Source Type</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can chose the source type here. You can chose either ftp or http for ingestion" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                    <div class="col-xs-6">
                                        <select id="source_type" name="source_type" value=<%if @edit_media%><%=@edit_media.source_type%><%else%>""<%end%> class="form-control input-sm">
                                            <option value="FTP">FTP</option>
                                            <option value="HTTP">HTTP</option>
                                            <option value="uploadvideo">Upload Video</option>
                                            <!-- <option value="S3" disabled="disabled">S3</option> -->
                                        </select>
                                    </div>
                                    </div>

                                    <script type="text/javascript">

                                    $('#source_type').change(function() {
                                        var data = $(this).val();
                                        console.log("source_type data is::::"+data);
                                        if (data == "uploadvideo"){
                                            $("#UVS").show();
                                        }
                                        else{
                                            $("#UVS").hide();
                                        }

                                    });

                                    </script>

                                   <div class="row" id="UVS" style="display:none;">
                                   <div class="error_media" id="upvid"></div>
                                    <div class="col-xs-2">
                                        <label for="uploadvideo">Upload Video</label>
                                    </div>
                                    <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can provide the video to upload" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                    <div class="col-xs-6 upload-section small-image">
                                    <form enctype="multipart/form-data">
                                    <input type="file" id="upv" class="choose-file"  name="upv" style="display:inline;">
                                  <input type="button" class="btn btn-primary upload-image" id="upvb" name="upvb" value="Upload Video">
                                  <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_small.jpg" alt="image" style="width:251px;height:141px;">
                                  
                                  </form>
                                  <progress class="progress-bar-success progress-bar-striped" id="progressBar" value="0" max="100" style="width:252px;"></progress>
                                  <button type="button" id="removefile" class="btn btn-default btn-sm">
                                  <span class="glyphicon glyphicon-remove"></span> Cancel
                                  </button>
                                  <p id="loaded_n_total"></p>
                                  </div>
                                </div> 

                                    <div class="row" id="SU" style="display:none;">
                                    <div class="col-xs-2">
                                        <label for="source_url">Source URL</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the source URL for ingestion. Source video shall be pulled from this link for further processing" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                        <%if @edit_media%>
                                        <input type="text" class="form-control input-sm" id="source_url" name="source_url" value=<%=@edit_media.source_url%>>
                                        <%else%>
                                        <input type="text" class="form-control input-sm" id="source_url" name="source_url" onchange="urlcheck();">
                                        <%end%>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="error_media" id="supid"></div>
                                </div>

                                <div class="row" id="IR" style="display:none;" >  
                                  <div class="col-xs-2">
                                    <label>Do you want to Extract Images from a Video?</label>
                                  </div>
                                  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="Content" src="/assets/info_55x55.png" alt="dummy">
                                  </div>
                                  <div class="col-xs-6">
                                    <div class="radio">
                                      <label><input type="radio" id="imgoptradio" name="imgoptradio" value="yes">Yes</label>
                                      <label><input type="radio" id="imgoptradio" name="imgoptradio" value="no">No</label>
                                    </div>
                                  </div>
                                </div>

                                <script type="text/javascript">

                                     function urlcheck(){
                                        var url = document.getElementById("source_url").value;
                                        var urlspace = url.split(' ').join('');
                                        var httpscheck = url.startsWith("https");
                                        if (httpscheck == true){
                                            //alert("Soruce URL contains https protocol");
                                            $("#supid").text("Soruce URL supports only http protocol");
                                        }else{
                                            $("#supid").text(" ");
                                        }

                                        if (url.length != urlspace.length){
                                            $("#supid").text("Source URL contains spaces");
                                            }
                                            else{
                                                $("#supid").text(" ");
                                            }

                                     }

                                    $("input:radio[name='imgoptradio']").click(function(){
                                        console.log("here");
                                        var url = document.getElementById("source_url").value;
                                        var urlspace = url.split(' ').join('');
                                        var httpscheck = url.startsWith("https");
                                        if (httpscheck == true){
                                            //alert("Soruce URL contains https protocol");
                                            $("#supid").text("Soruce URL supports only http protocol");
                                        }else{
                                            $("#supid").text(" ");
                                        }

                                        if (url.length != urlspace.length){
                                            $("#supid").text("Source URL contains spaces");
                                            }
                                            else{
                                                $("#supid").text(" ");
                                            }
                                        console.log($(this).val());
                                        if($(this).val() == "yes"){
                                           $("#IMG").hide();
                                        }
                                        if($(this).val() == "no"){
                                            $("#IMG").show();
                                        }
                                    });
                                </script>
                            

                            <div class="row mb0" id="PU" style="display:none;">
                            <div class="error_media" id="playurl"></div>
                                  <div class="col-xs-12">
                                    <div class="row mb0">
                                    <div class="col-xs-2">
                                      <label>Play URL</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can add the play url in this tab. If the video already transcoded then the play url can be added here" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="form-group" id="custom-group">
                                      <div class="col-xs-6">
                                        <div class="constructor">
                                        <button class="btn btn-xs btn-info con_add_field_button">Add More URLs</button>
                                        <div class="row mb0 mr0">
                                          <div class="col-xs-3">
                                              <p>Source URL</p>
                                          </div>
                                          <div class="col-xs-3">
                                              <p>URL</p>
                                          </div>
                                          <!-- <div class="col-xs-3">
                                              <p>Width</p>
                                          </div>
                                          <div class="col-xs-3">
                                              <p>Height</p>
                                          </div> -->
                                        </div>
                                        <div class="row mb0 mr0"><div class="col-xs-3 variable-keys"><select class="form-control" name="url_types[]" readOnly="true"><option value="saranyu">Cinestaan</option><option value="youtube">YouTube</option><option value="daily_motion">Daily Motion</option></select></div><div class="col-xs-8"><input type="text" class="form-control" name="url_names[]"></div><!-- <div class="col-xs-3"><input type="number" class="form-control" name="widths[]"></div><div class="col-xs-3"><input type="number" class="form-control" name="heights[]"></div> --><a href="#" class="remove_field">Remove</a></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>              
                                  </div>
                                </div>

                            <div class="row" id="DPU" style="display:none;">
                                  <div class="col-xs-2">
                                  <label>Default Play URL</label>
                                  </div>
                                  <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can chose the default playurl. This is playurl that the applications shall be using for playback" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                    <div class="col-xs-6">
                                  <select class="form-control" name="default_url_type">
                                    <option value="saranyu">Cinestaan</option>
                                    <option value="youtube">YouTube</option>
                                    <option value="daily_motion">Daily Motion</option>
                                  </select>
                                  </div>
                                </div>


                            <!-- <div class="row catalog">
                                <div class="col-xs-2">
                                <label class="" for="catalog_id">Choose Catalog</label>
                                </div>
                                <div class="col-xs-1">
                                <img class="info_img" id="cimg" data-toggle="tooltip" title="You can chose the catalog that the item belongs to. The item shall be placed under the catalog" src="/assets/info_55x55.png" alt="dummy">
                                </div>
                                <div class="col-xs-6">
                                <select name="catalog_id" class="form-control input-sm" id="catalogdd">
                                <option value="">Select one from below</option>
                                <%#@catalog_list.each do |catalog|%>
                                <option id="<%#=@catalog["name"]%>" value="<%#=@catalog["name"]%>"><%#=@catalog["name"]%></option>
                                <%#end%>
                                </select> 
                                </div>
                            </div> -->

                            <div class="row">
                                    <div class="col-xs-2">
                                        <label>Catalog</label>
                                        </div>
                                        <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="The catalog that the item belongs to. The item shall be placed under the catalog" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                        <input type="text" class="form-control input-sm" id="catalog_name" name="catalog_name" placeholder="<%=@catalog["name"]%>" value="<%=@catalog["name"]%>" readonly>
                                        <input type=hidden id="catalog_id" name="catalog_id" value="<%=@catalog_id%>">
                                    </div>
                                </div>

                                <%if @catalog["theme"] == "show"%>
                                <%if @show_data.nil?%>
                                <div class="row">
                                    <div class="col-xs-2">
                                        <label>Show SubCategory</label>
                                        </div>
                                        <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="The Show SubCategory that the item belongs to. The item shall be placed under the Show SubCategory" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                        <input type="text" class="form-control input-sm" id="subcategory_show_name" name="subcategory_show_name" placeholder="<%=@subcategory_data["title"]%>" value="<%@subcategory_data["title"]%>" readonly>
                                        <input type=hidden id="Esubcategory_id" name="Esubcategory_id" value="<%=@subcategory_data["_id"]%>">
                                    </div>
                                </div>
                                <%else%>
                                <div class="row">
                                    <div class="col-xs-2">
                                        <label>Show</label>
                                        </div>
                                        <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="The Show that the item belongs to. The item shall be placed under the Show" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                        <input type="text" class="form-control input-sm" id="show_name" name="show_name" placeholder="<%=@show_data["title"]%>" value="<%@show_data["title"]%>" readonly>
                                        <input type=hidden id="Eshow_id" name="Eshow_id" value="<%=@show_data["_id"]%>">
                                    </div>
                                </div>
                                <%end%>
                                <%end%>

                                <!-- <div class="row" id="videotagoption" >
                                <div class="col-xs-2">
                                <label>This catalog has videolists do you want to add the item as a video list ?</label>
                              </div>
                              <div class="col-xs-1">
                                <img class="info_img" data-toggle="tooltip" title="You can provide an option if you would like to add video as an item or as a videolist. The option shall be provided only if the catalog chosen has a video list. Video Lists can be used to form special lists such as trailers, video_songs under a item" src="/assets/info_55x55.png" alt="dummy">
                              </div>
                              <div class="col-xs-6">
                                <div class="radio">
                                  <label><input type="radio" id="videotagflag" name="videotagflag" value="yes">Yes</label>
                                  <label><input type="radio" id="videotagflag" name="videotagflag" value="No">No</label>
                                </div>
                              </div>
                            </div> -->

                                <div class="tenantscontainer" id="tenantscontainer" style="display:none;">
                                <% if @catalog["custom_tags"].length == 0%>
                                <%else%>
                                <div class="row">
                                <div class='col-xs-2'>
                                <label>Add Custom Fields</label>
                                </div>
                                <input type="hidden" name="tags" value="<%=@catalog["custom_tags"]%>">
                                <div class='col-xs-1'>
                                <img class='info_img' data-toggle='tooltip' title='Content' src='/assets/info_55x55.png' alt='dummy'></div>
                                </div>
                                <%@catalog["custom_tags"].each do |custom_tag|%>
                                <div class="row">
                                <div class="col-xs-12"></div>
                                <div class="col-xs-2">
                                <label><%=custom_tag["tag"]%></label>
                                </div>
                                <div class="col-xs-1"></div>
                                <div class="col-xs-6">
                                <input type="text" class="form-control input-sm" name="<%=custom_tag["tag"]%>" onkeypress="return spacecheck(event);">
                                </div>
                                </div>
                                <%end%>
                                <%end%>
                                <div class="clear"></div>
                                <%@tenant_list.each do |tenant|%>
                                <div class='row'>
                                <div class='col-xs-2'>
                                <label>Tenant</label>
                                </div>
                                <div class='col-xs-1'></div>
                                <div class="col-xs-6">
                                <p class="mb0" name="tenants[]"><%=tenant["name"]%></p>
                                </div>
                                </div>

                                
                                <div class='row'>
                                <div class="error_media" id="appsid"></div>
                                <div class='col-xs-2'><label>Select Applications</label></div>
                                <div class='col-xs-1'><img class='info_img' data-toggle='tooltip' title='You can select set of applications that the item shall belong to. Item will be available only for the selected applications' src='/assets/info_55x55.png' alt='dummy'>
                                </div>
                                <div class='col-xs-6'>
                                <%tenant["applications"].each do |app|%>
                                <div class='checkbox'>
                                <label>
                                <input type="checkbox" name="apps[]" value="<%=app["a_id"]%>">
                                <%=app["a_name"]%></label>
                                </div>
                                <%end%>
                                </div>
                                </div>
                                
                                <div class='row'>
                                <div class="error_media" id="genresid"></div>
                                <div class='col-xs-2'><label>Select Genres</label></div>
                                <div class='col-xs-1'><img class='info_img' data-toggle='tooltip' title='You can select list of genres for the item' src='/assets/info_55x55.png' alt='dummy'></div>
                                <div class='col-xs-6'>
                                <%tenant["genres"].each do |genre|%>
                                <div class='checkbox'>
                                <label><input type="checkbox" name="genres[]" value="<%=genre%>"><%=genre%></label>
                                </div>
                                <%end%>
                                </div>
                                </div>

                                
                                <div class='row'>
                                <div class="error_media" id="languagesid"></div>
                                <div class='col-xs-2'><label>Select Languages</label></div>
                                <div class='col-xs-1'><img class='info_img' data-toggle='tooltip' title='You can select the language for the item' src='/assets/info_55x55.png' alt='dummy'></div>
                                <div class='col-xs-6'>
                                <select name='language[]' id='languagedd' class='form-control  input-sm'>
                                <option value=''>Select one from below</option>
                                <%tenant["languages"].each do |language|%>
                                <option id="language[]" value='<%=language%>'><%=language%></option>
                                <%end%>
                                </select>
                                </div>
                                </div>
                                <%end%>
                                </div>

                                <div class="row">
                                  <div class="error_media"  id="eaid"> </div>
                                  <div class="col-xs-2">
                                    <label for="asset_id">Asset ID</label>
                                  </div>
                                  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can add the asset ID here. This is a external ID that can be provided to the video" src="/assets/info_55x55.png" alt="dummy">
                                  </div>
                                  <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="asset_id" name="asset_id" value="">
                                  </div>
                                </div>  

                                <!-- <input type="hidden" id="videoflag" name="videoflag"> -->

                                <% if @catalog["videolist_tags"].nil? || @catalog["videolist_tags"].length == 0%>     
                                <script type="text/javascript">
                                // $(".tenantscontainer").show();
                                // $("#accesscontrol").show();
                                // var access = document.getElementById('accesscontrol');
                                // console.log(access);
                                // $("#videotagoption").hide();
                                </script>
                                <%else%>
                                <script type="text/javascript">
                                //Change in media flow
                                // $(".tenantscontainer").hide();
                                // $("#accesscontrol").hide();
                                // $("#videotagoption").show();

                                // $(".tenantscontainer").show();
                                // $("#accesscontrol").show();
                                // $("#videotagoption").hide();
                                // console.log("hide content");
                                </script>
                                
                            <script type="text/javascript">
                            // $("input:radio[name='videotagflag']").click(function(){
                            //                 if($(this).val() == "yes"){
                            //                 var videoflag = $(this).val();
                            //                 document.getElementById("videoflag").value= videoflag;
                            //                 console.log("videoflag"+videoflag);
                            //                 $(".VideoTagscontainer").show();
                            //                 $(".tenantscontainer").hide();
                            //                 $("#accesscontrol").hide();
                            //                 }

                            //                 if($(this).val() == "No"){
                            //                         var videoflag = $(this).val();
                            //                         document.getElementById("videoflag").value= videoflag;
                            //                         console.log("videoflag"+videoflag);
                            //                         $(".tenantscontainer").show();
                            //                         $("#accesscontrol").show();
                            //                         $(".VideoTagscontainer").hide();

                            //                     }
                            //                 });

                            </script>

                                <div class="row VideoTagscontainer" style="display:block;">
                                <div class="col-xs-2">
                                <label id="videotags" for="videotags">Select VideoList</label>
                                </div>
                                <div class="col-xs-1">
                                <img class="info_img" id="vimg" data-toggle="tooltip" title="You can select the videolist for the item" src="/assets/info_55x55.png" alt="dummy">
                                </div>
                                <div id="VideoTagscontainer" class="col-xs-6">
                                <select name='videotags' id='videotagsid' class='form-control  input-sm'>
                                <option value=''>Select one from below</option>
                                <%@catalog["videolist_tags"].each do |videotag|%>
                                <option id="videotags" value='<%=videotag%>'><%=videotag%></option>
                                <%end%>
                                </select>
                                </div>
                                </div>
                                <%end%>


                            <div id="tagscontainer" style="display :none">
                                  <label>Add Custom Fields</label>
                                </div>
                                
                                <!-- <label for="tenants[]">Tenant</label> -->
                                <div id="tenantcontainer" style="display:none;">
                                  "No tenants to display"
                                </div>

                                <div class="row" id="videotagoption" style="display :none">
                                <div class="col-xs-2">
                                <label>This catalog has videolists do you want to add the item as a video list ?</label>
                              </div>
                              <div class="col-xs-1">
                                <img class="info_img" data-toggle="tooltip" title="You can provide an option if you would like to add video as an item or as a videolist. The option shall be provided only if the catalog chosen has a video list. Video Lists can be used to form special lists such as trailers, video_songs under a item" src="/assets/info_55x55.png" alt="dummy">
                              </div>
                              <div class="col-xs-6">
                                <div class="radio">
                                  <label><input type="radio" id="videotagflag" name="videotagflag" value="yes" checked>Yes</label>
                                  <label><input type="radio" id="videotagflag" name="videotagflag" value="No">No</label>
                                </div>
                              </div>
                            </div>

                            <div class="row VideoTagscontainer">
                                    <div class="col-xs-2">
                                <label id="videotags" for="videotags" style="display:none;">Select VideoList</label>
                                </div>
                                <div class="col-xs-1">
                                        <img class="info_img" id="vimg" style="display:none;" data-toggle="tooltip" title="You can select the videolist for the item" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                    <div id="VideoTagscontainer" class="col-xs-6">
                                  <div></div>
                                </div>
                                </div>

                                <input type="hidden" id="videoflag" name="videoflag">
                                <input type="hidden" id="parent_media_id" name="parent_media_id" value="<%=@parent_media_id%>">


                            </div> 
                            <%end%>                           
                            <%if @bg.plan=="ott" || @bg.plan=="ott_saas" %>

                            <div class="tab-pane fade" id="metadata-tab">

                                <div class="row">
                                  <div class="col-xs-2">
                                    <label for="description">Description</label>
                                  </div>
                                  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can post the long description. You can select the html tags as needed. Applications shall use html tags to display the text appropriately" src="/assets/info_55x55.png" alt="dummy">
                                  </div>
                                  <div class="col-xs-6 ckedit">
                                  <textarea class="form-control ckeditor input-sm" rows="5" id="description" name="description" value=""></textarea>
                                  </div>
                                </div>

                                <!-- <div class="row">
                                  <div class="col-xs-2">
                                    <label for="short_description">Short Description</label>
                                  </div>
                                  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can post the short description. You can select the html tags as needed. Applications shall use html tags to display the text appropriately" src="/assets/info_55x55.png" alt="dummy">
                                  </div>
                                  <div class="col-xs-6 ckedit">
                                    <textarea class="form-control input-sm ckeditor" rows="5" id="short_description" name="short_description" value=""></textarea>
                                  </div>
                                </div> -->

                                <!-- <div class="row">
                                  <div class="col-xs-2">
                                    <label for="sequence_no">Enter Media Order</label>
                                  </div>
                                  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can select the order in which the item shall be displayed on the applicaitons. If not provided system will put the last added item first" src="/assets/info_55x55.png" alt="dummy">
                                  </div>
                                  <div class="col-xs-6">
                                    <input type="number" class="form-control input-sm" id="sequence_no" name="sequence_no" placeholder="" value="1" min="1">
                                  </div>
                                  <div class="clearfix"></div>
                                  <div class="error_media" id="esequence_no"></div>
                                </div> -->

                               

                                <!-- <div class="row">
                                  <div class="col-xs-2">
                                    <label for="keywords">Keywords</label>
                                  </div>
                                  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can provide the set of keywords for the video. These keywords shall be indexed at the search engine" src="/assets/info_55x55.png" alt="dummy">
                                  </div>
                                  <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="keywords" name="keywords" value="">
                                  </div>
                                </div> -->      
                
                                <div class="row">
                                  <div class="col-xs-2">
								<label for="duration">Duration</label>
                                </div>
                                <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can provide the duration of the video. This shall be used by applications to display the duration for the video" src="/assets/info_55x55.png" alt="dummy">
                                  </div>
                                  <div class="col-xs-6">
                                <input type="text" class="form-control input-sm" id="duration_string" name="duration_string" placeholder="" value="">    
                                 </div>
                                </div>   

                                <div class="row" style="display: none;">
                                    <div class="error_media"  id="pdid"> </div>
                                    <div class="col-xs-2">
                                        <label for="published_date">Publish Date</label>
                                        </div>
                                        <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the publish date associated for the video." src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                        <input  type="text" class="form-control input-sm" id="published_date" name="published_date" placeholder="[YYYY/MM/DD]">
                                    </div>
                                </div> 

                                <div class="row" style="display: none;">
                                    <div class="error_media"  id="pdid"> </div>
                                    <div class="col-xs-2">
                                        <label for="unpublished_date">Unpublish Date</label>
                                        </div>
                                        <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the unpublish date associated for the video." src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                        <input  type="text" class="form-control input-sm" id="unpublished_date" name="unpublished_date" placeholder="[YYYY/MM/DD]">
                                    </div>
                                </div>

                                <!-- <div class="row">
                                  <div class="col-xs-2">                     
                                <label for="released_date">Release Date</label>
                                </div>
                                <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can provide the release date associated for the video." src="/assets/info_55x55.png" alt="dummy">
                                  </div>
                                  <div class="col-xs-6">
                                <input  type="text" class="form-control" id="release_date_string" name="release_date_string" placeholder="[YYYY/MM/DD]" >
                                </div>
                                </div>

                                <div class="row">
                                    <div class="error_media"  id="pdid"> </div>
                                    <div class="col-xs-2">
                                        <label for="published_date">Publish Date</label>
                                        </div>
                                        <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the publish date associated for the video." src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                        <input  type="text" class="form-control input-sm" id="published_date" name="published_date" placeholder="[YYYY/MM/DD]">
                                    </div>
                                </div> 

                                <div class="row">
                                    <div class="error_media"  id="pdid"> </div>
                                    <div class="col-xs-2">
                                        <label for="unpublished_date">Unpublish Date</label>
                                        </div>
                                        <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the unpublish date associated for the video." src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                        <input  type="text" class="form-control input-sm" id="unpublished_date" name="unpublished_date" placeholder="[YYYY/MM/DD]">
                                    </div>
                                </div>


                                <div class="row">
                                  <div class="col-xs-2">
                                    <label for="rating">Rating</label>
                                  </div>
                                  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can provide the curated rating for the video. " src="/assets/info_55x55.png" alt="dummy">
                                  </div>
                                  <div class="col-xs-6">                                    
                                    <select name="rating" id="rating" class="form-control input-sm">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                  </div>
                                </div>-->

                                <!-- Start of image div -->
                                <div class="row" id="IMG">

                                <div class="row">
                                  <div class="col-xs-2">
                                    <label for="featured_image">Featured Image</label>
                                  </div>
                                  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can provide the link to featured image" src="/assets/info_55x55.png" alt="dummy">
                                  </div>

                                  <div class="col-xs-6">
                                  <form enctype="multipart/form-data">
                                  <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_large.jpg" id= "fimgsrc" class="" alt="image" style="width:251px;height:141px;">
                                  <div class="upload-section">
                                  <input type="file" id="fimg"  class="choose-file" name="fimg" accept="image/*" style="display:inline;">
                                  <input type="button" class="btn btn-primary upload-image" id="fimgb" name="fimgb" value="Upload Image">
                                  (1920px X 1080px)-(png,jpeg,gif)
                                  </div>
                                  </form>
                                  </div>
                                </div>
                                 <input type="hidden" id= "featured_image" name="featured_image">

                

                                <div class="row">
                                  <div class="col-xs-2">
                                    <label for="l_listing_image">Landscape Image</label>
                                  </div>
                                  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can provide the link to Landscape Image" src="/assets/info_55x55.png" alt="dummy">
                                  </div>

                                  <div class="col-xs-6">
                                  <form enctype="multipart/form-data">
                                  <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_medium.jpg" id= "limgsrc" alt="image" style="width:251px;height:141px;">
                                  <div class="upload-section">
                                  <input type="file" id="limg" class="choose-file"  name="limg" accept="image/*" style="display:inline;">
                                  <input type="button" class="btn btn-primary upload-image" id="limgb" name="limgb" value="Upload Image">
                                  (360px X 203px)-(png,jpeg,gif)
                                  </div>
                                  </form>
                                  </div>

                                </div>
                                <input type="hidden" id= "l_listing_image" name="l_listing_image">

                                <div class="row">
                                  <div class="col-xs-2">
                                    <label for="p_listing_image">Small Image</label>
                                  </div>
                                  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can provide the link to small image" src="/assets/info_55x55.png" alt="dummy">
                                  </div>

                                  <div class="col-xs-6">
                                  <form enctype="multipart/form-data">
                                  <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_small.jpg" id= "pimgsrc" alt="image" style="width:251px;height:141px;">
                                  <div class="upload-section">
                                  <input type="file" id="pimg" class="choose-file"  name="pimg" accept="image/*" style="display:inline;">
                                  <input type="button" class="btn btn-primary upload-image" id="pimgb" name="pimgb" value="Upload Image">
                                  (251px X 141px)-(png,jpeg,gif)
                                  </div>
                                  </form>
                                  </div>

                                </div>    
                                <input type="hidden" id= "p_listing_image" name="p_listing_image">

                                </div>
                                <!-- End of image div -->

                                <div class="row">
                                    <div class="col-xs-2">
                                        <label>Change status</label>
                                    </div>    
                                    <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                       

                                    <div class="col-xs-6">
                                    <select id="status" name="status" class="form-control input-sm">
                                    <option value="edit">Edit</option>    
                                    <option value="published">Publish</option>
                                    </select>    
                                    </div>
                                </div>  
                                <!-- End of status -->

                                <div id = "accesscontrol" style="display:none;">
                                <div class="row">
                                <div class="col-xs-2">
                                <label>Content Control</label>
                                </div>
                                </div>
                                <% if @accesscontrol.length == 0 %>
                                <%else%>
                                <%@accesscontrol.group_by { |d| d["name"] }.each do |k,v|%>
                                <div class="row">
                                <div class="col-xs-2"><label>Tenant</label></div>
                                <div class="col-xs-1"></div>
                                <div class="col-xs-6"><%=k%></div>
                                </div>

                                <div class="row">
                                <div class="col-xs-2"><label>Region</label></div>
                                <div class="col-xs-1"></div>
                                <div class="col-xs-6">
                                <input type="text" class="form-control input-sm" id="region[]" name="region[]" value="IN" >
                                </div>
                                </div>

                                <div class="row">
                                <div class="col-xs-2"><label>Select Content Control</label></div>
                                <div class="col-xs-1"></div>
                                <div class='col-xs-6'>
                                <select name='access_control_id[]' id='access_control_id' class='form-control  input-sm'>
                                <%v.each do |e|%>
                                <option id="access_control_id[]" value='<%=e["content_id"]%>'><%=e["title"]%></option>
                                <%end%>
                                </select>
                                </div>
                                </div>
                                <%end%>
                                <%end%>

                                </div>

                            </div>

                            <!-- End of Metadata Tab -->
                            <div class="tab-pane fade" id="people-tab">
                              <div class="row">
                                <div class="col-xs-12">
                                    <% if !@people.blank? %>
                                    <div style="float:left;">
                                    <label>Select Person</label>
                                    </div>
                                    <br>
                                    <div class="col-xs-12"></div>
                                      <% @people.each do |person| %>
                                        <div >
                                          <input class="givemorefields" type="checkbox" name="people[]" value="<%= person['person_id']%>-<%= person["catalog_id"]%>">
                                          <%= person["title"] %>
                                        </div>
                                      <br>
                                      <% end %>
                                    <% else %>
                                      <label>Please Add People to Catalog</label>  
                                    <% end %>  
                                </div>
                              </div>
                            </div>

                             <!-- <div class="tab-pane fade" id="accesscontrol-tab">
                             <div class="row" >
                                <div class="col-xs-12" id = "accesscontrol">
                                </div>
                                </div>
                            </div> -->

                            <%end%>


                            <%if @edit_media%>
                            <br><button type="button" class="btn btn-primary" id="submitUpdateMediaForm">Update Media</button>
                            <%else%>
                            <br><button type="button" class="btn btn-primary" id="submitMediaForm">Add Video List</button>
                            <%end%>
                        </div>

                            <% if @catalog["videolist_tags"].nil? || @catalog["videolist_tags"].length == 0%>     
                            <script type="text/javascript">
                            $(".tenantscontainer").hide();
                            $("#accesscontrol").hide();
                            var access = document.getElementById('accesscontrol');
                            console.log(access);
                            $("#videotagoption").hide();
                            </script>
                            <%else%>
                            <script type="text/javascript">
                            $(".tenantscontainer").hide();
                            $("#accesscontrol").hide();
                            $("#videotagoption").hide();
                            console.log("hide content");

                            document.getElementById("videoflag").value= "yes";
                           
                            $("input:radio[name='videotagflag']").click(function(){
                                        if($(this).val() == "yes"){
                                        var videoflag = $(this).val();
                                        document.getElementById("videoflag").value= videoflag;
                                        console.log("videoflag"+videoflag);
                                        $(".VideoTagscontainer").show();
                                        $(".tenantscontainer").hide();
                                        $("#accesscontrol").hide();
                                        }

                                        if($(this).val() == "No"){
                                                var videoflag = $(this).val();
                                                document.getElementById("videoflag").value= videoflag;
                                                console.log("videoflag"+videoflag);
                                                $(".tenantscontainer").show();
                                                $("#accesscontrol").show();
                                                $(".VideoTagscontainer").hide();

                                            }
                                        });

                            </script>
                            <%end%>

                            

                    </form>

                </div>
            </div><!--/.panel-->
        </div>
    </div>
</div>
<div id="view_people"></div>

<%= render :partial => "media/media_validations" %>
