
<div class="modal-body" id="config_details">
<div class="panel panel-default">
    <div class="panel-body tabs">
        <div class="panel-info">
            <div id="media-primary">
                <div class="container-fluid">
                
                <form class="form-horizontal" id="configForm" role="form" >
                	<% if @config_details["params_hash2"].has_key? "cms_params" %>
		            <% cms_params = @config_details["params_hash2"]["cms_params"]%>
		            
	              	<div class="row">
		                <div class="col-xs-2">
		                  <label for="template">Template</label>
		                </div>

		                <div class="col-xs-1">
		                  <img class="info_img" data-toggle="tooltip" title="" src="/assets/info_55x55.png" alt="dummy">
		                </div>
		                <div class="col-xs-6">
		                  <input type="text" id="template" name="template" placeholder="" value="<%= cms_params["template"]%>" readonly>
		                </div>
	              	</div> 

	              	<div class="row">
		                <div class="col-xs-2">
		                  <label for="color">Color</label>
		                </div>

		                <div class="col-xs-1">
		                  <img class="info_img" data-toggle="tooltip" title="" src="/assets/info_55x55.png" alt="dummy">
		                </div>
		                <div class="col-xs-6">
		                  <input type="text" class="form-control input-sm" style="width:26%" id="color" name="color" placeholder="" value="<%= cms_params["color"]%>">
		                </div>
	              	</div> 

		            <div class="row">
		                <div class="col-xs-2">
		                  <label for="text">Text</label>
		                </div>

		                <div class="col-xs-1">
		                  <img class="info_img" data-toggle="tooltip" title="" src="/assets/info_55x55.png" alt="dummy">
		                </div>
		                <div class="col-xs-6">
		                  <input type="text" id="text" name="text" class="form-control input-sm" style="width:26%" placeholder="" value="<%= cms_params["text"]%>">
		                </div>
		            </div>

		            <input type="hidden" id="cms_config" name="cms_config" value="<%= @config_details %>" >
		            <input type="hidden" id="tenant" name="tenant" value="<%= @tenant %>" >


		            <div class="row">
		                <div class="col-xs-2">
		                  <label for="logo">Logo</label>
		                </div>

		                <div class="col-xs-1">
		                  <img class="info_img" data-toggle="tooltip" title="" src="/assets/info_55x55.png" alt="dummy">
		                </div>
		                
		                <div class="col-xs-6 ">
		                  <!-- <input type="text" id="logo" name="logo" placeholder="" value="<%= cms_params["logo"]%>"> -->
		                  <form enctype="multipart/form-data">
	                          <div class="upload-section">
	                           <% if (current_user.roles.length == 1) && (current_user.roles[0] == "media_viewer")%>
				 				<% else %>
	                          <input type="file" accept=".png,.jpeg,.gif" id="fimg"  class="choose-file" name="fimg" style="display:inline;">
	                          <input type="button" class="btn btn-primary upload-image" id="fimgb" name="fimgb" value="Upload Image">
	                          <% end %>
	                          <% if !cms_params["logo"].blank? %>
	                          	<img src="<%= cms_params['logo'] %>" id= "fimgsrc" class="s3_image" alt="image" >
	                          	<input type="hidden" id= "logo" name="logo" value="<%= cms_params['logo'] %>">
	                          <% else %>	
	                            <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/logo100x60.png" id= "fimgsrc" class="s3_image" alt="image" >
	                             <input type="hidden" id= "logo" name="logo" value="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/logo100x60.png"> 
                         	  <% end %>
                         	 
                         	  </div>
                         	  (100px X 60px)-(png,jpeg,gif)
                          </form>
		                </div>

		                <!-- <div class="col-xs-6">
                          <form enctype="multipart/form-data">
	                          <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_large.jpg" id= "fimgsrc" class="" alt="image" style="width:251px;height:141px;">
	                          <div class="upload-section">
	                          <input type="file" accept=".png,.jpeg,.gif" id="fimg"  class="choose-file" name="fimg" style="display:inline;">
	                          <input type="button" class="btn btn-primary upload-image" id="fimgb" name="fimgb" value="Upload Image">
	                          (100px X 60px)-(png,jpeg,gif)
	                      	  </div>
                      	  </form>
                        </div> -->
	              	</div>

		            
                    <br>
                     <% if (current_user.roles.length == 1) && (current_user.roles[0] == "media_viewer")%>
				 <% else %>
                    <button type="button" class="btn btn-primary" id="submitmessagesForm"> Update Configuration</button><% end %>
                    <%else%>
                      <div><h5>Configuration is not available at this moment. Please contact admin!</h5></div>
                    <%end%>
                    
                </form>    
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div id="config_details"></div>

<script type="text/javascript">


(function($,W,D) {
    var JQUERY4U = {};
    JQUERY4U.UTIL =
    {
        setupFormValidation: function()
        {
            //form validation rules
            $("#configForm").validate({

                errorPlacement: function (error, element) {
                    error.css({'float':'left','color':'red','text-align':'left'});
                    error.addClass("error")
                    error.insertAfter(element);
                },
                rules: {
                    color: "required",
                    'text': "required"
                },
                messages: {
                    color: "THIS FIELD IS MANDATORY",
                    'text': "THIS FIELD IS MANDATORY"
                },
                submitHandler: function(form) {
                    //form.submit();
                     return false;
                }
            });
            
        }
    }

    //when the dom has loaded setup form validation rules
    $(D).ready(function($) {
        JQUERY4U.UTIL.setupFormValidation();
    });

})(jQuery, window, document);

	$("#fimgb").click(function(){
	    var ffileSelect = document.getElementById('fimg');

	    	
	    var media_title = "<%= @tenant['name'] %>";

	    // var media_title = "abc";
	    var ffiles = ffileSelect.files;
	    console.log("files is::"+ffiles);
	    //console.log("ffiles is::"+ffiles[0].type);

	    if (ffiles.length == 0)
	    {
	        alert("Please Choose Image");
	    }
	    else
	    {
	    if (media_title == "" || media_title == null)
	    {
	        //alert("Please Provide Title!");
	        $("#etid").text("Please Provide Title!");
	    }
	    else
	    {
	        if (ffiles[0].type == "image/png" || ffiles[0].type == "image/jpeg" || ffiles[0].type == "image/gif")
	        {
	        var fwidth = 100;
	        var fheight = 60;
	        var imgstatus = imagevalidation(ffiles,fwidth,fheight,media_title);
	        }
	        else
	        {
	        alert("Upload Image Files Only");
	        }
	    }
	    }
	});


	function imagevalidation(file,wid,hei,media_title){
    var upimg = new Image();
    upimg.onload = function () 
    {            
     if (this.width < wid && this.height < hei){
        alert("Resolution must be" +wid+"X"+hei+"px format");
    }
    else if (this.width > wid && this.height > hei){
        alert("Resolution must be" +wid+"X"+hei+"px format");
    }else{
        console.log(this.width+" : "+this.height);

    if (file[0].size > 100000){
        alert("Please Upload Image of Size less than 100KB");
    }
    else{
        console.log("files size is:::::"+file[0].size);

        var key = "<%=@signature[:key]%>"
        var awsAccessKeyId = "<%=@signature[:access_key]%>"
        var acl = "<%=@signature[:acl]%>"
        var policy = "<%=@signature[:policy]%>"
        var signature = "<%=@signature[:signature]%>"

        uploadImage(key, awsAccessKeyId, acl, policy, signature, file, wid, hei,media_title)
    }
    }
    }
    upimg.src = URL.createObjectURL(file[0]);  
	}


	function uploadImage(key, awsAccessKeyId, acl, policy, signature, file, wid, hei,media_title) {

      // var media_title = "abc";
      media_title = media_title.replace(/[^a-zA-Z0-9\s]/g,"");
      media_title = media_title.toLowerCase();
      media_title = media_title.replace(/\s/g,'-');
      var bucket = "<%=@signature[:bucket]%>"
      var fd = new FormData();

      var imgname = file[0].name;
      var imgindex = imgname.lastIndexOf('.');
      var imgext = imgname.substring(imgindex);
      //fd.append('key', key+file[0].name);
      fd.append('key', key+media_title+"-"+wid+"x"+hei+imgext);
      fd.append('AWSAccessKeyId', awsAccessKeyId);
      fd.append('acl', acl);
      //fd.append('success_action_redirect', success_action_redirect);
      fd.append('policy', policy);
      fd.append('signature', signature);  
      fd.append('Content-Type', 'image/');
      fd.append("file", file[0]);

      $.ajax({
        type: 'POST',
        url: 'http://tcr-cf-test.s3.amazonaws.com/',
        processData: false,
        contentType: false,
        data: fd,
        success: function(response) {
            console.log("response"+response);
            //https://s3-ap-southeast-1.amazonaws.com/tcr-cf-test/appbg/Movie/20160324125635/images/test.jpg
            //imageurl = "https://s3-ap-southeast-1.amazonaws.com/<%#=@signature[:bucket]%>/"+key+files[0].name
            imageurl = "https://s3-ap-southeast-1.amazonaws.com/"+bucket+"/"+key+media_title+"-"+wid+"x"+hei+imgext
            console.log("imageurl is===="+imageurl);
            document.getElementById("fimgsrc").src = imageurl+"?"+Math.random();
            document.getElementById("logo").value = imageurl;
          
          alert('Success uploading Image');
        },
        error: function (response) {
            console.log(response);
          alert('Problem uploading Image');
        }
  	});
	}



$('#submitmessagesForm').click(function(){   

	var status = $('#configForm').valid();
	if (status == true) {
		var data = $('#configForm').serialize(); 
		pbar=false;
		// alert(data);
		$.ajax({
		    url: '/messages/update_config',
		    type: 'post',
		    data: data,
		    dataType: 'json',
		    timeout: 120000,
		    error: function(e,t){
		            if (t == "timeout"){
		                    alert("Timed Out Wait for Response");
		            }
		            else{
		                    alert(JSON.parse(e.responseText)["error"]);
		            }
		    },
		    success: function(d){
		            // window.location = "/";
		            alert("Configuration got updated successfuly!!");
		    }
		});
	}	
});	

</script>

