<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
		<div class="row">
				<ol class="breadcrumb">
						<li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
						<li>Message</li>
						<li class="active">Edit Message</li>
				</ol>
		</div>
    <div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<form class="form-horizontal" id="messagesForm" role="form">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-2">
									<label for="title">Title</label>
									</div>
									<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
									<input type="text" class="form-control input-sm" id="title" name="title" value="<%=@message_edit['title']%>" >
								</div>
							</div> 

                            <input type="hidden" name="platform_note" value="<%=@message_edit['title']%>">
                            <input type="hidden" name="text_message" value="<%=@message_edit['title']%>">


                            <!-- <div class="row">
                                <div class="col-xs-2">
                                    <label for="description">Description</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="platform_note" name="platform_note" placeholder=""  value="<%#=@message_edit['platform_note']%>" >
                                </div>
                            </div>  -->

                            <!-- <div class="row">
                                <div class="col-xs-2">
                                    <label for="message">Message</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="text_message" name="text_message" placeholder=""  value="<%#=@message_edit['text_message']%>" >
                                </div>
                            </div>  -->


                            <%if @message_edit['type']  == "static_page" %>

                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="display_title">Display Title</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="display_title" name="display_title" placeholder=""  value="<%=@message_edit['params_hash2']['static_page']['display_title']%>" >
                                </div>
                            </div>

                            <div class="row">
                                    <div class="col-xs-2">
                                        <label>Description</label>
                                        </div>
                                        <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6 ckedit">
                                        <textarea class="form-control input-sm ckeditor" rows="5" id="description" name="description" ><%= @message_edit['params_hash2']['static_page']['description']%></textarea>
                                    </div> 
                                </div>

                                <% end %>

                                <%if @message_edit['type']  == "template" %>

                                <div class="row">
                                <div class="col-xs-2">
                                    <label for="subject">Subject</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="subject" name="subject" placeholder=""  value="<%=@message_edit['params_hash2']['template_params']['subject']%>" >
                                </div>
                            </div>

                            <div class="row">
                                    <div class="col-xs-2">
                                        <label>Description</label>
                                        </div>
                                        <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6 ckedit">
                                        <textarea class="form-control input-sm ckeditor" rows="5" id="body" name="body" ><%= @message_edit['params_hash2']['template_params']['body']%></textarea>
                                    </div> 
                                </div>
                                <%end%>

                            <%if @message_edit['type']  == "app_message" %>
                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="app_message">APP Message</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="title" name="message" placeholder=""  value="<%=@message_edit['params_hash2']['app_message_params']['message']%>" >
                                </div>
                            </div>
                            <%end%>
							

                                 </div> 
                                 <input type="hidden" id="type" name="type" value="<%=@message_edit['type']%>">
                        <input type="hidden" id="platform_code" name="platform_code" value="<%=@message_edit['platform_code']%>">

                        <br><button type="button" class="btn btn-primary" id="submitmessagesForm"> Update Message</button>
                                 </div>
							</div>
						</div>

                        
					</form>
				</div>
			</div>
		</div>
	</div>
</div>




<script type="text/javascript">

$('#submitmessagesForm').click(function(){
                var status = true
                console.log(status);

                if ( status == true) {
                var data = $('#messagesForm').serialize();
                $.ajax({
                        url: '/messages/?content_id=<%=@message_edit["content_id"]%>&tenant_id=<%=@tid%>&method=update',
                        data: data,
                        type: 'put',
                        dataType: 'json',
                        timeout: 120000,
                        error: function(e,t){
                                if (t == "timeout"){
                                        alert("Timed Out Wait for Response")
                                }
                                else{
                                        alert(JSON.parse(e.responseText)["error"]);
                                }
                        },
                        success: function(d){
                                //window.location = "/tenants/view_tenant/<%=@tid%>"
                                window.location = "/messages/view_all"
                        }
                });
                }
        });

$(document).ready(function(){
    $.validator.setDefaults({ ignore: ":hidden:not(.chosen-select, .ckeditor)" });
    //deal with copying the ckeditor text into the actual textarea
    CKEDITOR.on('instanceReady', function () {
        $.each(CKEDITOR.instances, function (instance) {
            CKEDITOR.instances[instance].document.on("keyup", CK_jQ);
            CKEDITOR.instances[instance].document.on("paste", CK_jQ);
            CKEDITOR.instances[instance].document.on("keypress", CK_jQ);
            CKEDITOR.instances[instance].document.on("blur", CK_jQ);
            CKEDITOR.instances[instance].document.on("change", CK_jQ);
        });
    });

    function CK_jQ() {
        for (instance in CKEDITOR.instances) {
            CKEDITOR.instances[instance].updateElement();
        }
    }
});

</script>