<div class='row'>
  <div class="error_media" id="episodetypeid"></div>
    <div class='col-xs-2'>
      <label>Select Episode Type</label>
    </div>
    <div class='col-xs-1'>
      <img class='info_img' data-toggle='tooltip' title="Episode Type Tag(s)" src='/assets/info_55x55.png' alt='dummy'>
    </div>
    <div class='col-xs-6'>
      <% if params[:action] == "edit" %>
        <% episodetypes = @show_resp["episodetype_tags"] %>
          <% @catalog["episodetype_tags"].each do |ett|%>
            <div class='checkbox'>
              <label>
                <% if episodetypes.include?ett %>
                  <input type="checkbox" id="episodetype_tags" name="episodetype_tags[]" value="<%= ett['name']%>-<%= ett['display_title']%>" checked>
                    <%= ett['display_title'].camelcase %>
                <% else %>
                  <input type="checkbox" id="episodetype_tags" name="episodetype_tags[]" value="<%= ett['name']%>-<%= ett['display_title']%>">
                  <%= ett['display_title'].camelcase %>
                <% end %>
              </label>
            </div>
          <% end %>
      <% else %>
        <% @catalog["episodetype_tags"].each do |ett|%>
          <div class='checkbox'>
            <label>
              <input type="checkbox" id="episodetype_tags" name="episodetype_tags[]" value="<%= ett['name']%>-<%= ett['display_title']%>">
              <%= ett['display_title'].camelcase %>
            </label>
          </div>
        <% end %>
    <%end%>
  </div>
</div>