<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li>People</li>
            <li class="active">Edit Person</li>
        </ol>
    </div><!--/.row-->
    <!-- <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Edit Person</h1>
        </div>
    </div> --><!--/.row-->
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" id="PersonForm" role="form">
                        <div class="container-fluid">
                             <div class="row">
                                <div class="col-xs-2">
                                    <label for="name">Name</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="title" name="title" placeholder="" value="<%= @person_info['title']%>">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="catalog">Catalog Name</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="catalog_name" name="catalog_name" placeholder="" value="<%= @catalog_name %>" readonly>
                                    <input type="hidden" name="catalog_id" id="name" value="<%= @person_info["catalog_id"] %>" >
                                </div>
                            </div>

                            <div class="row">
                                    <% @catalog_data.each do |data| %>
                                        <% p data %>
                                        <div class="col-xs-2"><label>Tenant</label>
                                        </div>
                                        <div class="col-xs-1"></div>
                                        <div class="col-xs-6"><p class="mb0"><%= data["tenant_name"] %></p></div>
                                        <div class="clear"></div>
                                        </div>
                                         <div class="row">
                                        <div class="col-xs-2">
                                                <label>Select Applications</label>
                                                </div>
                                                <div class="col-xs-1">
                                                </div>
                                                <div class="col-xs-6">
                                                <div class="checkbox"><label id="app_label"></label><div class="clear"></div>
                                        <% data["apps"].each do |app| %>
                                            <%p app %><label class="checkboxapp">
                                            <% if @person_info["cms_apps"].include? app['app_id'] %>
                                                <input type="checkbox" name="apps[]" value="<%= app["app_id"]%>" checked >
                                                <%= app["app_name"]%>
                                            <% else %>
                                                <input type="checkbox" name="apps[]" value="<%= app["app_id"]%>" >
                                                <%= app["app_name"]%>
                                            <% end %></label>
                                        <% end %>
                                        </div>
                                        </div>
                                    <% end %>
                            </div>

                                
                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="name">Description</label>
                                    </div>
                                    <div class="col-xs-1">
                                                 <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                                </div>
                                                <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="description" name="description" value="<%= @person_info["description"]%>">
                                </div>
                            </div>     

                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="p_listing_image">Portrait Image</label>
                                    </div>
                                    <div class="col-xs-1">
                                                 <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                                </div>
                                                <div class="col-xs-6">
                                                 <% if @person_info["thumbnails"]["p_small"]["url"].blank? %>
                                                 <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_large.jpg" id= "cpimgsrc" alt="image" class="s3_image" style="background-color: dimgrey;">
                        <input type="hidden" id= "catalog_p_listing_image" name="catalog_p_listing_image">
                        <% else %>
                                                <img src="<%= @person_info["thumbnails"]["p_small"]["url"]%>" id= "cpimgsrc" alt="image" class="s3_image"  style="background-color: dimgrey;">
                                                <input type="hidden" id= "catalog_p_listing_image" name="catalog_p_listing_image" value="<%=@person_info["thumbnails"]["p_small"]["url"]%>"><% end %>
                                    <!-- <input type="text" class="form-control input-sm" id="p_listing_image" name="p_listing_image" placeholder="" value="<%#= @person_info["thumbnails"]["p_small"]["url"] %>"> -->
                                    <div class="upload-section">
          <input type="file" id="cpimg" class="choose-file"  name="cpimg" style="display:inline;">
          <input type="button" class="btn btn-primary upload-image" id="cpimgb" name="cpimgb" value="Upload Image">
          </div>

         
                                </div>
                            </div>        

                             <div class="row">
                                <div class="col-xs-2">
                                   <label for="status">Status</label>
                                   </div>
                                   <div class="col-xs-1">
                                                 <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                                </div>
                                                <div class="col-xs-6">
                                   <select name="status" id="status" class="form-control input-sm">
                                        <%if @person_info["status"] == "published" %>
                                          <option value="published">Available</option>
                                          <option value="edit">Unavailable</option>
                                        <% else %>
                                          <option value="edit">Unavailable</option>
                                          <option value="published">Available</option>
                                        <% end %>
                                    </select>
                                </div>
                            </div>
<!--Fields for content owner starts -->
        <div class="mlr-15 row">
        <%#= @catalog.inspect%>
                                    <div class="col-xs-2">
                                        <label>Custom Fields</label><br/>
                                    </div>

                                        <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>

                                      <div class="col-xs-6">
                                        <br>
                                        <% if !@catalog["custom_tags"].blank? %>
                                        <% @catalog["custom_tags"].each do |tag_hash| %>
                                        <label style="float: left;"><%= tag_hash["tag"] %></label>
                                        <% if @person_info["custom_fields"].has_key? tag_hash["tag"] %>
                                        <% tag_name = tag_hash["tag"] %>
                                        <% if tag_name == "currency"%>
                                        <%#= @person_info["custom_fields"][tag_name]%>
                                        <select name="<%= tag_hash["tag"] %>" id="" class="form-control input-sm">
                                        <%currency = ["INR","CAD","USD"] %>
                                        <option value="" name="">Select Currency</option>
                                        <%currency.each do |i| %>
                                         <%if @person_info["custom_fields"][tag_name]  == i%>
                                       <option selected="selected" value="<%=i%>" name="<%=i%>"><%=i%></option>
                                       <% else %>
                                       <option value="<%=i%>" name="<%=i%>"><%=i%></option>
                                       <% end %><% end %>
                                    </select>
                                        <% else %>
                                        <input type="text" class="form-control input-sm" id="<%= tag_hash["tag"] == "date of partnership" ? "date_of_partnership" : "" %>" name="<%= tag_hash["tag"] %>" placeholder="<%if @person_info["custom_fields"][tag_name].kind_of? Array%><%= @person_info["custom_fields"][tag_name].join(',') %><% else %><%= @person_info["custom_fields"][tag_name] %><% end %>" value="<% if @person_info["custom_fields"][tag_name].kind_of?Array %><%= @person_info["custom_fields"][tag_name].join(',') %><% else %><%= @person_info["custom_fields"][tag_name] %><% end %>">
                                        <% end %>
                                        <% else %> 
                                        <input type="text" id="<%= tag_hash["tag"] == "date of partnership" ? "date_of_partnership" : "" %>" class="form-control input-sm"  name="<%= tag_hash["tag"]%>" value=""> 
                                        <% end %>
                                        <% end %>
                                        <input type="hidden" name="tags" value="<%= @catalog["custom_tags"]%>">
                                        <% end %>
                                    </div>
                                    </div>
                                    <div class="clear"></div>
<div class="row">
    <div class="col-xs-2">
        <label for="address">Address
</label>
        </div>
           <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the address for the person. This shall be displayed on the applicaitons where ever applicable" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
      <div class="col-xs-6">
        <textarea class="form-control input-sm" rows="5" id="address" name="address" placeholder="" value="<%= @person_info['address']%>"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        <label for="city">City
</label>
        </div>
           <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the city for the person. This shall be displayed on the applicaitons where ever applicable" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
          <div class="col-xs-6">
        <input type="text" class="form-control input-sm" id="city" name="city" value="<%= @person_info['city']%>">
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        <label for="state">State
</label>
        </div>
           <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the state for the person. This shall be displayed on the applicaitons where ever applicable" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
          <div class="col-xs-6">
        <input type="text" class="form-control input-sm" id="state" name="state" value="<%= @person_info['state']%>">
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        <label for="country">Country
</label>
        </div>
           <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the country for the person. This shall be displayed on the applicaitons where ever applicable" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
          <div class="col-xs-6">
        <input type="text" class="form-control input-sm" id="country" name="country" value="<%= @person_info['country']%>">
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        <label for="pin_code">Pin Code

</label>
        </div>
           <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the pincode for the person. This shall be displayed on the applicaitons where ever applicable" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
          <div class="col-xs-6">
        <input type="text" class="form-control input-sm" id="pin_code" name="pin_code" value="<%= @person_info['pin_code']%>">
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        <label for="telephone_number">Telephone Number

</label>
        </div>
           <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the telephone number for the person. This shall be displayed on the applicaitons where ever applicable" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
          <div class="col-xs-6">
        <input type="text" class="form-control input-sm" id="telephone_number" name="telephone_number" value="<%= @person_info['telephone_number']%>">
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        <label for="mg_paid">Advance Paid

</label>
        </div>
           <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
          <div class="col-xs-6">
        <input type="text" class="form-control input-sm" id="mg_paid" name="mg_paid" value="<%= @person_info['mg_paid']%>">
    </div>
</div>
<!--Fields for content owner ends -->
                        </div>
                        <br><button type="button" class="btn btn-primary" id="submitPersonForm">Update Person</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
var address = "<%= @person_info['address']%>"
$("#address").val(address);
});
</script>
<script type="text/javascript">
    
    function validateForm(){
        

        var name = $('#title').val();
        if ((name.trim()).length == 0) {
            alert("Name can not be empty!");
            return false;
        }
        
        var name = $('#status').val();
        if ((name.trim()).length == 0) {
            alert("Status can not be empty!");
            return false;
        }

        return true;
    }

    $('#submitPersonForm').click(function(){

        var status = validateForm();

        if ( status == true) {
            var data = $('#PersonForm').serialize();
            var catalog_id = "<%=Catalog.where(:ott_id=>@person_info['catalog_id']).first.id%>"
            $.ajax({
                url: '/people/<%= @person_info["content_id"]%>?method=update',
                data: data,
                type: 'POST',
                dataType: 'json',
                timeout: 120000,
                error: function(e,t){
                    if (t == "timeout"){
                        alert("Timed Out Wait for Response")
                    }
                    else{
                        alert(JSON.parse(e.responseText)["error"]);
                    }
                },
                success: function(d){
                    window.location = "/catalogs/view_catalog/"+catalog_id ;
                }
            });
        }
    });
</script>
<script>
 $("#cpimgb").click(function(){
    var cfileSelect = document.getElementById('cpimg');
    var catalog_name = document.getElementById("name").value;
    var cfiles = cfileSelect.files;
    console.log("files is::"+cfiles);

    if (cfiles.length == 0)
    {
        alert("Please Choose Image");
    }
    else
    {
    if (catalog_name == "" || catalog_name == null)
    {
        alert("Please Provide Name!");
    }
    else
    {
        if (cfiles[0].type == "image/png" || cfiles[0].type == "image/jpeg" || cfiles[0].type == "image/gif")
        {
        console.log("image");
        var cwidth = 602;
        var cheight = 602;
        var imgstatus = imagevalidation(cfiles,cwidth,cheight);
        }
        else
        {
        alert("Upload Image Files Only");
        }
    }
    }
});
function imagevalidation(file,wid,hei){
    var upimg = new Image();
    upimg.onload = function () 
    {            
     if (this.width < wid && this.height < hei){
        alert("Resolution must be" +wid+"X"+hei+"px format");
    }
    else if (this.width > wid && this.height > hei){
        alert("Resolution must be" +wid+"X"+hei+"px format");
    }else{
        console.log(this.width+" : "+this.height);

    if (file[0].size > 500000){
        alert("Please Upload Image of Size less than 500KB");
    }
    else{
        console.log("files size is:::::"+file[0].size);

        var key = "<%=@signature[:key]%>"
        var awsAccessKeyId = "<%=@signature[:access_key]%>"
        var acl = "<%=@signature[:acl]%>"
        var policy = "<%=@signature[:policy]%>"
        var signature = "<%=@signature[:signature]%>"
        console.log("signature key==="+key);
        console.log("signature access_key==="+awsAccessKeyId);
        console.log("signature acl==="+acl);
        console.log("signature policy==="+policy);
        console.log("signature==="+signature);

        uploadImage(key, awsAccessKeyId, acl, policy, signature, file, wid, hei)
    }
    }
    }
    upimg.src = URL.createObjectURL(file[0]);  
}

function uploadImage(key, awsAccessKeyId, acl, policy, signature, file, wid, hei) {

      var catalog_name = document.getElementById("name").value;
      catalog_name = catalog_name.replace(/[^a-zA-Z0-9\s]/g,"");
      catalog_name = catalog_name.toLowerCase();
      catalog_name = catalog_name.replace(/\s/g,'-');

      var imgname = file[0].name;
      var imgindex = imgname.lastIndexOf('.');
      var imgext = imgname.substring(imgindex);
      var bucket = "<%=@signature[:bucket]%>"
      var domain_name = "<%=@signature[:domain_name]%>"
      url = 'http://'+bucket+'.s3.amazonaws.com/'
      if (domain_name == "" || domain_name == null){
        imageurl = "https://s3-ap-southeast-1.amazonaws.com/"+bucket+"/"+key+catalog_name+"/images/"+catalog_name+"-"+wid+"x"+hei+imgext
      }else{
      imageurl = 'http://'+domain_name+"/"+key+catalog_name+"/images/"+catalog_name+"-"+wid+"x"+hei+imgext
    }

      var fd = new FormData();

      //fd.append('key', key+file[0].name);
      fd.append('key', key+catalog_name+"/images/"+catalog_name+"-"+wid+"x"+hei+imgext);
      fd.append('AWSAccessKeyId', awsAccessKeyId);
      fd.append('acl', acl);
      //fd.append('success_action_redirect', success_action_redirect);
      fd.append('policy', policy);
      fd.append('signature', signature);  
      fd.append('Content-Type', 'image/');
      fd.append("file", file[0]);

      $.ajax({
        type: 'POST',
        url: url,
        processData: false,
        contentType: false,
        data: fd,
        success: function(response) {
            console.log("response"+response);
            imageurl = imageurl
            console.log("imageurl is===="+imageurl);
            if (wid == 30){
            document.getElementById("cpimgsrc").src = imageurl+"?"+Math.random();
            document.getElementById("catalog_p_listing_image").value = imageurl;
            }
            if (wid == 794){
            document.getElementById("ifimgsrc").src = imageurl+"?"+Math.random();
            document.getElementById("item_featured_image").value = imageurl;
            }
            if (wid == 410){
            document.getElementById("limgsrc").src = imageurl+"?"+Math.random();
            document.getElementById("item_l_listing_image").value = imageurl;
            }
            if (wid == 251){
            document.getElementById("pimgsrc").src = imageurl+"?"+Math.random();
            document.getElementById("item_p_listing_image").value = imageurl;
            }
          
          alert('Success uploading Image');
        },
        error: function (response) {
            console.log(response);
          alert('Problem uploading Image');
        }
  });
}
</script>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
$('#date_of_partnership').datetimepicker({
                    locale: 'en',
                    format: 'YYYY-MM-DD HH:mm'
                });
</script>
 