<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li>People</li>
            <li class="active">Add Person</li>
        </ol>
    </div><!--/.row-->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Add Person</h1>
        </div>
    </div><!--/.row-->
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" id="PersonForm" role="form">
                        <div class="container-fluid">
                             <div class="row">
                                <div class="col-xs-2">
                                    <label for="name">Name</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the name of the person. This shall be displayed on the applications where ever applicable" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="title" name="title" placeholder="" value="">
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-xs-2">
                                    <label>Catalog</label>
                                    </div>
                                     <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="Catalog the person belong to" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" value="<%=@catalogs[0]["name"]%>" readonly>
                                    <input type="hidden" name="catalog_id" value="<%=@catalogs[0]["id"]%>-<%= @catalogs[0]["tenants"] %>">
                                </div>
                            </div>
                             <% if @catalog["custom_tags"].length == 0%>
                                <%else%>
                                <div class="row">
                                <div class='col-xs-2'>
                                <label>Add Custom Fields</label>
                                </div>
                                <input type="hidden" name="tags" value="<%=@catalog["custom_tags"]%>">
                                <div class='col-xs-1'>
                                <img class='info_img' data-toggle='tooltip' title="<%=t('add_m_Add_Custom_Fields')%>" src='/assets/info_55x55.png' alt='dummy'></div>
                                </div>
                                <%@catalog["custom_tags"].each do |custom_tag|%>
                                <div class="row">
                                <div class="col-xs-12"></div>
                                <div class="col-xs-2">
                                <label><%=custom_tag["tag"]%></label>
                                </div>
                                <div class="col-xs-1"></div>
                                <div class="col-xs-6">
                                <% if custom_tag["tag"] == "currency" %>
                                <select name="<%=custom_tag["tag"]%>" id="<%=custom_tag['type']%>" class="form-control input-sm">
                                        <option value="" name="">Select Currency</option>
                                       <option value="INR" name="INR">INR</option>
                                        <option value="CAD" name="CAD">CAD</option>
                                       <option value="USD" name="USD">USD</option>
                                    </select>
                                <% else %>
                                <input type="text" class="form-control input-sm" name="<%=custom_tag["tag"]%>" id="<%=custom_tag['type']%>" onkeypress="return spacecheck(event);"><% end %>
                                </div>
                                </div>
                                <%end%>
                                <%end%>
                            <div id="tenantcontainer">
                            <%@catalogs[0]["tenants"].each do |tenant|%>
                            <div class='row'>
                            <div class='col-xs-2'><label>Tenant</label></div>
                            <div class='col-xs-1'></div>
                            <div class="col-xs-6">
                            <p class="mb0"><%=tenant["tenant_name"]%>&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            </div>
                            </div>

                            <%apps = tenant["apps"] %>
                            <div class='row'>
                            <div class='col-xs-2'><label>Select Applications</label></div>
                            <div class='col-xs-1'></div>
                            <div class="col-xs-6">
                            <div class="checkbox">
                            <label id="app_label"></label><div class="clear"></div>
                            <% apps.each do |app|%>
                            <label class="checkboxapp">
                            <input type="checkbox" class="checkboxapp" id="checkboxapp" name="apps[]" value="<%=app['app_id']%>"><%=app['app_name']%>
                            </label>
                            <%end%>
                            </div>
                            </div>
                            </div>
                            <%end%>
                            </div>

                           <!-- <div class="row">
                                 <div class="col-xs-2">
                                    <label>Choose Catalog</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can chose the catalog the person shall belong to" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <select name="catalog_id" class="form-control input-sm" id="catalog_id">
                                        <option value="">Select one from below</option>
                                        <%#@catalogs.each do |catalog|%>
                                            <option  id="<%#=catalog["id"]%>" value="<%#=catalog["id"]%>-<%#= catalog["tenants"] %>"><%#=catalog["name"]%></option>
                                        <%#end%>
                                    </select> -->
                                    <!-- <script type="text/javascript">
                                        // $('#catalog_id').change(function() {
                                        //     var data = $(this).val(); 
                                        //     var catalog_info = data.split("-")[1];
                                        //     var res = catalog_info.replace(/=>/gi, ":");
                                        //     var jsonv = JSON.parse(res);
                                        //     console.log(jsonv.length);
                                        //     var l = jsonv.length;
                                        //     for(var i=0; i<l; i++) {
                                        //         var tenant = jsonv[i];
                                        //         $("#tenantcontainer").show();
                                        //         var dd = document.createElement("div");
                                        //         var tenOptions="<div class='row'><div class='col-xs-2'><label>Tenant</label></div><div class='col-xs-1'></div>";
                                        //         tenOptions +=   '<div class="col-xs-6"><p class="mb0">'+tenant['tenant_name']+'&nbsp;&nbsp;&nbsp;&nbsp;</p></div></div>';
                                        //         tenOptions +=  "<div class='row'><div class='col-xs-2'><label>Select Applications</label></div><div class='col-xs-1'></div><div class='col-xs-6'><div class='checkbox'>";
                                        //         console.log(tenant['tenant_name']);
                                        //         for(var j=0; j< jsonv[i]['apps'].length; j++) {
                                        //             var app = jsonv[i]['apps'][j];
                                        //             console.log(app);
                                        //             tenOptions +=  '<input type="checkbox" name="apps[]" value="'+app['app_id']+'">'+app['app_name']+'<br>';
                                        //         }
                                        //         $("#tenantcontainer").append($(tenOptions));
                                        //     }
                                        // });
                                    </script>-->
                                <!-- </div> 
                            </div> -->

                            <div id="tenantcontainer" style="display :none">
                                  
                            </div>
                                
                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="name">Description</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the description for the person. This shall be displayed on the applicaitons where ever applicable" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <textarea class="form-control input-sm" rows="5" id="description" name="description" value=""></textarea>
                                    <!-- <input type="text" class="form-control input-sm" id="description" name="description" value=""> -->
                                </div>
                            </div>

                            <!-- <div class="row">
                                <div class="col-xs-2">
                                    <label for="featured_image">Featured Image</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="featured_image" name="featured_image" placeholder  ="" value="">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="l_listing_image">Landscape Image</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="l_listing_image" name="l_listing_image" placeholder="" value="">
                                </div>
                            </div>  -->       

                            <!-- <div class="row">
                                <div class="col-xs-2">
                                    <label for="p_listing_image">Portrait Image</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the link to the portrait image of the user. This shall be of size " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="p_listing_image" name="p_listing_image" placeholder="" value="">
                                </div>
                            </div>  -->  

                            <div class="row">
                                  <div class="col-xs-2">
                                    <label >Image</label>
                                  </div>
                                  <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the link to the portrait image of the user. This shall be of size " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                  <div class="col-xs-6 upload-section">
                                    <form enctype="multipart/form-data">
                                  <input type="file" id="pimg" class="choose-file"  name="pimg" style="display:inline;">
                                  <input type="button" class="btn btn-primary upload-image" id="pimgb" name="pimgb" value="Upload Image">
                                  <img src="/assets/default_person.png" id= "pimgsrc" alt="image" class="person_img">
                                  
                                  </form>
                                  </div>
                                </div>    
                                <input type="hidden" id= "p_listing_image" name="p_listing_image">     

                             <div class="row">
                                <div class="col-xs-2">
                                   <label for="status">Status</label>
                                   </div>
                                   <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can chose the current status of the person. Only when the status is published the person shall be available on the applicaitons." src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                   <select name="status" id="status" class="form-control input-sm">
                                        <option value="">Select one from below</option>
                                        <option value="published">Available</option>
                                        <option value="edit">Unavailable</option>
                                    </select>
                                </div>
                            </div>
                            <!--  content owner fields starts-->
 <!--                            <div class="row">
    <div class="col-xs-2">
        <label for="contact_person">Contact Person</label>
        </div>
        <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the contact person for the person. This shall be displayed on the applicaitons where ever applicable" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
          <div class="col-xs-6">
        <input type="text" class="form-control input-sm" id="contact_person" name="contact_person">
    </div>
</div> -->
<!-- <div class="row">
    <div class="col-xs-2">
        <label for="contact_person_number">Contact Person Number</label>
        </div>
        <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the contact person number for the person. This shall be displayed on the applicaitons where ever applicable" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
          <div class="col-xs-6">
        <input type="text" class="form-control input-sm" id="contact_person_number" name="contact_person_number">
    </div>
</div> -->
<div class="row">
    <div class="col-xs-2">
        <label for="address">Address
</label>
        </div>
           <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the address for the person. This shall be displayed on the applicaitons where ever applicable" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
      <div class="col-xs-6">
        <textarea class="form-control input-sm" rows="5" id="address" name="address" placeholder="" value=""></textarea>
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        <label for="city">City
</label>
        </div>
           <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the city for the person. This shall be displayed on the applicaitons where ever applicable" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
          <div class="col-xs-6">
        <input type="text" class="form-control input-sm" id="city" name="city">
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        <label for="state">State
</label>
        </div>
           <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the state for the person. This shall be displayed on the applicaitons where ever applicable" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
          <div class="col-xs-6">
        <input type="text" class="form-control input-sm" id="state" name="state">
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        <label for="country">Country
</label>
        </div>
           <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the country for the person. This shall be displayed on the applicaitons where ever applicable" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
          <div class="col-xs-6">
        <input type="text" class="form-control input-sm" id="country" name="country">
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        <label for="pin_code">Pin Code

</label>
        </div>
           <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the pincode for the person. This shall be displayed on the applicaitons where ever applicable" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
          <div class="col-xs-6">
        <input type="text" class="form-control input-sm" id="pin_code" name="pin_code">
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        <label for="telephone_number">Telephone Number

</label>
        </div>
           <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the telephone number for the person. This shall be displayed on the applicaitons where ever applicable" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
          <div class="col-xs-6">
        <input type="text" class="form-control input-sm" id="telephone_number" name="telephone_number">
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        <label for="mg_paid">Advance Paid

</label>
        </div>
           <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
          <div class="col-xs-6">
        <input type="text" class="form-control input-sm" id="mg_paid" name="mg_paid">
    </div>
</div>

             
                             <!--  content owner fields ends-->
                                <br><button type="submit" class="btn btn-primary" id="submitPersonForm">Add Person</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
$('#DateTime').datetimepicker({
                    locale: 'en',
                    format: 'YYYY-MM-DD HH:mm'
                });
</script>

<script type="text/javascript">

(function($,W,D)
{
    var JQUERY4U = {};

    JQUERY4U.UTIL =
    {
        setupFormValidation: function()
        {
            //form validation rules
            $("#PersonForm").validate({

                errorPlacement: function (error, element) {
                    error.css({'float':'left','color':'red','padding-left':'0px', 'font-weight':'700','text-align':'left'});
                    error.addClass("error")
                    //error.insertAfter(element);

                    if ($(element).hasClass("checkboxapp")) {
                        error.insertAfter(element.parents("checkbox"));
                         $('#app_label').append(error.clone());
                    } else{
                        error.insertAfter(element);
                     }  
                },
                rules: {
                    title: "required",
                    catalog_id: "required",
                    description: "required",
                    'apps[]': "required",
                    // p_listing_image: "required",
                    status: "required"
                },
                messages: {
                    title: "THIS FIELD IS MANDATORY",
                    catalog_id: "THIS FIELD IS MANDATORY",
                    description: "THIS FIELD IS MANDATORY",
                    'apps[]': "THIS FIELD IS MANDATORY",
                    // p_listing_image: "THIS FIELD IS MANDATORY",
                    status: "THIS FIELD IS MANDATORY"
                },
                submitHandler: function(form) {
                    //form.submit();
                     return false;
                }
            });
                $(".checkboxapp").each(function () {
                    $(this).rules('add', {
                        required: true,
                        messages: {
                        required: "THIS FIELD IS MANDATORY"
                      }
                    });
                });
        }
    }

    //when the dom has loaded setup form validation rules
    $(D).ready(function($) {
        JQUERY4U.UTIL.setupFormValidation();
    });

})(jQuery, window, document);
    
    // function validateForm(){
    //     var name = $('#title').val();
    //     if ((name.trim()).length == 0) {
    //         return false;
    //     }
    //     var catalog = $('#catalog_id').val();
    //     if ((catalog.trim()).length == 0) {
    //         return false;
    //     }
    //     var description = $('#description').val();
    //     if ((description.trim()).length == 0) {
    //         return false;
    //     }
    //     var userimg = $('#p_listing_image').val();
    //     if ((userimg.trim()).length == 0) {
    //         return false;
    //     }
    //     var status = $('#status').val();
    //     if ((status.trim()).length == 0) {
    //         return false;
    //     }
    //     // var name = $('#l_listing_image').val();
    //     // if ((name.trim()).length == 0) {
    //     //     return false;
    //     // }
    //     return true;
    // }

    $("#pimgb").click(function(){
    var pfileSelect = document.getElementById('pimg');
    var person_title = document.getElementById("title").value;
    var pfiles = pfileSelect.files;
    console.log("pfiles is::"+pfiles);
    //console.log("pfiles is::"+pfiles[0].type);

    if (pfiles.length == 0)
    {
        alert("Please Choose Image");
    }
    else
    {
    if (person_title == "" || person_title == null)
    {
        alert("Please Provide Title!");
    }
    else
    {
        if (pfiles[0].type == "image/png" || pfiles[0].type == "image/jpeg" || pfiles[0].type == "image/gif")
        {
        console.log("image");
        var pwidth = 602;
        var pheight = 602;
        var imgstatus = imagevalidation(pfiles,pwidth,pheight);
        }
        else
        {
        alert("Upload Image Files Only");
        }
    }
    }
});

function imagevalidation(file,wid,hei){
    var upimg = new Image();
    upimg.onload = function () 
    {            
     if (this.width < wid && this.height < hei){
        alert("Resolution must be" +wid+"X"+hei+"px format");
    }
    else if (this.width > wid && this.height > hei){
        alert("Resolution must be" +wid+"X"+hei+"px format");
    }else{
        console.log(this.width+" : "+this.height);

    if (file[0].size > 500000){
        alert("Please Upload Image of Size less than 500KB");
    }
    else{
        console.log("files size is:::::"+file[0].size);

        var key = "<%=@signature[:key]%>"
        var awsAccessKeyId = "<%=@signature[:access_key]%>"
        var acl = "<%=@signature[:acl]%>"
        var policy = "<%=@signature[:policy]%>"
        var signature = "<%=@signature[:signature]%>"
        console.log("signature key==="+key);
        console.log("signature access_key==="+awsAccessKeyId);
        console.log("signature acl==="+acl);
        console.log("signature policy==="+policy);
        console.log("signature==="+signature);

        uploadImage(key, awsAccessKeyId, acl, policy, signature, file, wid, hei)
    }
    }
    }
    upimg.src = URL.createObjectURL(file[0]);  
}

function uploadImage(key, awsAccessKeyId, acl, policy, signature, file, wid, hei) {

      var person_title = document.getElementById("title").value;
      person_title = person_title.replace(/[^a-zA-Z0-9\s]/g,"");
      person_title = person_title.toLowerCase();
      person_title = person_title.replace(/\s/g,'-');

      var imgname = file[0].name;
      var imgindex = imgname.lastIndexOf('.');
      var imgext = imgname.substring(imgindex);
      var bucket = "<%=@signature[:bucket]%>"
      var domain_name = "<%=@signature[:domain_name]%>"

      url = 'http://'+bucket+'.s3.amazonaws.com/'
      
      if (domain_name == "" || domain_name == null){
        imageurl = "https://s3-ap-southeast-1.amazonaws.com/"+bucket+"/"+key+person_title+"-"+wid+"x"+hei+imgext
      }else{
      imageurl = 'http://'+domain_name+"/"+key+person_title+"-"+wid+"x"+hei+imgext
    }

      var fd = new FormData();
      //fd.append('key', key+file[0].name);
      fd.append('key', key+person_title+"-"+wid+"x"+hei+imgext);
      fd.append('AWSAccessKeyId', awsAccessKeyId);
      fd.append('acl', acl);
      //fd.append('success_action_redirect', success_action_redirect);
      fd.append('policy', policy);
      fd.append('signature', signature);  
      fd.append('Content-Type', 'image/');
      fd.append("file", file[0]);

      $.ajax({
        type: 'POST',
        url: url,
        processData: false,
        contentType: false,
        data: fd,
        success: function(response) {
            console.log("response"+response);
            imageurl = imageurl
            console.log("imageurl is===="+imageurl);
            if (wid == 602){
            document.getElementById("pimgsrc").src = imageurl+"?"+Math.random();
            document.getElementById("p_listing_image").value = imageurl;
            }
          
          alert('Success uploading Image');
        },
        error: function (response) {
            console.log(response);
          alert('Problem uploading Image');
        }
  });
}

    $('#submitPersonForm').click(function(){
        //var status = validateForm();
        var status = $('#PersonForm').valid();
        console.log(status);
        if ( status == true) {
            var data = $('#PersonForm').serialize();

            $.ajax({
                url: '/people/',
                data: data,
                type: 'POST',
                dataType: 'json',
                timeout: 120000,
                error: function(e,t){
                    if (t == "timeout"){
                        alert("Timed Out Wait for Response")
                    }
                    else{
                        alert(JSON.parse(e.responseText)["error"]);
                    }
                },
                success: function(d){
                    console.log(d);
                    //window.location = "/people/view_all";
                    window.location = "/catalogs/view_catalog/<%=@catalog_id%>"
                }
            });
        }
    });
</script>