<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">People</li>
        </ol>
    </div><!--/.row-->
    <!-- <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">People</h1>
        </div>
    </div> --><!--/.row-->
    <!-- <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-blue panel-widget ">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <em class="glyphicon glyphicon-asterisk glyphicon-l"></em>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large"><%= Catalog.where(:bg_id => current_bg.id).and(:theme => "person").count %></div>
                        <div class="text-muted">Total Catalogs</div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-orange panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <em class="glyphicon glyphicon-file glyphicon-l"></em>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large"><%= @total_people_count %></div>
                        <div class="text-muted">Total persons</div>
                    </div>
                </div>
            </div>
        </div> 

        </div> --><!--/.row-->
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="table1" data_source="/people/get_all" auto_refresh="100000000" loader="false" entries_info="true">
                        <script type="text/javascript" >
                            $(document).ready(function(){       
                                var table1 = new saranyutable("#table1");
                                table1.createBody = function createBody(_this) {            
                                    $(_this.selector).find("thead").append(
                                        '<tr><th><left>Name</left></th><th><left>Catalog Name</left></th><th><left>OTT ID</lefft></th><th><left>Actions</left></th></tr>');
                                };
                                table1.load();                      
                                table1.appendContent = function appendContent(data,_this){      
                                    var tbody = $(_this.selector).find("tbody");
                                    tbody.html(""); 
                                    for ( var i = 0; i < data.list.length; i++) {
                                        //name
                                        // if(data.list[i].title.length > 15){
                                        //     name = data.list[i].title.substring(0,15)+"...."
                                        // }else{
                                        //     name = data.list[i].title
                                        // }

                                        name = data.list[i].title

                                        // if(data.list[i].catalog_name.length > 15){
                                        //     catalog_name = data.list[i].catalog_name.substring(0,15)+"...."
                                        // }else{
                                        //     catalog_name = data.list[i].catalog_name
                                        // }

                                        catalog_name = data.list[i].catalog_name
                                        
                                        //ott_id
                                        ott_id = data.list[i].person_id
                                        //actions
                                        actions = ""
                                        delete_disabled = ""

                                        view_button = '<span class="inline-block" data-toggle="tooltip" title="View Info"><button type="button" class="btn btn-xs btn-info info-person" person-id='+data.list[i]["person_id"]+'><span class="glyphicon glyphicon-eye-open"></button>'

                                        edit_button =  '<span class="inline-block" data-toggle="tooltip" title="Edit"><button type="button" class="btn btn-xs btn-default edit-person" person-id='+data.list[i]["person_id"]+"-"+ data.list[i]["catalog_id"] + '><span class="glyphicon glyphicon-pencil"></button></span>'

                                        delete_button = '<button type="button" class="'+delete_disabled+' btn btn-xs btn-danger delete-person" person-id='+data.list[i]._id+'><span class="glyphicon glyphicon-remove"></button>'
                                        actions = view_button+"&nbsp;"+edit_button
                                        // +edit_button+"&nbsp;"+delete_button
                                        //append                
                                        tbody.append("<tr><td>" + name
                                            + "</td><td>" + catalog_name
                                            + "</td><td>" + ott_id
                                            + "</td><td>" + actions
                                            +"</td></tr>");
                                    }
                                    load_actions();
                                };
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
function load_actions() {
    $('.delete-person').click(function(){
        // $.ajax({
        //     url: '/people/'+$(this).attr('person-id')+'?method=delete',
        //     type: 'POST',
        //     timeout: 120000,
        //     error: function(e,t){
        //         if (t == "timeout"){
        //             alert("Timed Out Wait for Response")
        //         }
        //         else{
        //             alert(JSON.parse(e.responseText)["error"]);
        //         }
        //     },
        //     success: function(d){
        //         location.reload();
        //     }
        // });
    });

    $('.edit-person').click(function(){
        var person_id = $(this).attr('person-id').split("-")[0];
        var catalog_id = $(this).attr('person-id').split("-")[1];
        window.location.href = '/people/edit?person_id='+person_id + '&catalog_id='+catalog_id;
    });

    $('.info-person').click(function(){
        // window.location.href = '/people/show?person_id='+$(this).attr('person-id');
    });
};
</script>