<div class="tab-pane fade in active" id="pilltab2">
    <div class="panel panel-primary">
        <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/media/new?subcategory_id=<%= @subcategory_id%>'">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Media
        </button>
        <div class="panel-body">
            <div>

              <table class = "table table-condensed table-striped">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Asset ID</th>
                    <th>Episode Type </th>
                    <th>Transcoding Priority</th>
                    <th>Transcoding Status</th>
                    <th>OTT Status</th>
                    <th>Actions</th>
                  </tr>
                </thead> 
                <tbody>
                    <%  @items.each do |media| %>
                      <tr>
                        <td><%= link_to media["title"], "/media/edit?media_id="+media['cms_id'] %></td>
                        <td><%= media["asset_id"] %></td>
                        <% ep_type = media["episode_type"] %>
                        <% if ep_type.nil? %>
                          <% episode_type = "N/A" %>
                        <% else %>
                          <% episode_type = ep_type %>
                        <% end %>
                        <td><%= episode_type %></td>
                        <td>
                        <div class="btn-group">
                        <button type="button" class="btn btn-xs update-priority <%= 'btn-success' if media['priority'] == 'low' %>" priority="low" media-id='<%= media["cms_id"] %>'>Low</button>
                        <button type="button" class="btn btn-xs update-priority <%= 'btn-success' if media['priority'] == 'medium' %>" priority="medium" media-id='<%= media["cms_id"] %>'>Med</button>
                        <button type="button" class="btn btn-xs update-priority <%= 'btn-success' if media['priority'] == 'high' %>" priority="high" media-id='<% media["cms_id"] %>'>High</button>
                        </div>
                        </td>
                        <td>
                        <%  case media["cms_status"] %>
                        <% when "Created" %>
                        <% percentage_complete = 0  
                        css_class =  "progress-bar progress-bar-success progress-striped active" 
                        css_style_width =  0    %>

                        <% when "Processing Request" %>
                        <% percentage_complete = 10
                        css_class = "progress-bar progress-bar-success progress-striped active"
                        css_style_width =   10   %>

                        <% when "Request Error" %>
                        <% percentage_complete = 10  
                        css_class = "progress-bar progress-bar-danger" 
                        css_style_width =     10 %>

                        <% when "Ingesting" %>
                        <% percentage_complete = 20 
                        css_class = "progress-bar progress-bar-success progress-striped active" 
                        css_style_width =    20  %>

                        <% when "Ingested" %>
                        <% percentage_complete = 30  
                        css_class = "progress-bar progress-bar-success progress-striped active" 
                        css_style_width =     30 %>

                        <% when "Transcoding" %>
                        <% percentage_complete = 60  
                        css_class =  "progress-bar progress-bar-success progress-striped active" 
                        css_style_width =     60 %>

                        <% when "Published" %>
                        <% percentage_complete = 100  
                        css_class =  "progress-bar progress-bar-success" 
                        css_style_width =   100   %>

                        <% when "Ingestion Error" %>
                        <% percentage_complete = 100  
                        css_class = "progress-bar progress-bar-danger" 
                        css_style_width =    20  %>

                        <% when "Transcoding Error" %>
                        <% percentage_complete = 100  
                        css_class =  "progress-bar progress-bar-danger" 
                        css_style_width =    60  %>

                        <% when "Created Externally" %>
                        <% percentage_complete = 0 
                        css_class =  "progress-bar progress-bar-success progress-striped active"
                        css_style_width =    0  %>

                        <% else %>  
                        <% end  %>

                        <div class="progress"><div class='<%=  css_class %>' role="progressbar" aria-valuenow='<%= percentage_complete %>' aria-valuemin="0" aria-valuemax="100" style="width: '<%= css_style_width %>'%;"><span><%= media["cms_status"] %></span></div>
                        </div>
                        </td>
                        <td><%= media["status"] %></td>
                        <td>
                        <span class="inline-block" data-toggle="tooltip" title="Republish"><button type="button" class="btn btn-xs btn-primary republish-media <%#= 'disabled' if !@privileges.include? 'republish'%>" media-id = '<%= media["cms_id"] %>'><span class="glyphicon glyphicon glyphicon-repeat"></button>
                        </span>

                        <span class = "inline-block" data-toggle="tooltip" title="Transcode"><button type="button" class= " btn btn-xs btn-primary transcode-media <%#= 'disabled' if !@privileges.include? 'transcode'%>" media-id='<%= media["cms_id"] %>'><span class="glyphicon glyphicon-indent-left"></button></span>

                        <span class="inline-block" data-toggle="tooltip" title="Play"><button type="button" class="<%#= 'disabled' if !@privileges.include? 'play_media'%> btn btn-xs btn-success play-media" media-id='<%= media["cms_id"] %>'><span class="glyphicon glyphicon-play"></button></span>

                        <span class="inline-block" data-toggle="tooltip" title="Edit"><button type="button" class="<%#= 'disabled' if !@privileges.include? 'edit_media'%> btn btn-xs btn-default edit-media" media-id='<%= media["cms_id"] %>'><span class="glyphicon glyphicon-pencil"></button></span>

                        <% if media["status"] == "published" %>
                        <span class="inline-block" data-toggle="tooltip" title="Remove from OTT"><button type="button" class="remove_ott btn btn-xs btn-danger <%#= 'disabled' if !@privileges.include? 'publish'%> " media-id='<%= media["cms_id"] %>'><span class="glyphicon glyphicon-import"></button></span>

                        <% else %>
                        <span class="inline-block" data-toggle="tooltip" title="Push to OTT"><button type="button" class="push_ott <%#= 'disabled' if !@privileges.include? 'publish'%> btn btn-xs btn-warning " media-id='<%= media["cms_id"] %>'><span class="glyphicon glyphicon-export"></button></span>

                        <% end %>


                        <span class="inline-block" data-toggle="tooltip" title="Add Item to List"><button type="button" class="<%#= 'disabled' if !@privileges.include? 'add_to_list'%> btn btn-xs btn-info add-content-episode" content-id='<%= media["cms_id"] %>'><span class="glyphicon glyphicon-s glyphicon-plus"></button></span>

                        <span class="inline-block" data-toggle="tooltip" title="Delete"><button type="button" class="btn btn-xs btn-danger delete-media <%#= 'disabled' if !@privileges.include? 'delete_media'%>" media-id='<%= media["cms_id"] %>'><span class="glyphicon glyphicon-trash"></button></span>



                        </td>
                      <% end %>   
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <% if params[:page].to_i != 0 %> 
              <% url = request.original_url %>
              <% if url.count("?") > 0 %>
                <%=link_to "Previous","#{url.split("&page")[0]}&page=#{params[:page].to_i-1}"%>
              <% else %>
                <%=link_to "Previous","#{url.split("?page")[0]}?page=#{params[:page].to_i-1}"%>
              <% end -%>
            <%else %>
              Previous
            <% end %>
            
            <% if @next_items.empty? %>
              Next
            <% else %>
              <% url = request.original_url %>
              <% if url.count("?") > 0 %>
                <%=link_to "Next","#{url.split("&page")[0]}&page=#{params[:page].to_i+1}"%>
              <% else %>
                <%=link_to "Next","#{url.split("?page")[0]}?page=#{params[:page].to_i+1}"%>
              <% end -%>
            <% end %>
        </div> 

         <div id="player" style="background-color:black;"></div>
        <div id="view_media"></div>
        <div id="view_item"></div>
        <div id="view_lists"></div>
        <div id="view_media_status"></div>

            <script type="text/javascript">

                $('.edit-media').click(function()
                {
                  var titleid =  $(this).attr('title-id');  
                  window.location.href = '/media/edit?media_id='+$(this).attr('media-id');
                });

                $('.transcode-media').click(function()
                {
                  $.ajax({
                    url: '/media/'+$(this).attr('media-id')+'?method=transcode',
                    type: 'POST',
                    timeout: 120000,
                      error: function(e,t)
                      {
                        if (t == "timeout")
                        {
                          alert("Timed Out Wait for Response")
                        }
                        else
                        {
                          alert(JSON.parse(e.responseText)["error"]);
                        }
                      },
                      success: function(d)
                      {
                        location.reload();
                      }
                  });
                });

                $('.delete-media').click(function()
                {
                  $.ajax({
                    url: '/media/'+$(this).attr('media-id')+'?method=delete',
                    type: 'POST',
                    timeout: 120000,
                    error: function(e,t)
                    {
                      if (t == "timeout")
                      {
                        alert("Timed Out Wait for Response")
                      }
                      else
                      {
                        alert(JSON.parse(e.responseText)["error"]);
                      }
                    },
                    success: function(d)
                    {
                      alert("item deleted successfuly");
                      location.reload();
                    }
                  });
                });

                $('.play-media').click(function()
                {
                  $.ajax({
                    url: '/media/play/'+$(this).attr('media-id'),
                    type: 'GET',
                    timeout: 120000,
                    error: function(e,t)
                    {
                      if (t == "timeout")
                      {
                        alert("Timed Out Wait for Response")
                      }
                      else
                      {
                        alert(JSON.parse(e.responseText)["error"]);
                      }
                    },
                    success: function(d)
                    {
                      $("#player").html(d);
                      $('#viewModal').modal('show');
                    }
                  });
                });


                $('.update-priority').click(function()
                {
                $.ajax({
                  url: '/media/'+$(this).attr('media-id')+'?method=update_priority&priority='+$(this).attr('priority'),
                  type: 'POST',
                  timeout: 120000,
                  error: function(e,t)
                  {
                    if (t == "timeout")
                    {
                      alert("Timed Out Wait for Response")
                    }
                    else
                    {
                      alert(JSON.parse(e.responseText)["error"]);
                    }
                  },
                  success: function(d)
                  {
                    location.reload();
                  }
                });
                });

                $('.push_ott').click(function(){
                  $.ajax({
                    url: '/media/'+$(this).attr('media-id')+'?method=publish_at_ott',
                    type: 'POST',
                    timeout: 120000,
                    error: function(e,t)
                    {
                      if (t == "timeout")
                      {
                        alert("Timed Out Wait for Response")
                      }
                      else
                      {
                        alert(JSON.parse(e.responseText)["error"]);
                      }
                    },
                    success: function(d)
                    {
                      location.reload();
                    }
                  });
                });

                $('.remove_ott').click(function(){
                    $.ajax({
                        url: '/media/'+$(this).attr('media-id')+'?method=unpublish_at_ott',
                        type: 'POST',
                        timeout: 120000,
                        error: function(e,t){
                            if (t == "timeout"){
                                alert("Timed Out Wait for Response")
                            }
                            else{
                                alert(JSON.parse(e.responseText)["error"]);
                            }
                        },
                        success: function(d){
                            location.reload();
                        }
                    });
                });

                $('span').tooltip();

                $('.add-content-episode').click(function(){
   
                  window.location.href = '/catalog_lists/get_lists?content_id='+$(this).attr('content-id');   

                  // $.ajax({
                  //     url: url,
                  //     type: 'GET',
                  //     timeout: 120000,
                  //     error: function(e,t){
                  //         if (t == "timeout"){
                  //             alert("Timed Out Wait for Response")
                  //         }
                  //         else{
                  //             alert(JSON.parse(e.responseText)["error"]);
                  //         }
                  //     },
                  //     success: function(d){
                  //         $("#view_lists").html(d);
                  //         $('#viewModal2').modal('show');
                  //     }
                  // });
              });

                            

                            
                            $('.export-data').click(function(){
                                var url = '/catalogs/view_media_status?catalog_id='+$(this).attr('catalog-id');
                                $.ajax({
                                    url: url,
                                    type: 'GET',
                                    timeout: 120000,
                                    error: function(e,t){
                                        if (t == "timeout"){
                                            alert("Timed Out Wait for Response")
                                        }
                                        else{
                                            alert(JSON.parse(e.responseText)["error"]);
                                        }
                                    },
                                    success: function(d){
                                        $("#view_media_status").html(d);
                                        $('#viewModal2').modal('show');
                                    }
                                });
                            });

                            $('.republish-media').click(function(){
                                $.ajax({
                                    url: '/media/'+$(this).attr('media-id')+'?method=republish_media',
                                    type: 'POST',
                                    timeout: 120000,
                                    error: function(e,t){
                                        if (t == "timeout"){
                                            alert("Timed Out Wait for Response")
                                        }
                                        else{
                                            alert(JSON.parse(e.responseText)["error"]);
                                        }
                                    },
                                    success: function(d){
                                        location.reload();
                                    }
                                });
                            });

                            $(function(){
                          //alert("Search is loaded!");
                          $('.search-title').click(function(){
                            var catalogid = $("#search_catalog_id").attr('catalog-id');
                            var q = $('#searchtitle').val();
                            q = q.trim();
                            var url = '/search?q='+q+'&catalog_id='+catalogid;
                            if (q.length == 0) {
                              alert("Please enter the title for searching...");
                              return false;
                            } else {
                              $.ajax({
                                    url: url,
                                    type: 'GET',
                                    timeout: 120000,
                                    error: function(e,t){
                                        if (t == "timeout"){
                                            alert("Timed Out Wait for Response")
                                        }
                                        else{
                                            alert(JSON.parse(e.responseText)["error"]);
                                        }
                                    },
                                    success: function(d){
                                        //alert("Item has got deleted successfuly!!");
                                        location.reload();
                                    }
                                });
                            }
                          });
                        });
                        $('document')
                         $(document).on('change','#item_sdd',function(){

                                var itemsdata = $(this).val();
                                 // alert(itemsdata);
                                var content_id = itemsdata.split("-")[0]
                                var catalog_id = itemsdata.split("-")[1]
                                var status_val = itemsdata.split("-")[2]
                                 var title_val = itemsdata.split("-")[3]
                                 var ottstatus = itemsdata.split("-")[4]

                                         console.log(itemsdata); 
                                        $.ajax({
                                          url: '/user_theme/'+content_id+'?method=update',
                                          type: 'POST',
                                          data: {id: content_id, catalog_id: catalog_id, item_status: status_val,title: title_val,status: ottstatus},
                                          timeout: 120000,
                                            error: function(e,t){
                                            if (t == "timeout"){
                                                alert("Timed Out Wait for Response")
                                            }
                                            else{
                                                alert(JSON.parse(e.responseText)["error"]);
                                            }
                                        },
                                        success: function(d){
                                            window.location.href = "/catalogs/view_catalog/"+catalog_id;
                                        }
                                        });
                            });
                        </script>   
                 
