<div class="tab-pane fade in active" id="pilltab1">
	<div class="panel panel-primary">  
		<button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/subcategories/new?show_id=<%= @show_id%>'">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Subcategory
        </button>
<div class="panel-body">
		<div>
				<table class = "table table-condensed table-striped">
						<thead>
							<tr>
								<th>Title</th>
								<th>Catalog Name</th>
								<th>Show Name</th>
								<th>Subcategory Id</th>
								<th>Actions</th>
							</tr>
						</thead> 
						<tbody>
									<% @subcategories.each do |subcategory| %>
										<tr>
											<td><%=link_to subcategory["title"] ,"/subcategories/view_nested_subcategories?subcategory_id="+subcategory["_id"] %></td>
											<td><%= subcategory["catalog_name"] %></td>
											<td><%= subcategory["show_name"] %></td>
											<td><%= subcategory["_id"] %></td>
											<td>

													<span class="inline-block" data-toggle="tooltip" title="Edit"><button type="button" class="btn btn-xs btn-default edit-subcategory" sub-show-id='<%= subcategory["_id"] %>'+'-'+'<%= subcategory["show_id"] %>'><span class="glyphicon glyphicon-pencil"></button></span>	


													<span class="inline-block" data-toggle="tooltip" title="Delete Item"><button type="button" class="btn btn-xs btn-danger delete-subcategory" subcategory-id='<%= subcategory["_id"] %>'><span class="glyphicon glyphicon-s glyphicon-trash"></button></span>


											</td>
									<% end %>
								</tr>
						</tbody>
				</table>
		</div>
</div>

<div>
		<% if params[:page].to_i != 1 %> 
			<%= link_to "Previous","#{request.original_url.split("?page")[0]}?page=#{params[:page].to_i-1}"%>
		<%else %>
			Previous
		<% end %>
		<% if @next_items.empty? %>
			Next
		<% else %>
			<%=link_to "Next","#{request.original_url.split("?page")[0]}?page=#{params[:page].to_i+1}"%>
		<% end %>
</div>

		<script type="text/javascript">

			$('.edit-subcategory').click(function()
			{
				var subcategory_id = $(this).attr('sub-show-id').split("-")[0];
				var show_id = $(this).attr('sub-show-id').split("-")[1];
				window.location.href = '/subcategories/edit?id='+ subcategory_id +'&show_id=' + show_id;
			});

			$('span').tooltip();

			$('.delete-subcategory').click(function()
			{
				$.ajax({
					url: '/subcategories/'+$(this).attr('subcategory-id')+'?method=delete',
					type: 'POST',
					timeout: 120000,
					error: function(e,t)
					{
						if (t == "timeout")
						{
							alert("Timed Out Wait for Response")
						}
						else
						{
							alert(JSON.parse(e.responseText)["error"]);
						}
					},
					success: function(d)
					{
						alert("Item got deleted successfully!!");
						location.reload();
					}
				});
			});

</script>
