<style type="text/css">
.inline-block {
    display: inline-block;
}
table .progress {
    margin-bottom: 3px;
    position: relative;
}
table .progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}
</style>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
			<li>OTT</li>
			<li>Shows</li>
			<li class="active"><%=@subcategory_data.title%></li>
		</ol>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-body tabs">
					<ul class="nav nav-pills">
						
					 <%if @subcategory_data["subcategories_flag"] == "yes"%>
					 <li class="active"><a href="#pilltab1" data-toggle="tab">Subcategories</a></li>
					 <%end%>
					 <%if @subcategory_data["episodes_flag"] == "yes"%>
					 <li class="active"><a href="#pilltab2" data-toggle="tab">Episodes</a></li>
					 <%end%>
					</ul>  
					
					<div class="tab-content">
						<%if @subcategory_data["subcategories_flag"] == "yes"%>
							<%= render :partial => 'subcategories/nested_subcategory_items' %>
						<%end%>	

						<%if @subcategory_data["episodes_flag"] == "yes"%>
							  <%= render :partial => 'subcategories/nested_episode_items' %>  
									
                        <%end%>
					</div>
					

				</div>
			</div>
		</div>
	</div>

</div>

