
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
			<li>Articles</li>
			<li class="active">Edit Article</li>
		</ol>
	</div><!--/.row-->
	<!-- <div class="row">
		<div class="col-lg-12">
			<%if !@edit_media%>
			<h1 class="page-header">Add New Media</h1>
			<%else%>
			<h1 class="page-header">Edit Media</h1>
			<%end%>
		</div>
	</div> --><!--/.row-->
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-body tabs">

					<div id="morefields" class="row morefields" style="display:none">
						<div class="col-xs-12">
                    	<div class="row">
                        <div class="col-xs-2">
							<label>Role</label>
							</div>
							 <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                            <div class="col-xs-6">
							<input type="text" class="form-control input-sm" name="roles[]" value="">
						</div>
						</div>

                    	<div class="row">
                        <div class="col-xs-2">
							<label>Description</label>
							</div>
							 <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
							<textarea class="form-control input-sm" rows="5" name="descriptions[]" value=""></textarea>
							<!-- <input type="text" class="form-control input-sm" name="descriptions[]" value=""> -->
						</div>
						</div>
						
						<!-- <div class="row">
                        	<div class="col-xs-2">
							<label>Display Image</label>
							</div>
						    <div class="col-xs-1">
                                <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                            </div>
                            <div class="col-xs-6">
						 		<input type="text" class="form-control input-sm" name="images[]" value="">
					        </div>
						</div> -->
						
						</div>
						
						</div>

					<form class="form-horizontal" id="mediaForm" role="form">
						<ul class="nav nav-pills">
							<li class="active"><a href="#metadata-tab" data-toggle="tab">Metadata</a></li>
							<li><a href="#people-tab" data-toggle="tab">People</a></li>
							<li><a href="#accesscontrol-tab" data-toggle="tab">Access Control</a></li>
						</ul>
						<div class="tab-content">
						  <div class="tab-pane fade in active" id="metadata-tab">

						    <div class="row">
									<div class="col-xs-2">
										<label for="title">Title</label>
										</div>
										<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
										<input type="text" class="form-control input-sm" id="title" name="title" placeholder="Any title of your choice" value="<%if @edit_media%><%=@edit_media.title%><%else%>''<%end%>">
									</div>
								</div>
								<!--End of Title  -->

								<div class="row">
									<div class="col-xs-2">
										<label>Catalog Name</label>
										</div>
										<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
										<input type="text" class="form-control input-sm" id="catalog_name" name="catalog_name" placeholder="<%=@item["catalog_name"]%>" value="<%= @item["catalog_name"]%>" readonly>
										<input type=hidden id="catalog_id" name="catalog_id" value=<%= @item["catalog_cms_id"]%>>
									</div>
								</div>
								<!-- End of Catalog Name -->

								<div class="">
									<div class="mlr-15">
									<div class="col-xs-2">
										<label>Custom Fields</label><br/>
									</div>

										<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>

                                      <div class="col-xs-6">
										<br>
										<% if !@catalog["custom_tags"].blank? %>
										<% @catalog["custom_tags"].each do |tag_hash| %>
										<label style="float: left;"><%= tag_hash["tag"] %></label>
										<% if @item["custom_fields"].has_key? tag_hash["tag"] %>
										<% tag_name = tag_hash["tag"] %>
										<input type="text" class="form-control input-sm" name="<%= tag_hash["tag"] %>" placeholder="<%if @item["custom_fields"][tag_name].kind_of? Array%><%= @item["custom_fields"][tag_name].join(',') %><% else %><%= @item["custom_fields"][tag_name] %><% end %>" value="<% if @item["custom_fields"][tag_name].kind_of?Array %><%= @item["custom_fields"][tag_name].join(',') %><% else %><%= @item["custom_fields"][tag_name] %><% end %>">
										<% else %> 
										<input type="text" class="form-control input-sm" name="<%= tag_hash["tag"]%>" value=""> 
										<% end %>
										<% end %>
										<input type="hidden" name="tags" value="<%= @item["catalog_custom_tags"]%>">
										<% end %>
									</div>
									</div>
									<div class="clear"></div>
								
								<!-- End of Custom Fields -->

								
								<% @item["tenants_data"].each do |tenant| %>
										<div class="row">
										<div class="col-xs-2">
										<label>Tenants</label>
										</div>
										<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    	</div>
                                    	<div class="col-xs-6">
                                    		<%= tenant["name"] %>										
                                    	</div>
                                    	</div>	
										<div class="row">
										<div class="col-xs-2">
										<label>Select Applications</label>
										</div>
										<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    	</div>
                                    	<div class="col-xs-6">
                                    		<div class="checkbox">
										<% tenant["apps"].each do |app| %>
										<% if @item["item_apps"].include? app["app_id"] %>
											<label><input type="checkbox" id="app_checkbox" name="apps[]" value="<%=app["app_id"]%>" checked>
											<%=app["app_name"]%></label>
										<% else %>
											<label><input type="checkbox" id="app_checkbox" name="apps[]" value="<%=app["app_id"]%>">
											<%=app["app_name"]%></label>		
										<% end %>
										<% end %>
										</div>
										</div>
										</div>
										<div class="row">
										<div class="col-xs-2">
										<label>Select Genres</label>
										</div>
										<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    	</div>
                                    	<div class="col-xs-6">
                                    		<div class="checkbox">
										<% tenant["genres"].each do |genre| %>
											<label>
											<% if @item["item_genres"].include? genre %>
											<input type="checkbox" id="genres" name="genres[]" value="<%= genre%>" checked>
											<% else %>
											<input type="checkbox" id="genres" name="genres[]" value="<%= genre%>">
											<% end %>
										<%= genre%></label>
										<% end %>
										</div>
										</div>
										</div>
								<div class="row">
									<div class="col-xs-2">
										<label>Select Language</label>
										</div>
										<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    	</div>
                                    	<div class="col-xs-6">
										<select name="language[]" id="language" class="form-control input-sm">
											<% tenant["languages"].each do |language| %>
											<option id="<%= language%>" value="<%= language %>"><%= language%></option>
											<% end %>
										</select>
										</div>
										</div>	
										<% end %>
									</div>
								<!-- </div> -->
								<!-- End of Tenant -->

								<div class="row">
									<div class="col-xs-2">
										<label>Long Description</label>
										</div>
										<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6 ckedit">
										<% if @item["description"].blank? %>
										<textarea class="form-control ckeditor input-sm" rows="5" id="description" name="description" ></textarea>
										<% else%> 
										<textarea class="form-control input-sm ckeditor" rows="5" id="description" name="description" ><%= @item['description']%></textarea>
										<%end%>
											<!-- <input type="text" class="form-control input-sm" id="description" name="description" placeholder="@item['description']" value="<%#= @item['description']%>"> -->
									</div> 
								</div>

								<div class="row">
									<div class="col-xs-2">
										<label for="short_description">Short Description</label>
										</div><div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6 ckedit">
                                      <% if @item["short_description"].blank? %>
										<textarea class="form-control ckeditor input-sm" rows="5" id="short_description" name="short_description" value=""></textarea>
										<% else%> 
										<textarea class="form-control input-sm ckeditor" rows="5" id="short_description" name="short_description" value=""><%= @item['short_description']%></textarea>
										<%end%>

                                		<!-- <input type="text" class="form-control input-sm" id="short_description" name="short_description" placeholder="" value="<%#= @item['short_description']%>"> -->
									</div>
								</div>

								<div class="row">
                                  <div class="col-xs-2">
                                    <label for="sequence_no">Media Order</label>
                                  </div>
                                  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                  </div>
                                  <div class="col-xs-6">
                                    <input type="number" class="form-control input-sm" id="sequence_no" name="sequence_no" placeholder="" value="<%= @item['sequence_no']%>">
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-xs-2">
                                    <label for="asset_id">Asset ID</label>
                                  </div>
                                  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                  </div>
                                  <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="asset_id" name="asset_id" value="<%= @item['asset_id']%>">
                                  </div>
                                </div> 

								<div class="row">
									<div class="col-xs-2">
										<label for="keywords">Keywords</label>
										</div>
										<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                		<input type="text" class="form-control input-sm" id="keywords" name="keywords" placeholder="" value="<%= @item['keywords']%>">
									</div>
								</div>
                                
                                <div class="row">
									<div class="col-xs-2">
                                		<label for="released_date">Release Date</label>
                                		</div>
                                		<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                        <input  type="text" class="form-control input-sm" id="release_date_string" name="release_date_string" placeholder="" value="<%=@item['release_date_string'].split("T")[0]%>">
                                		<!-- <input type="date" id="release_date_string" name="release_date_string" placeholder="" value="<%#= @item['release_date_string'].split("T")[0]%>"> -->
                                	</div>
                                </div>
								<!-- End of Description -->

								<div class="row">
									<!-- <div class="error_media"  id="pdid"> </div> -->
									<div class="col-xs-2">
                                		<label for="published_date">Publish Date</label>
                                		</div>
                                		<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                        <input  type="text" class="form-control input-sm" id="published_date" name="published_date" placeholder="" value="">
                                		
                                	</div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-2">
                                        <label for="unpublished_date">Unpublish Date</label>
                                        </div>
                                        <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the unpublish date associated for the video." src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                        <input  type="text" class="form-control input-sm" id="unpublished_date" name="unpublished_date" placeholder="" value="">
                                    </div>
                                </div>




								<div class="row">
									<div class="col-xs-2">
										<label>Rating</label>
										</div>
										<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
										<input type="text" class="form-control input-sm" id="rating" name="rating" placeholder="<%=@item["rating"]%>" value="<%=@item["rating"]%>">
									</div>
								</div>
								<!-- End of Rating -->



								<div class="row">
									<div class="col-xs-2">
										<label>Change status</label>
										</div>
										<% if @item["status"]=="edit"%>
										<% statuses = ["edit","published"]%>
										<% end %>
										<% if @item["status"]=="published"%>
										<% statuses = ["published","unpublished"]%>
										<% end %>
										<% if @item["status"]=="unpublished"%>
										<% statuses = ["unpublished","published"]%>
										<% end %>

										<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
										<select id="status" name="status" class="form-control input-sm">
											<% statuses.each do |status| %>
											<option value="<%= status%>">
												<%= status%>
											</option>    
											<% end %>
										</select>    
									</div>
								</div>	
								<!-- End of status -->	

						  </div>
						  <!-- End of Metadata Tab  -->

						  <div class="tab-pane fade" id="people-tab">
								<div class="col-xs-12">
								    <% if !@people.blank? %>
								    <div style="float:left;">
										<label>Select People</label>
										</div>
										<br>
										<div class="col-xs-12"></div>
										<% @people.each do |person| %>
										<div > 
											<% data = @item["people"].select { |h| h["person_id"] == person["person_id"] } %>
											<% if data.blank? %>
												<input class="givemorefields" type="checkbox" name="people[]" value="<%= person['person_id']%>-<%= person["catalog_id"]%>"><%= person["title"] %>
											<% else %>
												<!-- <input onclick="return false" type="checkbox" name="people[]" value="<%= person['person_id']%>-<%= person["catalog_id"]%>" checked > <%= person["title"] %> -->
												<input class="removemorefields" type="checkbox" name="people[]" value="<%= person['person_id']%>-<%= person["catalog_id"]%>" checked > <%= person["title"] %>
												<div class="row">
										            <div class="col-xs-2">
														<label>Role</label>
													</div>
													
													<div class="col-xs-1">
	                                        			<img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
	                                    			</div>
	                                      			<div class="col-xs-6">
														<input type="text" class="form-control input-sm" name="roles[]" value="<%= data[0]["roles"].join(',') %>">
													</div>
											  	</div>
											  
											 	<div class="row">
													<div class="col-xs-2">
														<label>Description</label>
													</div>
													<div class="col-xs-1">
	                                        			<img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
	                                   	 			</div>
	                                      			<div class="col-xs-6">
														<textarea class="form-control input-sm" rows="5" name="descriptions[]" value=""><%= data[0]["description"] %></textarea>
														<!-- <input type="text" class="form-control input-sm" name="descriptions[]" value="<%#= data[0]["description"] %>"> -->
													</div>
											    </div>
											
												<!-- <div class="row">
													<div class="col-xs-2">
													<label>Display Image</label>
													</div>
													<div class="col-xs-1">
	                                        			<img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
	                                    			</div>
	                                      			<div class="col-xs-6">
													<input type="text" class="form-control input-sm" name="images[]" value="<%= data[0]["display_image"] %>">
													</div>
												</div> -->
											
											<% end %>
										</div>

										<br>
										<% end %>
									<% else %>
									    <label>Please Add People to Catalog</label>  
									<% end %>	
								</div>
								<!-- End of People -->
							</div>
							<!-- End of People Tab -->

							 <div class="tab-pane fade" id="accesscontrol-tab">
							 <div id = "accesscontrol">
                                <div class="row">
                                <div class="col-xs-2">
                                <label>Update AccessControl</label>
                                </div>
                                </div>
                                <% if @accesscontrol.length == 0 %>
                                <%else%>
                                <%@accesscontrol.group_by { |d| d["name"] }.each do |k,v|%>
                                <div class="row">
                                <div class="col-xs-2"><label>Tenant</label></div>
                                <div class="col-xs-1"></div>
                                <div class="col-xs-6"><%=k%></div>
                                </div>

                                <div class="row">
                                <div class="col-xs-2"><label>Region</label></div>
                                <div class="col-xs-1"></div>
                                <div class="col-xs-6">
                                <input type="text" class="form-control input-sm" id="region[]" name="region[]" value="IN" >
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-xs-2"><label>Select Access Control</label></div>
                                <div class="col-xs-1"></div>
                                <div class='col-xs-6'>
                                <select name='access_control_id[]' id='access_control_id' class='form-control  input-sm'>
                                <%if @item["access_control"]["title"].nil?%>
                                <%v.each do |t|%>
                                <option id="access_control_id[]" value='<%=t["content_id"]%>'><%=t["title"]%></option>
                                <%end%>
                                <%else%>
                                <%v.each do |t|%>
                                <option id="access_control_id[]" value='<%=t["content_id"]%>'><%=t["title"]%></option>
                                <%end%>
                                <%end%>
                                </select>
                                </div>
                                </div>
                                <%end%>
                                <%end%>

                                </div>
								<div class="row">
                                    <div class="col-xs-12">

                                  <div class="row">
									<div class="col-xs-2">
									<label for="title">Selected Access Control</label>
									</div>
								  </div> 

                                    <div class="row">
								<div class="col-xs-2">
									<label for="title">Title</label>
									</div>
									<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the title for the access control. You can identify the access control using this title" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
									<p><%=@item["access_control"]["title"]%></p>
								</div>
							</div> 
							<div class="row">
									<div class="col-xs-2">
									<label for="isfree">is free</label>
									</div>
									<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can chose the is_free flag. If the is_free flag is set to yes any content associated with the access control shall be available for playback free. If the is_free flag is set to no then subscription shall be needed to play the item" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
										<p><%=@item["access_control"]["is_free"]%></p>
									  </div>
							</div>
							<div class="row">
								<div class="col-xs-2">
								<label for="adsavailable">Ads Available</label>
								</div>
								<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can chose the ads_available flag. If the ads_avaialble flag is set to yes then pre-role, mid-role or post-role ads shall be available on the platform. If the flag is set to no then no ads will be rendered in the application while playing the item" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
										<p><%=@item["access_control"]["ads_available"]%></p>
									  </div>
							</div>
							<div class="row">
								<div class="col-xs-2">
								<label for="loginrequired">Login Required</label>
								</div>
								<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the login requried flag. If the flag is set to yes then user login shall be needed to play the item. If the flag is set to no then user login is not needed to play the item" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
										<p><%=@item["access_control"]["login_required"]%></p>
									  </div>
							</div>
							<div class="row">
                             <div class="col-xs-2">
                             <label><b>Start Date</b></label>
                             </div>
                             <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can chose the start date for the access control. Access Control shall be applicable to the associated items only after this date. Till this date default access control shall be applicable for the item" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                     <div class="col-xs-6">
                                     <%if @item["access_control"]["start_date"].nil?%>
                                     <%else%>
										<p><%=DateTime.parse(@item["access_control"]["start_date"]).strftime("%Y%m%d")%></p>
										<%end%>
									  </div>
                             </div>

                             <div class="row">
                             <div class="col-xs-2">
                             <label><b>End Date</b></label>
                             </div>
                             <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can chose the end date for the access control. Access Control shall not be applicable to the associated items after this date. After this date default access control shall be applicable" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                      <%if @item["access_control"]["end_date"].nil?%>
                                      <%else%>
										<p><%=DateTime.parse(@item["access_control"]["end_date"]).strftime("%Y%m%d")%></p>
										<%end%>
									  </div>
                            </div>

                            <%if @item["access_control"].empty?%>
                            <%else%>

                            <div class="">
	                            <div class="mlr-15">
		                            <div class="col-xs-2">
																  <label for="name">Pre Role Settings</label>
																</div>
															</div>
															<div class="clear"></div>
															<div class="row"> 	
															  	<div class="col-xs-2">
															  		<label for="premobileadd">Mobile Ads Url</label>
															  	</div>
															  	<div class="col-xs-1">
	                                    <img class="info_img" data-toggle="tooltip" title="You can provide the ads url for the mobile. This url shall be used to extract ads on the mobile apps." src="/assets/info_55x55.png" alt="dummy">
	                                </div>
								                  <div class="col-xs-6">
								                  <%if @item["access_control"]["pre_role_settings"]["mobile_ads_url"].nil?%>
                                      			  <%else%>
													<p><%=@item["access_control"]["pre_role_settings"]["mobile_ads_url"]%></p>
												  <%end%>	
												  </div>
															</div>
															<div class="row">
															  <div class="col-xs-2">
															 		<label for="preadd">Ads Url</label>
															  </div>
															  <div class="col-xs-1">
		                              <img class="info_img" data-toggle="tooltip" title="You can provide the ads url for the website. This url shall be used to extract ads on the web portal" src="/assets/info_55x55.png" alt="dummy">
		                            </div>
								                <div class="col-xs-6">
								                <%if @item["access_control"]["pre_role_settings"]["ads_url"].nil?%>
                                      			  <%else%>
													<p><%=@item["access_control"]["pre_role_settings"]["ads_url"]%></p>
												  <%end%>
													
												  </div>
								  						</div>	
								  						<div class="row">					  
															  <div class="col-xs-2">
															  	<label for="preactive">Active</label>
															  </div>
															  <div class="col-xs-1">
	                                <img class="info_img" data-toggle="tooltip" title="You can set the active flag. Once set to yes pre role ads shall be active on the applications. If the flag is set to no then the pre role ads shall not be active on the applications." src="/assets/info_55x55.png" alt="dummy">
	                            	</div>
								                <div class="col-xs-6">
								                 <%if @item["access_control"]["pre_role_settings"]["active"].nil?%>
                                      			  <%else%>
													<p><%=@item["access_control"]["pre_role_settings"]["active"]%></p>
												  <%end%>
												  </div>
															</div>	
															<div class="row">	
															  <div class="col-xs-2">
															  <label for="pretype">Type</label>
															  </div>
															  <div class="col-xs-1">
	                                  <img class="info_img" data-toggle="tooltip" title="You can select the pre role settings type." src="/assets/info_55x55.png" alt="dummy">
	                              </div>
								                <div class="col-xs-6">
								                <%if @item["access_control"]["pre_role_settings"]["type"].nil?%>
                                      			  <%else%>
													<p><%=@item["access_control"]["pre_role_settings"]["type"]%></p>
												  <%end%>
												  </div>
															</div>
														</div>
														<div class="">
																<div class="mlr-15">
																	<div class="col-xs-2">
																	  <label for="name">Post Role Settings</label><br>
																  </div>
															</div>
															<div class="clear"></div>
															<div class="row">
															  <div class="col-xs-2">
																  <label for="postmobileadd">Mobile Ads Url</label>
															  </div>
															  <div class="col-xs-1">
	                                <img class="info_img" data-toggle="tooltip" title="You can provide the ads url for the mobile. This url shall be used to extract ads on the mobile apps." src="/assets/info_55x55.png" alt="dummy">
	                            	</div>
	                              				  <div class="col-xs-6">
	                              				  <%if @item["access_control"]["post_role_settings"]["mobile_ads_url"].nil?%>
                                      			  <%else%>
													<p><%=@item["access_control"]["post_role_settings"]["mobile_ads_url"]%></p>
												  <%end%>
												  </div>
								  						</div>
								  						<div class="row">
															  <div class="col-xs-2">
															  	<label for="postadd">Ads Url</label>
															  </div>
															  <div class="col-xs-1">
	                                <img class="info_img" data-toggle="tooltip" title="You can provide the ads url for the website. This url shall be used to extract ads on the web portal" src="/assets/info_55x55.png" alt="dummy">
	                              </div>
								                <div class="col-xs-6">
								                <%if @item["access_control"]["post_role_settings"]["ads_url"].nil?%>
                                      			  <%else%>
													<p><%=@item["access_control"]["post_role_settings"]["ads_url"]%></p>
												  <%end%>
												  </div>
								  						</div>
								  						<div class="row">
															  <div class="col-xs-2">
															  	<label for="postactive">Active</label>
															  </div>
															  <div class="col-xs-1">
	                                  <img class="info_img" data-toggle="tooltip" title="You can set the active flag. Once set to yes POST role ads shall be active on the applications. If the flag is set to no then the POST role ads shall not be active on the applications." src="/assets/info_55x55.png" alt="dummy">
	                              </div>
	                              				  <div class="col-xs-6">
	                              				  <%if @item["access_control"]["post_role_settings"]["active"].nil?%>
                                      			  <%else%>
													<p><%=@item["access_control"]["post_role_settings"]["active"]%></p>
												  <%end%>
												  </div>
															</div>		
															<div class="row">
																<div class="col-xs-2">
															  	<label for="posttype">Type</label>
															  </div>
															  <div class="col-xs-1">
		                              <img class="info_img" data-toggle="tooltip" title="You can select the settings type." src="/assets/info_55x55.png" alt="dummy">
		                            </div>
		                               			  <div class="col-xs-6">
		                               			  <%if @item["access_control"]["post_role_settings"]["type"].nil?%>
                                      			  <%else%>
													<p><%=@item["access_control"]["post_role_settings"]["type"]%></p>
												  <%end%>
												  </div>
														</div>
													</div>	
													<div class="">
																<div class="mlr-15">
																	<div class="col-xs-2">
																	  <label for="name">Mid Role Settings</label><br>
																  </div>
															</div>
															<div class="clear"></div>														
															  <div class="row">
																  <div class="col-xs-2">
																  	<label for="midmobileadd">Mobile Ads Url</label>
																  </div>
																  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can provide the ads url for the mobile. This url shall be used to extract ads on the mobile apps." src="/assets/info_55x55.png" alt="dummy">
                                  </div>
                                                  <div class="col-xs-6">
                                                  <%if @item["access_control"]["mid_role_settings"]["mobile_ads_url"].nil?%>
                                      			  <%else%>
													<p><%=@item["access_control"]["mid_role_settings"]["mobile_ads_url"]%></p>
												  <%end%>
												  </div>
															</div>  
													  	<div class="row">
															  <div class="col-xs-2">
															  	<label for="midadd">Ads Url</label> 
															  </div>
															  <div class="col-xs-1">
                                  <img class="info_img" data-toggle="tooltip" title="You can provide the ads url for the website. This url shall be used to extract ads on the web portal" src="/assets/info_55x55.png" alt="dummy">
                                </div>
                                               <div class="col-xs-6">
                                                <%if @item["access_control"]["mid_role_settings"]["ads_url"].nil?%>
                                      			  <%else%>
													<p><%=@item["access_control"]["mid_role_settings"]["ads_url"]%></p>
												  <%end%>
												  </div>
															</div>
															<div class="row">  
															  <div class="col-xs-2">
															  	<label for="midrolefreq">Mid Role Frequency</label> 
															  </div>
															  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can provide the mid role frequency. This duration is in seconds. Mid Role shall be fired on the applications at these intervals." src="/assets/info_55x55.png" alt="dummy">
                                </div>
                                				  <div class="col-xs-6">
                                				  <%if @item["access_control"]["mid_role_settings"]["mid_role_frequency"].nil?%>
                                      			  <%else%>
													<p><%=@item["access_control"]["mid_role_settings"]["mid_role_frequency"]%></p>
												  <%end%>
												  </div>
															</div>  
															<div class="row">  
															  <div class="col-xs-2">
															  	<label for="midactive">Active</label>
															  </div>
															  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can set the active flag. Once set to yes mid role ads shall be active on the applications. If the flag is set to no then the mid role ads shall not be active on the applications." src="/assets/info_55x55.png" alt="dummy">
                                </div>
                                					<div class="col-xs-6">
                                				  <%if @item["access_control"]["mid_role_settings"]["active"].nil?%>
                                      			  <%else%>
													<p><%=@item["access_control"]["mid_role_settings"]["active"]%></p>
												  <%end%>
												  </div>
															</div>	
														<div class="row">
															<div class="col-xs-2">
														  	<label for="midtype">Type</label>
														  </div>
														  <div class="col-xs-1">
                                <img class="info_img" data-toggle="tooltip" title="You can select the pre role settings type." src="/assets/info_55x55.png" alt="dummy">
                              </div>
                              						<div class="col-xs-6">
                              						<%if @item["access_control"]["mid_role_settings"]["type"].nil?%>
                                      			  <%else%>
													<p><%=@item["access_control"]["mid_role_settings"]["type"]%></p>
												  <%end%>
												  </div>
													</div>
												</div>	
												<div class="">
													<div class="mlr-15">
														<div class="col-xs-2">
														  <label for="name">Overlay Settings</label><br>
													  </div>
												</div>	
												  <div class="clear"></div>
												  <div class="row">
													  <div class="col-xs-2">
													  	<label for="overlaymobileadd">Mobile Ads Url</label>
													  </div>
													  <div class="col-xs-1">
                              <img class="info_img" data-toggle="tooltip" title="You can provide the ads url for the mobile. This url shall be used to extract ads on the mobile apps." src="/assets/info_55x55.png" alt="dummy">
                            </div>
                            						  <div class="col-xs-6">
                            					  <%if @item["access_control"]["overlay_settings"]["mobile_ads_url"].nil?%>
                                      			  <%else%>
													<p><%=@item["access_control"]["overlay_settings"]["mobile_ads_url"]%></p>
												  <%end%>
												  </div>
													</div>
													<div class="row">  
													  <div class="col-xs-2">
													 		<label for="overlayadd">Ads Url</label> 
													  </div>
													  <div class="col-xs-1">
                              <img class="info_img" data-toggle="tooltip" title="You can provide the ads url for the website. This url shall be used to extract ads on the web portal" src="/assets/info_55x55.png" alt="dummy">
                            </div>
                            						 <div class="col-xs-6">
                            					  <%if @item["access_control"]["overlay_settings"]["ads_url"].nil?%>
                                      			  <%else%>
													<p><%=@item["access_control"]["overlay_settings"]["ads_url"]%></p>
												  <%end%>
												  </div>
													</div>  
												  <div class="row">
													  <div class="col-xs-2">
													  	<label for="overlayfreq">Overlay Frequency</label> 
													  </div>
													  <div class="col-xs-1">
                              <img class="info_img" data-toggle="tooltip" title="You can provide the overlay role frequency. This duration is in seconds. Overlay Role shall be fired on the applications at these intervals." src="/assets/info_55x55.png" alt="dummy">
                          	</div>
                            						 <div class="col-xs-6">
                            					  <%if @item["access_control"]["overlay_settings"]["overlay_frequency"].nil?%>
                                      			  <%else%>
													<p><%=@item["access_control"]["overlay_settings"]["overlay_frequency"]%></p>
												  <%end%>
												  </div>
												  </div>
												  <div class="row">
													  <div class="col-xs-2">
													  	<label for="overlayactive">Active</label>
													  </div>
													  <div class="col-xs-1">
                              <img class="info_img" data-toggle="tooltip" title="You can set the active flag. Once set to yes mid role ads shall be active on the applications. If the flag is set to no then the mid role ads shall not be active on the applications." src="/assets/info_55x55.png" alt="dummy">
                            </div>
                            					<div class="col-xs-6">
                            					 <%if @item["access_control"]["overlay_settings"]["active"].nil?%>
                                      			  <%else%>
													<p><%=@item["access_control"]["overlay_settings"]["active"]%></p>
												  <%end%>
												  </div>
												</div>
											</div>
											<%end%>
                                    
                                </div>
                              </div>
							</div>
						
							<br><button type="button" class="btn btn-primary" id="submitUpdateMediaForm">Update Media</button>
			
						</div>
						<!--End of content Tab  -->
					</form>
					<!-- End of Form -->

				</div>
				<!-- End of panel tab -->
			</div>
			<!--/.panel-->
		</div>
	</div>
</div>

<script type="text/javascript">

		function validateForm(){
			var inputs = document.getElementsByName("language[]");
			var lang = [];
			
			// if($('#status').val() == "published") {
	  //         if($('#published_date').val().trim().length == 0) {
	  //           $("#pdid").text("Please Provide Publish Date!");
	  //           $("#published_date").css("border", "1px solid red");
	  //           return false;
	  //         }
		 //    }

			if (inputs.length > 1) {
		        for(i=0; i < inputs.length; i++)  {
			        var langname = inputs[i].value;
			        // alert("langname is:::"+langname);
			        lang.push(langname); 
		        }

		        function duplicate( A ) {   
			        var i, j, n;
			        n=A.length;
			        for (i=0; i<n; i++) {                       
			          for (j=i+1; j<n; j++) {       
			            if (A[i]==A[j]) 
			              return true;
			          } }
			          return false;
			    }
			    if ( duplicate(lang) ) {}
			    else{
			        alert("Please choose same language");
			        lang.length=0;
			    }
			    return duplicate(lang);
			}    
			else{
				if (inputs.length == 0) {
		           alert("Please Select Language");
		           return false;
		        }
				return true;
			}
			return true;
		}

		$('#submitMediaForm').click(function(){
				var data = $('#mediaForm');
				$.ajax({
						url: '/articles/update',
						data: data,
						type: 'POST',
						dataType: 'json',
						timeout: 120000,
						error: function(e,t){
								if (t == "timeout"){
										alert("Timed Out Wait for Response")
								}
								else{
										alert(JSON.parse(e.responseText)["error"]);
								}
						},
						success: function(d){
								window.location = "/media/view_all"
						}
				});
		});

		$('#custom_tag').change(function() {
				if ($(this).prop('checked').toString()=="true"){
						$('#custom-group').show();
				}else{
						$('#custom-group').hide();
				}
		});


		$(".con_add_field_button").click(function(e){
				e.preventDefault();
				var dd = document.createElement("div");
				$(dd).append('<div class="row"><div class="col-xs-3 variable-keys"><select class="form-control" name="url_types[]" readOnly="true"><option value="saranyu">Cinestaan</option><option value="youtube">YouTube</option><option value="daily_motion">Daily Motion</option></select></div><div class="col-xs-8"><input type="text" class="form-control" name="url_names[]"></div><a href="#" class="remove_field">Remove</a></div>');
				$(".constructor").append($(dd));     
				eventFormControl($(dd));           
		});

		$(".constructor").on("click",".remove_field", function(e){
				e.preventDefault(); $(this).parent('div').remove();
		});

		$(".givemorefields").click(function(){
	        if ($(this).prop('checked').toString()=="true"){
	          $("#morefields").clone().appendTo($(this).parent()).show();
	        }
	        else {
	          $(this).parent().find("#morefields").remove();
	        }
   		});

		$(".removemorefields").click(function(){

		   	if($(this).is(':checked')){
		   		// $(this).parent().find(".row").show();
		   		$("#morefields").clone().appendTo($(this).parent()).show();
		   	}else{
		   		$(this).parent().find(".row").remove();
		   	}		   	
		});

		<%if @edit_media%>
		$('#submitUpdateMediaForm').click(function(){
			    var status = validateForm();

			    if (status == true) {
					var data = $('#mediaForm').serialize();
					var p_date = $('#published_date').val();
			        var unp_date = $('#unpublished_date').val();
			        if (p_date.trim().length > 0) {
			            var published_date1 = new Date(p_date);
			            var utc_published_date = new Date(p_date).getTime();
			        }

			        if (unp_date.trim().length > 0) {
			            var utc_unpublished_date = new Date(unp_date).getTime();
			        }
					$.ajax({
							url: '/articles/<%=@edit_media.id%>?method=update',
							data: data + "&utc_published_date=" + utc_published_date + "&utc_unpublished_date=" + utc_unpublished_date,
							type: 'POST',
							dataType: 'json',
							timeout: 120000,
							error: function(e,t){
									if (t == "timeout"){
											alert("Timed Out Wait for Response")
									}
									else{
											alert(JSON.parse(e.responseText)["error"]);
									}
							},
							success: function(d){
									//window.location = "/media/view_all"
				
					                    window.location = "/catalogs/view_catalog/<%= @item['catalog_cms_id']%>"
					              
							}
					});
				}	
		});
		<%end%>

// Image Upload to S3 server Starts here

$("#fimgb").click(function(){
    var ffileSelect = document.getElementById('fimg');
    var ffiles = ffileSelect.files;
    console.log("files is::"+ffiles);
    //console.log("ffiles is::"+ffiles[0].type);

    if (ffiles.length == 0)
    {
        alert("Please Choose Image");
    }
    else
    {
        if (ffiles[0].type == "image/png" || ffiles[0].type == "image/jpeg" || ffiles[0].type == "image/gif")
        {
        console.log("image");
        var fwidth = 794;
        var fheight = 447;
        var imgstatus = imagevalidation(ffiles,fwidth,fheight);
        }
        else
        {
        alert("Upload Image Files Only");
        }
    }
});

$("#limgb").click(function(){
    var lfileSelect = document.getElementById('limg');
    var lfiles = lfileSelect.files;
    console.log("files is::"+lfiles);
    //console.log("pfiles is::"+lfiles[0].type);

    if (lfiles.length == 0)
    {
        alert("Please Choose Image");
    }
    else
    {
        if (lfiles[0].type == "image/png" || lfiles[0].type == "image/jpeg" || lfiles[0].type == "image/gif")
        {
        console.log("image");
        var lwidth = 410;
        var lheight = 231;
        var imgstatus = imagevalidation(lfiles,lwidth,lheight);
        }
        else
        {
        alert("Upload Image Files Only");
        }
    }
});


$("#pimgb").click(function(){
    var pfileSelect = document.getElementById('pimg');
    var pfiles = pfileSelect.files;
    console.log("pfiles is::"+pfiles);
    //console.log("pfiles is::"+pfiles[0].type);

    if (pfiles.length == 0)
    {
        alert("Please Choose Image");
    }
    else
    {
        if (pfiles[0].type == "image/png" || pfiles[0].type == "image/jpeg" || pfiles[0].type == "image/gif")
        {
        console.log("image");
        var pwidth = 251;
        var pheight = 141;
        var imgstatus = imagevalidation(pfiles,pwidth,pheight);
        }
        else
        {
        alert("Upload Image Files Only");
        }
    }
});


</script>

<script type="text/javascript">
$(document).ready(function(){

    var input_p_date = "<%= @item['published_date'] %>"
    if (input_p_date.length > 0) {
	    var publish_date = new Date(Number(input_p_date));
		var p_month = publish_date.getMonth()+1;
		var p_day = publish_date.getDate();
		var p_minutes = publish_date.getMinutes();
		var p_hour = publish_date.getHours();

		var p_output = publish_date.getFullYear() + '-' + (p_month<10 ? '0' : '') + p_month + '-' + (p_day<10 ? '0' : '') + p_day + ' ' + p_hour + ":" + p_minutes;
		 console.log("calculting publish data "+ p_output);
		$("#published_date").val(p_output);
	}

	var input_unp_date = "<%= @item['unpublished_date'] %>"
    if (input_unp_date.length > 0) {
	    var unpublish_date = new Date(Number(input_unp_date));
		var unp_month = unpublish_date.getMonth()+1;
		var unp_day = unpublish_date.getDate();
		var unp_minutes = unpublish_date.getMinutes();
		var unp_hour = unpublish_date.getHours();

		var unp_output = unpublish_date.getFullYear() + '-' + (unp_month<10 ? '0' : '') + unp_month + '-' + (unp_day<10 ? '0' : '') + unp_day + ' ' + unp_hour + ":" + unp_minutes;
		 console.log("calculting publish data "+ unp_output);
		$("#unpublished_date").val(unp_output);
	}

	$('#release_date_string').datepicker({
                    format: "yyyy-mm-dd"
                });

	$('#published_date').datetimepicker({
                    locale: 'en',
                    format: 'YYYY-MM-DD HH:mm'
                });
      $('#unpublished_date').datetimepicker({
                    locale: 'en',
                    format: 'YYYY-MM-DD HH:mm'
                });

    $.validator.setDefaults({ ignore: ":hidden:not(.chosen-select, .ckeditor)" });
    //deal with copying the ckeditor text into the actual textarea
    CKEDITOR.on('instanceReady', function () {
        $.each(CKEDITOR.instances, function (instance) {
            CKEDITOR.instances[instance].document.on("keyup", CK_jQ);
            CKEDITOR.instances[instance].document.on("paste", CK_jQ);
            CKEDITOR.instances[instance].document.on("keypress", CK_jQ);
            CKEDITOR.instances[instance].document.on("blur", CK_jQ);
            CKEDITOR.instances[instance].document.on("change", CK_jQ);
        });
    });

    function CK_jQ() {
        for (instance in CKEDITOR.instances) {
            CKEDITOR.instances[instance].updateElement();
        }
    }


});    
</script>