<div class="modal fade" id="viewReport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="view_media">
            	<div class="panel panel-primary">
					<div class="panel-heading">
						Report from <%=@report["start_date"]%> to <%=@report["end_date"]%>
					</div>
					<div class="panel-body">
						Total Media Count: <%=@report["media_count"]%><br>
						Transcoded Media Count: <%=@report["transcoding_count"]%><br>
						Transcoded Media Duration: <%=distance_of_time_in_words(@report["transcoding_minutes"]*60)%>
					</div>
				</div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->