<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li>Business Groups</li>
            <li class="active">Business Group</li>
        </ol>
    </div><!--/.row-->
    <!-- <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Business Group</h1>
        </div>
    </div> --><!--/.row-->
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" id="verifyForm" role="form">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="email">Admin Email ID</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="email" name="email" value="<%=@verify_user.email%>" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="password">Password</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                   <input type="password" class="form-control input-sm" name="bgpass" id="bgpass" placeholder="password" onkeypress="return loginEnter(event);"/>
                                </div>
                            </div>
                           
                            <!-- <div class="row">
                                <div class="col-xs-2">
                                    <label for="confirm_password">Confirm password</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <input type="password" name="confirm_password" id="confirm_password" placeholder="confirm_password" onkeypress="return loginEnter(event);"/>
                                </div>
                            </div> -->
                            <br><button type="button" class="btn btn-primary" id="submitverifyForm">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div><!--/.panel-->
        </div>
    </div>
</div>


<script type="text/javascript">

// $(function(){
 
//     $('#name').keyup(function()
//     {
//         var yourInput = $(this).val();
//         re = /[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi;
//         var isSplChar = re.test(yourInput);
//         if(isSplChar)
//         {
//             var no_spl_char = yourInput.replace(/[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi, '');
//             $(this).val(no_spl_char);
//         }
//     });
 
// });
    
    function validateForm(){
      // var field = $('#name').val();
      // if ((field.trim()).length == 0) {
      //   alert("Please Provide Name!");
      //   return false;
      // }

      // var field = $('#email').val();
      // if ((field.trim()).length == 0) {
      //   alert("Please Provide Email Id!");
      //   return false;
      // }

      // var field = $('#tx_base_url').val();
      // if ((field.trim()).length == 0) {
      //   alert("Please Provide Transcoding API Base URL!");
      //   return false;
      // }

      // var field = $('#tx_auth_token').val();
      // if ((field.trim()).length == 0) {
      //   alert("Please Provide Transcoding API Authentication Token!");
      //   return false;
      // }

      // var field = $('#admin_base_url').val();
      // if ((field.trim()).length == 0) {
      //   alert("Please Provide Admin API Base URL!");
      //   return false;
      // }

      return true;

    }

    $('#submitverifyForm').click(function(){
        
        var status = validateForm();
        console.log(status);
        if (status == true) {
            var data = $('#verifyForm').serialize();
            $.ajax({
                url: '/business_groups/verify',
                data: data,
                type: 'PUT',
                dataType: 'json',
                timeout: 120000,
                error: function(e,t){
                    if (t == "timeout"){
                        alert("Timed Out Wait for Response")
                    }
                    else{
                        alert(JSON.parse(e.responseText)["error"]);
                    }
                },
                success: function(d){
                    alert("Your are successfully register. Please Sign In")
                    window.location = "/"
                }
            });
        }
    });
</script>