<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4">
            <h2>Primary Info</h2>
            <p><b>Transcoding Base URL:</b> <%=@bg.tx_base_url%></p>
            <p><b>Transcoding Auth Token:</b> <%=@bg.tx_auth_token%></p>
            <%if @bg.plan=="ott"%>
            <p><b>OTT Auth Token:</b> <%=@bg.ott_auth_token%></p>
            <%end%>
            <p><b>Admin Base URL:</b> <%=@bg.admin_base_url%></p>
        </div>
        <div class="col-xs-2">
            <h2>Media Info</h2>
            <p><b>Total Media:</b> <%=Media.where(:bg_id=>@bg.id).count%></p>
            <p><b>Published:</b> <%=Media.where(:bg_id=>@bg.id).where(:status=>"Published").count%></p>
            <p><b>Ingestion Failed:</b> <%=Media.where(:bg_id=>@bg.id).where(:status=>"Ingestion Error").count%></p>
            <p><b>Transcoding Failed:</b> <%=Media.where(:bg_id=>@bg.id).where(:status=>"Transcoding Error").count%></p>
            <p><b>Request Failed:</b> <%=Media.where(:bg_id=>@bg.id).where(:status=>"Request Error").count%></p>
        </div>
        <div class="col-xs-6">
            <h2>Generate Report</h2>
            <div class="row">
                <form class="form-horizontal" id="reportInfo" role="form">
                    <div class="col-xs-4">
                        <p><b>Select Start Date</b></p>
                        <p>[MM/DD/YYYY]</p>
                        <input type="date" class="form-control" name="start_date">
                    </div>
                    <div class="col-xs-4">
                        <p><b>Select End Date</b></p>
                        <p>[MM/DD/YYYY]</p>
                        <input type="date" class="form-control" name="end_date">
                    </div>
                    <div class="col-xs-4">
                        <br><button type="button" class="btn btn-sm btn-success" id="getReport">Report</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <h2>Platform Info</h2>
            <div class="col-xs-12">
                <table id="servers-table" class="table table-condensed table-hover">
                </table>
            </div>
        </div>
        <div class="col-xs-6">
            <div id="report-area">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: '/business_groups/<%=@bg.id%>/platform_details',
            type: 'GET',
            data: {},
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
            },
            success: function (data) {
                var div = document.getElementById('servers-table');
                div.innerHTML = '<thead background-color="blue"><tr><th><center>Server ID</center></th><th><center>Instance ID</center></th><th><center>Public IP</center></th><th><center>State</center></th><th><center>Actions</center></th></tr></thead>'
                div.innerHTML += '<tbody>';
                for (i=0;i<data["server_list"].length;i++)   {
                    row = '<tr server-id="'+data["server_list"][i]["server_id"]+'"><td><center>'+data["server_list"][i]["server_id"]+'</center></td><td><center>'+data["server_list"][i]["instance_id"]+'</center></td><td><center>'+data["server_list"][i]["public_ip_addr"]+'</center></td><td><center>'+data["server_list"][i]["state"]+'</center></td>'
                    row += '<td><center>';
                    if (data["current_user_roles"].indexOf('cms_manager') > -1) {
                        row += '<button type="button" class="btn btn-xs btn-info get-instance" instance-id='+data["server_list"][i]["instance_id"]+'><span class="glyphicon glyphicon-th-list"></button>';
                    }else{
                        row += '<button type="button" class="btn btn-xs btn-info get-instance" instance-id='+data["server_list"][i]["instance_id"]+' disabled><span class="glyphicon glyphicon-th-list"></button>';
                    }
                    row += '</center></td>';
                    row += '</tr>'
                    div.innerHTML += row
                };
                div.innerHTML += '</tbody>';
                get_instance();
            }
        });
    });
    $('#getReport').click(function(){
        var data = $('#reportInfo').serialize();
        $.ajax({
            url: '/business_groups/<%=@bg.id%>/report?'+data,
            type: 'GET',
            data: {},
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
            },
            success: function (data) {
                var div = document.getElementById('report-area');
                div.innerHTML = '<h2>Report</h2>'
                div.innerHTML += '<p><strong>Media Count</strong>: '+data.report["media_count"]+'</p>'
                div.innerHTML += '<p><strong>Transcoding Count</strong>: '+data.report["transcoding_count"]+'</p>'
                div.innerHTML += '<p><strong>Transcoded Duration</strong>: '+data.report["transcoding_minutes"]+' minutes</p>'
            }
        });
    });
    function get_instance() {
        $('.get-instance').click(function(){
            $.ajax({
                url: '/business_groups/<%=@bg.id%>/instance/'+$(this).attr('instance-id'),
                type: 'POST',
                timeout: 120000,
                error: function(e,t){
                    if (t == "timeout"){
                        alert("Timed Out Wait for Response")
                    }
                    else{
                        alert(JSON.parse(e.responseText)["error"]);
                    }
                },
                success: function(data){
                    data = data["instance_details"]
                    var div = document.getElementById('report-area');
                    div.innerHTML = '<h2>Instance Details</h2>'
                    div.innerHTML += '<p><strong>Instance ID</strong>: '+data["instance_id"]+'</p>'
                    div.innerHTML += '<p><strong>Public IP</strong>: '+data["public_ip_addr"]+'</p>'
                    div.innerHTML += '<p><strong>State</strong>: '+data["state"]+'</p>'
                    div.innerHTML += '<p><strong>Total No. of ECUs</strong>: '+data["ecus"]+'</p>'
                    div.innerHTML += '<p><strong>Free ECUs</strong>: '+data["ecus_available"]+'</p>'
                    div.innerHTML += '<p><strong>No. of Cores</strong>: '+data["cores"]+'</p>'
                    div.innerHTML += '<p><strong>Total RAM</strong>: '+data["ram"]+'</p>'
                    div.innerHTML += '<p><strong>Time Created</strong>: '+data["time_created"]+'</p>'
                }
            });
        });
    };
</script>