<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
		<div class="row">
				<ol class="breadcrumb">
						<li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
						<li>Tv Channels</li>
						<li class="active">Add Tv Channels</li>
				</ol>
		</div>
		<!-- <div class="row">
				<div class="col-lg-12">
						<h1 class="page-header">Add Tv Channels</h1>
				</div>
		</div> -->

		<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<form class="form-horizontal" id="livetvchannelsForm" role="form">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-2">
									<label for="channel_name">Channel Name</label>
									</div>
									<div class="col-xs-1">
																				<img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
																		</div>
																			<div class="col-xs-6">
									<input type="text" class="form-control input-sm" id="title" name="title" value="">
								</div>
							</div> 
							
<div class="row">
                                    <div class="col-xs-2">
                                        <label>Catalog</label>
                                        </div>
                                        <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="The catalog that the item belongs to. The item shall be placed under the catalog" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                        <input type="text" class="form-control input-sm" id="catalog_name" name="catalog_name" placeholder="<%=@catalog["name"]%>" value="<%=@catalog["name"]%>" readonly>
                                        <input type=hidden id="catalog_id" name="catalog_id" value="<%=@catalog_id%>">
                                    </div>
                                </div>
														
							<div class="row">
								<div class="col-xs-2">
									<label for="channel_id">Channel ID</label>
									</div>
									<div class="col-xs-1">
																				<img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
																		</div>
																			<div class="col-xs-6">
									<input type="text" class="form-control input-sm" id="channel_id" name="channel_id" value="">
								</div>
							</div>

							
		<div class="row">
                                        <div class="col-xs-2">
                                        <label>EPG Available</label>
                                        </div>
                                        <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="The ID for the EPG" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                       <div class="radio">
                                        <label><input type="radio" id="epgoptradio" name="epgoptradio" value="yes">Yes</label>
                                        <label><input type="radio" id="epgoptradio" name="epgoptradio" value="no">No</label>
                                       </div>
                                      </div>
                                       </div>
                                        
                                        <div class="row">
                                    <div class="col-xs-2">
                                        <label>EPG ID</label>
                                        </div>
                                        <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="The ID for the EPG" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                        <input type="text" class="form-control input-sm" id="epg_id" name="epg_id" value="">
                                       </div>
                                       </div>					
							<div class="row">
								<div class="col-xs-2">
									<label for="smarturl">Smart URL</label>
									</div>
									<div class="col-xs-1">
																				<img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
																		</div>
																			<div class="col-xs-6">
									<input type="text" class="form-control input-sm" id="smarturl" name="smarturl" placeholder="" value="">
								</div>
							</div>

							
															<!-- <div class="panel panel-default">
											<div class="panel-body"> -->
											<div class="row">
											<%tenant = Tenant.find_by(:id=>@tenant_id)%>
											<div class="col-xs-2">
												 <label>Tenant</label> 
												 </div>
												 <div class="col-xs-1">
												 </div>
												 <div class="col-xs-6">
													<%=tenant.name%>
												 </div>
												 <div class="col-xs-12"></div>
												<% apps = App.where(:tenant_id=>tenant.id) %>
												<% app_count = apps.count %>
												<div class="col-xs-2">
												<label>Select Applications</label>
												</div>
												<div class="col-xs-1">
																					 <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
																			</div>
												<div class="col-xs-6">
												<div class="checkbox">
												<% apps.each do |app|%>
												<label class="checkboxapp<%=app_count%>">
												<input type="checkbox" class="checkboxapp" id="checkboxapp<%=app.id%>" name="app_ids[]" value="<%=app.id%>"><%=app.name%>
												</label>
												<%end%>
												</div>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-2">
												<label>Select Genres</label>
												</div>
												<div class="col-xs-1">
												<img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
												</div>
												<div class="col-xs-6">
												<div class="checkbox" >
												<%genre = []%>
												<% @livechannel["genres"].keys.each do |g| %>
												<%if g.to_s == tenant.ott_id.to_s %>
															 <% genre = (@livechannel["genres"][tenant.ott_id]).map{|gen| gen["name"] } %>
												<%genre.each do |gn|%>
												<label><input type="checkbox" name="genre[]" value="<%= gn %>"><%=gn%></label>
												<% end %>
												<% end %>
												<%end%>
												</div>
												</div>
													
											</div>

												<div class="row">
												<div class="col-xs-2">
												<label for="language">Select Language</label>
												</div>
												<div class="col-xs-1">
												<img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
												</div>
												<div class="col-xs-6">
												<%language = []%>
													<select name="language" class="form-control input-sm">
																						<option value="">Select one from below</option>
																						<% @livechannel["languages"].keys.each do |l| %>
																						<%if l == tenant.ott_id %>
												<% language = (@livechannel["languages"][tenant.ott_id]).map{|lan| lan["name"] } %>
																						<%language.each do |ln|%>
																							<option  value="<%= ln %>"><%= ln%></option>
													<%end%>
													<%end%>
													<%end%>
																				</select> 
												</div>
												</div> 
												<!-- </div>
												</div> -->
							

							<div class="row">
																<div class="col-xs-2">
																	 <label for="status">Status</label>
																	 </div>
																	 <div class="col-xs-1">
																				<img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
																		</div>
																			<div class="col-xs-6">
																	 <select name="status" id="status" class="form-control input-sm">
																				<option value="">Select one from below</option>
																				<option value="published">Publish</option>
																				<option value="edit">Edit</option>
																		</select>
																</div>
														</div>

							<div class="row">
														<div class="col-xs-2">
															<label>Description</label>
															</div>
															<div class="col-xs-1">
																				<img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
																		</div>
																			<div class="col-xs-6">
															<textarea class="form-control input-sm" rows="5" id="description" name="description" placeholder="" value=""></textarea>
														</div>
											 </div>


													
																<br><button type="submit" class="btn btn-primary" id="submitchannelsForm" >Add Channels</button>
																</div>
						</div>
						<input type="hidden" id="catalog_id" name="catalog_id" value="<%=@catalog_id%>">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>






<script type="text/javascript">
$(document).ready(function () {
	$('[data-toggle="tooltip"]').tooltip();   
});

(function($,W,D)
{
		var JQUERY4U = {};

		JQUERY4U.UTIL =
		{
				setupFormValidation: function()
				{
						//form validation rules
						$("#livetvchannelsForm").validate({

								errorPlacement: function (error, element) {
										error.css({'float':'left','color':'red'});
										error.addClass("error")
										error.insertAfter(element);
								},
								rules: {
										title: "required",
										channel_name: "required",
										channel_id: "required",
										logo: "required",
										smarturl: "required",
										'app_ids[]': "required",
										'genre[]': "required",
										language: "required",
										status: "required",
										'region[]': "required"
								},
								messages: {
										title: "THIS FIELD IS MANDATORY",
										channel_name: "THIS FIELD IS MANDATORY",
										channel_id: "THIS FIELD IS MANDATORY",
										logo: "THIS FIELD IS MANDATORY",
										smarturl: "THIS FIELD IS MANDATORY",
										'app_ids[]': "THIS FIELD IS MANDATORY",
										'genre[]': "THIS FIELD IS MANDATORY",
										language: "THIS FIELD IS MANDATORY",
										status: "THIS FIELD IS MANDATORY",
										'region[]': "THIS FIELD IS MANDATORY"
								},
								submitHandler: function(form) {
										//form.submit();
										return false;
								}
						});
				}
		}

		//when the dom has loaded setup form validation rules
		$(D).ready(function($) {
				JQUERY4U.UTIL.setupFormValidation();
		});

})(jQuery, window, document);


$(".rorder_add_field_button").click(function(v){
								v.preventDefault();
								var vv = document.createElement("div");
								$(vv).append('<div class="row"><div class="col-xs-2"><label>Region</label></div><div class="col-xs-10"><input type="text" class="form-control input-sm" name="region[]" value="" placeholder=""></div></div><div class="row"><div class="col-xs-2"><label for="order">Order</label></div><div class="col-xs-10"><input type="text" class="form-control input-sm" name="order[]" placeholder="1" value="1"></div><div class="col-xs-12"></div></div><div class="row"><div class="col-xs-2"><label>Publish Status</label></div><div class="col-xs-10"><input type="text" class="form-control input-sm" name="publish_status[]" value="" placeholder=""></div></div><div class="row"><div class="col-xs-2"><label>Epg Available</label></div><div class="col-xs-10"><select class="form-control input-sm" name="epg_available[]"><option value="true">yes</option><option value="false">No</option></select></div></div><div class="row"><div class="col-xs-2"><label for="epg_id">EPG Id</label></div><div class="col-xs-10"><input type="text" class="form-control input-sm" id="epg_id" name="epg_id" value=""></div></div><div class="row"><%tenant = Tenant.find_by(:id=>@tenant_id)%><div class="col-xs-2"><label>Tenant</label></div><div class="col-xs-1"></div><div class="col-xs-6"><%=tenant.name%></div><div class="col-xs-12"></div><% apps = App.where(:tenant_id=>tenant.id) %><% app_count = apps.count %><div class="col-xs-2"><label>Select Applications</label></div><div class="col-xs-1"></div><div class="col-xs-6"><div class="checkbox"><% apps.each do |app|%><label class="checkboxapp<%=app_count%>"><input type="checkbox" class="checkboxapp" id="checkboxapp<%=app.id%>" name="app_ids[]" value="<%=app.id%>"><%=app.name%></label><%end%></div></div></div><div><a href="#" class="remove_field1">Remove</a></div>');
								$(".regioncon").append($(vv));
				});

				$(".regioncon").on("click",".remove_field1", function(v){
								v.preventDefault(); $(this).parent('div').remove();
				});

$('#submitchannelsForm').click(function(){
				// var tenant_id = document.getElementById("tenant_id").value;
				// var status = validateForm();
				// console.log(status);
				var status = $('#livetvchannelsForm').valid();
				console.log(status);
				if ( status == true) {
				var data = $('#livetvchannelsForm').serialize();
				$.ajax({
						url: '/livechannels/',
						data: data,
						type: 'POST',
						dataType: 'json',
						timeout: 120000,
						error: function(e,t){
								if (t == "timeout"){
										alert("Timed Out Wait for Response")
								}
								else{
										alert(JSON.parse(e.responseText)["error"]);
								}
						},
						success: function(d){
								window.location = "/"
						}
				});
				}
		});



</script>
