<br><br>
<form class="form-horizontal" id="PasswordForm" role="form">
	<div class="row">
		<div class="col-md-6">
			<div id="email" class="form-group">
				<label for="email" class="col-sm-5 control-label">Email</label>
				<div class="col-sm-7">
					<input type="email" class="form-control" name="email" placeholder="Email" value="">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-5 control-label"></label>
				<div class="col-sm-7">
					<button type="button" class="btn btn-info" id="changePasswordForm">Change Password</button>
					<a href="/" type="button" class="btn btn-danger" id="cancelPasswordForm">Cancel</a>
				</div>
			</div>
		</div>	  
	</div>
</form>
<br>

<script type="text/javascript">
	$('#changePasswordForm').click(function(){
		var data = $('#PasswordForm').serialize();
		
		$("#changePasswordForm").text("Submitting...");
    	$('#changePasswordForm').attr('disabled', 'disabled');

		$.ajax({
			url: '/users/update_password',
			data: data,
			type: 'POST',
			dataType: 'json',
			timeout: 120000,
			error: function(e,t){
				if (t == "timeout"){
					alert("Timed Out Wait for Response")
				}
				else{
				  	alert(JSON.parse(e.responseText)["error"]);
				  	$('#changePasswordForm').removeAttr('disabled');
            		$("#changePasswordForm").text("Change Password");
				}
			},
			success: function(d){
				window.location = "/"
			}
		});
	});
</script>