<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li>Users</li>
            <li class="active">Add User</li>
        </ol>
    </div><!--/.row-->
    <!-- <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Add New User</h1>
        </div>
    </div> --><!--/.row-->
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" id="userForm" role="form" onkeypress="return spacecheck(event)">
                        <div class="container-fluid">
                            <div class="row">
                            <div class="error_media"> </div>
                                <div class="col-xs-2">
                                    <label for="email">Email</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_nu_Email')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="email" name="email" value="">
                                </div>
                            </div>
                            <% if params[:co].present?%>
                                   <div class="row" id="user_role">
                                <div class="col-xs-2">
                                    <label for="roles">Role</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_nu_Role')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <select name="roles" id="roles" class="form-control input-sm">
                                        <%#if @bg.plan=="ott"%>
                                       <!--  <option value="content_editor">Content Editor</option> -->
                                       <option value="publisher">Media Manager</option>
                                       <option value="media_viewer">Media Viewer</option>
                                        <option value="content_owner">Content Owner</option>
                                        <%#end%>
                                        <!-- <option value="publisher">Publisher</option> -->
                                        <%#if current_user.roles.include? "cms_manager"%>
                                       <option value="admin">Admin</option>
                                        <%#end%>
                                    </select>
                                </div>
                            </div>
                             <div class="row" id="content_owner_dd">
                            <div class="error_media"> </div>
                                <div class="col-xs-2">
                                    <label for="content_owner">Content Owner</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="Provide the content owner" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                <select name="content_owner" id="content_owner" class="form-control input-sm">
                                        <% content_owner_details.each do |i| %>
                                        <option value="<%=i.split('-')[1]%>-<%=i.split('-')[2]%>" name="<%= i.split('-')[0]%>"><%= i.split('-')[0]%></option>
                                        <% end %>
                                    </select>
                                </div>
                            </div>
                            <% else %>
                               <div class="row">
                                <div class="col-xs-2">
                                    <label for="roles">Role</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_nu_Role')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <select name="roles" id="roles" class="form-control input-sm">
                                        <%if @bg.plan=="ott"%>
                                            <option value="content_editor">Content Editor</option>
                                        <%end%>
                                        <!-- <option value="publisher">Publisher</option> -->
                                        <%#if current_user.roles.include? "cms_manager"%>
                                        <option value="admin">Admin</option>
                                        <%#end%>
                                    </select>
                                </div>
                            </div>
                            <% end %>
                            <input type="hidden" id="content_owner_name" name="content_owner_name" value=" ">
                            <!-- <div class="row">
                                <div class="col-xs-2">
                                    <label for="public_access">Has Public Access?</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <input type="checkbox" class="form-control input-sm" id="public_access" name="public_access" data-toggle="toggle" data-size="mini">
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="password">Password</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_nu_Password')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <input type="password" id="password" class="form-control input-sm" name="password" placeholder="New password of your choice" value="" onkeypress="return spacecheck(event);">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="password">Password Confirmation</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_nu_Password_Confirmation')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <input type="password" class="form-control input-sm required passwordCheck" id="password_confirm" name="password_confirm" placeholder="Confirm New Password" value="" onkeypress="return spacecheck(event);">
                                </div>
                            </div>
                            <br><button type="submit" class="btn btn-primary" id="submitUserForm">Add User</button>
                        </div>
                    </form>
                </div>
            </div><!--/.panel-->
        </div>
    </div>
</div>


<%= render :partial => "users/user_validations" %>

<script>
$('#content_owner').change(function() {
    var co = $(this).find('option:selected').attr("name");
    var a = $('body').find('#content_owner_name').attr('value', co);
    // alert(a);
});
</script>
<script>
    $(document).ready(function(){
        $("#content_owner_dd").hide();
    })
$('#user_role').on('change', function() {
    var role = $(this).find(":selected").val();
    if (role == "content_owner")
    {
         $("#content_owner_dd").show();
    }
    else
    {
        $("#content_owner_dd").hide();
    }
})
</script>
