<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li>Users</li>
            <li class="active">All</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div>
                        <table class = "table table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th>User ID</th>
                                    <th>Email</th>
                                    <th>Roles</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @user_list .each do |user| %>
                                    <% delete_disabled = "" %>
                                    <%if !(@current_user.roles.include? "cms_manager") %>
                                        <% delete_disabled = "disabled" %>
                                    <%end%>
                                    <tr>
                                        <td><%= user["_id"] %></td>
                                        <td><%= user["email"] %></td>
                                        <td><%= user["roles"].join(",") %></td>
                                        <td>

                                            <button type="button" class="<%= delete_disabled %>' btn btn-xs btn-info edit-user" user-id='<%= user["_id"] %>'><span class="glyphicon glyphicon-pencil"></button>

                                            <button type="button" class="<%= delete_disabled %>' btn btn-xs btn-danger delete-user" user-id='<%= user["_id"] %>'><span class="glyphicon glyphicon-trash"></button>


                                        </td>  
                                        </tr>
                                <% end %>    
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <% if params[:page].to_i != 1 %> 
                          <%=link_to "Previous","#{request.original_url.split("?page")[0]}?page=#{params[:page].to_i-1}"%>
                        <%else %>
                         Previous
                        <% end %>
                        <% if @next_user_list.empty? %>
                         Next
                        <% else %>
                          <%=link_to "Next","#{request.original_url.split("?page")[0]}?page=#{params[:page].to_i+1}"%>
                        <% end %>
                    </div>                       
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $('.edit-user').click(function(){        
       window.location.href = '/users/edit?user_id='+$(this).attr('user-id');
    });
 
    $('.delete-user').click(function(){        
        $.ajax({
            url: '/users/'+$(this).attr('user-id')+'?method=delete',
            type: 'POST',
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
            },
            success: function(d){
                alert("User Deleted Successfully");
                location.reload();
            }
        });
    });

</script>