  <div class="row">
   <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12 pull-right highlights">
       <h1>Way Back Home</h1>
     </div>
     <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12 pull-right highlights">
       <h2>Asset Information</h2>
     </div>
     <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12 pull-right rev_lic">
       <h3><span class="revenue">Revenue</span> | <span class="license">License</span></h3>
     </div>
     </div>
     <div class="row" style="display: flex;justify-content: center;">
     <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12"  id="revenue_details">
    <table>
      <tr>
        <th><left>Sub ID</left></th>
      
        <th><left>Season</left></th>
      
        <th><left>Asset Name</left></th>
     
        <th><left>Duration</left></th>
      
        <th><left>Views</left></th>
      
        <th><left>Total hours viewed</left></th>
      </tr>
      <% @show_data.each do |i| %>
      <tr>
        <td><%=i.asset_id%></td>
        <%season_count = individual_seasons_count(@show_data)%>
        <%season_count.each_with_index do |(key,value),index|%>
        <%ind = key == nil ? 0 : 1%>
        <% if i['subcategory_id'] == key%>
        <td><%=index+ind%></td>
        <%ind + 1 %>
        <% else%>
         <% next%>
        <% end %>
         <% end %>
        <td><%=i.title%></td>
        <td><%=i.duration_string%></td>
        <td></td>
        <td></td>
      </tr>
      <% end %>
     
    </table>
 </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" id="license_details" style="display:none;">
    <table>
      <tr>
        <th><left>Sub ID</left></th>
      
        <th><left>Season</left></th>
      
        <th><left>Asset Name</left></th>
     
        <th><left>Start Date</left></th>
      
        <th><left>License Expires on </left></th>
      </tr>
      <% @show_data.each do |i| %>
      <tr>
        <td><%=i.asset_id%></td>
          <%season_count = individual_seasons_count(@show_data)%>
        <%season_count.each_with_index do |(key,value),index|%>
        <%ind = key == nil ? 0 : 1%>
        <% if i['subcategory_id'] == key%>
        <td><%=index+ind%></td>
        <%ind + 1 %>
        <% else%>
         <% next%>
        <% end %>
         <% end %>
        <td><%=i.title%></td>
        <td><%=convert_datetime_co(i.ott_publish_date)%></td>
        <td><%=convert_datetime_co(i.ott_unpublish_date)%></td>
      </tr>
      <% end %>
     
    </table>
 </div>
  </div>

   <script>
  $(document).ready(function(){
    // alert(1);
    $(".license").css({
    'color' : '#338CCC', 
    'text-decoration' : 'underline',
     'cursor' : 'pointer'
    });
      $(".revenue").css({
    'color' : '#000', 
    'text-decoration' : 'none',
    'cursor' : 'default'
    });
    $(".license").click(function(){
      $("#license_details").show();
      $("#revenue_details").hide();
      $(".revenue").css({
    'color' : '#338CCC', 
    'text-decoration' : 'underline',
    'cursor' : 'pointer'
    });
      $(".license").css({
    'color' : '#000', 
    'text-decoration' : 'none',
    'cursor' : 'default'
    });
  });
       $(".revenue").click(function(){
      $("#license_details").hide();
      $("#revenue_details").show();
      $(".license").css({
    'color' : '#338CCC', 
    'text-decoration' : 'underline',
    'cursor' : 'pointer'
    });
      $(".revenue").css({
    'color' : '#000', 
    'text-decoration' : 'none',
    'cursor' : 'default'
    });
  });
   })  
  </script>