


<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>


<script type="text/javascript">


(function($,W,D)
{
    var JQUERY4U = {};

    JQUERY4U.UTIL =
    {
        setupFormValidation: function()
        {
            //form validation rules
            $("#accesscontrollerForm").validate({

                errorPlacement: function (error, element) {
                    error.css({'float':'left','color':'red','text-align':'left'});
                    error.addClass("error")
                    error.insertAfter(element);
                },
                rules: {
                    'tenants[]': "required",
                    title: "required",
                    start_date: "required",
                    end_date: "required",
                    premobileadd: "required",
                    preadd: "required",
                    pretype: "required",
                    postmobileadd: "required",
                    postadd: "required",
                    posttype: "required",
                    midmobileadd: "required",
                    midadd: "required",
                    midrolefreq: "required",
                    midtype: "required",
                    overlaymobileadd: "required",                    
                    overlayadd: "required",                    
                    overlayfreq: "required"                    
                },
                messages: {
                    'tenants[]': "THIS FIELD IS MANDATORY",
                    title: "THIS FIELD IS MANDATORY",
                    start_date: "THIS FIELD IS MANDATORY",
                    end_date: "THIS FIELD IS MANDATORY",
                    premobileadd: "THIS FIELD IS MANDATORY",
                    preadd: "THIS FIELD IS MANDATORY",
                    pretype: "THIS FIELD IS MANDATORY",
                    postmobileadd: "THIS FIELD IS MANDATORY",
                    postadd: "THIS FIELD IS MANDATORY",
                    posttype: "THIS FIELD IS MANDATORY",
                    midmobileadd: "THIS FIELD IS MANDATORY",
                    midadd: "THIS FIELD IS MANDATORY",
                    midrolefreq: "THIS FIELD IS MANDATORY",
                    midtype: "THIS FIELD IS MANDATORY",
                    overlaymobileadd: "THIS FIELD IS MANDATORY",
                    overlayadd: "THIS FIELD IS MANDATORY",
                    overlayfreq: "THIS FIELD IS MANDATORY"
                },
                submitHandler: function(form) {
                    //form.submit();
                    return false;
                }
            });
        }
    }

    //when the dom has loaded setup form validation rules
    $(D).ready(function($) {
        JQUERY4U.UTIL.setupFormValidation();
    });

})(jQuery, window, document);

$(document).ready(function () {
                
                $('#sdate').datetimepicker({
                    //format: "yyyy-mm-dd"
                    format: "MMMM DD YYYY, HH:mm:ss"
                }); 

                $('#edate').datetimepicker({
                    //format: "yyyy-mm-dd"
                    format: "MMMM DD YYYY, HH:mm:ss"
                });  
            
            });

$('#submitaccesscontrollerForm').click(function(){
				var status = $('#accesscontrollerForm').valid();
				console.log(status);

				if ( status == true) {
				var data = $('#accesscontrollerForm').serialize();
                pbar=false;
				$.ajax({
						url: '/accesscontrol/',
						data: data,
						type: 'POST',
						dataType: 'json',
						timeout: 120000,
						error: function(e,t){
								if (t == "timeout"){
										alert("Timed Out Wait for Response");
								}
								else{
										//alert(JSON.parse(e.responseText)["error"]);
										var error = JSON.parse(e.responseText)["error"];
										if (error == "Request Failed"){
										$(".error_media").text("Title Already Exist");
                                        $("#title").focus();
									    }else{
									    	$(".error_media").text(JSON.parse(e.responseText)["error"]);
                                            $("#title").focus();
									    }
								}
						},
						success: function(d){
								//window.location = "/"
								alert("Content Added Successfully");
                                //window.location = "/tenants/view_tenant/<%=@tenant_id%>"
								window.location = "/accesscontrol/view_all"
						}
				});
				}
		});

$("#tenant_id").change(function(){
        var tenant_id = $(this).val();
        //console.log("tenant_id ::::"+tenant_id);
        $("#tenantid").val(tenant_id);
        //$("#showuser").show();
                $.ajax({
                        url: '/tenantplans/?access=access',
                        data:{tenant_id: tenant_id},
                        type: 'Get',
                        timeout: 120000,
                        error: function(e,t){
                                if (t == "timeout"){
                                        alert("Timed Out Wait for Response")
                                }
                                else{
                                        alert(JSON.parse(e.responseText)["error"]);
                                }
                        },
                        success: function(d){
                            var tenant_id = $("#tenantid").val();
                            $("#accessdata").html(d);
                        }
                });
             });

</script>