 <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                <% if (current_user.roles.length == 1) && (current_user.roles[0] == "media_viewer")%>
                            <% else %>
                <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/accesscontrol/new'">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Content Control
                </button><% end %>
                    <div id="table5" data_source="/accesscontrol/get_all?tenant_id=<%=@tid%>" auto_refresh="100000000" loader="false" entries_info="true">
                                            <script type="text/javascript" >
                                                $(document).ready(function(){  
                                                var roles = <%= raw current_user.roles.to_json%>
                                                // var found = roles.includes('media_viewer');
                                                 var found = (roles.indexOf("media_viewer") > -1);
                                                var with_action = '<tr><th><left>Title</left></th><th><left>Is Free</left></th><th><left>Ads </left></th><th><left>Login</left></th><th><left>Actions</left></th></tr>'
                                                var with_out_actions = '<tr><th><left>Title</left></th><th><left>Is Free</left></th><th><left>Ads </left></th><th><left>Login</left></th></tr>'     
                                                    var table5 = new saranyutable("#table5");
                                                    table5.createBody = function createBody(_this) {            
                                                       if ((found == true) & roles.length == 1) 
                                                                {
                                                                    $(_this.selector).find("thead").append(with_out_actions
                                                                    );
                                                                }
                                                                else
                                                                {
                                                                    $(_this.selector).find("thead").append(with_action
                                                                    );
                                                                }
                                                    };
                                                    table5.load();                      
                                                    table5.appendContent = function appendContent(data,_this){      
                                                        var tbody = $(_this.selector).find("tbody");
                                                        tbody.html(""); 
                                                        for ( var i = 0; i < data.items.items.length; i++) {
                                                            catalog_id = data.items.catalog_id
                                                            is_free = data.items.items[i].is_free
                                                            if (is_free == true){
                                                                is_free = "Yes"
                                                            }
                                                            else{
                                                                is_free = "No"
                                                            }
                                                            ads_available = data.items.items[i].ads_available
                                                            if (ads_available == true){
                                                                ads_available = "Yes"
                                                            }
                                                            else{
                                                                ads_available = "No"
                                                            }
                                                            login_required = data.items.items[i].login_required
                                                            if (login_required == true){
                                                                login_required = "Yes"
                                                            }
                                                            else{
                                                                login_required = "No"
                                                            }
                                                            
                                                            // if (data.items.items[i].title.length > 15){
                                                            // title = data.items.items[i].title.substring(0,15)+"...."
                                                            // }else{
                                                            title = data.items.items[i].title
                                                            // }
                                                            content_id = data.items.items[i].content_id
                                                            actions = ""
                                                            // Need to Add delete in future
                                                            delete_disabled = ""

                                                            view_button = '<span class="inline-block" data-toggle="tooltip" title="View Info"><button type="button" class="btn btn-xs btn-info info-acescontrol" content_id='+content_id+'><span class="glyphicon glyphicon-eye-open"></button>'

                                                            edit_button =  '<span class="inline-block" data-toggle="tooltip" title="Edit"><button type="button" class="btn btn-xs btn-default edit-acescontrol" content_id='+content_id+'> <span class="glyphicon glyphicon-pencil"></button></span>'

                                                            delete_button = '<span class="inline-block" data-toggle="tooltip" title="Delete"><button type="button" class="'+delete_disabled+' btn btn-xs btn-danger delete-acescontrol" content_id='+content_id+'><span class="glyphicon glyphicon-trash"></button></span>'

                                                            actions = edit_button+"&nbsp;"+delete_disabled
                                                            //append 
                                                            if ((found == true) & roles.length == 1) 
                                                                    {
                                                                        actions = ""
                                                                    }                
                                                            tbody.append("<tr><td>" +  title
                                                                + "</td><td>" + is_free
                                                                + "</td><td>" + ads_available
                                                                + "</td><td>" + login_required
                                                                + "</td><td>" + actions
                                                                +"</td></tr>");
                                                        }
                                                        load_actions();
                                                    };
                                                });
                                            </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<%= render :partial => "access/access_validations" %>

<script type="text/javascript">
function load_actions() {

    $('.edit-acescontrol').click(function(){
            window.location.href = '/accesscontrol/details?method=edit&tenant_id=<%=@tid%>&content_id='+$(this).attr('content_id');
        });
};
</script>