<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
		<div class="row">
				<ol class="breadcrumb">
						<li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
						<li>Content Control</li>
						<li class="active">Edit Content Control</li>
				</ol>
		</div>
		<!-- <div class="row">
				<div class="col-lg-12">
						<h1 class="page-header">Edit Access Controller</h1>
				</div>
		</div> -->


    <div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<form class="form-horizontal" id="accesscontrollerForm" role="form">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-2">
									<label for="title">Title</label>
									</div>
									<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Title')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
									<input type="text" class="form-control input-sm" id="title" name="title" placeholder="Title for Access Control" value="<%=@accesscontrolitems["title"]%>" readonly>
								</div>
							</div> 
							<div class="row">
								<div class="col-xs-2">
									<label for="description">Description</label>
									</div>
									<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Description')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
									<textarea class="form-control input-sm" rows="5" id="description" name="description"  placeholder="<%=@accesscontrolitems["description"]%>" value="<%=@accesscontrolitems["description"]%>"><%=@accesscontrolitems["description"]%></textarea>

									<!-- <input type="text" class="form-control input-sm" id="description" name="description" placeholder="<%#=@accesscontrolitems["description"]%>" value="<%#=@accesscontrolitems["description"]%>"> -->
								</div>
							</div>
							<div class="row">
								<div class="col-xs-2">
								<label for="isfree">Is Free</label>
								</div>
								<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" data-html="true" title="<%=t('add_ac_Is_Free')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
								<select name="isfree" id="isfree" class="form-control input-sm">
								<% if @accesscontrolitems["is_free"] == false%>
								<option value="no">No</option>
								<option value="yes">yes</option>
								<%else%>
								<option value="yes">yes</option>
								<option value="no">No</option>
								<%end%>
								</select>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-2">
								<label for="adsavailable">Ads Available</label>
								</div>
								<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Ads_Available')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
								<select name="adsavailable" id="adsavailable" class="form-control input-sm">
								<% if @accesscontrolitems["ads_available"] == false%>
								<option value="no">No</option>
								<option value="yes">yes</option>
								<%else%>
								<option value="yes">yes</option>
								<option value="no">No</option>
								<%end%>
								</select>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-2">
								<label for="loginrequired">Login Required</label>
								</div>
								<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Login_Required')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
								<select name="loginrequired" id="loginrequired" class="form-control input-sm">
								<% if @accesscontrolitems["login_required"] == false%>
								<option value="no">No</option>
								<option value="yes">yes</option>
								<%else%>
								<option value="yes">yes</option>
								<option value="no">No</option>
								<%end%>
								</select>
								</div>
							</div>




							<div class="row">
                             <div class="col-xs-2">
                             <label><b>Start Date</b></label>
                             </div>
                             <!-- <div class="container" style="margin: 0px;padding: 0px;">
                            <div class="hero-unit"> -->
                            <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Start_Date')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
									  <%sd = DateTime.parse(@accesscontrolitems["start_date"])%>
									  <%start_date = sd.strftime("%B %d %Y %H:%M:%S")%> 
                            <input  type="text" class="form-control" id="sdate" name="start_date" placeholder="<%=start_date%>" value="<%=start_date%>">
                            </div>
                            </div>
                             <!-- <input type="date" class="form-control" name="start_date" placeholder="[YYYY/MM/DD]"> -->
                             <div class="row">
                             <div class="col-xs-2">
                             <label><b>End Date</b></label>
                             </div>
                             <!-- <div class="container" style="margin: 0px;padding: 0px;">
                            <div class="hero-unit"> -->
                            <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_End_Date')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                      <%ed = DateTime.parse(@accesscontrolitems["end_date"])%>
									  <%end_date = ed.strftime("%B %d %Y %H:%M:%S")%> 
                            <input  type="text" class="form-control" name="end_date" placeholder="<%=end_date%>" 
                            value="<%=end_date%>"  id="edate">
                            <!--  <input type="date" class="form-control" name="end_date" placeholder="[YYYY/MM/DD]"> -->
                             </div>
                            </div>

                            <div class="">
                            	<div class="mlr-15">
                            		<div class="col-xs-2">
							  			<label for="name">Pre Role Settings</label><br>
							  		</div>
							  	</div>	
							  <div class="clear"></div>
							  <div class="row">
							  <div class="col-xs-2">
							  <label for="premobileadd">Mobile Ad Url</label>
							  </div>
							  <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Mobile_Ad_Url')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
							  <input type="text" class="form-control input-sm" id="premobileadd" name="premobileadd" placeholder="<%=@accesscontrolitems["pre_role"]["mobile_ads_url"]%>" value="<%=@accesscontrolitems["pre_role"]["mobile_ads_url"]%>">
							  </div>
							</div>
							  <div class="row">
							  <div class="col-xs-2">
							  <label for="preadd">Web Ad Url</label>
							  </div>
							  <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Web_Ad_Url')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
							  <input type="text" class="form-control input-sm" id="preadd" name="preadd" placeholder="<%=@accesscontrolitems["pre_role"]["ads_url"]%>" value="<%=@accesscontrolitems["pre_role"]["ads_url"]%>">
							  </div>
							  </div>
							  <div class="row">
							  <div class="col-xs-2">
							  <label for="preactive">Active</label>
							  </div>
							  <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Active')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
								<select name="preactive" id="preactive" class="form-control input-sm">
								<% if @accesscontrolitems["pre_role"]["active"] == false%>
								<option value="no">No</option>
								<option value="yes">yes</option>
								<%else%>
								<option value="yes">yes</option>
								<option value="no">No</option>
								<%end%>
								</select>
								</div>
							</div>
								<div class="row">
								<div class="col-xs-2">
							  <label for="pretype">Type</label>
							  </div>
							  <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Type')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
							  <input type="text" class="form-control input-sm" id="pretype" name="pretype" placeholder="<%=@accesscontrolitems["pre_role"]["type"]%>" value="<%=@accesscontrolitems["pre_role"]["type"]%>">
							  </div>
							</div>
							</div>
                            
							<div class="">
								<div class="mlr-15">
							<div class="col-xs-2">
							  <label for="name">Post Role Settings</label>
							  </div>
							</div>
							   <div class="clear"></div>
							   <div class="row">
							  <div class="col-xs-2">
							  <label for="postmobileadd">Mobile Ad Url</label>
							  </div>
							  <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Mobile_Ad_Url')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
							  <input type="text" class="form-control input-sm" id="postmobileadd" name="postmobileadd" placeholder="<%=@accesscontrolitems["post_role"]["mobile_ads_url"]%>" value="<%=@accesscontrolitems["post_role"]["mobile_ads_url"]%>">
							  </div>
							  </div>
							  <div class="row">
							  <div class="col-xs-2">
							  <label for="postadd">Web Ad Url</label>
							  </div>
							  <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Web_Ad_Url')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
							  <input type="text" class="form-control input-sm" id="postadd" name="postadd" placeholder="<%=@accesscontrolitems["post_role"]["ads_url"]%>" value="<%=@accesscontrolitems["post_role"]["ads_url"]%>">
							  </div>
							  </div>
							  <div class="row">
							  <div class="col-xs-2">
							  <label for="postactive">Active</label>
							  </div>
							  <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Active')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
								<select name="postactive" id="postactive" class="form-control input-sm">
								<% if @accesscontrolitems["post_role"]["active"] == false%>
								<option value="no">No</option>
								<option value="yes">yes</option>
								<%else%>
								<option value="yes">yes</option>
								<option value="no">No</option>
								<%end%>
								</select>
								</div>
								</div>
								<div class="row">
							  <div class="col-xs-2">
							  <label for="posttype">Type</label>
							  </div>
							  <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Type')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
							  <input type="text" class="form-control input-sm" id="posttype" name="posttype" placeholder="<%=@accesscontrolitems["post_role"]["type"]%>" value="<%=@accesscontrolitems["post_role"]["type"]%>">
							</div>
							</div>
							</div>

							<div class="">
								<div class="mlr-15">
							<div class="col-xs-2">
							  <label for="name">Mid Role Settings</label><br>
							  </div>
							</div>
							<div class="clear"></div>
							<div class="row">
							   <div class="col-xs-12"></div>
							  <div class="col-xs-2">
							  <label for="midmobileadd">Mobile Ad Url</label>
							  </div>
							  <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Mobile_Ad_Url')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
							  <input type="text" class="form-control input-sm" id="midmobileadd" name="midmobileadd" placeholder="<%=@accesscontrolitems["mid_role"]["mobile_ads_url"]%>" value="<%=@accesscontrolitems["mid_role"]["mobile_ads_url"]%>">
							  </div>
							   </div>
							   <div class="row">
							  <div class="col-xs-2">
							  <label for="midadd">Web Ad Url</label> 
							  </div>
							  <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Web_Ad_Url')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
							  <input type="text" class="form-control input-sm" id="midadd" name="midadd" placeholder="<%=@accesscontrolitems["mid_role"]["ads_url"]%>" value="<%=@accesscontrolitems["mid_role"]["ads_url"]%>">
							  </div>
							   </div>
							   <div class="row">
							  <div class="col-xs-2">
							  <label for="midrolefreq">Mid Role Frequency</label> 
							  </div>
							  <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_freq')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
							  <input type="text" class="form-control input-sm" id="midrolefreq" name="midrolefreq" placeholder="<%=@accesscontrolitems["mid_role"]["mid_role_frequency"]%>" value="<%=@accesscontrolitems["mid_role"]["mid_role_frequency"]%>">
							  </div>
							   </div>
							   <div class="row">
							  <div class="col-xs-2">
							  <label for="midactive">Active</label>
							  </div>
							  <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Active')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
								<select name="midactive" id="midactive" class="form-control input-sm">
								<% if @accesscontrolitems["mid_role"]["active"] == false%>
								<option value="no">No</option>
								<option value="yes">yes</option>
								<%else%>
								<option value="yes">yes</option>
								<option value="no">No</option>
								<%end%>
								</select>
								</div>
							   </div>
							   <div class="row">
							  <div class="col-xs-2">
							  <label for="midtype">Type</label>
							  </div>
							  <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Type')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
							  <input type="text" class="form-control input-sm" id="midtype" name="midtype" placeholder="<%=@accesscontrolitems["mid_role"]["type"]%>" value="<%=@accesscontrolitems["mid_role"]["type"]%>">
							</div>
							</div>
							</div>	
							<div class="">
								<div class="mlr-15">
							<div class="col-xs-2">
							  <label for="name">Overlay Settings</label>
							  </div>
							</div>
							<div class="clear"></div>
							<div class="row">
							   
							  <div class="col-xs-2">
							  <label for="overlaymobileadd">Mobile Ad Url</label>
							  </div>
							  <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Mobile_Ad_Url')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
							  <input type="text" class="form-control input-sm" id="overlaymobileadd" name="overlaymobileadd" placeholder="<%=@accesscontrolitems["overlay"]["mobile_ads_url"]%>" value="<%=@accesscontrolitems["overlay"]["mobile_ads_url"]%>">
							  </div>
							   </div>
							   <div class="row">
							  <div class="col-xs-2">
							  <label for="overlayadd">Web Ad Url</label> 
							  </div>
							  <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Web_Ad_Url')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
							  <input type="text" class="form-control input-sm" id="overlayadd" name="overlayadd" placeholder="<%=@accesscontrolitems["overlay"]["ads_url"]%>" value="<%=@accesscontrolitems["overlay"]["ads_url"]%>">
							  </div>
							</div>
							<div class="row">
							  <div class="col-xs-2">
							  <label for="overlayfreq">Overlay Frequency</label> 
							  </div>
							  <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_freq')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
							  <input type="text" class="form-control input-sm" id="overlayfreq" name="overlayfreq" placeholder="<%=@accesscontrolitems["overlay"]["overlay_frequency"]%>" value="<%=@accesscontrolitems["overlay"]["overlay_frequency"]%>">
							  </div>
							   </div>
							 <div class="row">  
							  <div class="col-xs-2">
							  <label for="overlayactive">Active</label>
							  </div>
							  <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Active')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
								<select name="overlayactive" id="overlayactive" class="form-control input-sm">
								<% if @accesscontrolitems["overlay"]["active"] == false%>
								<option value="no">No</option>
								<option value="yes">yes</option>
								<%else%>
								<option value="yes">yes</option>
								<option value="no">No</option>
								<%end%>
								</select>
								
							</div>
							</div>
						<br><button type="button" class="btn btn-primary" id="editaccesscontrollerForm"> Update Access Control</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</div>




<script type="text/javascript">

$(document).ready(function () {

	$('[data-toggle="tooltip"]').tooltip();  
                
                $('#sdate').datetimepicker({
                    format: "MMMM DD YYYY, HH:mm:ss"
                }); 

                $('#edate').datetimepicker({
                    format: "MMMM DD YYYY, HH:mm:ss"
                });  
            
            });

function validateForm(){
				var title = $('#title').val();
				if ((title.trim()).length == 0) {
						alert("Title can not be empty!");
						return false;
				}
				return true;
		}	

$('#editaccesscontrollerForm').click(function(){
				var status = validateForm();
				console.log(status);

				if ( status == true) {
				var data = $('#accesscontrollerForm').serialize();
				$.ajax({
						url: '/accesscontrol/?content_id=<%=@content_id%>&tenants=<%=@tenantid%>&method=update',
						data: data,
						type: 'put',
						dataType: 'json',
						timeout: 120000,
						error: function(e,t){
								if (t == "timeout"){
										alert("Timed Out Wait for Response")
								}
								else{
										alert(JSON.parse(e.responseText)["error"]);
								}
						},
						success: function(d){
								//window.location = "/"
								window.location = "/accesscontrol/view_all"
								//window.location = "/tenants/view_tenant/<%=@tenantid%>"
						}
				});
				}
		});



</script>