<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
		<div class="row">
				<ol class="breadcrumb">
						<li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
						<li>Content Control</li>
						<li class="active">Add Content Control</li>
				</ol>
		</div>
		<!-- <div class="row">
				<div class="col-lg-12">
						<h1 class="page-header">Add Access Controller</h1>
				</div>
		</div> -->


    <div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<form class="form-horizontal" id="accesscontrollerForm" role="form">
						<div class="container-fluid">
						<div class="row">
						<div class="error_media"> </div>
						<div class="col-xs-2">
						<label for="tenant">Select Tenant</label>
						</div>
						<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_tenant')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                  <div class="col-xs-6">
							 <select name="tenants[]" class="form-control input-sm">
                                 <option value="">Select one from below</option>
                                <%@tenants.each do |tenant|%> 
                                 <option value="<%=tenant.id%>"><%=tenant.name%></option> 
                                <%end%>
                            </select> 
							</div>
							<!-- <input type="hidden" value="<%#=@tenant_id%>" name="tenants[]"> -->
							</div> 


						<%= render :partial => "access/access_control_form" %>
								                
								</div>
							<br><button type="button" class="btn btn-primary" id="submitaccesscontrollerForm" >Add Content Control</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<%= render :partial => "access/access_validations" %>
