<style type="text/css">

  .social-meda a{
    color: #5090fc;
  }
  .social-media a:hover {
    color: white;
  }
</style>

<footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-3">
            <div class="block contact-block">
              <h3><a href="/contact"> Contact Us</a></h3>
              <address>
                <p><abbr title="Address"><i class="icon-home"></i></abbr> AJ Tower, 2nd Floor, No. 40/509,</p>
                <p><abbr title="Address"></abbr> 8th Cross, 7th Block, Jayanagar, West of Kanakapura Main Road,</p>
                <p><abbr title="Address"></abbr> Bangalore - 560082, Karnataka, INDIA</p> 
                <p><abbr title="Phone"><i class="glyphicon glyphicon-phone-alt"></i></abbr> +91 80 4123 4020</p>
                <p><abbr title="Email"><i class="glyphicon glyphicon-envelope"></i></abbr> mkt@saranyu.in</p>
              </address>             
            </div>
          </div>

          <div class="col-xs-3">
            <div class="block contact-block">
              <h3><a href="/aboutus">About Us</a></h3>
              <p>We are a Bangalore (India) based Multi-screen Video technology company founded in September 2011. Saranyu was started by 6 co-founders with a cumulative experience of over 80 years in the domains of Video technologies, 2G/3G/Wi-Fi Wireless Networks, Embedded Systems, Software Architectures, Web 2.0 and Mobile Computing</p>

            </div>
          </div>  

          <div class="col-xs-3">
            <div class="block contact-block">
              <h3><a>Products</a></h3>
              <address>
                <p>Media Platform</p>
              </address>             
            </div>
          </div>

          <div class="col-xs-3">
            <div class="block contact-block">
              <h3><a>Customers</a></h3>
              <address>
                <p>Case Studies</p>
              </address>             
            </div>
          </div>

          <div class="col-xs-3">
            <div class="block contact-block">
              <h3><a>Services</a></h3>
              <address>
                <p>Managed Services</p>
                <p>Consulting</p>
                <p>Media App &amp; Portal Development</p>
                <p>Bulk Video Transcoding</p>
              </address>             
            </div>
          </div>

          <div class="col-xs-3">
            <div class="block contact-block">
              <h3><a>Solutions</a></h3>
              <address>
                <p>Mobile Video</p>
                <p>Live Streaming</p>
                <p>OTT Services</p>
                <p>Video Advertising</p>
              </address>             
            </div>
          </div>          

          

        </div>
      
        <div class="row">
          <div id="toplink"><a href="#top" class="top-link" title="Back to top">Back to Top <i class="glyphicon glyphicon-chevron-up"></i></a></div>
          <div class="subfooter">            
            <div class="span6">
              <p>Copyright 2014 © Saranyu Technologies Pvt Ltd</p>
            </div>
            <div class="span6">
              <div class="social-media pull-right">
                  <!--<a href="#"><i class="icon-twitter"></i></a>-->
                  <a href="http://www.facebook.com/SaranyuTechnologies" target="_blank"><i class="icon-facebook">fb</i></a>
                  <a href="http://www.linkedin.com/company/saranyu-technologies" target="_blank"><i class="icon-linkedin">linkedin</i></a>
                  <a href="https://plus.google.com/104275662153156605494" target="_blank" rel="publisher"><i class="icon-google-plus">g+</i></a>
                </div>
            </div>
          </div>
        </div>        </div>
    </footer>