<style type="text/css">
	table 
	{
	    table-layout:fixed;
	    width:100%;
	}
</style>
<div class="col-lg-12 main">           
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/"><span class="glyphicon glyphicon-briefcase"></span></a></li>
            <li class="active">Business Groups</li>
        </ol>
    </div><!--/.row-->
    <!-- <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Business Groups</h1>
        </div>
    </div> --><!--/.row-->
    <!-- <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-blue panel-widget ">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <em class="glyphicon glyphicon-asterisk glyphicon-l"></em>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">0</div>
                        <div class="text-muted">New Groups</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-orange panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <em class="glyphicon glyphicon-file glyphicon-l"></em>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">0</div>
                        <div class="text-muted">Tx-only Groups</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-teal panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <em class="glyphicon glyphicon-edit glyphicon-l"></em>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">0</div>
                        <div class="text-muted">OTT Groups</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-red panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <em class="glyphicon glyphicon-th glyphicon-l"></em>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">0</div>
                        <div class="text-muted">Total</div>
                    </div>
                </div>
            </div>
        </div>
    </div> --><!--/.row-->
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="table1" data_source="/business_groups/all" auto_refresh="10000" loader="false" entries_info="true">
	                    <script type="text/javascript" >
	                        $(document).ready(function(){
	                            var table1 = new saranyutable("#table1");
	                            table1.createBody = function createBody(_this) {            
	                                $(_this.selector).find("thead").append(
	                                    '<tr><th><left>Name<left></th><th><left>Transcoding Base URL</left></th><th><left>OTT ID</left></th><th><left>Plan</left></th></tr>');
	                            };
	                            table1.load();                      
	                            table1.appendContent = function appendContent(data,_this){      
	                                var tbody = $(_this.selector).find("tbody");
	                                tbody.html(""); 
	                                for ( var i = 0; i < data.list.length; i++) {
	                                    //name
	                                    name = data.list[i].name
	                                    //tx_base_url
	                                    tx_base_url = data.list[i].tx_base_url
	                                    //ott_id
	                                    ott_id = data.list[i].ott_id
	                                    //plan
	                                    plan = data.list[i].plan
	                                    //actions
	                                    actions = ""
	                                    delete_disabled = ""
	                                    <%if !(current_user.roles.include?"cms_manager")%>
	                                    delete_disabled = "disabled"
	                                    <%end%>
	                                    actions = '<button type="button" class="'+delete_disabled+' btn btn-xs btn-danger delete-bg" bg-id='+data.list[i].id+'><span class="glyphicon glyphicon-remove"></button>'
	                                    //append                
	                                    tbody.append("<tr><td>" + name
	                                        + "</td><td>" + tx_base_url
	                                        + "</td><td>" + ott_id
	                                        + "</td><td>" + plan
	                                        // + "</td><td>" + actions
	                                        +"</td></tr>");
	                                }
	                                load_actions();
	                            };
	                        });
	                    </script>
	                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
function load_actions() {
    $('.delete-bg').click(function(){
        $.ajax({
            url: '/business_groups/'+$(this).attr('bg-id')+'?method=delete',
            type: 'POST',
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
            },
            success: function(d){
                location.reload();
            }
        });
    });
};
</script>