<style type="text/css">
    body {
    padding-left: 20px;
    padding-right: 20px;    
    padding-top: 60px;
    padding-bottom: 0px;
    }
    td {
    font-size: 13px;
    }
    .navbar {
    margin-bottom: 0px;
    }
    table {
        table-layout: fixed;
        word-wrap: break-word;
    }
    .popover-content {
    word-wrap: break-word;
    }
    p {
    word-wrap: break-word;
    }
</style>
<h1><%=@heading%>&nbsp;<button type="button" class="btn btn-xs btn-info reload-page">Reload <span class="glyphicon glyphicon-refresh"></button></h1>
<br>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <%if current_user.roles.include?"cms_manager"%>
                    <li class="active"><a href="/dashboard/view_info?bg_id=<%=@bg.id%>">Info</a></li>
                    <%end%>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Media <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/dashboard/view_media<%if current_user.roles.include?"cms_manager"%>?bg_id=<%=@bg.id%><%end%>">View Media</a></li>
                            <li><a href="/dashboard/add_media<%if current_user.roles.include?"cms_manager"%>?bg_id=<%=@bg.id%><%end%>">Add Media</a></li>
                            <li><a href="/dashboard/bulk_upload<%if current_user.roles.include?"cms_manager"%>?bg_id=<%=@bg.id%><%end%>">Bulk Upload</a></li>
                        </ul>
                    </li>
                    <%if user_is_boss?%>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Users <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/dashboard/view_users<%if current_user.roles.include?"cms_manager"%>?bg_id=<%=@bg.id%><%end%>">View Users</a></li>
                            <li><a href="/dashboard/add_user<%if current_user.roles.include?"cms_manager"%>?bg_id=<%=@bg.id%><%end%>">Add User</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Profiles <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/dashboard/view_profiles<%if current_user.roles.include?"cms_manager"%>?bg_id=<%=@bg.id%><%end%>">View Profiles</a></li>
                            <li><a href="/dashboard/add_profile<%if current_user.roles.include?"cms_manager"%>?bg_id=<%=@bg.id%><%end%>">Add Profile</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Publish Settings <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/dashboard/view_ps<%if current_user.roles.include?"cms_manager"%>?bg_id=<%=@bg.id%><%end%>">View Publish Settings</a></li>
                            <li><a href="/dashboard/add_ps<%if current_user.roles.include?"cms_manager"%>?bg_id=<%=@bg.id%><%end%>">Add Publish Setting</a></li>
                        </ul>
                    </li>
                    <%end%>
                    <%if (current_user.roles.include?"cms_manager") && (@bg.plan=="ott")%>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tenants <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/dashboard/view_tenants<%if current_user.roles.include?"cms_manager"%>?bg_id=<%=@bg.id%><%end%>">View Tenants</a></li>
                            <li><a href="/dashboard/add_tenant<%if current_user.roles.include?"cms_manager"%>?bg_id=<%=@bg.id%><%end%>">Add Tenant</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Apps <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/dashboard/view_apps<%if current_user.roles.include?"cms_manager"%>?bg_id=<%=@bg.id%><%end%>">View Apps</a></li>
                            <li><a href="/dashboard/add_app<%if current_user.roles.include?"cms_manager"%>?bg_id=<%=@bg.id%><%end%>">Add App</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Catalogs <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/dashboard/view_catalogs<%if current_user.roles.include?"cms_manager"%>?bg_id=<%=@bg.id%><%end%>">View Catalogs</a></li>
                            <li><a href="/dashboard/add_catalog<%if current_user.roles.include?"cms_manager"%>?bg_id=<%=@bg.id%><%end%>">Add Catalog</a></li>
                        </ul>
                    </li>
                    <%end%>
                    <%if user_is_boss? || (current_user.roles.include?"content_editor")%>
                    <%if (@bg.plan=="ott") && user_is_boss?%>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">OTT Videos <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/dashboard/view_ottvideos<%if current_user.roles.include?"cms_manager"%>?bg_id=<%=@bg.id%><%end%>">View OTT Videos</a></li>
                            <li><a href="/dashboard/add_ottvideo<%if current_user.roles.include?"cms_manager"%>?bg_id=<%=@bg.id%><%end%>">Add OTT Video</a></li>
                        </ul>
                    </li>
                    <%end%>
                    <%end%>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav><br>
    <div class="container">
        <% case @tab %>
        <% when "view_info" %>
        <%= render "business_groups/view_info" %>
        <% when "view_media" %>
        <%= render "media/view_all" %>
        <% when "add_media" %>
        <%= render "media/add" %>
        <% when "bulk_upload" %>
        <%= render "media/bulk_upload" %>
        <% when "view_users" %>
        <%= render "users/view_all" %>
        <% when "add_user" %>
        <%= render "users/add" %>
        <% when "view_profiles" %>
        <%= render "profile/view_all" %>
        <% when "add_profile" %>
        <%= render "profile/add" %>
        <% when "view_ps" %>
        <%= render "publish_settings/view_all" %>
        <% when "add_ps" %>
        <%= render "publish_settings/add" %>
        <% when "view_ottvideos" %>
        <%= render "ott_videos/view_all" %>
        <% when "add_ottvideo" %>
        <%= render "ott_videos/add" %>
        <% when "edit_media" %>
        <%= render "media/add" %>
        <% when "view_tenants" %>
        <%= render "tenants/view_all" %>
        <% when "add_tenant" %>
        <%= render "tenants/add" %>
        <% when "view_apps" %>
        <%= render "apps/view_all" %>
        <% when "add_app" %>
        <%= render "apps/add" %>
        <% when "view_catalogs" %>
        <%= render "catalogs/view_all" %>
        <% when "add_catalog" %>
        <%= render "catalogs/add" %>
        <% end %>
    </div>
</div>

<script type="text/javascript">
    $('.reload-page').click(function(){
        location.reload();
    });
</script>