<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
			<!--<li class="active">Home</li>-->
		</ol>
	</div><!--/.row-->
	<!-- <div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Home</h1>
		</div>
	</div> --><!--/.row-->
	<div class="row">
		<div class="col-xs-12 col-md-6 col-lg-3">
			<div class="panel panel-blue panel-widget ">
				<div class="row no-padding">
					<div class="col-sm-3 col-lg-5 widget-left">
						<em class="glyphicon glyphicon-film glyphicon-l"></em>
					</div>
					<div class="col-sm-9 col-lg-7 widget-right">
					    <% if current_user.has_public_access == false %>
							<div class="large"><%=Media.where(:bg_id=>current_bg.id).and(:is_removed=>false).and(:user_id => current_user.id).count%></div>
						<% else %>
						    <div class="large"><%=Media.where(:bg_id=>current_bg.id).and(:is_removed=>false).and(:user_id => current_user.id).count%></div>
						<% end %>
						<div class="text-muted">Total Media</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-3">
			<div class="panel panel-orange panel-widget">
				<div class="row no-padding">
				    <% if current_bg.plan != "transcoding" %>
						<div class="col-sm-3 col-lg-5 widget-left">
							<em class="glyphicon glyphicon-user glyphicon-l"></em>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large"><%=Media.where(:bg_id=>current_bg.id).and(:ott_status=>"published").and(:is_removed=>false).count%></div>
							<div class="text-muted">Total Published to OTT</div>
							<!-- <div class="text-muted">Total Users</div> -->
						</div>
					<% else %>
					    <div class="col-sm-3 col-lg-5 widget-left">
                        	<em class="glyphicon glyphicon-retweet glyphicon-l"></em>
	                    </div>
	                    <div class="col-sm-9 col-lg-7 widget-right">
	                        <% if current_user.has_public_access == false %>
	                        	<div class="large"><%=Media.where(:bg_id=>current_bg.id).and(:is_removed=>false).and(:user_id => current_user.id).any_in(:status => ["Processing Request", "Transcoding", "Ingested","Ingesting"]).count%></div>
	                        <% else %>
	                            <div class="large"><%=Media.where(:bg_id=>current_bg.id).and(:is_removed=>false).and(:user_id => current_user.id).any_in(:status => ["Processing Request", "Transcoding", "Ingested","Ingesting"]).count%></div>	
	                        <% end %>	
	                        <div class="text-muted">Processing</div>
	                    </div>
					<% end %>	
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-md-6 col-lg-3">
			<div class="panel panel-red panel-widget">
				<div class="row no-padding">
				    <% if current_bg.plan != "transcoding" %>
						<div class="col-sm-3 col-lg-5 widget-left">
							<em class="glyphicon glyphicon-list-alt glyphicon-l"></em>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large"><%=Catalog.where(:bg_id=>current_bg.id).count%></div>
							<div class="text-muted">Total Catalogs</div>
							<!-- <div class="text-muted">Total Profiles</div> -->
						</div>
					<% else %>
					    <div class="col-sm-3 col-lg-5 widget-left">
                        	<em class="glyphicon glyphicon-exclamation-sign glyphicon-l"></em>
	                    </div>
	                    <div class="col-sm-9 col-lg-7 widget-right">
	                        <% if current_user.has_public_access == false %>
	                        	<div class="large"><%=Media.where(:bg_id=>current_bg.id).any_in(:status => ["Ingestion Error","Transcoding Error","Request Error","Transcode Request Error"]).and(:is_removed=>false).and(:user_id => current_user.id).count%></div>
	                        <% else %>
	                            <div class="large"><%=Media.where(:bg_id=>current_bg.id).any_in(:status =>["Ingestion Error","Transcoding Error","Request Error","Transcode Request Error"]).and(:is_removed=>false).and(:user_id => current_user.id).count%></div>
	                        <% end %>	
	                        <div class="text-muted">Errors</div>
	                    </div>
					<% end %>	
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-3">
			<div class="panel panel-teal panel-widget">
				<div class="row no-padding">
					<% if current_bg.plan != "transcoding" %>
						<div class="col-sm-3 col-lg-5 widget-left">
							<em class="glyphicon glyphicon-book glyphicon-l"></em>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large"><%=CatalogList.where(:bg_id=>current_bg.id).count%></div>
							<div class="text-muted">Total Lists</div>
							<!-- <div class="text-muted">Total PS</div> -->
						</div>
					<% else %>
					    <div class="col-sm-3 col-lg-5 widget-left">
                        	<em class="glyphicon glyphicon-th glyphicon-l"></em>
	                    </div>
	                    <div class="col-sm-9 col-lg-7 widget-right">
	                        <% if current_user.has_public_access == false %>
	                        	<div class="large"><%=Media.where(:bg_id=>current_bg.id).and(:status => "Published").and(:is_removed=>false).and(:user_id => current_user.id).count%></div>
	                        <% else %>
	                            <div class="large"><%=Media.where(:bg_id=>current_bg.id).and(:status => "Published").and(:is_removed=>false).and(:user_id => current_user.id).count%></div>
	                        <% end %>	
	                        <div class="text-muted">Transcoded</div>
	                    </div>	
					<% end %>	
				</div>
			</div>
		</div>
	</div><!--/.row-->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-body tabs">
					<ul class="nav nav-pills">
						<li class="active"><a href="#pilltab1" data-toggle="tab">Activity Summary</a></li>
						<% if (current_bg.plan == "transcoding") && !(current_user.roles.include? "publisher") %>
							<!-- <li><a href="#pilltab2" data-toggle="tab">Transcoding Platform</a></li> -->
						<%end %>	
						<% if current_bg.plan != "transcoding" %>
							<li><a href="#pilltab3" data-toggle="tab">OTT Platform</a></li>
						<%end%>
					</ul>

					<div class="tab-content">
						<div class="tab-pane fade in active" id="pilltab1">
							<div class="panel panel-default">
								<div class="panel-heading">Transcoding Activity</div>
								<div class="panel-body">
									<div class="canvas-wrapper">
										<canvas class="main-chart" id="bar-chart" height="200" width="600"></canvas>
									</div>
								</div>
							</div>
						</div>

						<% if (current_bg.plan == "transcoding") && !(current_user.roles.include? "publisher") %>

							<div class="tab-pane fade" id="pilltab2">
								<div class="col-md-6">
									<div class="panel panel-primary">
										<div class="panel-heading">
											Basic Info
										</div>
										<div class="panel-body">
											<p><b>Transcoding Base URL:</b> <%=@bg.tx_base_url%></p>
								            <p><b>Transcoding Auth Token:</b> <%=@bg.tx_auth_token%></p>
								            <p><b>Admin Base URL:</b> <%=@bg.admin_base_url%></p>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="panel panel-primary">
										<div class="panel-heading">
											Media Info
										</div>
										<div class="panel-body">
											<p><b>Total Media:</b> <%=Media.where(:bg_id=>@bg.id).count%></p>
								            <p><b>Published:</b> <%=Media.where(:bg_id=>@bg.id).where(:status=>"Published").count%></p>
								            <p><b>Ingestion Failed:</b> <%=Media.where(:bg_id=>@bg.id).where(:status=>"Ingestion Error").count%></p>
								            <p><b>Transcoding Failed:</b> <%=Media.where(:bg_id=>@bg.id).where(:status=>"Transcoding Error").count%></p>
								            <p><b>Request Failed:</b> <%=Media.where(:bg_id=>@bg.id).where(:status=>"Request Error").count%></p>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="panel panel-primary">
										<div class="panel-heading">
											Generate Report
										</div>
										<div class="panel-body">
											<form class="form-horizontal" id="reportInfo" role="form">
							                    <div class="col-xs-4">
							                        <p><b>Start Date</b></p>
							                        <input type="date" class="form-control" name="start_date">
							                    </div>
							                    <div class="col-xs-4">
							                        <p><b>End Date</b></p>
							                        <input type="date" class="form-control" name="end_date">
							                    </div>
							                    <div class="col-xs-4">
							                        <br><button type="button" class="btn btn-sm btn-success" id="getReport">Report</button>
							                    </div>
							                </form>
							                <div class="col-xs-12">
									            <div id="report-area">
									            </div>
									        </div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="panel panel-primary">
										<div class="panel-heading">
											Instance Details
										</div>
										<div class="panel-body">
											<table id="servers-table" class="table table-condensed table-hover"></table>
										</div>
									</div>
								</div>
							</div>
						<% end %>

						<%if @bg.plan=="ott"%>
						<div class="tab-pane fade" id="pilltab3">
				            <p><b>OTT Auth Token:</b> <%=@bg.ott_auth_token%></p>
						</div>
						<%end%>
						
					</div>
				</div>
			</div><!--/.panel-->
		</div><!-- /.col-->
	</div>
</div>
<div id="view_report"></div>
<div id="view_instance"></div>

<script type="text/javascript">
	var barChartData = {
		labels : <%= raw @monthly_stats["months"].as_json %>,
		datasets : [
			{
				fillColor : "rgba(220,220,220,0.5)",
				strokeColor : "rgba(220,220,220,0.8)",
				highlightFill: "rgba(220,220,220,0.75)",
				highlightStroke: "rgba(220,220,220,1)",
				data : <%= raw @monthly_stats["created"].as_json %>
			},
			{
				fillColor : "rgba(48, 164, 255, 0.2)",
				strokeColor : "rgba(48, 164, 255, 0.8)",
				highlightFill : "rgba(48, 164, 255, 0.75)",
				highlightStroke : "rgba(48, 164, 255, 1)",
				data : <%= raw @monthly_stats["published"].as_json %>
			}
		]

	}
    $(document).ready(function () {
    	var chart2 = document.getElementById("bar-chart").getContext("2d");
		window.myBar = new Chart(chart2).Bar(barChartData, {
			responsive : true
		});
        $.ajax({
            url: '/business_groups/<%=@bg.id%>/platform_details',
            type: 'GET',
            data: {},
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
            },
            success: function (data) {
                var div = document.getElementById('servers-table');
                div.innerHTML = '<thead background-color="blue"><tr><th><center>Server ID</center></th><th><center>Instance ID</center></th><th><center>Public IP</center></th><th><center>State</center></th><th><center>Actions</center></th></tr></thead>'
                div.innerHTML += '<tbody>';
                for (i=0;i<data["server_list"].length;i++)   {
                    row = '<tr server-id="'+data["server_list"][i]["server_id"]+'"><td><center>'+data["server_list"][i]["server_id"]+'</center></td><td><center>'+data["server_list"][i]["instance_id"]+'</center></td><td><center>'+data["server_list"][i]["public_ip_addr"]+'</center></td><td><center>'+data["server_list"][i]["state"]+'</center></td>'
                    row += '<td><center>';
                    if (data["current_user_roles"].indexOf('cms_manager') > -1) {
                        row += '<button type="button" class="btn btn-xs btn-info get-instance" instance-id='+data["server_list"][i]["instance_id"]+'><span class="glyphicon glyphicon-th-list"></button>';
                    }else{
                        row += '<button type="button" class="btn btn-xs btn-info get-instance" instance-id='+data["server_list"][i]["instance_id"]+' disabled><span class="glyphicon glyphicon-th-list"></button>';
                    }
                    row += '</center></td>';
                    row += '</tr>'
                    div.innerHTML += row
                };
                div.innerHTML += '</tbody>';
                get_instance();
            }
        });
    });
	$('#getReport').click(function(){
        var data = $('#reportInfo').serialize();
        $.ajax({
            url: '/business_groups/<%=@bg.id%>/report?'+data,
            type: 'GET',
            data: {},
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
            },
            success: function (d) {
                $("#view_report").html(d);
                $('#viewReport').modal('show');
            }
        });
    });
    function get_instance() {
        $('.get-instance').click(function(){
            $.ajax({
                url: '/business_groups/<%=@bg.id%>/instance/'+$(this).attr('instance-id'),
                type: 'GET',
                timeout: 120000,
                error: function(e,t){
                    if (t == "timeout"){
                        alert("Timed Out Wait for Response")
                    }
                    else{
                        alert(JSON.parse(e.responseText)["error"]);
                    }
                },
                success: function(d){
                    $("#view_instance").html(d);
                	$('#viewInstance').modal('show');
                }
            });
        });
    };
</script>