<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
		<div class="row">
				<ol class="breadcrumb">
						<li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
						<li>Coupons</li>
						<li class="active">Add Coupon</li>
				</ol>
		</div>

    <div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<form class="form-horizontal" id="couponForm" role="form">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-2">
								<label for="coupon_code">Coupon Code</label>
								</div>
								<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                    <div class="col-xs-6">
									<input type="text" class="form-control input-sm" id="coupon_code" name="coupon_code" placeholder="" value="">
									</div>
									<div class="clearfix"></div>
                                  <div class="error_media"  id="ecpimg"> </div>
							</div>
							<div class="row">
								<div class="col-xs-2">
								<label for="coupon_type">Coupon Type</label>
								</div>
								<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                   <div class="col-xs-6">
									  <select name="coupon_type" id="coupon_type" class="form-control input-sm">
									  <option value="percentage">percentage-discount</option>
									  </select>
								   </div>
							</div>

							<div class="row">
								<div class="col-xs-2">
								<label for="coupon_amt">Percentage Value</label>
								</div>
								<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                    <div class="col-xs-6">
									<input type="text" class="form-control input-sm" id="coupon_amt" name="coupon_amt" placeholder="" value="">
									</div>
							</div>

							<div class="row">
                             <div class="col-xs-2">
                             <label><b>Start Date</b></label>
                             </div>
                             <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                            <input  type="text" class="form-control" name="start_date" placeholder="YYYY-MM-DD"  id="sdate">
                             </div>
                             </div>

                             <div class="row">
                             <div class="col-xs-2">
                             <label><b>End Date</b></label>
                             </div>
                             <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                            <input  type="text" class="form-control" name="end_date" placeholder="YYYY-MM-DD"  id="edate">
                            </div>
                            </div>
                            <input type="hidden" value="<%=@tenant_id%>" name="tenant_id">
							<br><button type="button" class="btn btn-primary" id="submitcouponForm" >Add Coupon</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   

    $('#coupon_code').keyup(function()
    {
        var yourInput = $(this).val();
        re = /[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi;
        var isSplChar = re.test(yourInput);
        if(isSplChar)
        {
            $(".error_media").text("Please use only letters (a-z), numbers.");
            // var no_spl_char = yourInput.replace(/[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi, '');
            // $(this).val(no_spl_char);
        }else{
            $(".error_media").text("");
        }
    });
});
</script>


<script type="text/javascript">


(function($,W,D)
{
    var JQUERY4U = {};

    JQUERY4U.UTIL =
    {
        setupFormValidation: function()
        {
            //form validation rules
            $("#couponForm").validate({

                errorPlacement: function (error, element) {
                    error.css({'float':'left','color':'red','text-align':'left'});
                    error.addClass("error")
                    error.insertAfter(element);
                },
                rules: {
                    'tenants[]': "required",
                    coupon_code: "required",
                    coupon_type: "required",
                    coupon_amt: "required",
                    start_date: "required",
                    end_date: "required"
                },
                messages: {
                    'tenants[]': "THIS FIELD IS MANDATORY",
                    coupon_code: "THIS FIELD IS MANDATORY",
                    coupon_type: "THIS FIELD IS MANDATORY",
                    coupon_amt: "THIS FIELD IS MANDATORY",
                    start_date: "THIS FIELD IS MANDATORY",
                    end_date: "THIS FIELD IS MANDATORY"
                },
                submitHandler: function(form) {
                    //form.submit();
                    return false;
                }
            });
        }
    }

    //when the dom has loaded setup form validation rules
    $(D).ready(function($) {
        JQUERY4U.UTIL.setupFormValidation();
    });

})(jQuery, window, document);

$(document).ready(function () {
                
                $('#sdate').datepicker({
                    format: "yyyy-mm-dd"
                }); 

                $('#edate').datepicker({
                    format: "yyyy-mm-dd"
                });  
            
            });

$('#submitcouponForm').click(function(){
				var status = $('#couponForm').valid();
				console.log(status);

				if ( status == true) {
				var data = $('#couponForm').serialize();
				$.ajax({
						url: '/coupon/',
						data: data,
						type: 'POST',
						dataType: 'json',
						timeout: 120000,
						error: function(e,t){
								if (t == "timeout"){
										alert("Timed Out Wait for Response");
								}
								else{
										//alert(JSON.parse(e.responseText)["error"]);
										$(".error_media").text(JSON.parse(e.responseText)["error"]);
								}
						},
						success: function(d){
								//window.location = "/"
								window.location = "/subscribeuser/new?coupon=coupon"
						}
				});
				}
		});



</script>