
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
			<li><a href="/coupons/generated_coupons" title="Coupons"> Coupons</a></li>
			<li class="active" title="Generate Coupons">Generate Coupons</li>
		</ol>
	</div>

  <div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default"><br><br>
				<div class="panel-body">
					<!-- <form class="form-horizontal" action="<%= generate_coupon_path %>" method="POST" id="generateCouponForm" role="form" enctype="multipart/form-data" data-remote='true'> -->
          <%= form_tag("/generate_coupon", method: 'post', id: "generateCouponForm", remote: true, multipart: true ) do %>
  
          <%#= form_tag("/generate_coupon", method:"POST", id: "generateCouponForm", enctype: "multipart/form-data", remote: true) do -%>  
            <div class="container-fluid">

              <div class="row">
                <div class="col-xs-2">
                  <label for="coupon_count">Coupons Title</label>
                </div>
                <!-- <div class="col-xs-1">
                  <img class="info_img" data-toggle="tooltip" title="" src="/assets/info_55x55.png" alt="dummy">
                </div> -->
                <div class="col-xs-6">
                  <input type="text" class="form-control input-sm" name="title" placeholder="Coupon Title">
                </div>
                <!-- <div class="clearfix"></div>
                <div class="error_media"  id="ecpimg"> </div> -->
              </div>

              <div class="row">
                <div class="col-xs-2">
                  <label for="coupon_count">Coupons Mode</label>
                </div>
                <!-- <div class="col-xs-1">
                  <img class="info_img" data-toggle="tooltip" title="" src="/assets/info_55x55.png" alt="dummy">
                </div> -->
                <div class="col-xs-6">
                  <input type="radio" name="mode" class="cmode" value="generate" checked="checked"> Generate
                  <input type="radio" name="mode" class="cmode" value="upload"> Upload
                </div>
                <!-- <div class="clearfix"></div>
                <div class="error_media"  id="ecpimg"> </div> -->
              </div>

              <div class="row upload-file-content">
              </div>

							<div class="row">
								<div class="col-xs-2">
								  <label for="coupon_count">Coupons Count</label>
								</div>
								<!-- <div class="col-xs-1">
                  <img class="info_img" data-toggle="tooltip" title="" src="/assets/info_55x55.png" alt="dummy">
                </div> -->
                <div class="col-xs-6">
									<input type="text" class="form-control input-sm ccount" name="coupon_count" placeholder="number of coupons to generate">
								</div>
								<!-- <div class="clearfix"></div>
                <div class="error_media"  id="ecpimg"> </div> -->
							</div>
							
              <div class="row">
								<div class="col-xs-2">
								  <label for="coupon_type">Coupon Type</label>
								</div>
								<!-- <div class="col-xs-1">
                  <img class="info_img" data-toggle="tooltip" title="" src="/assets/info_55x55.png" alt="dummy">
                </div> -->
                <div class="col-xs-6">
                  <select name="coupon_type" id="coupon_type" class="form-control input-sm">
                    <option value="percentage">percentage-discount</option>
									  <option value="flat">flat-discount</option>
									</select>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-2">
                  <label id="percentage_label" for="coupon_amt">Percentage Value</label>
								  <label id="flat_label" for="coupon_amt" style="display:none">Falt Discount Value</label>
								</div>
								<!-- <div class="col-xs-1">
                  <img class="info_img" data-toggle="tooltip" title="" src="/assets/info_55x55.png" alt="dummy">
                </div> -->
                <div class="col-xs-6">
									<input type="text" class="form-control input-sm" id="coupon_amt" name="coupon_amt" placeholder="" value="1" min="1">
								</div>
							</div>

              <div class="row" style='display: none'>
                <!-- <div class="col-xs-2">
                  <label id="percentage_label" for="coupon_amt">Percentage Value</label>
                  <label id="flat_label" for="coupon_amt" style="display:none">Falt Discount Value</label>
                </div>
                <div class="col-xs-1">
                  <img class="info_img" data-toggle="tooltip" title="" src="/assets/info_55x55.png" alt="dummy">
                </div> -->
                <div class="col-xs-6">
                  <input type="hidden" class="form-control input-sm" id="status" name="status" placeholder="" value="published" >
                </div>
              </div>

							<div class="row">
                <div class="col-xs-2">
                  <label><b>Start Date</b></label>
                </div>
                <!-- <div class="col-xs-1">
                  <img class="info_img" data-toggle="tooltip" title="" src="/assets/info_55x55.png" alt="dummy">
                </div> -->
                <div class="col-xs-3">
                  <input  type="text" class="form-control" name="start_date" placeholder="DD/MM/YYYY HH:MM"  id="sdate">
                </div>
                <div class="col-xs-3">
                  <span id="start_date_string"></span>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-2">
                  <label><b>End Date</b></label>
                </div>
                <!-- <div class="col-xs-1">
                  <img class="info_img" data-toggle="tooltip" title="" src="/assets/info_55x55.png" alt="dummy">
                </div> -->
                <div class="col-xs-3">
                  <input  type="text" class="form-control" name="end_date" placeholder="DD/MM/YYYY HH:MM"  id="edate">
                </div>
                <div class="col-xs-3">
                  <span id="end_date_string"></span>
                </div>
              </div>
              <div class="row regions" >
                <div class="col-xs-2">
                  <label><b>Regions</b></label>
                </div>
                <!-- <div class="col-xs-1"> -->
                            <!-- <label><input type="text" name="bucket_type" value="region" class="select_radio"> Regions</label> -->
                          <!-- <img class="info_img" data-toggle="tooltip" title="Select one language" src="/assets/info_55x55.png" alt="dummy"> -->
                <!-- </div> -->
                <div class='col-xs-6'>
                  <div class="row">
                    <div class="col-xs-5">
                      <b>All:</b><br/>
                      <select multiple="multiple" id='lstBox1' name="regions" class="form-control country-selection-box" >
                        <% @regions.each do |region| %>
                          <option value="<%= region['iso_code']%>"><%= region["name"] %></option>
                        <% end -%>
                      </select>
                    </div>
                    <div class="col-xs-2 text-center">  
                    <br/>
                      <button type="button" class="btn btn-primary" id="btnRight" style="margin-bottom: 14px;">
                        <span class="glyphicon glyphicon-chevron-right glyphicon-2x" id="btnRight"></span>
                      </button>
                      <br/>
                      <button type="button" class="btn btn-primary" id="btnLeft">
                        <span class="glyphicon glyphicon-chevron-left glyphicon-2x"></span>
                      </button>
                    </div>
                    <div class="col-xs-5"> 
                      <b>Selected: </b><br/>
                      <select multiple="multiple" id='lstBox2' name="regions_selected" class="form-control country-selection-box">
                      </select>
                    </div> 
                    <input type="hidden" name="regions" id="bucket_regions">
                  </div>
                </div>

                <input type="hidden" value="<%=@tenant_id%>" name="tenant_id">
              </div>

              <div class="row">
                <div class="col-xs-2">
                  <label><b>Currency</b></label>
                </div>
                <!-- <div class="col-xs-1">
                  <img class="info_img" data-toggle="tooltip" title="" src="/assets/info_55x55.png" alt="dummy">
                </div> -->
                <div class="col-xs-3">
                  <input  type="text" class="form-control" name="currency" placeholder="Currency Code"  id="courrency">
                </div>
              </div>
              
              <div class="row">                            
							  <br><!-- <button type="submit" class="btn btn-primary" id="submitgenerateCouponForm" >Generate Coupons</button> -->
                <%= submit_tag("Submit") %>
              </div>
            </div>
					</div>
				<!-- </form> -->
        <% end -%>
			</div>
		</div>
	</div>
</div>
</div>


<!-- <script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   

    $('#coupon_code').keyup(function()
    {
        var yourInput = $(this).val();
        re = /[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi;
        var isSplChar = re.test(yourInput);
        if(isSplChar)
        {
            $(".error_media").text("Please use only letters (a-z), numbers.");
            // var no_spl_char = yourInput.replace(/[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi, '');
            // $(this).val(no_spl_char);
        }else{
            $(".error_media").text("");
        }
    });
});
</script> -->


<script type="text/javascript">

  $(function(){
    $("#generateCouponForm").on('click', '.cmode', function(){
      var couponMode = $(this).val();
      if(couponMode === 'upload'){
        $(".ccount").attr("disabled", "disabled");
        $(".upload-file-content").html("<div class='col-xs-2'><label for='upload_coupon'>Upload Coupon</label></div><div class='col-xs-6'><input type='file' name='upload_coupon' class='upload-csv'></div>");    
      }else{
        $(".ccount").removeAttr("disabled"); 
        $(".upload-file-content").html("");
      }
    });

    var error = "<%= session[:errors].present? ? session[:errors] : "" %>";
    if(error.length != 0){
      alert(error);
      destroy_session = "<% session.delete(:errors) %>";
    }

  });


    $(document).ready(function() {
      $('#btnRight').click(function(e) {
        var selectedOpts = $('#lstBox1 option:selected');
        if (selectedOpts.length == 0) {
          alert("Nothing to move.");
          e.preventDefault();
        } else if (selectedOpts.length >= 1){
          var label = $("label[for=" + 'lstBox2' + "]");
          label.html(" ");
        }

        $('#lstBox2').append($(selectedOpts).clone());
        $(selectedOpts).remove();
        // Append values to hidden variable
        var list_box = document.getElementById('lstBox2');
        var regions_values = [];
        for (i = 0; i < list_box.length; i++) {
          option_value = list_box.options[i].value;
          regions_values.push(option_value);
        }
        $("#bucket_regions").val(regions_values);
        console.log($("#bucket_regions").val(regions_values));
        e.preventDefault();
      });

      $('#btnLeft').click(function(e) {
        var selectedOpts = $('#lstBox2 option:selected');
        if (selectedOpts.length == 0) {
          alert("Nothing to move.");
          e.preventDefault();
        }

        $('#lstBox1').append($(selectedOpts).clone());
        $(selectedOpts).remove();
        // Append values to hidden variable
        var list_box = document.getElementById('lstBox2');
        var regions_values = [];
        for (i = 0; i < list_box.length; i++) {
          option_value = list_box.options[i].value;
          regions_values.push(option_value);
        }
        $("#bucket_regions").val(regions_values);
        console.log($("#bucket_regions").val(regions_values));
        e.preventDefault();
      });
});    

$('#coupon_type').on('change',function(){
var coupon_type = $('#coupon_type').val();
if (coupon_type == "flat"){
    $('#percentage_label').hide();
    $('#flat_label').css("display","block"); 
}else if (coupon_type == "percentage"){
    $('#percentage_label').show();
    $('#flat_label').hide();
    }
})



$('[data-toggle="tooltip"]').tooltip();


(function($,W,D)
{
    var JQUERY4U = {};

    JQUERY4U.UTIL =
    {
        setupFormValidation: function()
        {
            $.validator.addMethod("custper", function(value, element) {
                    return value.match(/^[0-9]*$/);
                    }, "Please enter proper percentage in numbers");

            $.validator.addMethod("custcode", function(value, element) {
                    return value.match(/^[A-Za-z0-9]*$/);
                    }, "Space and Special Characters are not Allowed");
            $.validator.addMethod('custrequire', function(value, element){
              return $('#lstBox2 > option').length > 0
            },"This field is required");

            // $.validator.addMethod("endate_greater_startdate", function(value, element) {
            //   alert(value);
            //   alert($("#edate").val());
            //   alert(value < $("#edate").val());
            //   return value > $("#edate").val();
            // }, "Enddate should be greater than Startdate");
            //form validation rules
            $("#generateCouponForm").validate({

                errorPlacement: function (error, element) {
                    error.css({'float':'left','color':'red','padding-left':'0px', 'font-weight':'700','text-align':'left'});
                    error.addClass("error")
                    error.insertAfter(element);
                },
                rules: {
                    coupon_code: {
                        required:true,
                        custcode: true,
                        minlength: 3,
                        maxlength: 15
                    },
                    title: "required",
                    coupon_count: "required",
                    coupon_type: "required",
                    courrency_code: "required",
                    currency:  "required",
                    upload_coupon: "required", 
                    coupon_amt: {
                        required: true,
                        custper: true,
                        minlength: 1,
                        max: 100,
                        maxlength: 3
                    },
                    regions_selected: {
                      custrequire: true
                    },

                    start_date: {
                      required: true
                    },
                    end_date: {
                      required: true
                    },
                    region_selected : "required"
                },
                submitHandler: function(form) {
                    form.submit();
                    //return false;
                }
            });

            if ($("#edate").val() < $("#sdate").val()){
              $("#edate").rules('add', {
                    required: true,
                    messages: {
                    required: "Enddate should be greater than Startdate"
                  }
              });
            }  
        }
    }

    //when the dom has loaded setup form validation rules
    $(D).ready(function($) {
        JQUERY4U.UTIL.setupFormValidation();
    });

})(jQuery, window, document);

/*
   $(document).ready(function ()
   {
        $('#sdate').datetimepicker({
              useCurrent: true,
              format: "YYYY-MM-DD h:mm",
              minDate: moment().subtract(1,'d')//new Date()
            }).on('dp.change', function (selected)
            {   
                // $('#edate').val("");
                var incrementDay = new Date(selected.date);
                incrementDay.setHours(incrementDay.getHours() + 1)
                $('#edate').data('DateTimePicker').minDate(incrementDay);
            });

            $('#edate').datetimepicker({
                useCurrent: false,
                minDate: new Date(),
                format: "YYYY-MM-DD h:mm"
            });
    });

*/  
    $(function(){ 
      dateformat1 = dateformat1()
      $('#sdate').datetimepicker({
        useCurrent: true,
        minDate: 0,
        locale: 'en',
        format: dateformat1
      });

      $('#edate').datetimepicker({
        useCurrent: false,
        locale: 'en',
        format: dateformat1
      });
      
      $("#sdate").on("dp.change", function (e) {
        $('#edate').data("DateTimePicker").minDate(e.date);
        var custdate = dateformat(e);
        $('#start_date_string').html(custdate);
      });

      $("#edate").on("dp.change", function (e) {
        $('#sdate').data("DateTimePicker").maxDate(e.date);
        var custdate = dateformat(e);
        $('#end_date_string').html(custdate);
      });
    });


$("#generateCouponForm").keyup(function(event) {
    if (event.keyCode === 13) {
        $("#submitgenerateCouponForm").click();
    }
});

// $('#submitgenerateCouponForm').click(function(){
// 				var status = $('#generateCouponForm').valid();
// 				console.log(status);
//         if ($("#edate").val() < $("#sdate").val()){
//           alert("Start date can't be greated than End Date");
//         }else{
//         var regions = $("#bucket_regions").val();
// 				if ( status == true) {
// 				var data = $('#generateCouponForm').serialize();
//         alert(JSON.stringify(data));
// 				$.ajax({
//             type: 'POST',
//             enctype: 'multipart/form-data',
// 						url: '/generate_coupon/',
// 						data: data,
//             timeout: 120000,
// 						error: function(e,t){
// 								if (t == "timeout"){
// 									alert("Timed Out Wait for Response");
// 								}
// 								else{
// 									$(".error_media").text(JSON.parse(e.responseText)["error"]);
// 								}
// 						},
// 						success: function(d){
// 								//window.location = "/"
// 								window.location = "/coupons/generated_coupons"
// 						}
// 				});
// 				}}
// 		});



</script>
