<%#= render :partial => 'shared/breadcrum_style' %>
<%#= render :partial => 'shared/table_style' %>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
    <div class="row">
		<ol class="breadcrumb">
			<li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
			<li class="active" title="Coupons">Coupons</li>
		</ol>
	</div>
	<div class="row generated-coupons" id= "showuser">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-body tabs">
					<ul class="nav nav-pills">
						<!-- <li class="active"><a href="#pilltab5" data-toggle="tab">Coupons</a></li> -->
					</ul>
					<div class="tab-content">
						<div class="tab-pane fade in active" id="pilltab5">
						    <div class="panel">
								<button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/generate_coupon_codes?tenant_id=<%=@tid%>'">
											<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Generate Coupon
								</button>
							<div>
								<br>
								<table class="table table-bordered table-striped">
									<thead>
										<th>Coupon Code</th>
										<th>Coupon Type</th>
										<th>Amount</th>
										<th>No. Coupons</th>
										<th>Action</th>
									</thead>
									<tbody>
										<% if @couponitems.present? %>
											<% @couponitems.each do |coupon| %>
												<tr>
													<td><%= coupon["title"].present? ? coupon["title"] : 'COUPON' %></td>
													<td><%= coupon["coupon_type"] %></td>
													<td><%= coupon["coupon_amt"].present? ? coupon["coupon_amt"] : 'NA' %></td>
													<td><%= coupon["coupon_count"].present? ? coupon["coupon_count"] : 'NA' %></td>
													<!-- <td><span class="inline-block" data-toggle="tooltip" title="Download CSV"><button type="button" class="btn btn-xs btn-info btn-download-csv" data-coupon-id="<%#= coupon["_id"]["$oid"] %>"><span class="glyphicon glyphicon-save"></button></span></td> -->
													<td><%= link_to "Download CSV",  generate_coupon_csv_path(format: "csv", coupon_id: coupon["_id"]["$oid"]), :class=>"btn btn-primary" %>
														
														<%#= link_to "Status",  generate_status_csv_path(coupon_id: coupon["_id"]["$oid"]), :class=>"btn btn-primary", remote: true, method: :get %>
														<button class="btn btn-primary status-csv" data-coupon-id="<%= coupon["_id"]["$oid"] %>">
															Status
														</button>
													</td>
												</tr>	
											<% end %>
										<% end %>	
									</tbody>	
								</table>
							</div>       
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="userdata"></div>	
<div id="view_sub_info"></div>

<script>
	
	$(function(){
		$('.generated-coupons').on('click', '.btn-download-csv', function(){
			couponID = $(this).data('coupon-id');
			$.ajax({
				url: '/generate_coupon_csv',
				data: {coupon_id: couponID},
				type: 'GET',
				dataType: "text/csv"
			});	
		});

		$('.generated-coupons').on('click', '.status-csv', function(){
			couponID = $(this).data('coupon-id');
			$.ajax({
				url: '/generate_status_csv',
				data: {coupon_id: couponID},
				type: 'GET',
				dataType: "Script"
			});	
		});
	});

	$('#userpackinfo').click(function(){
				var status = true;
				//console.log(status);
				var user_id = document.getElementById("user_id").value;
				var tenant_id = $("#tenantid").val();

				if ( status == true) {
				$.ajax({
						url: '/UserPacks/',
						data:{user_id: user_id, tenant_id: tenant_id},
						type: 'Get',
						//dataType: 'json',
						timeout: 120000,
						error: function(e,t){
								if (t == "timeout"){
										alert("Timed Out Wait for Response")
								}
								else{
										alert(JSON.parse(e.responseText)["error"]);
								}
						},
						success: function(d){
							var tenant_id = $("#tenantid").val();
							//console.log("tenant_id in userdata:::::"+tenant_id);
							$("#userdata").html(d);
                                    }
				                  });
				                 }
		                       });
function load_actions() {
$('.add-plans').click(function(){
	var tenant_id = $("#tenantid").val();
        window.location.href = '/subscription/plans?tenant_id='+tenant_id+'&content_id='+$(this).attr('content-id')+'&app_id='+$(this).attr('app_id');
    });

    $('.info-subscription').click(function() {
    	var tenant_id = $("#tenantid").val();
    	$.ajax({
    		url: '/subscription/plans?tenant_id='+tenant_id+'&method=view&content_id='+$(this).attr('content_id')+'&app_id='+$(this).attr('app_id'),
    		type: "GET",
    		timeout: 120000,
    		error: function(e,t){
    			if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
    		},
    		success: function(d){
    			$("#view_sub_info").html(d);
                $('#viewModal2').modal('show');
    		}
    	});
    });
}
</script>


