<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
<table width='100%' cellpadding='2' cellspacing='2' frame='box' rules='none' style='border-color:white;'>
                <tr>
                    <td  style='border-bottom: 3px solid grey'>
                        <img style='height: 50px; padding-left: 30px;' src='http://<%=get_cms_public_url%>/assets/logo.png'>
                        </td>
                    </tr>
                    <tr>
                        <td style='padding-left: 20px;font-size: small;font-family:arial;padding-top: 20px;'>Dear 
                            <b> <%= @user.email %> </b>
                        </td>
                    </tr>
                    <tr>
                        <td  style='padding-left: 20px;font-size: small;font-family:arial;padding-top: 20px;'>
                        Welcome to Cinestaan. Thanks you for registering with us.
                        </td>
                    </tr>
                    <tr>
                        <td  style='padding-left: 20px;font-size: small;font-family:arial;padding-top: 20px;'>
                        Your free trial has been activated. Now you can launch your own multi-screen OTT platform.
                        </td>
                    </tr>
                    <tr>
                        <td  style='padding-left: 20px;font-size: small;font-family:arial;padding-top: 20px;'>
                        Your Sign In information is as follows:
                        </td>
                    </tr>
                    <tr>
                        <td  style='padding-left: 20px;font-size: small;font-family:arial;padding-top: 20px;'>
                            Username : <%= @user.email %>
                        </td>
                    </tr>

                    <!-- <tr>
                        <td  style='padding-left: 20px;font-size: small;font-family:arial;padding-top: 20px;'>
                            To login, please access Cinestaan and type the username above.
                        </td>
                    </tr>  -->
                    <tr>
                        <td  style='padding-left: 20px;font-size: small;font-family:arial;padding-top: 20px;'>
                            Please go to <a href="http://<%=get_cms_public_url%>">Insta OTT</a>. Use your registered email and password for Sign In. 
                        </td>
                    </tr>
                    <tr>
                        <td  style='padding-left: 20px;font-size: small;font-family:arial;padding-top: 20px;'>
                           If you need further assistance email us at mkt@saranyu.in.
                        </td>
                    </tr>

                    <tr>
                        <td style='padding-left: 20px;font-size: small;font-family:arial;padding-top: 20px;padding-bottom: 50px;padding-top: 20px;'>Best Regards, 
                            <br/>Team 
                            <a href="http://<%=get_cms_public_url%>">Insta OTT</a>
                        </td>
                    </tr>
                    <tr>
                        <td  style='padding-top: 15px;color: black;font-size: 16px;text-align: center;padding-bottom: 12px;'>This is an auto-generated email. Please do not reply to the same.</td>
                    </tr>
                </table>
            </html>