<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%=@user.email%>!</h1>
    <p>Welcome to Saranyu Encoder and CMS.</p>
    <p>Your video titled "<%=@media.title%>" is transcoded, published and ready for playback!</p>
    <p>Follow this link to login and access your transcoded media:</p>
    <a href="http://<%=get_cms_public_url%>">Insta OTT</a>
  </body>
</html>