 <div class="ml45">
                                        <div id="hchart3" class="mt10 mb45 graph">
                            
                                        </div>
                                    </div> 

 <style>
    .highcharts-yaxis-labels
    {
        display: none;
    }
    .highcharts-button
    {
        display: none;
    }
    .highcharts-container {
        /*border-bottom: 1px solid #fff;
        border-left: 1px solid #fff;*/
    }
    
</style>
<script>
var city_array =  <%= raw @city_ga_data.to_json%>;
var flag = "<%=params[:users].present? ? "true" : "false"%>"
var pathname = window.location.origin;
var arrayOfJson_city_array = [];
            $.each(city_array, function( key, value ) {
                var tempJson = {};
                if (flag == "true")
                {
                    tempJson.name = value.city;
                tempJson.y = Number(value.LoginAttempt);
                tempJson.drilldown = value.city;
                tempJson.url = pathname+"/content_by_geography_zipcode?country="+value.country+"&city="+value.city+"&users=true";
                }
                else
                {
                    tempJson.name = value.city;
                tempJson.y = Number(value.playStart);
                tempJson.drilldown = value.city;
                tempJson.url = pathname+"/content_by_geography_zipcode?country="+value.country+"&city="+value.city;
                }
                
                arrayOfJson_city_array.push(tempJson);
            
});


Highcharts.setOptions({
    colors: ['#4371C2']
});
    Highcharts.chart('hchart3', {
        credits: {
      enabled: false
  },
        chart: {
            backgroundColor: '#000',
            type: 'column'
           
        },
        title: {
            text: ''
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            gridLineWidth: 0,
          tickLength: 0,
            type: 'category',
            /*lineWidth: 0,
           minorGridLineWidth: 0,
           lineColor: 'transparent'*/
           labels: {
            style: {
                color: '#fff'
            }
        }
        },
        yAxis: {
            gridLineWidth: 0,
            tickLength: 0,
            
            title: {
                gridLineWidth: 0,
                text: ''
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                color: '#ff0000',
                cursor: 'pointer',
                point: {
                events: {
                click: function () {
                    var point = this;
                    document.location.href = point.url;
                }
                }
                },
                dataLabels: {
                    color: '#fff',
                    enabled: true,
                    format: ''
                }
            }
        },

        tooltip: {
            enabled: false,
            crosshairs: [false,false],
            headerFormat: '',
            pointFormat: ''
        },

        series: [{
            color: '#fff',
            name: 'Brands',
            colorByPoint: true,
            dataLabels: {
                color: '#fff',
                enabled: true,
                backgroundColor: 'transparent'
              
            },
            data: arrayOfJson_city_array
        }]
    });
        
</script>