   <div class="ml45">
                                        <div id="hchart3" class="mt10 mb45 graph">
                            
                                        </div>
                                    </div> 
                                      <%= render :partial=>"consumption_by_category_script"%>