<style>
    .highcharts-yaxis-labels
    {
        display: none;
    }
    .highcharts-button
    {
        display: none;
    }
    .highcharts-container {
        /*border-bottom: 1px solid #fff;
        border-left: 1px solid #fff;*/
    }
    
</style>
<script>
var array =  <%= raw @language_ga_data.to_json%>;
var arrayOfJson_language_array = [];
            $.each(array, function( key, value ) {
                var tempJson = {};
                tempJson.name = value.language;
                tempJson.y = Number(value.playStart);
                tempJson.drilldown = value.language;
                arrayOfJson_language_array.push(tempJson);
            
});


Highcharts.setOptions({
    colors: ['#4371C2']
});
    Highcharts.chart('hchart3', {
        credits: {
      enabled: false
  },
        chart: {
            backgroundColor: '#000',
            type: 'column'
           
        },
        title: {
            text: ''
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            gridLineWidth: 0,
          tickLength: 0,
            type: 'category',
            /*lineWidth: 0,
           minorGridLineWidth: 0,
           lineColor: 'transparent'*/
           labels: {
            style: {
                color: '#fff'
            }
        }
        },
        yAxis: {
            gridLineWidth: 0,
            tickLength: 0,
            
            title: {
                gridLineWidth: 0,
                text: ''
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                color: '#ff0000',
                dataLabels: {
                    color: '#fff',
                    enabled: true,
                    format: ''
                }
            }
        },

        tooltip: {
            enabled: false,
            crosshairs: [false,false],
            headerFormat: '',
            pointFormat: ''
        },

        series: [{
            color: '#fff',
            name: 'Brands',
            colorByPoint: true,
            dataLabels: {
                color: '#fff',
                enabled: true,
                backgroundColor: 'transparent'
              
            },
            data: arrayOfJson_language_array
        }]
    });
        
</script>