<div class="row">
<div class="col-md-12 col-sm-9 col-xs-8 right-content">
				<div class="col-md-12 section-list">
					<div class="content">
						<h1 class="title">Dashboard</h1>	
						<div class="col-md-4">
							<p class="count">
								<span class="count1">1, 500</span>
								<span>Total Subscriber Base</span>
							</p>
						</div>
						<div class="col-md-4">
							<h2 class="info-title text-center mb10">Paid Subscribers</h2>
							<p class="success-color">1,123</p>
						</div>
						<div class="col-md-4">
							<h2 class="info-title text-center mb10">Trail Subscribers</h2>
							<p class="trail-color">377</p>
						</div>
					</div>
				</div>
				<div class="col-md-12 section-list">
					<div class="content ml45">
					<div class="row">
						<div class="col-lg-8 col-md-8 col-sm-8 col-md-12">
						<h2 class="section-content-title pull-left mt45 mb20">Conversions in the last 30 days</h2></div>
														<div class="input-group input-daterange col-lg-4 col-md-4 col-sm-4 col-xs-12">
     <input type="text" id="co_from_date" class="form-control date_range" value="">
    <div class="input-group-addon">to</div>
    <input type="text" id="co_to_date" class="form-control date_range" value="">
</div>
						<div id="hchart1" class="mt10 mb45 graph">
							
						</div>
					</div></div>
				</div>	
				<div class="col-md-12 section-list">
					<div class="content ml45">
					<div class="row">
						<div class="col-lg-8 col-md-8 col-sm-8 col-md-12">
						<h2 class="section-content-title pull-left mt45 mb20">Drop-offs in the last 30 days</h2></div>
														<div class="input-group input-daterange col-lg-4 col-md-4 col-sm-4 col-xs-12">
     <input type="text" id="dropoffs_co_from_date" class="form-control date_range" value="">
    <div class="input-group-addon">to</div>
    <input type="text" id="dropoffs_co_to_date" class="form-control date_range" value="">
</div>
						<div id="hchart2" class="mt10 mb45 graph">
							
						</div>
					</div>
				</div>	
			</div></div></div>


			<script>
	  $(document).ready(function(){
    $('#co_to_date').datepicker('setDate', new Date()); 
    var d = new Date();
    d.setDate(d.getDate() - 30);
    $('#co_from_date').datepicker('setDate', d);
     $('#dropoffs_co_to_date').datepicker('setDate', new Date()); 
    var d = new Date();
    d.setDate(d.getDate() - 30);
    $('#dropoffs_co_from_date').datepicker('setDate', d);
     });
	  $('#co_from_date').datepicker({
                    format: "M dd , yyyy"
                }).on("changeDate", function (e) {
  		});
	  $('#co_to_date').datepicker({
	                    format: "M dd , yyyy"
	                }).on("changeDate", function (e) {
		});
	                $('#dropoffs_co_from_date').datepicker({
                    format: "M dd , yyyy"
                }).on("changeDate", function (e) {
  		});
	  $('#dropoffs_co_to_date').datepicker({
	                    format: "M dd , yyyy"
	                }).on("changeDate", function (e) {
		});
</script>