
					<div class="col-md-12 geography-content-section">
						<div class="content">
							<h1 class="title mb70">Content Performance</h1>	
							<div class="row">
								 <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
									<h2 class="section-content-title pull-left mb20">Top 25 content consumed in the last 30 days</h2></div>
									  <div class="input-group input-daterange col-lg-4 col-md-4 col-sm-4 col-xs-12">
     <input type="text" id="co_from_date" class="form-control date_range" value="">
    <div class="input-group-addon">to</div>
    <input type="text" id="co_to_date" class="form-control date_range" value="">
</div>
									<div id="top_items_table">
									<%=render :partial=>"get_top_items_table"%>	</div>	
								</div>
							</div>
               <div class="ajax-progress"></div>
						</div>
			


			 <script>
  $(document).ready(function(){
    $('#co_to_date').datepicker('setDate', new Date()); 
    var d = new Date();
    d.setDate(d.getDate() - 30);
    $('#co_from_date').datepicker('setDate', d);
    });
 function datepickerChangeDate(e){
              e.stopPropagation();
                $(".ajax-progress").show();
    var from_date = $("#co_from_date").val();
    var to_date = $("#co_to_date").val();
    if ((from_date.length != 0) & (to_date.length != 0))
    {
                    $.ajax({
                        url: 'get_top_items_on_daterange',
                        data:{from_date: from_date,
                          to_date: to_date
                        },
                        type: 'Get',
                        timeout: 120000,
                        error: function(e){
                            $(".ajax-progress").hide();
                        },
                        success: function(d){
                        $("#top_items_table").html("")
                        $("#top_items_table").html(d)
                          $(".ajax-progress").hide();
                        }
                });
                 }
             };

    
  





  $('#co_from_date').datepicker({
                    // format: "yyyy-mm-dd"
                    format: "M dd , yyyy"
                }).on("changeDate", function (e) {
                   datepickerChangeDate(e);
  });
  $('#co_to_date').datepicker({
                    format: "M dd , yyyy"
                }).on("changeDate", function (e) {
                   datepickerChangeDate(e);
});



  </script>

  <style>
  div.ajax-progress {
  position: fixed;
  display: none;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  background-image: url('/assets/loading.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border: 1px solid #688FB3;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}
</style>