                    <div class="col-md-12 geography-content-section">
                        <div class="content">
                            <h1 class="title mb70">Content Performance</h1> 
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-md-12">
                                    <h2 class="section-content-title pull-left mb20">Consumption by language</h2></div>
                                    <div class="input-group input-daterange col-lg-4 col-md-4 col-sm-4 col-xs-12">
     <input type="text" id="co_from_date" class="form-control date_range" value="">
    <div class="input-group-addon">to</div>
    <input type="text" id="co_to_date" class="form-control date_range" value="">
</div>
                                  <div id="language_data_on_daterange">
                                   <%= render :partial=>"language_data_graph"%> 
                                </div>
                                
                            </div>
                        </div>
                    </div>
          
<script>
      $(document).ready(function(){
		    $('#co_to_date').datepicker('setDate', new Date()); 
		    var d = new Date();
		    d.setDate(d.getDate() - 30);
		    $('#co_from_date').datepicker('setDate', d);
    	});

    function datepickerChangeDate(e){
            	e.stopPropagation();
			    var from_date = $("#co_from_date").val();
			    var to_date = $("#co_to_date").val();
			    var country = "<%=params[:country]%>";
			    var city = "<%=params[:city]%>";
			    if ((from_date.length != 0) & (to_date.length != 0))
			    {
			                    $.ajax({
			                        url: 'language_data_on_daterange',
			                        data:{from_date: from_date,
			                          to_date: to_date
			                        },
			                        type: 'Get',
			                        timeout: 120000,
			                        error: function(e){
			                        },
			                        success: function(d){
			                            console.log(d)
			                        $("#language_data_on_daterange").html("")
			                        $("#language_data_on_daterange").html(d)
			                        }
			                });
			     }
    };
      $('#co_from_date').datepicker({
                    // format: "yyyy-mm-dd"
                    format: "M dd , yyyy"
                }).on("changeDate", function (e) {
                	 console.log("on changeDate in co from data");
                	 datepickerChangeDate(e);
        });
      $('#co_to_date').datepicker({
                        format: "M dd , yyyy"
                    }).on("changeDate", function (e) {
        			console.log("on changeDate in co to data");
        			datepickerChangeDate(e);
        });    
     
  
</script>
<%= render :partial=>"language_data_script"%>