


<div class="row" id= "showuser">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-body tabs">
					<ul class="nav nav-pills">
						<!-- <li class="active"><a href="#pilltab5" data-toggle="tab">Coupons</a></li> -->
					</ul>
					<div class="tab-content">
					<div class="tab-pane fade in active" id="pilltab5">
					    <div class="panel panel-primary">
					    <% if (current_user.roles.length == 1) && (current_user.roles[0] == "media_viewer")%>
                 			<% else %>
					    <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/create_coupon?tenant_id=<%=@tid%>'">
										<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Coupon
						</button><% end %>
					       <div class="panel-body">
									<div id="table5" data_source="/coupon/get_all?tenant_id=<%=@tid%>" auto_refresh="100000000" loader="false" entries_info="true">
									 <script type="text/javascript" >
												$(document).ready(function(){       
													var table5 = new saranyutable("#table5");
													table5.createBody = function createBody(_this) {            
														$(_this.selector).find("thead").append(
															'<tr><th><left>coupon code</left></th><th><left>coupon type</left></th><th><left>Amount</left></th></tr>');
													};
													table5.load();                      
													table5.appendContent = function appendContent(data,_this){      
														var tbody = $(_this.selector).find("tbody");
														tbody.html("");
														for ( var i = 0; i < data.items.items.length; i++) {
															catalog_id = data.items.catalog_id
															c_code = data.items.items[i].c_code
															c_type = data.items.items[i].c_type
															coupon_amount = data.items.items[i].coupon_amount
															actions = ""
															// Need to Add delete in future
															delete_disabled = ""


															// edit_button =  '<span class="inline-block" data-toggle="tooltip" title="Edit"><button type="button" class="btn btn-xs btn-default edit-acescontrol" content_id='+content_id+'> <span class="glyphicon glyphicon-pencil"></button></span>'

															// delete_button = '<span class="inline-block" data-toggle="tooltip" title="Delete"><button type="button" class="'+delete_disabled+' btn btn-xs btn-danger delete-acescontrol" content_id='+content_id+'><span class="glyphicon glyphicon-trash"></button></span>'

															//actions = edit_button+"&nbsp;"+delete_disabled
															//append                
															tbody.append("<tr><td>" + c_code
																+ "</td><td>" + c_type
																+ "</td><td>" + coupon_amount
																+"</td></tr>");
														}
														load_actions();
													};
												});
											</script>
									
									</div>
						         </div>			
					         </div>
				           </div>
					   <!-- End of tab1 -->
					   </div>
				</div>
			</div>
		</div>
	</div>
	<div id="userdata"></div>
	</div>

<div id="view_sub_info"></div>

<script>
	
	$('#userpackinfo').click(function(){
				var status = true;
				//console.log(status);
				var user_id = document.getElementById("user_id").value;
				var tenant_id = $("#tenantid").val();

				if ( status == true) {
				$.ajax({
						url: '/UserPacks/',
						data:{user_id: user_id, tenant_id: tenant_id},
						type: 'Get',
						//dataType: 'json',
						timeout: 120000,
						error: function(e,t){
								if (t == "timeout"){
										alert("Timed Out Wait for Response")
								}
								else{
										alert(JSON.parse(e.responseText)["error"]);
								}
						},
						success: function(d){
							var tenant_id = $("#tenantid").val();
							//console.log("tenant_id in userdata:::::"+tenant_id);
							$("#userdata").html(d);
                                    }
				                  });
				                 }
		                       });
function load_actions() {
$('.add-plans').click(function(){
	var tenant_id = $("#tenantid").val();
        window.location.href = '/subscription/plans?tenant_id='+tenant_id+'&content_id='+$(this).attr('content-id')+'&app_id='+$(this).attr('app_id');
    });

    $('.info-subscription').click(function() {
    	var tenant_id = $("#tenantid").val();
    	$.ajax({
    		url: '/subscription/plans?tenant_id='+tenant_id+'&method=view&content_id='+$(this).attr('content_id')+'&app_id='+$(this).attr('app_id'),
    		type: "GET",
    		timeout: 120000,
    		error: function(e,t){
    			if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
    		},
    		success: function(d){
    			$("#view_sub_info").html(d);
                $('#viewModal2').modal('show');
    		}
    	});
    });
}
</script>


