


<div class="row" id= "showuser">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-body tabs">
					<ul class="nav nav-pills">
						<li class="active"><a href="#pilltab6" data-toggle="tab">Users</a></li>
					</ul>
					<div class="tab-content">
					<div class="tab-pane fade in active" id="pilltab6">
					    <div class="panel panel-primary">
					       <div class="panel-body">
					         <div class="row">
								<div class="col-xs-2">
								</div>
								<div class="clear"></div>
								<div class="row ml0 mr0">
								<div class="col-xs-2">
								<label>User ID</label>
								</div>
								<div class="col-xs-1">
									<img class="info_img" id="userimg"  data-toggle="tooltip" title="<%=t('get_user')%>" src="/assets/info_55x55.png" alt="dummy">
								</div>
								<div class="col-xs-3">
								<input type="text" class="form-control input-sm" id="user_id" placeholder="(User Email Id)" name="user_id">
								</div>

								<button type="button" class="btn btn-primary" id="userpackinfo"> Get User Packs</button>
								</div>
							 </div>
									
						    </div>			
					    </div>
				    </div>
					   <!-- End of tab1 -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="userdata"></div>
	</div>

<div id="view_sub_info"></div>

<script>

$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
	
	$('#userpackinfo').click(function(){
				var status = true;
				//console.log(status);
				var user_id = document.getElementById("user_id").value;
				var tenant_id = $("#tenantid").val();

				if ( status == true) {
					pbar=false;
				$.ajax({
						url: '/UserPacks/',
						data:{user_id: user_id, tenant_id: tenant_id},
						type: 'Get',
						//dataType: 'json',
						timeout: 120000,
						error: function(e,t){
								if (t == "timeout"){
										alert("Timed Out Wait for Response")
								}
								else{
										alert(JSON.parse(e.responseText)["error"]);
								}
						},
						success: function(d){
							var tenant_id = $("#tenantid").val();
							//console.log("tenant_id in userdata:::::"+tenant_id);
							$("#userdata").html(d);
                                    }
				                  });
				                 }
		                       });
function load_actions() {
$('.add-plans').click(function(){
	var tenant_id = $("#tenantid").val();
        window.location.href = '/subscription/plans?tenant_id='+tenant_id+'&content_id='+$(this).attr('content-id')+'&app_id='+$(this).attr('app_id');
    });

    $('.info-subscription').click(function() {
    	var tenant_id = $("#tenantid").val();
    	$.ajax({
    		url: '/subscription/plans?tenant_id='+tenant_id+'&method=view&content_id='+$(this).attr('content_id')+'&app_id='+$(this).attr('app_id'),
    		type: "GET",
    		timeout: 120000,
    		error: function(e,t){
    			if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
    		},
    		success: function(d){
    			$("#view_sub_info").html(d);
                $('#viewModal2').modal('show');
    		}
    	});
    });
}
</script>


