


<div class="row" id= "showuser">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-body tabs">
					<ul class="nav nav-pills">
						<li class="active"><a href="#pilltab4" data-toggle="tab">Subscription Plans</a></li>
					</ul>
					<div class="tab-content">
					<div class="tab-pane fade in active" id="pilltab4">
					    <div class="panel panel-primary">
					       <div class="panel-body">
									<div id="table4" data_source="/subscription/get_all?tenant_id=<%=@tid%>" auto_refresh="100000000" loader="false" entries_info="true">
									 <script type="text/javascript" >
				                            $(document).ready(function(){  
				                            var roles = <%= raw current_user.roles.to_json%>
                            					// var found = roles.includes('media_viewer');
                            					 var found = (roles.indexOf("media_viewer") > -1);
                            					var with_action = '<tr><th><left>Title</left></th><th><left>Number of Plans</left></th><th><left>Actions</left></th></tr>'
                            					var with_out_actions = '<tr><th><left>Title</left></th><th><left>Number of Plans</left></th></tr>'     
				                                var table4 = new saranyutable("#table4");
				                                table4.createBody = function createBody(_this) {            
				                                    if ((found == true) & roles.length == 1) 
																{
																	$(_this.selector).find("thead").append(with_out_actions
																	);
																}
																else
																{
																	$(_this.selector).find("thead").append(with_action
																	);
																}
				                                };
				                                //<th><left>Name</left></th><th><left>Theme</left></th><th><left>Content ID</left></th>
				                                table4.load();                      
				                                table4.appendContent = function appendContent(data,_this){      
				                                    var tbody = $(_this.selector).find("tbody");
				                                    tbody.html(""); 
				                                    for ( var i = 0; i < data.items.items.length; i++) {
				                                       // name = data.items.name
                                       				   //theme = data.items.theme
                                        			   //title = data.items.items[i].title 
                                        			   totalplans = data.items.items[i].plans.length
                                        			   if(data.items.items[i].app_ids.length == 0){
													      app_id = 0
													   }else{
													      app_id = data.items.items[i].app_ids[0]
													   }
													   dtitle = data.items.items[i].title
													   if(data.items.items[i].title == "app_plans"){
													   	dtitle = "Free Plans"
													   }else{
													   	dtitle = data.items.items[i].title
													   }
                                        			   title = '<a href="/subscription/view_all?tenant_id=<%=@tid%>&content_id='+data.items.items[i].id+'&app_id='+app_id+'">'+dtitle+'</a>'
                                        			   content_id = data.items.items[i].id
                                        			   actions = ""
				                                       delete_disabled = "disabled"
				                                       
				                                        view_button = '<span class="inline-block" data-toggle="tooltip" title="View Info"><button type="button" class="btn btn-xs btn-info info-subscription" content_id='+content_id+' app_id='+app_id+'><span class="glyphicon glyphicon-eye-open"></button>'

				                                        // edit_button =  '<span class="inline-block" data-toggle="tooltip" title="Edit"><button type="button" class="btn btn-xs btn-default " ><span class="glyphicon glyphicon-pencil"></button></span>'

				                                        add_plans = '<span class="inline-block" data-toggle="tooltip" title="Add Plan"><button type="button" class="btn btn-xs btn-info add-plans" content-id='+content_id+' app_id='+app_id+'><span class="glyphicon glyphicon-s glyphicon-plus"></button>'

				                                        // delete_button = '<button type="button" class="'+delete_disabled+' btn btn-xs btn-danger "><span class="glyphicon glyphicon-remove"></button>'
				                                       
				                                        actions = add_plans+"&nbsp;"
				                                        if ((found == true) & roles.length == 1) 
                                                            {
                                                                 actions = ""
                                                            }  
				                                        //append                
				                                        tbody.append("<tr><td>" + title
                                           						  // + "</td><td>" + name
                                            					  // + "</td><td>" + theme
                                            					  // + "</td><td>" + content_id
                                            					  + "</td><td>" + totalplans
                                            					  + "</td><td>" + actions
                                            					  +"</td></tr>");
				                                            }
				                                    load_actions();
				                                };
				                            });
				                        </script>
									
									</div>
						         </div>			
					         </div>
				           </div>
					   <!-- End of tab1 -->
					   </div>
				</div>
			</div>
		</div>
	</div>
	<div id="userdata"></div>
	</div>

<div id="view_sub_info"></div>

<script>
	
	$('#userpackinfo').click(function(){
				var status = true;
				//console.log(status);
				var user_id = document.getElementById("user_id").value;
				var tenant_id = $("#tenantid").val();

				if ( status == true) {
				$.ajax({
						url: '/UserPacks/',
						data:{user_id: user_id, tenant_id: tenant_id},
						type: 'Get',
						//dataType: 'json',
						timeout: 120000,
						error: function(e,t){
								if (t == "timeout"){
										alert("Timed Out Wait for Response")
								}
								else{
										alert(JSON.parse(e.responseText)["error"]);
								}
						},
						success: function(d){
							var tenant_id = $("#tenantid").val();
							//console.log("tenant_id in userdata:::::"+tenant_id);
							$("#userdata").html(d);
                                    }
				                  });
				                 }
		                       });
function load_actions() {
$('.add-plans').click(function(){
	var tenant_id = $("#tenantid").val();
        window.location.href = '/subscription/plans?tenant_id='+tenant_id+'&content_id='+$(this).attr('content-id')+'&app_id='+$(this).attr('app_id');
    });

    $('.info-subscription').click(function() {
    	var tenant_id = $("#tenantid").val();
    	$.ajax({
    		url: '/subscription/plans?tenant_id='+tenant_id+'&method=view&content_id='+$(this).attr('content_id')+'&app_id='+$(this).attr('app_id'),
    		type: "GET",
    		timeout: 120000,
    		error: function(e,t){
    			if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
    		},
    		success: function(d){
    			$("#view_sub_info").html(d);
                $('#viewModal2').modal('show');
    		}
    	});
    });
}
</script>


