<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
		<div class="row">
				<ol class="breadcrumb">
						<li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
						<li>Subscription</li>
						<li class="active">Add a Plan</li>
				</ol>
		</div>
    <div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<form class="form-horizontal" id="subscriptionForm" role="form">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-2">
									<label for="title"></label>
									</div>
									<div class="col-xs-1">
                                    </div>
                                      <div class="col-xs-6">
                                      <label style="float: left;color: #30a5ff;"><%=@subscription["title"]%></label>
								</div>
							</div> 
                                 <div class="row">
                                 <div class="col-xs-2">
								 <label>Plan Title</label>
								 </div>
								 <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the title for the plan. Title provided shall be available on the applications" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                 <input type="text" class="form-control input-sm" name="ptitle[]" value="" placeholder="Plan Title">
                                 </div>
                                 </div>

                                 <div class="row">
                                 <div class="col-xs-2">
                                 <label for="plan_id">Ext Plan Id</label>
                                 </div>
								 <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide external plan id for identification" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
								 <input type="text" class="form-control input-sm" name="plan_id[]" placeholder="Plan Id" value="">
								 </div>
								 </div>


                                 <div class="row">
                                 <div class="col-xs-2">
                                 <label>Plan Description</label>
                                 </div>
								 <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the description for the plan. Description shall be used by the applications" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                 <textarea class="form-control input-sm" rows="5" name="pdescription[]" value="" placeholder="Plan Description"></textarea>
                                 </div>
                                 </div>
                                 <!-- <input type="text" class="form-control input-sm" name="pdescription[]" value="" placeholder="Plan Description"> -->

                                 <% if @subscription["title"] == "app_plans" %>

                                    <div class="row">
                                        <div class="col-xs-12"></div>
                                        <% apps = App.where(:tenant_id=>@tenant_id) %>
                                          <% app_count = apps.count %>
                                        <div class="col-xs-2">
                                            <label>Select Applications</label>
                                        </div>
                                        <div class="col-xs-1">
                                            <img class="info_img" data-toggle="tooltip" title="You can select list of apps for which plans to be added" src="/assets/info_55x55.png" alt="dummy">
                                         </div>
                                        <div class="col-xs-6">
                                        <div class="checkbox">
                                            <% apps.each do |app|%>
                                         <label class="checkboxapp<%=app_count%>">
                                            <input type="checkbox" class="checkboxapp" id="checkboxapp<%=app.id%>" name="apps[]" value="<%=app.id%>"><%=app.name%>
                                         </label>
                                        <%end%>
                                        </div>
                                        </div>
                                    </div>

                                <div class="row">
                                 <div class="col-xs-2">
                                 <label for="pregion[]">Select Plan Region</label>
                                 </div>
                                 <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the region in which the plan shall be available" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <select name="pregion[]" id="pregion[]" class="form-control input-sm">
                                        <option value="">Select one from below</option>
                                        <option value="IN">IN</option>
                                        <!-- <option value="US">US</option>
                                        <option value="UK">UK</option> -->
                                    </select>
                                    </div>
                                    </div>

                                 <div class="row">
                                <div class="col-xs-2">
                                <label for="plan_type">Select Plan Type</label>
                                </div>
                                <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can select one of available plan types" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <select name="plan_type[]" id="plan_type[]" class="form-control input-sm">
                                        <option value="">Select one from below</option>
                                        <option value="free_pack">Free Pack</option>
                                        <!-- <option value="svod">SVOD</option>
                                        <option value="tvod">TVOD</option> -->
                                    </select>
                                    </div>
                                 </div>

                            <div class="row">
                                <div class="col-xs-2">
                                <label><b>Start Date</b></label>
                                </div>
                                <div class="col-xs-1">
                                <img class="info_img" data-toggle="tooltip" title="You can chose the start date for the pack active" src="/assets/info_55x55.png" alt="dummy">
                                </div>
                                <div class="col-xs-6">
                                <input  type="text" class="form-control" name="start_date" placeholder="[YYYY/MM/DD]"  id="sdate">
                                </div>
                            </div>

                             <div class="row">
                             <div class="col-xs-2">
                             <label><b>End Date</b></label>
                             </div>
                             <div class="col-xs-1">
                                <img class="info_img" data-toggle="tooltip" title="You can chose the end date for the pack inactive" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                            <input  type="text" class="form-control" name="end_date" placeholder="[YYYY/MM/DD]"  id="edate">
                            </div>
                            </div>


                                 <div class="row">
                                 <div class="col-xs-2">
                                 <label>Plan Status</label>
                                 </div>
                                 <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide status of plan available or not" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                         <select name="app_plan_status" id="app_plan_status" class="form-control input-sm">
                                        <option value="active">Active</option>
                                        <option value="inactive">InActive</option>
                                        </select>
                                 </div>
                                 </div>

                                 <div class="row">
                                 <div class="col-xs-2">
                                 <label>Plan Action</label>
                                 </div>
                                 <div class="col-xs-1">
                                            <img class="info_img" data-toggle="tooltip" title="You can provide action of plan required" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                         <select name="app_action" id="app_action" class="form-control input-sm">
                                        <option value="register">register</option>
                                        </select>
                                 </div>
                                 </div>

                                 <%else%>

                                 <div class="row">
                                <div class="col-xs-2">
                                <label for="plan_type">Select Plan Type</label>
                                </div>
                                <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can select one of available plan types" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <select name="plan_type[]" id="plan_type[]" class="form-control input-sm">
                                        <option value="">Select one from below</option>
                                        <option value="all_access_pack">All Access Pack</option>
                                        <!-- <option value="svod">SVOD</option>
                                        <option value="tvod">TVOD</option> -->
                                    </select>
                                    </div>
                                 </div>

                                 <div class="row">
                                 <div class="col-xs-2">
                                 <label>Plan Validity</label>
                                 </div>
								 <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the duration of the plan" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-3">
                                 <input type="number" class="form-control input-sm" name="pduration[]" value="1" placeholder="Plan Duration" min="1">
                                 </div>
                                 <div class="col-xs-3">
                                 <select name="pperiod[]" id="pperiod[]" class="form-control input-sm">
                                        <option value="">Select Plan Period</option>
                                        <option value="day">day</option>
                                        <option value="week">week</option>
                                        <option value="month">month</option>
                                        <option value="year">year</option>
                                    </select>
                                 </div>
                                 </div>

                                 <!-- <label>Plan Period:</label>
                                 <input type="text" class="form-control input-sm" name="pperiod[]" value="" placeholder="Plan Period"> -->

                                 <!-- <div class="row">
                                 <div class="col-xs-2">
                                 <label for="pperiod">Select Plan Period</label>
                                 </div>
								 <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can select the plan period. plan duration and plan period together shall determine the validity of the plan" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <select name="pperiod[]" id="pperiod[]" class="form-control input-sm">
                                        <option value="">Select one from below</option>
                                        <option value="day">day</option>
                                        <option value="week">week</option>
                                        <option value="month">month</option>
                                        <option value="year">year</option>
                                    </select>
                                    </div>
                                    </div> -->

                                 <div class="row">
                                 <div class="col-xs-2">
                                 <label>Plan Price</label>
                                 </div>
								 <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the price associated with the plan" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                 <input type="text" class="form-control input-sm" name="pprice[]" value="" placeholder="Plan Price">
                                 </div>
                                 </div>

                                 

                                 <!-- <label>Plan Region:</label>
                                 <input type="text" class="form-control input-sm" name="pregion[]" value="" placeholder="Plan Region"> -->

                                 <div class="row">
                                 <div class="col-xs-2">
                                 <label for="pregion[]">Select Plan Region</label>
                                 </div>
								 <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the region in which the plan shall be available" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <select name="pregion[]" id="pregion[]" class="form-control input-sm">
                                        <option value="">Select one from below</option>
                                        <option value="IN">IN</option>
                                        <!-- <option value="US">US</option>
                                        <option value="UK">UK</option> -->
                                    </select>
                                    </div>
                                    </div>

                                <!--  <label>Plan Currency:</label>
                                 <input type="text" class="form-control input-sm" name="pcurrency[]" value="" placeholder="Plan Currency"> -->

                                 <div class="row">
                                 <div class="col-xs-2">
                                 <label for="pcurrency[]">Select Plan Currency</label>
                                 </div>
								 <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the currency for the plan" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <select name="pcurrency[]" id="pcurrency[]" class="form-control input-sm">
                                        <option value="">Select one from below</option>
                                        <option value="INR">INR</option>
                                        <!-- <option value="$">$</option>
                                        <option value="USD">USD</option> -->
                                    </select>
                                    </div>
                                    </div>

                                    <%end%>

                                 </div> 

                                  <!-- <div class="form-group" id="plan-group">
                                 <div class="col-xs-6">
                                 <div class="col-xs-12 planconstructor">
                                 <button class="btn btn-xs btn-info plan_add_field_button">Add More </button>
                                 <div class="row">
                                 <div class="col-xs-12">
                                 </div>
                                 </div>
                                 </div>
                                 </div>
                                 </div>  -->

                                <input type=hidden id="items_id" name="items_id" value="<%=@items_id%>">
                                <input type=hidden id="tenant_id" name="tenant_id" value="<%=@tenant_id%>">
                                <input type=hidden id="title" name="title" value="<%=@subscription["title"]%>">

                                <input type=hidden id="content_id" value="<%=params[:content_id]%>">
                                <input type=hidden id="app_id" value="<%=params[:app_id]%>">

                            <br><button type="button" class="btn btn-primary" id="submitsubscriptionForm" >Add Plan</button>
                                 </div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>




<script type="text/javascript">

$(document).ready(function(){

    $('#sdate').datepicker({
        format: "yyyymmdd"
    }); 

    $('#edate').datepicker({
        format: "yyyymmdd"
    }); 

    $('[data-toggle="tooltip"]').tooltip();   
});

(function($,W,D)
{
    var JQUERY4U = {};

    JQUERY4U.UTIL =
    {
        setupFormValidation: function()
        {
            //form validation rules
            $("#subscriptionForm").validate({

                errorPlacement: function (error, element) {
                    error.css({'float':'left','color':'red','text-align':'left'});
                    error.addClass("error")
                    error.insertAfter(element);
                },
                rules: {
                    title: "required",
                    'plan_type[]': "required",
                    'ptitle[]': "required",
                    'plan_id[]': "required",
                    'pdescription[]': "required",
                    'pduration[]': {
                        required : true,
                        min : 1
                        },
                    'pperiod[]': "required",
                    'pprice[]': "required",
                    'pregion[]': "required",
                    'pcurrency[]': "required"
                },
                messages: {
                    title: "THIS FIELD IS MANDATORY",
                    'plan_type[]': "THIS FIELD IS MANDATORY",
                    'ptitle[]': "THIS FIELD IS MANDATORY",
                    'plan_id[]': "THIS FIELD IS MANDATORY",
                    'pdescription[]': "THIS FIELD IS MANDATORY",
                    'pduration[]': {
                        required : "THIS FIELD IS MANDATORY",
                        min : "Enter a value greater than or equal to 1"
                    },
                    'pperiod[]': "THIS FIELD IS MANDATORY",
                    'pprice[]': "THIS FIELD IS MANDATORY",
                    'pregion[]': "THIS FIELD IS MANDATORY",
                    "pcurrency[]": "THIS FIELD IS MANDATORY"
                },
                submitHandler: function(form) {
                    //form.submit();
                     return false;
                }
            });
        }
    }

    //when the dom has loaded setup form validation rules
    $(D).ready(function($) {
        JQUERY4U.UTIL.setupFormValidation();
    });

})(jQuery, window, document);



$(".plan_add_field_button").click(function(v){
                v.preventDefault();
                var vv = document.createElement("div");
                $(vv).append('<div class="row"><div class="col-xs-12"><label>Title</label><input type="text" class="form-control input-sm" name="ptitle[]" value="" placeholder="Plan Title"><label for="plan_id">Plan Id:</label><input type="text" class="form-control input-sm" name="plan_id[]" placeholder="Plan Id" value=""><label>Description</label><input type="text" class="form-control input-sm" name="pdescription[]" value="" placeholder="Plan Description"><label>Duration</label><input type="text" class="form-control input-sm" name="pduration[]" value="" placeholder="Plan Duration"><label>Period</label><input type="text" class="form-control input-sm" name="pperiod[]" value="" placeholder="Plan Period"><label>Region</label><input type="text" class="form-control input-sm" name="pregion[]" value="" placeholder="Plan Region"><label>Price</label><input type="text" class="form-control input-sm" name="pprice[]" value="" placeholder="Plan Price"><label>Currency</label><input type="text" class="form-control input-sm" name="pcurrency[]" value="" placeholder="Plan Currency"></div> <a href="#" class="remove_field1">Remove</a></div>');
                $(".planconstructor").append($(vv));
                vidoeeventFormControl($(vv));      
        });

        $(".planconstructor").on("click",".remove_field1", function(v){
                v.preventDefault(); $(this).parent('div').remove();
        });

function validateForm(){
				var title = $('#title').val();
				if ((title.trim()).length == 0) {
						alert("Title can not be empty!");
						return false;
				}
				return true;
		}	

$('#submitsubscriptionForm').click(function(){
				//var status = validateForm();
                var status = $('#subscriptionForm').valid();
                var content_id = $('#content_id').val();
                var app_id = $('#app_id').val();
				console.log(status);

				if ( status == true) {
				var data = $('#subscriptionForm').serialize();
                pbar = false;
				$.ajax({
						url: '/addplans/',
						data: data,
						type: 'POST',
						dataType: 'json',
						timeout: 120000,
						error: function(e,t){
								if (t == "timeout"){
										alert("Timed Out Wait for Response")
								}
								else{
										alert(JSON.parse(e.responseText)["error"]);
								}
						},
						success: function(d){
                                //alert("Plan Added Successfully");
								//window.location = "/subscription/view_all?tenant_id=<%=@tenant_id%>"
                                //window.location.href = "/tenants/view_tenant/<%=@tenant_id%>"
								window.location.href = "/subscription/view_all?tenant_id=<%=@tenant_id%>&content_id="+content_id+"&app_id="+app_id
						}
				});
				}
		});



</script>