<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
		<div class="row">
				<ol class="breadcrumb">
						<li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
						<li>Subscription</li>
						<li class="active">Edit Plan</li>
				</ol>
		</div>
		<!-- <div class="row">
				<div class="col-lg-12">
						<h1 class="page-header">Edit Plan</h1>
				</div>
		</div> -->


    <div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<form class="form-horizontal" id="subscriptionForm" role="form">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-2">
									<label for="title">Title</label>
									</div>
									<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
									<input type="text" class="form-control input-sm" id="title" name="title" placeholder="Title for Plan"  value="<%=@plans["title"]%>" readonly>
								</div>
							</div> 
							
							<%@plans["plans"].each do |plan|%>
							<div class="row">
								<div class="col-xs-2">
								<label>Plan Title</label>
								</div>
								<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                 <input type="text" class="form-control input-sm" name="ptitle[]" value="<%=plan["title"]%>" placeholder="Plan Title">
                                 </div>
                                 </div>
                                 <div class="row">
								<div class="col-xs-12"></div>
								<div class="col-xs-2">
								<label for="plan_type">Plan Type</label>
								</div>
								<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                 <input type="text" class="form-control input-sm" name="plan_type" value="<%=plan["plan_type"]%>"
                                 readonly>
                                 </div>
                                 </div>

                                 <div class="row">
                                 <div class="col-xs-12"></div>
								<div class="col-xs-2">
                                 <label for="plan_id">Ext Plan Id</label>
                                 </div>
                                 <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
								 <input type="text" class="form-control input-sm" name="plan_id[]" placeholder="Plan Id" value="<%=plan["plan_id"]%>"readonly>
								 </div>
								 </div>

								 <div class="row">
								 <div class="col-xs-12"></div>
								<div class="col-xs-2">
                                 <label>Plan Description</label>
                                 </div>
                                 <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                 <textarea class="form-control input-sm" rows="5" name="pdescription[]" value="<%=plan["description"]%>" placeholder="<%=plan["description"]%>"></textarea>
                                 </div>
                                 </div>

                                 <div class="row">
                                <div class="col-xs-12"></div>
								<div class="col-xs-2">
                                 <label>Plan Duration</label>
                                 </div>
                                 <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                 <input type="text" class="form-control input-sm" name="pduration[]" value="<%=plan["duration"]%>" readonly>
                                 </div>
                                 </div>

                                 <div class="row">
                                 <div class="col-xs-12"></div>
								<div class="col-xs-2">
                                 <label for="pperiod">Plan Period</label>
                                 </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                 <input type="text" class="form-control input-sm" name="pperiod[]" value="<%=plan["period"]%>" readonly>
                                 </div>
                                 </div>

                                 <div class="row">
                                  <div class="col-xs-12"></div>
								<div class="col-xs-2">
                                 <label>Plan Price</label>
                                 </div>
                                 <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                 <input type="text" class="form-control input-sm" name="pregion[]" value="<%=plan["price"]%>" readonly>
                                 </div>
                                 </div>

                                 <div class="row">
                                  <div class="col-xs-12"></div>
								<div class="col-xs-2">
                                 <label for="pregion[]">Plan Region</label>
                                 </div>
                                   <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                 <input type="text" class="form-control input-sm" name="pprice[]" value="<%=plan["region"]%>" readonly>
                                 </div>
                                 </div>

                                 <div class="row">
                                 <div class="col-xs-12"></div>
								<div class="col-xs-2">
                                 <label for="pcurrency[]">Plan Currency</label>
                                 </div>
                                   <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                 <input type="text" class="form-control input-sm" name="pcurrency[]" value="<%=plan["currency"]%>" readonly>
                                 </div>
                                 </div>
                                 <%end%>

								 <input type=hidden id="items_id" name="items_id" value="<%=@plans["content_id"]%>">
								 <input type=hidden id="planid" name="planid" value="<%=@plans["plans"][0]["id"]%>">
								 <input type=hidden id="tenant_id" name="tenant_id" value="<%=@tenant_id%>">

								<br><button type="button" class="btn btn-primary" id="editsubscriptionForm" >Edit Plan</button>
                                 </div> 
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>




<script type="text/javascript">

// function validateForm(){
// 				var title = $('#title').val();
// 				if ((title.trim()).length == 0) {
// 						alert("Title can not be empty!");
// 						return false;
// 				}
// 				return true;
// 		}	

$('#editsubscriptionForm').click(function(){
				/*var status = validateForm();*/
				var status = true;
				console.log(status);

				if ( status == true) {
				var data = $('#subscriptionForm').serialize();
				$.ajax({
						url: '/addplans/?method=update',
						data: data,
						type: 'put',
						dataType: 'json',
						timeout: 120000,
						error: function(e,t){
								if (t == "timeout"){
										alert("Timed Out Wait for Response")
								}
								else{
										alert(JSON.parse(e.responseText)["error"]);
								}
						},
						success: function(d){
								//window.location = "/subscription/view_all?tenant_id=<%=@tenant_id%>"
								window.location.href = "/tenants/view_tenant/<%=@tenant_id%>"
						}
				});
				}
		});

</script>