<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
		<div class="row">
				<ol class="breadcrumb">
						<li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
						<li>Subscription</li>
						<li class="active">Add Subscription Plan</li>
				</ol>
		</div>
		<!-- <div class="row">
				<div class="col-lg-12">
						<h1 class="page-header">Add Subscription Plan</h1>
				</div>
		</div> -->


    <div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<form class="form-horizontal" id="subscriptionForm" role="form">
						<div class="container-fluid">
							<!-- <div class="row">
								<div class="col-xs-12">
									<label for="title">Title:</label>
									<input type="text" class="form-control input-sm" id="title" name="title" placeholder="Title for Plan" value="">
								</div>
							</div>  -->
							<div class="row">
                                <div class="col-xs-3">
                                    <label for="tenant_id">Select Tenant:</label>
                                    <select name="tenant_id[]" id="tenant_id" class="form-control input-sm" onchange="leaveChange()">
                                        <option value="">Select one from below</option>
                                        <%@all_tenants.each do |tenant|%>
                                        <option value="<%=tenant.id%>"><%=tenant.name%></option>
                                        <%end%>
                                    </select>
                                </div>
                            </div>
							<script>
							function leaveChange() {
								var tenant_id = document.getElementById("tenant_id").value;
									$.ajax({
								type: "get",
								url: "/subscription/apps",
								data:'tenant_id='+tenant_id,
								success: function(data){
									console.log(data)
								//$("#apps").html(data);
								var apps = data.apps;
                                $("#apps").empty();

                                 if(apps){

                                 	 document.getElementById("app_ids").style.display = "block";

                                 	if(apps.length == 0){
                                 		$("#apps").append("<div>'No apps to display'</div>");
                                 	}else{
                                             var selectapps = $("<select name='app_ids[]' style='display=block'></select>");
                                             selectapps.attr("id","appid");
                                             selectapps.attr("class","form-control input-sm");
                                             selectapps.append('<option value="">Select one from below</option>');
                                             var selectappsoptions ;
                                             for(var temploop=0;temploop<apps.length;temploop++) {
                                             selectappsoptions +=   '<option id="app_ids" name="app_ids[]" value='+apps[temploop]._id+'>'+apps[temploop].name+'</option>'
                                              }
                                              selectapps.append(selectappsoptions);
                                              $("#apps").append(selectapps);
                                              }
                                          }else{
                                              $("#apps").append("<div>'No apps to display'</div>");
                                              }
								}
								});
								}
							</script>
							<div class='row'><div class='col-xs-3'>
 							<label id="app_ids" style="display:none" for="App">Select Application:</label>
							<div id="apps">
                                  <div></div>
                                </div>
                                </div></div>

                            <!-- <div class="row">
								<div class="col-xs-12">
									<label for="app_name">App name:</label>
									<input type="text" class="form-control input-sm" id="app_name" name="app_name" placeholder="App Name" value="">
							</div>
							</div> -->

							<!-- <div class="row">
								<div class="col-xs-12">
									<label for="plan_id">Plan Id:</label>
									<input type="text" class="form-control input-sm" id="plan_id" name="plan_id" placeholder="Plan Id" value="">
								</div>
								</div> -->
							
							<div class="row">
							<div class="col-xs-3">
								<label for="plan_type">Plan Type:</label>
								<input type="text" class="form-control input-sm" id="plan_type" name="plan_type" placeholder="Plan Type" value="">
							</div>
							</div>
							<div class="row">
								<div class="col-xs-3">
									<label for="plans">Plans:</label>
								</div>
								<div class="col-xs-12">
								<div class="col-xs-3">

								 <label>Title</label>
                                 <input type="text" class="form-control input-sm" name="ptitle[]" value="" placeholder="Plan Title">

                                 <label for="plan_id">Plan Id:</label>
								 <input type="text" class="form-control input-sm" name="plan_id[]" placeholder="Plan Id" value="">

                                 <label>Description</label>
                                 <textarea class="form-control input-sm" rows="5" name="pdescription[]" value="" placeholder="Plan Description"></textarea>
                                 <!-- <input type="text" class="form-control input-sm" name="pdescription[]" value="" placeholder="Plan Description"> -->

                                 <label>Duration</label>
                                 <input type="text" class="form-control input-sm" name="pduration[]" value="" placeholder="Plan Duration">

                                 <label>Period</label>
                                 <input type="text" class="form-control input-sm" name="pperiod[]" value="" placeholder="Plan Period">

                                 <label>Region</label>
                                 <input type="text" class="form-control input-sm" name="pregion[]" value="" placeholder="Plan Region">

                                 <label>Price</label>
                                 <input type="text" class="form-control input-sm" name="pprice[]" value="" placeholder="Plan Price">

                                 <label>Currency</label>
                                 <input type="text" class="form-control input-sm" name="pcurrency[]" value="" placeholder="Plan Currency">

                                 </div> 
                                  <!-- <div class="form-group" id="plan-group">
                                 <div class="col-xs-6">
                                 <div class="col-xs-12 planconstructor">
                                 <button class="btn btn-xs btn-info plan_add_field_button">Add More </button>
                                 <div class="row">
                                 <div class="col-xs-12">
                                 </div>
                                 </div>
                                 </div>
                                 </div>
                                 </div>  -->
                                 </div>
							</div>
							<br><button type="button" class="btn btn-primary" id="submitsubscriptionForm" >Add Subscription</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>




<script type="text/javascript">

$(".plan_add_field_button").click(function(v){
                v.preventDefault();
                var vv = document.createElement("div");
                $(vv).append('<div class="row"><div class="col-xs-12"><label>Title</label><input type="text" class="form-control input-sm" name="ptitle[]" value="" placeholder="Plan Title"><label for="plan_id">Plan Id:</label><input type="text" class="form-control input-sm" name="plan_id[]" placeholder="Plan Id" value=""><label>Description</label><input type="text" class="form-control input-sm" name="pdescription[]" value="" placeholder="Plan Description"><label>Duration</label><input type="text" class="form-control input-sm" name="pduration[]" value="" placeholder="Plan Duration"><label>Period</label><input type="text" class="form-control input-sm" name="pperiod[]" value="" placeholder="Plan Period"><label>Region</label><input type="text" class="form-control input-sm" name="pregion[]" value="" placeholder="Plan Region"><label>Price</label><input type="text" class="form-control input-sm" name="pprice[]" value="" placeholder="Plan Price"><label>Currency</label><input type="text" class="form-control input-sm" name="pcurrency[]" value="" placeholder="Plan Currency"></div> <a href="#" class="remove_field1">Remove</a></div>');
                $(".planconstructor").append($(vv));
                vidoeeventFormControl($(vv));      
        });

        $(".planconstructor").on("click",".remove_field1", function(v){
                v.preventDefault(); $(this).parent('div').remove();
        });

function validateForm(){
				var title = $('#plan_type').val();
				if ((title.trim()).length == 0) {
						alert("Title can not be empty!");
						return false;
				}
				return true;
		}	

$('#submitsubscriptionForm').click(function(){
				var tenant_id = document.getElementById("tenant_id").value;
				var status = validateForm();
				console.log(status);

				if ( status == true) {
				var data = $('#subscriptionForm').serialize();
				$.ajax({
						url: '/subscription/',
						data: data,
						type: 'POST',
						dataType: 'json',
						timeout: 120000,
						error: function(e,t){
								if (t == "timeout"){
										alert("Timed Out Wait for Response")
								}
								else{
										alert(JSON.parse(e.responseText)["error"]);
								}
						},
						success: function(d){
								//window.location = "/"
								window.location = "/subscription/view_all?tenant_id="+tenant_id
						}
				});
				}
		});



</script>