<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">Subscription Plans</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" id="plan_main"></h1>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-blue panel-widget ">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <em class="glyphicon glyphicon-asterisk glyphicon-l"></em>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">0</div>
                        <div class="text-muted">Random</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-orange panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <em class="glyphicon glyphicon-file glyphicon-l"></em>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">0</div>
                        <div class="text-muted">Phantom</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-teal panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <em class="glyphicon glyphicon-edit glyphicon-l"></em>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">0</div>
                        <div class="text-muted">Custom</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-red panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <em class="glyphicon glyphicon-th glyphicon-l"></em>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">0</div>
                        <div class="text-muted">Total</div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

 <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <!-- <div id="table1" data_source="/subscription/get_all?tenant_id=<%=@tenant_id%>" auto_refresh="100000000" loader="false" entries_info="true"> -->
                    <div id="table1" data_source="/subscription/plans?tenant_id=<%=@tenant_id%>&content_id=<%=@content_id%>&app_id=<%=@app_id%>&method=viewall" auto_refresh="100000000" loader="false" entries_info="true">
                        <script type="text/javascript" >
                            $(document).ready(function(){       
                                var table1 = new saranyutable("#table1");
                                table1.createBody = function createBody(_this) {            
                                    $(_this.selector).find("thead").append(
                                        '<tr><th><left>Title</left></th><th><left>Plan Type</left></th><th><left>Price</left></th><th><left>Description</left></th></tr>');
                                };
                                table1.load();                      
                                table1.appendContent = function appendContent(data,_this){   
                                    if (data.subtitle == "app_plans"){
                                    document.getElementById("plan_main").innerHTML = "Free Plans"
                                    }else{
                                    document.getElementById("plan_main").innerHTML = data.subtitle;
                                    }
                                    var tbody = $(_this.selector).find("tbody");
                                    tbody.html(""); 
                                    for ( var i = 0; i < data.items.length; i++) {
                                        if(data.items[i].price == null){
                                        price = "Free"
                                        }else{
                                        price = data.items[i].price+" "+data.items[i].currency
                                        }
                                        title = data.items[i].title
                                        plan_id = data.items[i].ext_plan_id
                                        plan_type = data.items[i].plan_type
                                        if(plan_type == "free_pack"){
                                            plan_type = "Free Pack"
                                        }else if (plan_type == "all_access_pack"){
                                            plan_type = "All Access Pack"
                                        }
                                        else{
                                            plan_type = data.items[i].plan_type
                                        }
                                        
                                        
                                        description = data.items[i].description
                                        actions = ""
                                        delete_disabled = ""

                                        // view_button = '<span class="inline-block" data-toggle="tooltip" title="View Info"><button type="button" class="btn btn-xs btn-info "><span class="glyphicon glyphicon-eye-open"></button>'

                                        edit_button =  '<span class="inline-block" data-toggle="tooltip" title="Edit"><button type="button" class="btn btn-xs btn-default edit-plan" plan_id='+plan_id+'><span class="glyphicon glyphicon-pencil"></button></span>'

                                        // add_plans = '<span class="inline-block" data-toggle="tooltip" title="Add Plans"><button type="button" class="btn btn-xs btn-info add-plans" content-id='+content_id+'><span class="glyphicon glyphicon-s glyphicon-plus"></button>'

                                        delete_button = '<button type="button" class="'+delete_disabled+' btn btn-xs btn-danger "><span class="glyphicon glyphicon-remove"></button>'
                                       // actions = edit_button
                                        //append                
                                        tbody.append("<tr><td>" + title
                                            + "</td><td>" + plan_type
                                            + "</td><td>" + price
                                            + "</td><td>" + description
                                            //+ "</td><td>" + actions
                                            +"</td></tr>");
                                    }
                                    load_actions();
                                };
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div id="view_sub_info"></div>

<script type="text/javascript">
function load_actions() {

$('.add-plans').click(function(){
    window.location.href = '/subscription/plans?tenant_id=<%=@tenant_id%>&content_id='+$(this).attr('content-id')+'&app_id=<%=@app_id%>';
    });
$('.edit-plan').click(function () {
    window.location.href = '/subscription/edit?method=edit&tenant_id=<%=@tenant_id%>&plan_id='+$(this).attr('plan_id')+'&app_id=<%=@app_id%>';
});
    

$('.info-subscription').click(function() {
        $.ajax({
            url: '/subscription/plans?tenant_id=<%=@tenant_id%>&app_id=<%=@app_id%>&method=view&content_id='+$(this).attr('content_id'),
            type: "GET",
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
            },
            success: function(d){
                $("#view_sub_info").html(d);
                $('#viewModal2').modal('show');
            }
        });
    }); 
};
</script>