<style type="text/css">
    table 
    {
        table-layout:fixed;
        width:100%;
    }
</style>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li>Publish Settings</li>
            <li class="active">All</li>
        </ol>
    </div><!--/.row-->
    <!-- <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Publish Settings</h1>
        </div>
    </div> --><!--/.row-->
    <!-- <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-blue panel-widget ">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <em class="glyphicon glyphicon-asterisk glyphicon-l"></em>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">0</div>
                        <div class="text-muted">New P.S.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-orange panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <em class="glyphicon glyphicon-file glyphicon-l"></em>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">0</div>
                        <div class="text-muted">Standard P.S.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-teal panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <em class="glyphicon glyphicon-th glyphicon-l"></em>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">0</div>
                        <div class="text-muted">Bulk P.S.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-red panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <em class="glyphicon glyphicon-th glyphicon-l"></em>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">0</div>
                        <div class="text-muted">Total P.S.</div>
                    </div>
                </div>
            </div>
        </div>
    </div> --><!--/.row-->
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="table1" data_source="/publish_settings" auto_refresh="10000" loader="false" entries_info="true">
                        <script type="text/javascript" >
                        String.prototype.trunc = 
                            function(n){
                                return this.substr(0,n-1)+(this.length>n?'&hellip;':'');
                             };
                            $(document).ready(function(){       
                                var table1 = new saranyutable("#table1");
                                table1.createBody = function createBody(_this) {            
                                    $(_this.selector).find("thead").append(
                                        '<tr><th><left>Name</left></th><th><left>Profiles</left></th><th><left>Protocols</left></th><th><left>CDN</left><th><left>Naming Tag</left></th><th><left>Actions</left></th></tr>');
                                };
                                table1.load();                      
                                table1.appendContent = function appendContent(data,_this){      
                                    var tbody = $(_this.selector).find("tbody");
                                    tbody.html(""); 
                                    for ( var i = 0; i < data.list.length; i++) {
                                        //name
                                        name = data.list[i].name
                                        //profiles
                                        profiles = data.list[i].profiles
                                        //protocols
                                        protocols = data.list[i].protocols
                                        //cdn
                                        cdn = data.list[i].cdn
                                        //splice
                                        splice = null
                                        if (data.list[i].splice){
                                            splice = "Yes"
                                        }else{
                                            splice = "No"
                                        }
                                        //video_tile
                                        video_tile = null
                                        if (data.list[i].video_tile){
                                            video_tile = "Yes"
                                        }else{
                                            video_tile = "No"
                                        }
                                        //logo
                                        logo = null
                                        if (data.list[i].logo){
                                            logo = "Yes"
                                        }else{
                                            logo = "No"
                                        }
                                        //naming_tag
                                        naming_tag = null
                                        if (data.list[i].naming_tag){
                                            naming_tag = "Yes"
                                        }else{
                                            naming_tag = "No"
                                        }
                                        //actions
                                        actions = null
                                        delete_disabled = ""
                                        actions = '<span class="inline-block" data-toggle="tooltip" title="Delete"><button type="button" class="'+delete_disabled+' btn btn-xs btn-danger delete-ps" ps-id='+data.list[i]._id+'><span class="glyphicon glyphicon-remove"></button>'
                                        //append 
                                        var  psname=name.trunc(20);              
                                        tbody.append("<tr><td>" + psname
                                            + "</td><td>" + profiles.length
                                            + "</td><td>" + protocols.length
                                            + "</td><td>" + cdn
                                            + "</td><td>" + naming_tag
                                            + "</td><td>" + actions
                                            +"</td></tr>");
                                    }
                                    load_actions();
                                };
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%= render :partial => "publish_settings/publish_validations" %>