    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                <% if !@webview.blank? %>
                    <div><a href="<%=@webview%>">Check The Webview</a></div>
                <%end%>
                    <div id="table1" data_source="/apps?tenant_id=<%=@tid%>" auto_refresh="" loader="false" entries_info="true">
                        <script type="text/javascript" >
                            $(document).ready(function(){       
                                var table1 = new saranyutable("#table1");
                                <% if current_user.roles.include?"cms_manager"%>
                                table1.createBody = function createBody(_this) {            
                                    $(_this.selector).find("thead").append(
                                        '<tr><th><left>Name</left></th><th><left>Platform</left></th><th><left>CMS ID</left></th><th><left>OTT Auth Token</left></th></tr>');
                                };
                                <% else %>
                                table1.createBody = function createBody(_this) {            
                                    $(_this.selector).find("thead").append(
                                        '<tr><th><left>Name</left></th><th><left>Platform</left></th><th><left>CMS ID</left></th></tr>');
                                };
                                <% end %>
                                table1.load();                      
                                table1.appendContent = function appendContent(data,_this){      
                                    var tbody = $(_this.selector).find("tbody");
                                    tbody.html(""); 
                                    for ( var i = 0; i < data.list.length; i++) {
                                        name = data.list[i].name
                                        platform = data.list[i].platform
                                        ott_auth_token = data.list[i].ott_auth_token
                                        cms_id = data.list[i]._id
                                        actions = ""
                                        delete_disabled = ""
                                        actions = '<button type="button" class="'+delete_disabled+' btn btn-xs btn-danger delete-app" app-id='+data.list[i]._id+'><span class="glyphicon glyphicon-remove"></button>'
                                        tbody.append("<tr><td>" + name
                                            + "</td><td>" + platform
                                            + "</td><td>" + cms_id
                                            <% if current_user.roles.include?"cms_manager"%>
                                            + "</td><td>" + ott_auth_token
                                            <% end %>
                                        +"</td></tr>");
                                    }
                                    load_actions();
                                };
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script type="text/javascript">
function load_actions() {
    $('.delete-app').click(function(){
        $.ajax({
            url: '/apps/'+$(this).attr('app-id')+'?method=delete',
            type: 'POST',
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
            },
            success: function(d){
                location.reload();
            }
        });
    });
};
</script>