<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li>Apps</li>
            <li class="active">Add App</li>
        </ol>
    </div><!--/.row-->
    <!-- <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Add App</h1>
        </div>
    </div> --><!--/.row-->
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" id="appForm" role="form">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="name">Name</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Provide name for APP " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="name" name="name" value="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="tenant_id">Selected Tenant</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Selected Tenant " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                      <input type="text" class="form-control input-sm" value="<%=@tenants.name%>" readonly>
                                      <input type="hidden" id="tenant_id" name="tenant_id" value="<%=@tenants.id%>">
                                    <!-- <select name="tenant_id" id="tenant_id" class="form-control input-sm"> -->
                                        <!-- <option value="">Select one from below</option> -->
                                        <%#@tenants.each do |tenant|%>
                                        <!-- <option value="<%=@tenants.id%>"><%=@tenants.name%></option> -->
                                        <%#end%>
                                    <!-- </select> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="platforms">Select Platform</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Select Apps to add Tenant " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <select name="platforms" id="platforms" class="form-control input-sm">
                                        <option value="">Select one from below</option>
                                        <option value="web">Web/Wap</option>
                                        <option value="android">Android</option>
                                        <option value="ios">iOS</option>
                                        <!-- <option value="windows">Windows</option>
                                        <option value="wap">WAP</option> -->
                                    </select>
                                </div>
                            </div>
                            <br><button type="button" class="btn btn-primary" id="submitAppForm">Add App</button>
                        </div>
                        <!-- <input type="hidden" id="edit" name="edit" value="update"> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

$(function(){
  
  $('[data-toggle="tooltip"]').tooltip(); 

    $('#name').keyup(function()
    {
        var yourInput = $(this).val();
        re = /[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi;
        var isSplChar = re.test(yourInput);
        if(isSplChar)
        {
            var no_spl_char = yourInput.replace(/[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi, '');
            $(this).val(no_spl_char);
        }
    });
 
});

// function validateForm(){
//     var name = $('#name').val();
//     var tenant_id = $('#tenant_id').val();
//     var platforms = $('#platforms').val();

//       if ((name.trim()).length == 0) {
//         alert("Please Enter App Name!");
//         return false;
//       }

//       if ((tenant_id.trim()).length == 0) {
//         alert("Please Select Tenant Name!");
//         return false;
//       }

//       if ((platforms.trim()).length == 0) {
//         alert("Please Select Application Name!");
//         return false;
//       }

//       return true;
// }

(function($,W,D)
{
    var JQUERY4U = {};

    JQUERY4U.UTIL =
    {
        setupFormValidation: function()
        {
            //form validation rules
            $("#appForm").validate({

                errorPlacement: function (error, element) {
                    error.css({'float':'left','color':'red','text-align':'left'});
                    error.addClass("error")
                    error.insertAfter(element);
                },
                rules: {
                    name: "required",
               tenant_id: "required",
               platforms: "required"
                },
                messages: {
                    name: "THIS FIELD IS MANDATORY",
               tenant_id: "THIS FIELD IS MANDATORY",
               platforms: "THIS FIELD IS MANDATORY"
                },
                submitHandler: function(form) {
                    //form.submit();
                    return false;
                }
            });
        }
    }

    //when the dom has loaded setup form validation rules
    $(D).ready(function($) {
        JQUERY4U.UTIL.setupFormValidation();
    });

})(jQuery, window, document);

    $('#submitAppForm').click(function(){
        //var status = validateForm();
        var status = $('#appForm').valid();
        if (status == true){
        var data = $('#appForm').serialize();
        $.ajax({
            url: '/apps/',
            data: data,
            type: 'POST',
            dataType: 'json',
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
            },
            success: function(d){
                window.location = "/apps/view_all"
            }
        });
     }
    });
</script>