<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">Apps</li>
        </ol>
    </div>

    <%if @all_tenants.count == 1%>
        <input type="hidden" id="tenantid" name="tenant_id[]" value="<%=@tid%>">
        <%=render partial: "/apps/view_all"%>
        <%else%>
                 <div class="row">
                        <div class="col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-xs-2">
                                                    <label for="tenant_id">Select Tenant</label>
                                                    </div>
                                                    <div class="col-xs-1">
                                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_tenant')%>" src="/assets/info_55x55.png" alt="dummy">
                                                    </div>
                                                      <div class="col-xs-6">
                                                    <select name="tenant_id[]" id="tenant_id" class="form-control input-sm">
                                                        <option value="">Select one from below</option>
                                                        <%@all_tenants.each do |tenant|%>
                                                        <option value="<%=tenant.id%>"><%=tenant.name%></option>
                                                        <%end%>
                                                    </select>
                                                </div>
                                            </div>
                                      </div>
                                </div>
          <input type="hidden" id="tenantid" name="tenant_id[]">
   <%end%>

   <div id="appsdata"></div>

     </div>    
    </div>
  </div>
</div>

<script type="text/javascript">
$("#tenant_id").change(function(){
        var tenant_id = $(this).val();
        //console.log("tenant_id ::::"+tenant_id);
        $("#tenantid").val(tenant_id);
        //$("#showuser").show();
                $.ajax({
                        url: '/tenantplans/?appsdata=appsdata',
                        data:{tenant_id: tenant_id},
                        type: 'Get',
                        timeout: 120000,
                        error: function(e,t){
                                if (t == "timeout"){
                                        alert("Timed Out Wait for Response")
                                }
                                else{
                                        alert(JSON.parse(e.responseText)["error"]);
                                }
                        },
                        success: function(d){
                            var tenant_id = $("#tenantid").val();
                            $("#appsdata").html(d);
                        }
                });
             });

</script>