<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:700px">
        <div class="modal-header" style="color: #000;background-color: #000;border-bottom: #000;">
          <button type="button" id="closeid" class="close" data-dismiss="modal" style="opacity: 1.0;color: #fff;margin-top: -1%;">×</button>
        </div>
            <div class="modal-body" style="background-color: black;" align="center" id="player">
                <div style="height:480px;width:640px;">
                    <iframe id="saranyuframe" height="100%" width="100%" border="0" style="overflow: hidden;" scrolling="no" src="http://198.50.108.234/saranyuplayer_releases/flashplayersadscss_phase2_ga/demo/embed.html?contenturl=<%=@adaptive_url%>" frameborder="0" allowfullscreen=""></iframe>
                    <script>
                        $('#viewModal').on('hidden.bs.modal', function () {
                            $("#viewModal").find('.modal-body').empty();
                        })
                    </script>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

