<div class="modal fade" id="viewModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="view_media">
            	<div class="panel panel-default">
				    <div class="panel-body tabs">
				        <div class="panel-info">
				            <div id="media-primary">
				                <div class="container-fluid">
				                    <div class="row">
				                        <div class="col-xs-6" id="primary-info"><p><strong>Title</strong><br><%=@media.title%></p><p><strong>ID</strong><br><%=@media.id%></p></div>
				                        <%if @media.sprite_url%>
				                        <div class="col-xs-6" id="thumbnail-holder"><img style="float: right; background :url('<%=@media.sprite_url%>') no-repeat; background-position: 0px -80px; width: 120px; height: 80px; display: block;" class="first"></div>
				                        <%else%>
				                        <div class="col-xs-6" id="thumbnail-holder"><img style="float: right;" src="/assets/saranyu_logo.png" alt="dummy" height="80" width="120"></div>
				                        <%end%>
				                    </div>
				                </div>
				            </div>
				            <ul class="nav nav-pills" data-tabs="tabs">
				                <li class="active"><a href="#inputTab" data-toggle="tab">File Details</a></li>
				                <li class=""><a href="#outputTab" data-toggle="tab">Transcoding Details</a></li>
				                <li class=""><a href="#metadataTab" data-toggle="tab">OTT Details</a></li>
				            </ul><br>
				            <div class="tab-content">
				                <div class="tab-pane fade active in" id="inputTab">
				                	<p><strong>Source URL: </strong> <%=@media.source_url%></p>
				                	<p><strong>Submitted By: </strong> <%=User.find(@media.user_id).email%></p>
				                	<p><strong>Submitted At: </strong> <%=@media.created_at%></p>
				                	<p><strong>Ingested At: </strong> <%=@media.ingested_at%></p>
				                	<%if @media.input_info%>
				                	<p><strong>Duration: </strong> <%=@media.input_info["duration"]%></p>
				                	<p><strong>File Type: </strong> <%=@media.input_info["file_type"]%></p>
				                	<p><strong>Video Codec: </strong> <%=@media.input_info["vcodec"]%></p>
				                	<p><strong>Audio Codec: </strong> <%=@media.input_info["acodec"]%></p>
				                	<%end%>
				                </div>
				                <div class="tab-pane fade" id="outputTab">
				                	<%if @media.output_info%>
				   					<p><strong>Profiles: </strong> <%=@media.output_info["profiles"]%></p>
				   					<%end%>
				                	<p><strong>Smart URL: </strong> <%=@media.smart_url%></p>
				                	<p><strong>Platform Media ID: </strong> <%=@media.platform_media_id%></p>
				                	<p><strong>Publisher ID: </strong> <%=@media.publisher_id%></p>
				                	<%if @media.status=="Published"%>
				                	<p><strong>Published At: </strong> <%=@media.published_at%></p>
				                	<%if @media.transcoding_user_id%>
				                	<p><strong>Transcoded By: </strong> <%=User.find(@media.transcoding_user_id).email%></p>
				                	<%end%>
				                	<%end%>
				                </div>
				                <div class="tab-pane fade" id="metadataTab">
				                	<%if @media.ott_status=="Published"%>
				                	<p><strong>Pushed to OTT by: </strong> <%=User.find(@media.publish_user_id).email%></p>
				                	<%end%>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->