<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li>Media</li>
            <li class="active">Videolist Upload</li>
        </ol>
    </div><!--/.row-->
    <!-- <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">New Bulk Upload</h1>
        </div>
    </div> --><!--/.row-->
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Upload Excel Sheet
                </div>
                <div class="panel-body">
                    <form class="bulk-upload" method="post" action="/media/bulk_videolist_upload" name="submit" enctype="multipart/form-data">
                        <input type="file" name="excel_file_path"><br /><br />
                        <% if current_bg.plan != "transcoding" %>
                       <!-- <div class="row">
                           <div class="col-xs-6">
                                <label>Do you want to validate metadata?</label> 
                            </div>
                            <div class="col-xs-6">
                                <select name="validate">
                                    <option value="no">No</option>
                                    <option value="yes">Yes</option>                            
                                </select>   
                            </div>
                        </div> -->
                        <% end %>
                        <!-- <div class="row">
                            <div class="col-xs-6">
                                <label for="mail_option">When do you want to receive alert mail?</label>
                            </div>    
                            <div class="col-xs-6">
                                <select name="mail_option">
                                    <option value="never">Never</option>
                                    <option value="after_each">After each media is published</option>
                                    <option value="after_last">After last media is published</option>
                                </select>
                            </div>
                        </div>  -->   
                        <input type="submit" name="submit" class="btn btn-primary" value="Submit">
                        <%= token_tag(nil) %>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Sample Excel Sheet Format
                </div>
                <div class="panel-body">
                    <p>Download sample "upload" excel from below link: </p>
                    <a href="/excel_files/videolist_execel.xlsx" download>Download Sample Excel
                    <!-- <img src="/assets/sample_excel.png" alt="Smiley face" width="100%" height="auto"> -->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Guidelines
                </div>
                <div class="panel-body">
                    <p>Note 1: "Title","Catalog Id","Movie Asset Id","Video Asset Id",Regions","Genres","Language","Source Url" or "Smart Url","Source Url Type" columns are mandatory.</p>
                    <p>Note 3: Above mentioned column names are case-sensitive.</p>
                    <p>Note 4: Additional columns can be added to the excel sheet and can be used if it is required.</p>
                </div>
            </div>
        </div>
    </div>
</div>
