<style type="text/css">
.inline-block {
    display: inline-block;
}
table .progress {
    margin-bottom: 3px;
    position: relative;
}
table .progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}
</style>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">Media</li>
        </ol>
    </div><!--/.row-->
   <!--  <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Media List</h1>
        </div>
    </div> --><!--/.row-->
    <!-- <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-blue panel-widget ">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <em class="glyphicon glyphicon-film glyphicon-l"></em>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <% if current_user.has_public_access == false %>
                            <div class="large"><%=Media.where(:bg_id=>current_bg.id).and(:is_removed=>false).and(:user_id => current_user.id).count%></div>
                        <% else %>
                             <div class="large"><%=Media.where(:bg_id=>current_bg.id).and(:is_removed=>false).and(:user_id => current_user.id).count%></div>
                        <% end %>    
                        <div class="text-muted">Total Media</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-orange panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <em class="glyphicon glyphicon-retweet glyphicon-l"></em>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <% if current_user.has_public_access == false %>
                             <div class="large"><%=Media.where(:bg_id=>current_bg.id).any_in(:status =>["Processing Request","Transcoding","Ingested","Ingesting"]).and(:is_removed=>false).and(:user_id => current_user.id).count%></div>
                        <% else %>     
                            <div class="large"><%=Media.where(:bg_id=>current_bg.id).and(:is_removed=>false).and(:user_id => current_user.id).any_in(:status => ["Processing Request", "Transcoding", "Ingested","Ingesting"]).count%></div>
                        <% end %>     
                        <div class="text-muted">Processing</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-red panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <em class="glyphicon glyphicon-exclamation-sign glyphicon-l"></em>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                    <% if current_user.has_public_access == false %>
                    <div class="large"><%=Media.where(:bg_id=>current_bg.id).any_in(:status => ["Ingestion Error","Transcoding Error","Request Error","Transcode Request Error"]).and(:is_removed=>false).and(:user_id => current_user.id).count%></div>
                    <%else%>
                        <div class="large"><%=Media.where(:bg_id=>current_bg.id).any_in(:status => ["Ingestion Error","Transcoding Error","Request Error","Transcode Request Error"]).and(:is_removed=>false).and(:user_id => current_user.id).count%></div>
                    <%end%>  
                    <div class="text-muted">Errors</div>  
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-teal panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <em class="glyphicon glyphicon-th glyphicon-l"></em>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                    <% if current_user.has_public_access == false %>
                        <div class="large"><%=Media.where(:bg_id=>current_bg.id).and(:status => "Published").and(:is_removed=>false).and(:user_id => current_user.id).count%></div>
                    <% else %>  
                        <div class="large"><%=Media.where(:bg_id=>current_bg.id).and(:status => "Published").and(:is_removed=>false).and(:user_id => current_user.id).count%></div>  
                    <% end %>
                        <div class="text-muted">Transcoded</div>
                    </div>
                </div>
            </div>
        </div>
    </div> --><!--/.row-->
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                <!-- <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/media/view_all?tenant=<%=@tenant%>'">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> All Media
                </button>
                <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/tenants/view_tenant/<%=@tenant%>'">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
                </button> -->
                    <div id="table1" data_source="/media" auto_refresh="10000" loader="false" entries_info="true">
                        <script type="text/javascript" >
                            $(document).ready(function(){       
                                var table1 = new saranyutable("#table1");
                                table1.createBody = function createBody(_this) { 
                                    <%if @bg.plan=="transcoding"%>           
                                    $(_this.selector).find("thead").append(
                                        '<tr><th id="titleid" width="20%"><left>Title</left></th><th width="20%"><left>Transcoding Priority</left></th><th width="30%"><left>Actions</left></th></tr>');
                                    <%else%>
                                    $(_this.selector).find("thead").append(
                                        '<tr><th id="titleid" width="20%"><left>Title</left></th><th width="20%"><left>Transcoding Priority</left></th><th width="15%"><left>OTT Status</left></th><th width="25%"><left>Actions</left></th></tr>');
                                    <%end%>
                                };
                                table1.load();                      
                                table1.appendContent = function appendContent(data,_this){      
                                    var tbody = $(_this.selector).find("tbody");
                                    tbody.html(""); 
                                    for ( var i = 0; i < data.list.length; i++) {
                                        //title
                                        // if(data.list[i].title.length > 15){
                                        //     title = data.list[i].title.substring(0,15)+"...."
                                        // }else{
                                        //     title = data.list[i].title
                                        // }

                                        title = data.list[i].title
                                        
                                        videoliststatus = data.list[i].videolist
                                        //progress
                                        progress = null
                                        status = data.list[i].status
                                        switch(status) {
                                            case "Created":
                                                progress = '<div class="progress progress-striped active"><div class="progress-bar progress-bar-success progress-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"><span>'+status+'</span></div></div>'
                                                break;
                                            case "Processing Request":
                                                progress = '<div class="progress progress-striped active"><div class="progress-bar progress-bar-success progress-striped active" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;"><span>'+status+'</span></div></div>'
                                                break;
                                            case "Request Error":
                                                progress = '<div class="progress"><div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;"><span>'+status+'</span></div></div>'
                                                break;
                                            case "Ingesting":
                                                progress = '<div class="progress progress-striped active"><div class="progress-bar progress-bar-success progress-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"><span>'+status+'</span></div></div>'
                                                break;
                                            case "Ingested":
                                                progress = '<div class="progress progress-striped active"><div class="progress-bar progress-bar-success progress-striped active" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"><span>'+status+'</span></div></div>'
                                                break;
                                            case "Transcoding":
                                                progress = '<div class="progress progress-striped active"><div class="progress-bar progress-bar-success progress-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><span>'+status+'</span></div></div>'
                                                break;
                                            case "Published":
                                                progress = '<div class="progress"><div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><span>'+status+'</span></div></div>'
                                                break;
                                            case "Ingestion Error":
                                                progress = '<div class="progress"><div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"><span>'+status+'</span></div></div>'
                                                break;
                                            case "Transcoding Error":
                                                progress = '<div class="progress"><div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><span>'+status+'</span></div></div>'
                                                break;
                                            case "Created Externally":
                                                progress = '<div class="progress progress-striped active"><div class="progress-bar progress-bar-success progress-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"><span>'+status+'</span></div></div>'
                                                break;
                                            default:
                                        }
                                        //priority
                                        priority = null
                                        low = ""
                                        medium = ""
                                        high = ""

                                        if (status != "Created Externally") {
                                        switch(data.list[i].priority){
                                            case "low":
                                                low = "btn-success";
                                                break;
                                            case "medium":
                                                medium = "btn-success";
                                                break;
                                            case "high":
                                                high = "btn-success";
                                                break;
                                        } }
                                        disabled = "" 
                                        if (data.list[i].status == "Published" || data.list[i].status == "Ingestion Error" || data.list[i].status == "Transcoding Error" || data.list[i].status == "Request Error" || data.list[i].status == "Created Externally") {
                                            disabled = "disabled"
                                        }
                                        priority = '<div class="btn-group"><button type="button" class="btn btn-xs update-priority '+low+'" priority="low" media-id='+data.list[i]._id+' '+disabled+'>Low</button><button type="button" class="btn btn-xs update-priority '+medium+'" priority="medium" media-id='+data.list[i]._id+' '+disabled+'>Med</button><button type="button" class="btn btn-xs update-priority '+high+'" priority="high" media-id='+data.list[i]._id+' '+disabled+'>High</button></div>'
                                        //ott_status
                                        ott_status = data.list[i].ott_status
                                        //actions
                                        actions = null
                                        // edit_disabled = ""
                                        edit_disabled = "disabled"
                                        play_disabled = "disabled"
                                        push_ott_disabled = "disabled"
                                        remove_ott_disabled = "disabled"
                                        transcode_disabled = "disabled"
                                        if (data.list[i].status == "Created"){
                                            transcode_disabled = ""
                                        }
                                        if ((data.list[i].status == "Published" || data.list[i].status == "Created Externally")){
                                            play_disabled = ""
                                            edit_disabled = ""
                                        }
                                        if (data.list[i].ott_status == "unpublished"){
                                            push_ott_disabled = ""
                                        }
                                        else if(data.list[i].ott_status == "edit"){
                                            push_ott_disabled = ""
                                        }else if(data.list[i].ott_status == "published"){
                                            remove_ott_disabled = ""
                                        }

                                        transcode_button = '<span class="inline-block" data-toggle="tooltip" title="Transcode"><button type="button" class="'+transcode_disabled+' btn btn-xs btn-primary transcode-media" media-id='+data.list[i]._id+'><span class="glyphicon glyphicon-indent-left"></button></span>'
                                        play_button = '<span class="inline-block" data-toggle="tooltip" title="Play"><button type="button" class="'+play_disabled+' btn btn-xs btn-success play-media" media-id='+data.list[i]._id+'><span class="glyphicon glyphicon-play"></button></span>'

                                        if (videoliststatus == true){
                                        edit_button = '<span class="inline-block" data-toggle="tooltip" title="Edit"><button type="button" class="'+edit_disabled+' btn btn-xs btn-default edit-video" video-id='+data.list[i]._id+'><span class="glyphicon glyphicon-pencil"></button></span>'
                                        }else{
                                        edit_button = '<span class="inline-block" data-toggle="tooltip" title="Edit"><button type="button" class="'+edit_disabled+' btn btn-xs btn-default edit-media" media-id='+data.list[i]._id+'><span class="glyphicon glyphicon-pencil"></button></span>'
                                        }

                                        push_to_ott_button = '<span class="inline-block" data-toggle="tooltip" title="Push to OTT"><button type="button" class="'+push_ott_disabled+' btn btn-xs btn-warning push-ott" media-id='+data.list[i]._id+'><span class="glyphicon glyphicon-export"></button></span>'
                                        remove_from_ott_button = '<span class="inline-block" data-toggle="tooltip" title="Remove from OTT"><button type="button" class="'+remove_ott_disabled+' btn btn-xs btn-danger remove-ott" media-id='+data.list[i]._id+'><span class="glyphicon glyphicon-import"></button></span>'
                                        info_button = '<span class="inline-block" data-toggle="tooltip" title="View Info"><button type="button" class="btn btn-xs btn-info info-media" media-id='+data.list[i]._id+'><span class="glyphicon glyphicon-eye-open"></button></span>'
                                        delete_button = '<span class="inline-block" data-toggle="tooltip" title="Delete"><button type="button" class="btn btn-xs btn-danger delete-media" media-id='+data.list[i]._id+'><span class="glyphicon glyphicon-trash"></button></span>'
                                        nbsp = '&nbsp;'
                                        ott_button = null
                                        if (data.list[i].ott_status=="published"){
                                            ott_button = remove_from_ott_button
                                        }else{
                                            ott_button = push_to_ott_button
                                        }
                                        <%if @bg.plan == "transcoding"%>
                                        //actions = play_button+nbsp+info_button+nbsp+delete_button
                                        actions = play_button+nbsp+info_button+nbsp
                                        <%elsif @bg.plan == "ott" || @bg.plan == "ott_saas"%>
                                            <%if user_is_boss?%>
                                            //actions = transcode_button+nbsp+play_button+nbsp+info_button+nbsp+edit_button+nbsp+ott_button+nbsp+delete_button
                                            actions = transcode_button+nbsp+play_button+nbsp+info_button+nbsp
                                            <%elsif current_user.roles.include?"publisher"%>
                                            //actions = transcode_button+nbsp+play_button+nbsp+info_button+nbsp+edit_button+nbsp+delete_button
                                            actions = transcode_button+nbsp+play_button+nbsp+info_button+nbsp

                                            <%elsif current_user.roles.include?"content_editor"%>
                                            //actions = play_button+nbsp+info_button+nbsp+edit_button
                                            actions = play_button+nbsp+info_button+nbsp
                                            <%elsif current_user.roles.include?"media_viewer"%>
                                            actions = play_button+nbsp+info_button+nbsp
                                            <%end%>
                                        <%end%>
                                        //append                
                                        tbody.append("<tr><td id='titleid'>" + title
                                            +"</td><td>"+ priority
                                            +"</td><td>"+ progress
                                        // <#%if @bg.plan=="ott" || @bg.plan=="ott_saas" %>
                                        //     +"</td><td>"+ ott_status
                                        // <#%end%>
                                            + "</td><td>" + actions
                                            +"</td></tr>");
                                    }
                                    load_actions();
                                };
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="player" style="background-color:black;"></div>
<div id="view_media"></div>

<script type="text/javascript">
function load_actions() {

    $('.edit-video').click(function(){
        window.location.href = '/videolist/edit?video_id='+$(this).attr('video-id');
    });


    $('.edit-media').click(function(){
        var titleid =  $(this).attr('title-id');  
        window.location.href = '/media/edit?media_id='+$(this).attr('media-id');
    });

    $('.transcode-media').click(function(){
        $.ajax({
            url: '/media/'+$(this).attr('media-id')+'?method=transcode',
            type: 'POST',
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
            },
            success: function(d){
                location.reload();
            }
        });
    });
    $('.delete-media').click(function(){
        $.ajax({
            url: '/media/'+$(this).attr('media-id')+'?method=delete',
            type: 'POST',
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
            },
            success: function(d){
                location.reload();
            }
        });
    });
    $('.play-media').click(function(){
        $.ajax({
            url: '/media/play/'+$(this).attr('media-id'),
            type: 'GET',
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
            },
            success: function(d){
                $("#player").html(d);
                $('#viewModal').modal('show');
            }
        });
    });
    $('.info-media').click(function(){
        window.location.href = '/media/view_media/'+$(this).attr('media-id');
        // $.ajax({
        //     url: '/media/view_media/'+$(this).attr('media-id'),
        //     type: 'GET',
        //     timeout: 120000,
        //     error: function(e,t){
        //         if (t == "timeout"){
        //             alert("Timed Out Wait for Response")
        //         }
        //         else{
        //             alert(JSON.parse(e.responseText)["error"]);
        //         }
        //     },
        //     success: function(d){
        //         $("#view_media").html(d);
        //         $('#viewModal2').modal('show');
        //     }
        // });
    });
    $('.update-priority').click(function(){
        $.ajax({
            url: '/media/'+$(this).attr('media-id')+'?method=update_priority&priority='+$(this).attr('priority'),
            type: 'POST',
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
            },
            success: function(d){
                location.reload();
            }
        });
    });
    $('.push-ott').click(function(){
        $.ajax({
            url: '/media/'+$(this).attr('media-id')+'?method=publish_at_ott',
            type: 'POST',
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
            },
            success: function(d){
                location.reload();
            }
        });
    });
    $('.remove-ott').click(function(){
        $.ajax({
            url: '/media/'+$(this).attr('media-id')+'?method=unpublish_at_ott',
            type: 'POST',
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
            },
            success: function(d){
                location.reload();
            }
        });
    });
    $('span').tooltip();
};
</script>