<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
		<div class="row">
				<ol class="breadcrumb">
						<li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
						<li>Media</li>
						<li class="active">View Media</li>
				</ol>
		</div><!--/.row-->
		<div class="row">
		<!-- 		<div class="col-lg-12">
						<h1 class="page-header">View Media</h1>
				</div>
		</div> --><!--/.row-->

		<div class="row">
				<div class="col-xs-12">
						<div class="panel panel-default">
								<div class="panel-body">
									<div class="container-fluid">
										<div class="row">
												<div class="col-xs-2">
												  <label for="name">Title</label>
												</div>
												<div class="col-xs-1">
                       							  <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
					                            </div>
					                            <div class="col-xs-6">
					                               <p><%=@media.title%></p>
												</div>
										</div>

										<div class="row">
												<div class="col-xs-3" style="width: 17%;font-size: 17px;">
												File Details
												</div>
										</div>
										<div class="row">
												<div class="col-xs-2">
												  <label for="name">Source URL</label>
												</div>
												<div class="col-xs-1">
                       							  <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
					                            </div>
					                            <div class="col-xs-6">
					                            <%if @media.source_url.nil?%>
					                            <p>NA</p>
					                            <%else%>
					                               <p><%=@media.source_url%></p>
					                            <%end%>
												</div>
										</div>
										<div class="row">
												<div class="col-xs-2">
												  <label for="name">Submitted By</label>
												</div>
												<div class="col-xs-1">
                       							  <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
					                            </div>
					                            <div class="col-xs-6">
					                               <p><%=User.find(@media.user_id).email%></p>
												</div>
										</div>
										<div class="row">
												<div class="col-xs-2">
												  <label for="name">Submitted At</label>
												</div>
												<div class="col-xs-1">
                       							  <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
					                            </div>
					                            <div class="col-xs-6">
					                               <p><%=@media.created_at%></p>
												</div>
										</div>
										<div class="row">
												<div class="col-xs-2">
												  <label for="name">Ingested At</label>
												</div>
												<div class="col-xs-1">
                       							  <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
					                            </div>
					                            <div class="col-xs-6">
					                            <%if @media.ingested_at.nil?%>
					                            <p>NA</p>
					                            <%else%>
					                               <p><%=@media.ingested_at%></p>
					                            <% end %>
												</div>
										</div>

										<%if @media.input_info%>
										<div class="row">
												<div class="col-xs-2">
												  <label for="name">Duration</label>
												</div>
												<div class="col-xs-1">
                       							  <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
					                            </div>
					                            <div class="col-xs-6">
					                               <p><%=@media.input_info["duration"]%></p>
												</div>
										</div>

										<div class="row">
												<div class="col-xs-2">
												  <label for="name">File Type</label>
												</div>
												<div class="col-xs-1">
                       							  <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
					                            </div>
					                            <div class="col-xs-6">
					                               <p><%=@media.input_info["file_type"]%></p>
												</div>
										</div>

										<div class="row">
												<div class="col-xs-2">
												  <label for="name">Video Codec</label>
												</div>
												<div class="col-xs-1">
                       							  <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
					                            </div>
					                            <div class="col-xs-6">
					                               <p><%=@media.input_info["vcodec"]%></p>
												</div>
										</div>

										<div class="row">
												<div class="col-xs-2">
												  <label for="name">Audio Codec</label>
												</div>
												<div class="col-xs-1">
                       							  <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
					                            </div>
					                            <div class="col-xs-6">
					                               <p><%=@media.input_info["acodec"]%></p>
												</div>
										</div>
										<%end%>

										<div class="row">
												<div class="col-xs-3" style="width: 17%;font-size: 17px;">
												Transcoding Details
												</div>
										</div>

										<%if @media.output_info%>
										<div class="row">
												<div class="col-xs-2">
												  <label for="name">Profiles</label>
												</div>
												<div class="col-xs-1">
                       							  <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
					                            </div>
					                            <div class="col-xs-6">
					                               <p><%=@media.output_info["profiles"]%></p>
												</div>
										</div>
										<%end%>
										<div class="row">
												<div class="col-xs-2">
												  <label for="name">Smart URL</label>
												</div>
												<div class="col-xs-1">
                       							  <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
					                            </div>
					                            <div class="col-xs-6">
					                            <%if @smart_url.blank?%>
					                            <p>NA</p>
					                            <%else%>
					                               <p><%=@smart_url%></p>
					                            <%end%>
												</div>
										</div>
										<div class="row">
												<div class="col-xs-2">
												  <label for="name">Platform Media ID</label>
												</div>
												<div class="col-xs-1">
                       							  <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
					                            </div>
					                            <div class="col-xs-6">
					                            <%if @media.platform_media_id.nil?%>
					                            <p>NA</p>
					                            <%else%>
					                               <p><%=@media.platform_media_id%></p>
					                            <%end%>
												</div>
										</div>
										<div class="row">
												<div class="col-xs-2">
												  <label for="name">Publisher ID</label>
												</div>
												<div class="col-xs-1">
                       							  <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
					                            </div>
					                            <div class="col-xs-6">
					                            <%if @media.publisher_id.nil?%>
					                            <p>NA</p>
					                            <%else%>
					                               <p><%=@media.publisher_id%></p>
					                            <%end%>
												</div>
										</div>
										
										<div class="row">
												<div class="col-xs-2">
												  <label for="name">Published At</label>
												</div>
												<div class="col-xs-1">
                       							  <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
					                            </div>
					                            <div class="col-xs-6">
					                            <%if @media.status=="Published"%>
					                               <p><%=@media.published_at%></p>
					                               <%else%>
					                               <p>NA</p>
					                            <%end%>
												</div>
										</div>
										<div class="row">
												<div class="col-xs-2">
												  <label for="name">Transcoded By</label>
												</div>
												<div class="col-xs-1">
                       							  <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
					                            </div>
					                            <div class="col-xs-6">
					                            <%if @media.transcoding_user_id%>
					                               <p><%=User.find(@media.transcoding_user_id).email%></p>
					                            <%else%>
					                               <p>NA</p>
					                            <%end%>
												</div>
										</div>
										

										<div class="row">
												<div class="col-xs-3" style="width: 17%;font-size: 17px;">
												OTT Details
												</div>
										</div>
										
										<div class="row">
												<div class="col-xs-2">
												  <label for="name">Pushed to OTT by</label>
												</div>
												<div class="col-xs-1">
                       							  <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
					                            </div>
					                            <div class="col-xs-6">
					                            <%if @media.ott_status=="Published"%>
					                               <p><%=User.find_by(@media.publish_user_id).email%></p>
					                            <%else%>
					                            <p>NA</p>
												<%end%>
												</div>
										</div>

										<button type="button" class="btn btn-primary" onclick="window.location.href='/media/edit?media_id=<%=@media.id%>'" >Edit Media</button>
									</div>
						        </div>
						</div>

				</div>		
        </div>
</div>

