
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">  

	<div class="row">
    <ol class="breadcrumb">
        <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
        <li>Catalog Lists</li>
        <li class="active">Add item to List</li>
    </ol>
	</div><!--/.row-->

<% if @cl.count > 0 %>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
      	<form class="form-horizontal" id="listForm" role="form" >
      		<div class="container-fluid">
            <div  class="row">
              <div class="col-xs-2">
                <label for="fil ters">Filter List</label>
              </div>
              <div class="col-xs-1">
                <img class="info_img" data-toggle="tooltip" title=" Select some option to filter lists " src="/assets/info_55x55.png" alt="dummy">
              </div>
              <div class="col-xs-3">
                <select class="form-control input-sm filter_lists_by_catalog">
                  <option value="">Select Catalog</option>
                  <% Catalog.not_in(:theme => ["access_control", "subscription", "message", "coupon"]).each do |catalog|%>
                    <% if params[:catalog] == catalog.id.to_s %>  
                      <option value="<%= catalog.id %>" selected="selected" ><%= catalog.name %></option>
                    <% else %>
                      <option value="<%= catalog.id %>"><%= catalog.name %></option>
                    <% end -%>
                  <% end -%>
                </select>
              </div>
              <div class="col-xs-3">
                <select class="form-control input-sm filter_lists_by_tag">
                  <option value="">Select Tag</option>
                  <% @default_data['default_catalog_types'].each do |tag|%>
                    <% if params[:tags] == tag['name'] %>
                      <option value="<%= tag['name'] %>" selected="selected"><%= tag['name'] %></option>
                    <% else %>
                      <option value="<%= tag['name'] %>"><%= tag['name'] %></option>
                    <% end -%>
                  <% end -%>
                </select>
              </div>
            </div> 
            <!-- row end --> 
            
            <div class="row">
              <div class="col-xs-2">
                <label for="name">Select List</label>
              </div>
              <div class="col-xs-1">
                <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
              </div>
              <div class="col-xs-6">
                <div id="radiolist" style="height: auto; max-height: 350px; overflow: auto;" > 
                  <div class="error_media"  id="selectlist"> </div>
                  <% @cl.each_with_index do |list,index| %>
                    <% if index > 0 %>
                    <!-- <br> -->
                    <% end %>
                    <% checkstatus = "" %>
                    <% if @cl.count == 1 %>
                      <% checkstatus = "checked" %>
                    <% end %>

                    <div class="col-xs-6">
                      <div class="row">
                        <div class="checkbox">
                          <label>
                            <% if list["list_items"].first.has_key? "list_id" %>
                              <input type="checkbox" id="list" name="list[]" catalogid="<%= list["list_items"].first["list_id"]%>" value="<%= list %>" <%= checkstatus %> >
                            <% else %>
                              <input type="checkbox" id="list" name="list[]" catalogid="<%= list["list_items"].first["catalog_id"]%>" value="<%= list %>" <%= checkstatus %> >
                            <% end %>  

                            <%if !list["catalog_title"].blank? && !list["tags"].blank? %>
                              <%=list["display_title"]+" from "+list["catalog_title"]+ " and "+list["tags"]+" screen "%>
                            <% elsif !list["catalog_title"].blank? %>
                              <%= list["display_title"]+" from "+list["catalog_title"]%>
                            <% elsif !list["tags"].blank? %>  
                              <%= list["display_title"]+" from "+list["tags"]+" screen "%>
                            <% end %>
                          </label>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div> 	
              </div>
            </div> 
						<!-- row end -->

						<div id="flag-check" class="row">
	            <div class="col-xs-2">
              	<label for="item-flag">Do you want to delete existing items from the list</label>
              </div>
              <div class="col-xs-1">
                <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
              </div>
	            <div class="col-xs-6">
	            	<select name="flag" id="flag" class="form-control input-sm">  
						     	<option value="false">No</option>
						      <option value="true">Yes</option>
						    </select> 
	            </div>
	          </div>
						<!-- row end -->	
						
						<div  class="row">
	            <div class="col-xs-2">
              	<label for="item-order">Enter Item Order</label>
              </div>
              <div class="col-xs-1">
                <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
              </div>
	            <div class="col-xs-6">
	            	<input type="number" class="form-control input-sm" id="order" name="item_order" placeholder="" value="1" min="1">
	            </div>
	          </div>
						<!-- row end -->   
           
           <form enctype="multipart/form-data">
						<div  class="row">
	            <div class="col-xs-2">
              	<label for="banner_image">Banner image</label>
              </div>
              <div class="col-xs-1">
                <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
              </div>
	            <div class="col-xs-6">
               <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_large.jpg" id= "fimgsrc" alt="image" class="s3_image">
	            	<!-- <input type="text" class="form-control input-sm" id="banner_image" name="banner_image" placeholder="" value=""> -->
	            	<!-- <form enctype="multipart/form-data">
                	<input type="file" id="fimg"  class="choose-file" name="fimg" accept="image/*" style="display:inline;">
                <input type="button" class="btn btn-primary upload-image" id="fimgb" name="fimgb" value="Upload Image">
                <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_large.jpg" id= "fimgsrc" class="" alt="image" style="width:700px;height:450px;">
               
                </form>
                <input type="hidden" id= "banner_image" name="banner_image"> -->

              <div class="upload-section">
                <input type="file" accept="image/*" id="fimg"  class="choose-file" name="fimg" style="display:inline;">
                    (1790px X 575px)-(png,jpeg,gif)
                <input type="button" class="btn btn-primary upload-image" id="fimgb" name="fimgb" value="Upload Image">
              </div>
                <input type="hidden" id= "banner_image" name="banner_image">
	            </div>
	          </div>
            </form>
						<!-- row end --> 





						<div  class="row">
	            <div class="col-xs-2">
              	<label for="external-link">External Link</label>
              </div>
              <div class="col-xs-1">
                <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
              </div>
	            <div class="col-xs-6">
	              <div class="error_media"  id="enterlink"> </div>
	            	<input type="text" class="form-control input-sm" id="link" name="link" placeholder="" value="">
	            </div>
	          </div>
						<!-- row end -->  

						<div  class="row">
	            <div class="col-xs-2">
              	<label for="overlay-text">Description</label>
              </div>
              <div class="col-xs-1">
                <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
              </div>
	            <div class="col-xs-6">
	            	<textarea class="form-control input-sm" rows="5" name="overlay_text" value=""></textarea>
	            </div>
	          </div>
						<!-- row end -->  


						<button type="button" class="btn btn-primary" id="submitListForm">Add Media</button>
      		</div>
      		<!-- container fluid end -->
      	</form>
      </div>
		</div>
 	</div>
  <% else %>
    <script type="text/javascript">
      $("#selectlist").text("No List Found. Please create the list!!");
    </script>
    <div class="notice"><h3>No List Found. Please create the list!!</h3 ></div>
  <% end %>
</div>    


<script type="text/javascript">

	$("#fimgb").click(function(){
    var ffileSelect = document.getElementById('fimg');
    if($('input[type=checkbox]:checked').length > 0) {
      var list_data = $('#list').val();
      // media_title = list['list_items']
      var list_d = list_data.replace(/=>/g,":");
      var list_d =  JSON.parse(list_d);
      // var media_title = list_d.list_items[0]["item_title"];
      var media_title = list_d["title"];
    } else { 
      alert("Please select list!");
    }

    var ffiles = ffileSelect.files;
    console.log("files is::"+ffiles);

    if (ffiles.length == 0)
    {
      alert("Please Choose Image");
    } else {
      if (media_title == "" || media_title == null)
      {
        alert("Please Provide Title!");
        $("#etid").text("Please Provide Title!");
      } else {
        if (ffiles[0].type == "image/png" || ffiles[0].type == "image/jpeg" || ffiles[0].type == "image/gif")
	{
          var fwidth = 1230;
          var fheight = 445;
          var imgstatus = imagevalidation(ffiles,fwidth,fheight,media_title);
        } else {
          alert("Upload Image Files Only");
          return false;
        }
      }
    }
  });


	function imagevalidation(file,wid,hei,media_title){
    var upimg = new Image();
    upimg.onload = function () 
    {            
    // if (this.width < wid && this.height < hei){
    //    alert("Resolution must be" +wid+"X"+hei+"px format");
    //}
    //else if (this.width > wid && this.height > hei){
    //    alert("Resolution must be" +wid+"X"+hei+"px format");
    // }else{
    //    console.log(this.width+" : "+this.height);

    //if (file[0].size > 500000){
    //    alert("Please Upload Image of Size less than 500KB");
    //}
    //else{
        console.log("files size is:::::"+file[0].size);

        var key = "<%=@signature[:key]%>"
        var awsAccessKeyId = "<%=@signature[:access_key]%>"
        var acl = "<%=@signature[:acl]%>"
        var policy = "<%=@signature[:policy]%>"
        var signature = "<%=@signature[:signature]%>"

        uploadImage(key, awsAccessKeyId, acl, policy, signature, file, wid, hei,media_title)
    //}
//    }
    }
    upimg.src = URL.createObjectURL(file[0]);  
	}


	function uploadImage(key, awsAccessKeyId, acl, policy, signature, file, wid, hei,media_title) {

      // var media_title = "abc";
      media_title = media_title.replace(/[^a-zA-Z0-9\s]/g,"");
      media_title = media_title.toLowerCase();
      media_title = media_title.replace(/\s/g,'-');
      var imgname = file[0].name;
      var imgindex = imgname.lastIndexOf('.');
      var imgext = imgname.substring(imgindex);
      var bucket = "<%=@signature[:bucket]%>"
      var domain_name = "<%=@signature[:domain_name]%>"
       url = 'http://'+bucket+'.s3.amazonaws.com/'
       
      if (domain_name == "" || domain_name == null){
        imageurl = "https://s3-ap-southeast-1.amazonaws.com/"+bucket+"/"+key+media_title+"-"+wid+"x"+hei+imgext
      }else{
      imageurl = 'http://'+domain_name+"/"+key+media_title+"-"+wid+"x"+hei+imgext
    }
      var fd = new FormData();

      
      //fd.append('key', key+file[0].name);
      fd.append('key', key+media_title+"-"+wid+"x"+hei+imgext);
      fd.append('AWSAccessKeyId', awsAccessKeyId);
      fd.append('acl', acl);
      //fd.append('success_action_redirect', success_action_redirect);
      fd.append('policy', policy);
      fd.append('signature', signature);  
      fd.append('Content-Type', 'image/');
      fd.append("file", file[0]);



      $.ajax({
        type: 'POST',
        url: url,
        processData: false,
        contentType: false,
        data: fd,
        success: function(response) {
            console.log("response"+response);
            //https://s3-ap-southeast-1.amazonaws.com/tcr-cf-test/appbg/Movie/20160324125635/images/test.jpg
            //imageurl = "https://s3-ap-southeast-1.amazonaws.com/<%#=@signature[:bucket]%>/"+key+files[0].name
            imageurl = imageurl
            console.log("imageurl is===="+imageurl);
            if (wid == 1230){
            document.getElementById("fimgsrc").src = imageurl+"?"+Math.random();
            document.getElementById("banner_image").value = imageurl;
            }
          
          alert('Success uploading Image');
        },
        error: function (response) {
            console.log(response);
          alert('Problem uploading Image');
        }
  	});
	}

	function validateForm(){
        var order = $('#order').val();
        if ( order <= 0) {
            //alert("Please Provide Valid Item Order!");
            $("#selectlist").text("Please Provide Valid Item Order!");
            return false;
        }
        
        //var list = $("input[name=list[]]:checked").val()
        var list  = [];
        $('input[name="list[]"]:checked').each(function(){
            list.push($(this).val());
        }) 
        if (list.length === 0) {
        	//alert("Please Select List!");
        	$("#selectlist").text("Please Select List!");
        	return false;
        }

        var banner_image = $('#banner_image').val();
        if (banner_image.length > 0) {
        	var link = $('#link').val();
        	if ( link.trim().length <= 0 ) {
        		$("#enterlink").text("Please enter external link");
        		return false;
        	}
        }

        return true;
    }

  $('#submitListForm').click(function(){

  	var status = validateForm();
    if (status == true) {

	    var data = $('#listForm').serialize();

	 	  var data_o;
      var redirect_path = "";
        
        var list = $('input[name="list[]"]:checked');
        
        data_o = list.attr("catalogid");
       // console.log("<%= params[:catalog_id] %>");
        <% if  params[:catalog_id] %>
          redirect_path = "/catalogs/view_all";
        <% elsif params[:cataloglist_id]%>
          redirect_path = "/catalog_lists/view_all";
        <% else %>
          redirect_path = "/catalogs/view_catalog/"+ data_o;
        <% end %>
        //return false;
	 //    $("#radiolist").find('input[type=radio]').each(function(index ) {
	 //       	if($(this).prop("checked",true)){
		// 		data_o = $(this).attr('catalogid');
  //      			}
		// });
        


        $.ajax({
            url: '/catalog_lists/add_items',
            data: data,
            type: 'POST',
            dataType: 'json',
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                   // alert(JSON.parse(e.responseText)["error"]);
                   $("#selectlist").text(JSON.parse(e.responseText)["error"]);
                }
            },
            success: function(d){
            	console.log(d);
              if (d.success_list.length > 0 && d.failed_list.length > 0) {
                alert("Success List:: "+ d.success_list + "\n\nFailure List::" + d.failed_list);  
              } else if (d.success_list.length > 0 && d.failed_list.length == 0) {
                alert("Success List:: "+ d.success_list);  
              } else if (d.success_list.length == 0 && d.failed_list.length > 0) {
                alert("Failure List:: "+ d.failed_list);
              } else{
                alert("Item(s) Added Successfully!");
              }
            	// window.location = "/";
              //window.location = "/catalogs/view_catalog/"+ data_o;
              window.location = redirect_path;
            }
        });
    }    
    });	



  $(function(){
    $(".filter_lists_by_tag").on("change", function() {
      var tags = $('.filter_lists_by_tag').val();
        var current_url = window.location.href;
        var arr = current_url.split('&tags=');
        if (arr.length >1) {
          var sub_arr = arr[1].split('&');
          if(sub_arr[0] == ""){
            current_url = current_url.replace('&tags=', '&tags='+tags)
          }else{
            current_url = current_url.replace(sub_arr[0], tags);
          }
          
        } else {
          current_url = current_url + "&tags=" + tags;
        }
        //alert(current_url);
        window.location = current_url;

    });
    $(".filter_lists_by_catalog").on("change", function() {
      var catalog = $('.filter_lists_by_catalog').val();
      var current_url = window.location.href;
      var arr = current_url.split('&catalog=');
      if (arr.length >1) {
        var sub_arr = arr[1].split('&');

        if(sub_arr[0] == ""){
          current_url = current_url.replace('&catalog=', '&catalog='+catalog);
        }else{
          current_url = current_url.replace(sub_arr[0], catalog);
        }
      } else {
        current_url = current_url + "&catalog=" + catalog;
      }
      //alert(current_url);
      window.location = current_url;
    });
  });
</script>

