<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li>Media List</li>
      <li class="active">Edit Media List</li>
    </ol>
  </div>
  <!--/.row-->
    <!-- <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Edit List</h1>
        </div>
    </div> -->
  <!--/.row-->
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <form class="form-horizontal" id="cataloglistForm" role="form">
            <div class="container-fluid">
              <%= render :partial => "catalog_lists/catalog_list_form" %>              
              <% if !(@list.catalog_id).empty? %>                 
                <div class="row">
                  <div class="col-xs-2">
                    <label>Add to catalog?</label>
                  </div>
                  <div class="col-xs-1">
                    <img class="info_img" data-toggle="tooltip" title="<%=t('add_cl_add_list_to_catalog_page?')%>" src="/assets/info_55x55.png" alt="dummy">
                  </div>
                  <div class="col-xs-6">
                    <select id="catalog_flag" name="catalog_flag" class="form-control input-sm">
                      <option value="yes" <%= "selected" %>>Yes</option>
                      <option value="no">No</option>
                    </select>
                  </div>
                </div>
                <script type="text/javascript">
                  $( document ).ready(function()
                  {
                    var default_flag = $('select[name=catalog_flag]').val();
                    if (default_flag == "yes")
                    {
                      $("#catalogs").show();
                      $("#appids").hide();
                    }
                    else
                    {
                      $("#catalogs").hide();
                      $("#appids").show();
                    }
                  });

                  $("#catalog_flag").click(function()
                  {
                    var flag = $("#catalog_flag").val();
                    if (flag=="yes")
                    {
                      $("#catalogs").show();
                      $("#appids").hide();
                    }
                    else
                    {
                      $("#catalogs").hide();
                      $("#appids").show();
                    }
                  });    
                </script>
              <% else %>
                <div class="row">
                  <div class="col-xs-2">
                    <label>Add to catalog?</label>
                  </div>
                  <div class="col-xs-1">
                    <img class="info_img" data-toggle="tooltip" title="<%=t('add_cl_add_list_to_catalog_page?')%>" src="/assets/info_55x55.png" alt="dummy">
                  </div>
                  <div class="col-xs-6">
                    <select id="catalog_flag" name="catalog_flag" class="form-control input-sm">
                      <option value="no">No</option>
                      <option value="yes">Yes</option>
                    </select>
                  </div>
                </div>
                <script type="text/javascript">
                  $("#catalog_flag").click(function()
                  {
                    var flag = $("#catalog_flag").val();
                    if (flag=="yes")
                    {
                      $("#catalogs").show();
                      $("#appids").hide();
                    }
                    else
                    {
                      $("#catalogs").hide();
                      $("#appids").hide();
                    }
                  });    
                </script>
              <% end %>   
              <div id="catalogs" class="catalogs row" style="display:none">
                <div class="col-xs-2">
                  <label for="catalog_id">Select Catalog</label>
                </div>
                <div class="col-xs-1">
                  <img class="info_img" data-toggle="tooltip" title="<%=t('add_cl_select_catalog')%>" src="/assets/info_55x55.png" alt="dummy">
                </div>
                <div class="col-xs-6">
                  <% if params[:action] == "edit" %>
                    <select id="catalog_id" name="catalog_id" class="form-control input-sm">
                      <option value="">Select one from below</option>
                      <%@catalog_list.each do |catalog|%>
                        <option value="<%=catalog["id"]%>-<%=catalog["tenant_id"]%>" <%= "selected" if catalog["id"] == @catalog["_id"] %>><%=catalog["name"]%></option>
                      <%end%>
                    </select>
                  <% else %>
                    <select id="catalog_id" name="catalog_id" class="form-control input-sm">
                      <option value="">Select one from below</option>
                      <%@catalog_list.each do |catalog|%>
                        <option value="<%=catalog["id"]%>-<%=catalog["tenant_id"]%>" ><%=catalog["name"]%></option>
                      <%end%>
                    </select>
                  <% end %>
                </div>
              </div>   
              <div id="appids" class="row" style="display:none">
                <div class="col-xs-2">
                  <label for="apps[]">Select App(s)</label>
                </div>
                <div class="col-xs-1">
                  <img class="info_img" data-toggle="tooltip" title="<%=t('add_cl_select_app')%>" src="/assets/info_55x55.png" alt="dummy">
                </div>
                <div class="col-xs-6" style="padding-left:2px;" id="chkapp">
                  <%Tenant.where(:bg_id=>current_bg.id).each do |tenant|%>
                    <div tenantid ="<%= tenant["_id"]%>" class="panel panel-default">
                      <div class="panel-body">
                        <p><%=tenant.name%></p>
                        <% apps = App.where(:tenant_id=>tenant.id) %>
                        <% app_count = apps.count %>
                        <% @tenant_id = tenant.id %>
                        <% apps.each do |app|%>
                          <div class="checkbox">
                            <label class="checkboxapp<%=app_count%>">
                              <% if !@list.application_ids.nil? && ((@list.application_ids).include? app.ott_id) %>
                                <input type="checkbox" class="checkboxapp" id="checkboxapp<%=app.id%>" name="apps[]" value="<%=app.id%>" checked><%=app.name%>
                              <% else %>
                                <input type="checkbox" class="checkboxapp" id="checkboxapp<%=app.id%>" name="apps[]" value="<%=app.id%>"><%=app.name%>
                              <% end %>
                            </label>
                          </div>
                        <%end%>
                      </div>
                    </div>        
                  <%end%>
                </div>
              </div>   
              <div class="row">
                <div class="col-xs-2">
                  <label for="tags">Select Tag(s)</label>
                </div>
                <div class="col-xs-1">
                  <img class="info_img" data-toggle="tooltip" title="<%=t('add_cl_select_tag_names')%>" src="/assets/info_55x55.png" alt="dummy">
                </div>
                <div class="col-xs-6">
                  <% if ((@list.tags).count == 1) && ((@list.tags).include? "catalog") %>
                    <% tags = ""%>
                  <%else%>
                    <% t = @list.tags - ['catalog'] %>
                    <% tags = t*"," %>
                  <%end%>
                  <!-- <input type="text" class="form-control input-sm" id="tags" name="tags" placeholder="<%= tags %>" value="<%= tags %>"> -->
                  <div class="checkbox">
                    <%default_types = (@default_data["default_catalog_types"].map{|v| v["name"]}).sort%>          
                    <% default_types.each do |d_types| %>
                      <% if tags.include? d_types %>                                                  
                        <label>
                          <input type="checkbox" id="tags" name="tags[]" value="<%= d_types.gsub(' ', '_')%>" checked>
                          <%= d_types.camelcase %>
                        </label> 
                      <%else%>
                        <label>
                          <input type="checkbox" id="tags" name="tags[]" value="<%= d_types.gsub(' ', '_')%>">
                          <%= d_types.camelcase %>
                        </label> 
                      <%end%>       
                    <% end %>
                    <% if !@default_tags.nil?%>
                      <%default_tags = (@default_tags["params_hash2"]["catalog_list_tags"]).sort %>
                      <% default_tags.each do |d_tags| %>
                        <% if tags.include? d_tags%>                                                  
                          <label>
                            <input type="checkbox" id="tags" name="tags[]" value="<%= d_tags.gsub(' ', '_')%>" checked>
                            <%= d_tags.camelcase %>
                          </label>  
                        <%else%>
                          <label>
                            <input type="checkbox" id="tags" name="tags[]" value="<%= d_tags.gsub(' ', '_')%>">
                            <%= d_tags.camelcase %>
                          </label>  
                        <%end%>      
                      <% end %>                                                      
                    <% end %>                     
                  </div> 
                </div>
              </div>
            </div>
            <br><button type="button" class="btn btn-primary" id="submitCatalogListeditForm">Update Media List</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render :partial => "catalog_lists/cataloglist_validations" %>
<script type="text/javascript">

$(document).ready(function()
{
    $('[data-toggle="tooltip"]').tooltip();   
});
    
    function validateForm(){
        

        var name = $('#title').val();
        if ((name.trim()).length == 0) {
            alert("Title can not be empty!");
            return false;
        }

        var name = $('#display_title').val();
        if ((name.trim()).length == 0) {
            alert("Display Title can not be empty!");
            return false;
        }

        var name = $('#type').val();
        if ((name.trim()).length == 0) {
            alert("Please Select List Type!");
            return false;
        }

        var name = $('#list_order').val();
        if (name <= 0) {
            alert("Enter ORDER VALUE GREATER THAN OR EQUAL TO 1");
            return false;
        }
        
         var flag = $("#catalog_flag").val();
         if (flag == "yes") {
            var name = $('#catalog_id').val();
            if ((name.trim()).length == 0) {
                alert("Please Select Catalog!");
                return false;
            }
         }
         else {
            var catalog_id = $('#existing_catalog_id').val();
            if (catalog_id) {
                if ((catalog_id.trim()).length > 0) {
                    return true;
                }
            }

            // tags = $('#tags').val();
            // if (((tags.trim()).length == 0) && ((catalog_id.trim()).length == 0) ) {
            //     alert("Please Provide Tag Names!");
            //     return false;
            // }
            // var tags = document.getElementsByName("tags[]");
            // var tags = $("input[name='tags[]']").val()
            // tags = $('#tags').val();
            var selectedGroups = new Array();
            $("input[name='tags[]']:checked").each(function() {
            selectedGroups.push($(this).val());
            });
            if (selectedGroups.length == 0) {
                alert("Please Provide Tags!");
                return false;
            }

            
         }

        return true;
    }

    $('#submitCatalogListeditForm').click(function(){
        var status = validateForm();
        var tenant_id = "<%= @list['tenant_id'].first %>";
        if ( status == true) {

            var catalog_flag = $('select[name=catalog_flag]').val();
            if (catalog_flag == "no")
            {
                $("#cataloglistForm").find(".catalogs").remove();    
            }
            else
            if (catalog_flag=="yes")
            {
                $("#cataloglistForm").find(".appids").remove();
            }
            
            var data = $('#cataloglistForm').serialize();
            console.log(tenant_id);
            $.ajax({
                url: '/catalog_lists/<%= @list["_id"]%>'+'?method=edit',
                data: data,
                type: 'POST',
                dataType: 'json',
                timeout: 120000,
                error: function(e,t){
                    if (t == "timeout"){
                        alert("Timed Out Wait for Response")
                    }
                    else{
                        alert(JSON.parse(e.responseText)["error"]);
                    }
                },
                success: function(d){
                    //window.location = "/catalog_lists/view_all?tenant_id="+tenant_id;
                    //window.location = "/tenants/view_tenant/"+tenant_id
                    window.location = "/catalog_lists/view_all"
                }
            });
        }
    });
</script>