<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
			<li>OTT</li>
			<li>Lists</li>
			<li class="active"><%= @catalog_list.display_title %></li>
		</ol>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<button type="button" class="btn btn-primary btn-sm re-order-save-button" style="display:none;">
						<span class="glyphicon glyphicon-sort" aria-hidden="true"></span> Save
					</button>
					<button type="button" class="btn btn-primary btn-sm re-order-button">
						<span class="glyphicon glyphicon-sort" aria-hidden="true"></span> Reorder
					</button>

					<div>
						<table class = "table table-condensed table-striped">
							<thead>
								<tr>
									<th>Serial No </th>
									<th>Title</th>
									<th>Type</th>
									<th>List Order</th>
									<th>Catalog name</th>
									<th>Media Type</th>
									<th>Display Title</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								<% count = params[:page].to_i * 25 %> 
								<% @cataloglist_items.each do |list| %>
									<tr>
											<td><%= count + 1 %></td>
											<% theme = list["theme"] %>
											<% media_type = list["media_type"] %>
											<% if (theme == "livetv") %>											
											<% catalog_name = list["catalog_title"] %>				 
											<% else %> 
											<% catalog_name = list["catalog_name"] %>
											<% end %>	
											<% if (media_type.nil?) %> 
											<% media_type = "NA" %>
											<% end %>
											<% if (catalog_name == nil) %>
											<% 	catalog_name = "NA" %>	
											<% end %>
											<% if (theme == "catalog" ||  theme == "custom_item") %>
												<% title = list[:catalog_title] %>
											<% else %> 
													<% title = list["title"] %>
											<% end %>
											<% list_order = list["order_no"] %>
											<% display_title = list["display_title"] %>
											<% ott_list_id = @catalog_list_ott_id %>
											<% if list["display_title"].nil? %>
													<% display_title = "NA" %>
											<% else %>
													<% display_title = list ["display_title"] %>
											<% end %>
											<% if (list["cms_id"] && theme == "catalog_list")  %>
											  <td>
											  	<%= link_to title, "/catalog_lists/view_catalog_list/"+list["cms_id"] %>
											  </td>
											<% elsif (list["cms_id"] && theme == "catalog") %>
											  <td>
											  	<%= link_to title, "/catalogs/view_catalog/"+list["cms_id"] %>
											  </td>  
											<% else %>
												<td><%= title %></td>
											<% end %> 
											<td><%= theme %></td> 
											<% if (theme == "catalog") %>
											  <% content_id = list["catalog_id"] %>
											<% elsif (theme == "catalog_list") %>
												<% content_id = list["list_id"] %>
											<% elsif (theme == "videolist") %>
												<% content_id = list["videolist_id"] %>
											<% else %>
												<% content_id = list["content_id"] %>
 											<% end %>

											<td>
												<input type='number' style='background-color:#fff;border:none;' min='1' class='input-sm re-order-list-item'  value = '<%= list_order %>' theme='<%= theme %>' conent = '<%= content_id %>' ott_id = '<%= ott_list_id %>' disabled readonly>  
											</td>
											<td><%= catalog_name %></td>
											<td><%= media_type %></td>
											<td><%= display_title %></td>


											<% if (theme == "catalog") %>
											 	<td>
											 		<span class="inline-block" data-toggle="tooltip" title="Delete Item"></span><button type="button" class="btn btn-xs btn-danger delete-item" ott-list-id ='<%= ott_list_id %>' content-id = '<%= list["catalog_id"] %>' catalog-id ='<%=list["catalog_id"] %>'><span class="glyphicon glyphicon-s glyphicon-trash"></span></button>
											 	</td>

											<% elsif (theme == "catalog_list" )  %>
													<td>
													<span class="inline-block" data-toggle="tooltip" title="Delete Item"></span><button type="button" class="btn btn-xs btn-danger delete-item" ott-list-id = '<%= ott_list_id %>' content-id='<%= list["list_id"] %>' list-id='<%=list["list_id"] %>'><span class="glyphicon glyphicon-s glyphicon-trash"></span></button>
												</td>
													
											<% elsif (theme == "videolist") %>
													<td>
														<span class="inline-block" data-toggle="tooltip" title="Delete Item"></span><button type="button" class="btn btn-xs btn-danger delete-item" ott-list-id='<%= ott_list_id %>' content-id='<%= list["videolist_id"] %>' catalog-id = '<%=
														list["catalog_id"] %>'><span class="glyphicon glyphicon-s glyphicon-trash"></span></button>
											    </td> 
											<% else %>
													<td>
											      <span class="inline-block" data-toggle="tooltip" title="Deletesfaergeas Item"></span><button type="button" class="btn btn-xs btn-danger delete-item" ott-list-id='<%= ott_list_id %>' content-id = '<%= list["content_id"] %>' catalog-id = '<%= list["catalog_id"] %>'><span class="glyphicon glyphicon-s glyphicon-trash"></span></button>
											    </td>
											<% end %>                               	
									</tr>
									<% count = count+1 %>
								<% end %>
							</tbody>
						</table>
					</div>	
				
										<div>
	                   	<% if params[:page].to_i != 0 %> 
                      	<%=link_to "Previous","#{request.original_url.split("?page")[0]}?page=#{params[:page].to_i-1}"%>
                    	<%else %>
                     	Previous
                    	<% end %>
                    	<% if @next_items.empty? %>
                     	Next
                    	<% else %>
                      	<%=link_to "Next","#{request.original_url.split("?page")[0]}?page=#{params[:page].to_i+1}"%>
                    	<% end %>
              		</div> 
            	</div>
        	</div>
    	</div>
	</div>
</div>

<script type="text/javascript">

				$('.delete-item').click(function(){
					var item = {}
					if ($(this).attr('catalog-id')) {
						item['catalog_id'] = $(this).attr('catalog-id');	
					} else if ($(this).attr('list-id')) {
						item['list_id'] = $(this).attr('list-id');
					} else{
						item['catalog_id'] = $(this).attr('catalog-id');	
					}

					//item['catalog_id'] = $(this).attr('catalog-id');
					item['content_id'] = $(this).attr('content-id');
					item['ott_list_id'] = $(this).attr('ott-list-id');
			        $.ajax({
			            url: '/catalog_lists/delete_item',
			            type: 'PUT',
			            data: item,
			            dataType: 'json',
			            timeout: 120000,
			            error: function(e,t){
			                if (t == "timeout"){
			                    alert("Timed Out Wait for Response")
			                }
			                else{
			                    alert(JSON.parse(e.responseText)["error"]);
			                }
			            },
			            success: function(d){
			                alert("Item Removed Sucessfully!!")
			                location.reload();
			            }
			        });
			    });

			    $(function(){



		var nested_json_data = new Array();
		$('.re-order-button').click(function() {
			if ($(this).text().trim() == "Reorder") {
				$(this).removeClass("re-order-button").addClass("re-order-cancel-button");
				$(this).html("<span class='glyphicon glyphicon-sort' aria-hidden='true'></span> Cancel Reorder");
				$(this).attr("onclick","reloadPage();");
				$('.re-order-save-button').removeAttr('style');
				$('div#table1').removeAttr("auto_refresh");
				$('.re-order-list-item').removeAttr("readonly").removeAttr("style").removeAttr("disabled");	
				
			} else {
				$(this).html("<span class='glyphicon glyphicon-sort' aria-hidden='true'></span> Reorder");
				$('div#table1').attr("auto_refresh", "10000");
				$('.re-order-list-item').attr("readonly");
				$('.re-order-list-item').attr("style", "border:none;").attr('disabled','disabled');
				$('.re-order-save-button').attr('style','display:none;');	
			}

		});
		

		//save the new ordering.
		$('.re-order-save-button').click(function(){
			var order_inputs = $('.re-order-list-item');		
			for (var i = 0; i < order_inputs.length; i++) {
				var order_input = $(order_inputs[i]).val();
				var content_id = $(order_inputs[i]).attr("conent");
				var theme = $(order_inputs[i]).attr("theme");
				var ott_list_id = $(order_inputs[i]).attr("ott_id");
				//var theme = $(order_inputs[i]).parent().parent().find("td:nth-child(2)").html();
				//var content_id = $(order_inputs[i]).parent().parent().find('td:last').find('button').attr('content-id');
				//var ott_list_id = $(order_inputs[i]).parent().parent().find('td:last').find('button').attr('ott-list-id');

				//alert(theme);

				nested_json_data.push({
					content_id: content_id,
					theme: theme,
					order_no: parseInt(order_input)
				})
				console.log(nested_json_data);
			}
			var ajax_data = {"list_items":nested_json_data};


			$.ajax({
				url: '/catalog_lists/reorder_items?list_id='+ ott_list_id,
				type: 'PUT',
				data: ajax_data,
				dataType: 'json',
				timeout: 120000,
				error: function(e,t){
					if (t == "timeout"){
						alert("Timed Out Wait for Response")
					}
					else{
						alert(JSON.parse(e.responseText)["error"]);
					}
				},
				success: function(d){
				//alert("Item Removed Sucessfully!!")
					location.reload();
				}
			});
		})
	});



</script>











