<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">Media Lists</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                <% if (current_user.roles.length == 1) && (current_user.roles[0] == "media_viewer")%>
                            <% else %>
                <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/catalog_lists/new'">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Media List
                </button><% end %>
					<p>&nbsp;</p>
					<div class="col-xs-12 row" style="background-color: white;">
    					<div class="col-xs-3">
    					<select class="input-sm form-control filter-catalog-dropdown" id="filter_catalog">
    						<option selected value="">Select Catalog</option>
    						<% Catalog.not_in(:theme => ["access_control", "subscription", "message", "coupon"]).where(:bg_id => @bg._id).each do |catalog|%>	
    							<option value="<%= catalog.id %>"><%= catalog.name %></option>
    						<% end -%>
    					</select>
    					</div>
    					<div class="col-xs-3">
    						<select  class="input-sm form-control filter-tag-dropdown" id="filter_tag">
    							<option selected value="">Select Tag</option>
    							<% @default_data["default_catalog_types"].each do |tag| %>
    								<option value="<%= tag['name'] %>"><%= tag['name'] %></option>
    							<% end -%>
    						</select>
    					</div>
                        <div class="col-xs-3">
                            <select  class="input-sm form-control filter-list-type-dropdown" id="filter_list_type">
                                <option selected value="">Select List Type</option>
                                <option value="standard">Standard</option>
                                <option value="dynamic">Dynamic</option>
                                <option value="user">User</option>
                                <option value="hr_list">HR List</option>
                                <option value="menu_list">Menu List</option>
                            </select>
                        </div>
    					<!-- <div class="col-xs-3">
    						<select  class="input-sm form-control filter-channel-dropdown" id="filter_channel">
    							<option selected value="">Select Channel</option>
    							<option value="channel 1">Channel 1</option>
    							<option value="channel 2">Channel 2</option>
    							<option value="channel 3">Channel 3</option>
    							<option value="channel 4">Channel 4</option>
    						</select>
    					</div> -->
					</div>
				</div>


                <div>
                    <table class = "table table-condensed table-striped">
                        
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Display Title</th>
                                <th>Home Link</th>
                                <th>Menu Link</th>
                                <th>Catalog Name</th>
                                <th>Actions</th>   
                            </tr>
                        </thead>

                        <tbody>
                            <% @items.each do |item| %>
                                <tr>
                                    <td><%= link_to item["title"], "/catalog_lists/view_catalog_list/"+item["_id"] %></td>
                                    <td><%= item["display_title"] %></td>
                                    <% home_link = item["home_link"] %>
                                    <% if(home_link == nil || home_link == "") %>
                                        <% home_link = "NA" %>
                                    <% end  %>
                                    <td><%= home_link %></td>
                                    <% menu_link = item["menu_link"] %>
                                    <% if(menu_link == nil || menu_link == "") %>
                                        <% menu_link = "NA" %>
                                    <% end %>
                                    <td><%= menu_link %></td>
                                    <% if (item["catalog_name"] == nil || item["catalog_name"]== "" ) %>
                                        <% catalog_name = "NA" %>
                                    <% else %>
                                        <% catalog_name = item["catalog_name"] %> 
                                    <% end %>
                                    <td><%= catalog_name %></td>
                                    <td>    

                                        <span class="inline-block" data-toggle="tooltip" title="Edit"><button type="button" class="btn btn-xs btn-default edit-list" list-id='<%= item["_id"] %>'><span class="glyphicon glyphicon-pencil"></button></span>

                                        <span class="inline-block" data-toggle="tooltip" title="Add List to Lists"><button type="button" class="btn btn-xs btn-info add-list-to-list" cataloglist-id='<%= item["_id"] %>'><span class="glyphicon glyphicon-s glyphicon-plus"></button></span>

                                        <button type="button" data-toggle="tooltip" title="Delete" class=" btn btn-xs btn-danger delete-cataloglist" cataloglist-id='<%= item["_id"] %>'><span class="glyphicon glyphicon-trash"></button>
               
                                    </td>
                                </tr>
                                <% end %>                          
                        </tbody>
                    </table>
                </div>
                <div>
                    <% if params[:page].to_i != 0 %> 
                      <%=link_to "Previous","#{request.original_url.split("?page")[0]}?page=#{params[:page].to_i-1}"%>
                    <%else %>
                     Previous
                    <% end %>
                    <% if @next_items.empty? %>
                     Next
                    <% else %>
                      <%=link_to "Next","#{request.original_url.split("?page")[0]}?page=#{params[:page].to_i+1}"%>
                    <% end %>
                </div> 
            </div>
        </div>
    </div>
</div>    

<%= render :partial => "catalog_lists/cataloglist_validations" %>

<script type="text/javascript">
// function load_actions() {
//     $('.delete-cataloglist').click(function(){
//         $.ajax({
//             url: '/catalog_lists/'+$(this).attr('cataloglist-id')+'?method=delete',
//             type: 'POST',
//             timeout: 120000,
//             error: function(e,t){
//                 if (t == "timeout"){
//                     alert("Timed Out Wait for Response")
//                 }
//                 else{
//                     alert(JSON.parse(e.responseText)["error"]);
//                 }
//             },
//             success: function(d){
//                 alert("List has been deleted sucessfully!")
//                 location.reload();
//             }
//         });
//     });

//     $('.edit-list').click(function(){
//         window.location.href = '/catalog_lists/edit?list_id='+$(this).attr('list-id');
//     });
// };
    
            $('.delete-cataloglist').click(function(){
                $.ajax({
                    url: '/catalog_lists/'+$(this).attr('cataloglist-id')+'?method=delete',
                    type: 'POST',
                    timeout: 120000,
                    error: function(e,t){
                        if (t == "timeout"){
                            alert("Timed Out Wait for Response")
                        }
                        else{
                            alert(JSON.parse(e.responseText)["error"]);
                        }
                    },
                    success: function(d){
                        location.reload();
                    }
                });
            });

            $('.edit-list').click(function(){
                window.location.href = '/catalog_lists/edit?list_id='+$(this).attr('list-id');
            });
            $('.add-media').click(function(){
                window.location.href = '/catalog_lists/new';
            });

            $('.add-list-to-list').click(function(){
                //alert("redirect_to catalog_lists/get_lists?cataloglist_id="+$(this).attr('cataloglist-id'));
                window.location.href = '/catalog_lists/get_lists?cataloglist_id='+$(this).attr('cataloglist-id');
            });




$(function()
 {
    console.log("loaded...");
        $("select").change(function ()
        {
            var value_of_tag = $( "select#filter_tag option:checked" ).val();
            var value_of_catalog = $( "select#filter_catalog option:checked" ).val();
            var value_of_list_type = $( "select#filter_list_type option:checked" ).val();
            // var value_of_channel = $( "select#filter_channel option:checked" ).val();
            console.log("Tag="+value_of_tag+" List Type="+value_of_list_type+" Catalog="+value_of_catalog );
            var url = ""; 
            if (value_of_catalog != "")
            {
                var ct_append = value_of_catalog; 
                url += "catalog="+ct_append;
            } 
    
            if (value_of_tag != "")
            {
                var tag_append = value_of_tag;
                if (typeof tag_append !== "undefined")
                {
                    url += "&tag="+tag_append;
                }
                else
                {
                    url += "tag="+tag_append;
                }
            } 
            if (value_of_list_type != "")
            {
                var list_type_append = value_of_list_type;
                if (typeof list_type_append !== "undefined")
                {
                    url += "&list_type="+list_type_append;
                }
                else
                {
                    url += "list_type="+list_type_append;
                }
            } 

            // if (value_of_channel != ""){
            //   var ch_append = value_of_channel
            //   if (typeof ct_append !== "undefined" || tag_append !== "undefined") {
            //     url += "&channel="+ch_append;
            //   } else {
            //     url += "channel="+tag_append;
            //   }
            // } 
            console.log("URL::  "+url);
            $("#table1").attr('data_source','/catalog_lists?'+url);
            var final_url = $('#table1').attr('data_source');
            console.log(final_url);
        });
    });
</script>


