#header
   {
    background:#000;
    height:120px;
   }
   #header_logo
   {
    color:#fff;
    text-decoration: none;
   }
   .person_details
   {
    color: #fff;
   }
   .quick_links_circle{
  font-size: 24px; 
  color: #fff; 
  width: 245px; 
  height: 245px; 
  line-height: 22px;
    text-decoration: none; 
    display: flex; 
    border: 1px solid #3B3838;
    border-radius: 50%; 
    padding: 10px; 
    /*text-transform: uppercase;*/
}
.quick_links_circle:hover, .quick_links_circle span:hover{
  text-decoration: none;
  color: #fff;
}
.quick_links_circle span{
  display: flex; 
  align-self: center; 
  justify-content: center; 
  width: 100%;
}
.circular_dv
{
  width:265px;
  text-align: center;
}
.circular_div_heading
{
  font-size:19px;
}
.content
{
  margin-top: 5%;
 margin-left: 25px;
 margin-right: 25px;
}
.main_heading
{
  font-size: 35px;
  color: #000;
}
.highlights .rev_lic
{
  color: #000;
  margin-bottom: 20px;
}
.highlights h2
{
  margin-left:60px;
}
.rev_lic h3
{
 margin-left:60px;
}
#revenue_details_table
{
  width:100%;
}
#revenue_details_table th, td {
    border: 1px solid black;
    background: #fff;
    color: #000;
    padding: 10px;

}
#revenue_details_table th {
    color: #fff;
    background: #000;
}
#license_details_table
{
  width:100%;
}
#license_details_table th, td {
    border: 1px solid black;
    background: #fff;
    color: #000;
    padding: 10px;

}
#license_details_table th {
    color: #fff;
    background: #000;
}
    