p.count {
	margin-top: 110px;
	margin-left: 30px;
}
p.count span.count1 {
  font-size: 6em;
  padding-left: 40px;
  float: left;
  width: 94%;
  border-bottom: 1px solid #fff;
  margin-bottom: 3px;
  line-height: 100px;
}
p.count span {
  padding-left: 50px;
  font-size: 1.65em;
}
.section-list {
	border-bottom: 1px solid #fff;
	padding-bottom: 20px;
}
.geography-content-section .flex-structure {
	min-height: 650px
}
.graph {
	float: left;
	width: 100%;
}
table {
	border: 1px solid #fff;
	float: left;
	width: 100%;
}
table tr {
	background: #FFE699;
	border-bottom: 1px solid #fff;
}
table thead {
	border-bottom: 3px solid #fff;
}
table thead tr {
	background: #FFC000;
}
table thead tr th {
	color: #fff;
	font-size: 18px;
}
table tr td {
	color: #000;
	font-size: 18px;
}
table thead tr th, table tr td {
	border-right: 1px solid #fff;
	padding: 10px;
	text-align: left;
}
.pagination-bg {
  background: #fff;
  color: #000;
}
.pagination {
  width: auto;
}
.pagination .bootstrap-select {
  margin-right: 25px;
  width: 96px!important;
}
.pagination label {
  font-weight: normal;
}
.pagination .bootstrap-select>.dropdown-toggle {
  border: 1px solid #000;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-top: 0px;
}
.pagination .bootstrap-select.btn-group .dropdown-toggle .filter-option {
  border-right: 1px solid #000;
  font-size: 16px;
  padding-bottom: 4px;
  padding-top: 8px;
  width: 85%;
}
.pagination .bootstrap-select.btn-group .dropdown-toggle .caret {
  /*border-left: 6px solid transparent; 
  border-right: 6px solid transparent;
  border-top: 10px dashed;*/
  right: 10px;
}
.pagination .bootstrap-select.btn-group.open .dropdown-toggle .caret {
  /*border-bottom: 10px dashed;
  border-top: 0px dashed;*/
}
.pagination a {
  border-right: 1px solid #000;
  color: #98DFF9;
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
}
.pagination a.prev-page {
  margin-left: 5px;
  margin-right: 5px;
  padding-right: 5px;
}
.pagination a.next-page {
  border: 0px;
}
#header
   {
    background:#000;
    height:120px;
   }
   #header_logo
   {
    color:#fff;
    text-decoration: none;
   }
   .person_details
   {
    color: #fff;
   }