body{
	background-color: #f1f5f8;
	color: #565455;
	margin-top: 50px;
	font-size: 16px;
	position: relative;
    font-family: 'Source Sans Pro', sans-serif;
}

section {
    padding-bottom:70px;
    padding-top:45px;
    background-color: #fff;
}


.modal-header{
border-bottom: 0000;
}

.modal-header .close{
    margin-top: -15%;
    margin-right: -15%;
}

.modal-header #close1{
    margin-top: -6%;
    margin-right: -6%;
}

.navbar-brand {
	padding: 10px 0 0 15px;
	font-size: 12px;
	line-height: 12px;
}

.navbar-brand img{
	width: 250px;
	height: auto;
}

.navbar-default {
    background-color: #f1f5f8;
    border: none;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.1),0 1px 5px 0 rgba(0,0,0,.1);
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    /*background-color: #5cb85c;*/
    background-color: #30A5FF;
    color: #f1f5f8;
}

.banner {
	background-color: #a1c7a2;
}

.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #dcdfe2;
}

@media screen and (min-width: 768px) {
	.eq-col {
		display: table;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	.eq-col [class*="col-"]{
	    float: none;
	    display: table-cell;
	    vertical-align: top;
	}
}

.vcenter {
	vertical-align: middle !important;
}

.img-responsive {
	margin: 0 auto;
}

.banner {
	padding-top: 110px;
	padding-bottom: 40px;
	margin-bottom: 0px;
}

.sub-heading {
	font-size: 30px !important;
}

.feature-exp > li{
	font-size: 18px;
}

.color-blue .btn-act.btn-bg {
    background: #00897b;
    border-color: #00897b;
}

.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.hash-list {
    display: block;
    padding: 0;
    margin: 0 auto;
}

.hash-list > li {
    display: block;
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px){
	.hash-list.cols-3 > li {
	    width: 33.3333%;
	}
	.hash-list.cols-3 > li:nth-child(3n) {
	    border-right: none;
	}

	.hash-list.cols-3 > li:nth-last-child(-n+3) {
	    border-bottom: none;
	}
}

@media (max-width: 768px){
	.hash-list.cols-3 > li {
	    width: 50%;
	}
	
	.hash-list.cols-2-xs > li:nth-child(2n) {
    border-right: none;
	}
}

@media (max-width: 480px){
	.hash-list.cols-3 > li {
	    width: 100%;
	    border-right: none;
	}
}

.padx-30, .padx-30-all > *, .padx-30-links > li > a {
    padding-right: 30px;
    padding-left: 30px;
}

.pady-40, .pady-40-all > *, .pady-40-links > li > a {
    padding-top: 40px;
    padding-bottom: 40px;
}

.fg-text-d, .fg-hov-text-d:hover, .fg-active-text-d.active {
    color: #222;
}

/*OTT Features*/
.features {
    font-size: 24px;
    line-height: 30px;
    margin-top: 20px;
}

.features h3{
    list-style: none;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: #4c5867;
}

.features ul.one li:nth-child(1) {
    list-style-image: url('img/video-camera.png');
    
}

.features h3 img{
    width: 48px;
    height: auto;
}

.jumbotron1{
    background: #FFF;
}

.about {
    font-family: 'Source Sans Pro', sans-serif;
    border-bottom: none;    
    text-align: justify;
}

.about h1{
    text-align: center;
}

nav#layouts {
    font-size: 18px;
    line-height: 1.5;
    background: #4c5867;
    text-align: center;
    padding: 30px 20px 35px 10px;
    margin-bottom: 0px;
    position: relative;
    z-index: 1;
    display: block;
    color: #E8ECEF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 42px;
    font-weight: 300;
    text-align: center;
}

.sub-heading1 {
    /*font-family: 'Roboto Condensed', sans-serif;*/
    font-size: 36px;
    /*font-weight: 300;
    color: #4c5867;*/
    padding: 0;
    margin: 20px 0 30px 0;
    color: #000;
    font-family: Arial;
    font-weight: 400;
}

.sub-heading2 {
    font-size: 42px !important;
    padding: 0;
    margin: 20px 0 30px 0;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: #5090fc;
}

.sub-text {
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-size: 19px;
    /*font-weight: 300;*/
    /*color: #627080;*/
    padding: 0;
    margin: 0;
    /*max-width: 700px;*/
    margin: 0 auto;
    color: #000;
    font-family: Arial;
    font-weight: 400;
}

.contactus-text {
    font-size: 19px;
    padding: 0;
    margin: 0;
    margin: 0 auto;
    color: #fff;
    font-family: Arial;
    font-weight: 400;
}

.contact-title{
    position: relative;
    margin-top: 50px;
    margin-bottom: 20px;
}

.contact-line{
    border-top: 1px solid #323232;
}

.contact-head{
    background-color: #ffffff;
    font-size: 20px;
    color: #323232;
    text-align: center;
    width: 20%;
    margin: 0 auto;
    margin-top: -38px;
    text-transform: uppercase;
    font-weight: bold;
}

.item-title, .project_info-item-style-2 .title {
    /*font-family: 'Roboto Condensed';*/
    text-transform: uppercase;
    margin-top: 12px;
    /*font-weight: normal;*/
    font-size: 21px;
    line-height: 30px;
    text-align: center;


    color: #000;
    font-family: Arial;
    font-weight: 400;
}

.item {
    text-align: center;
}

.quickfinder-item-link {
    color: #4c5867;
    text-decoration: none;
}

.item-text, .item-text a {
    color: #384554;
    line-height: 24px;
    font-size: 17px;
    /*font-weight: 300;
    font-family: 'Source Sans Pro';*/
    margin-top: 14px;
    /*text-align: justify;*/
    color: #000;
    font-family: Arial;
    font-weight: 400;
}

.pfe {
    padding: 20px 0;
}
      
.features {
    color: #E8ECEF;
    line-height: 30px;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Source Sans Pro';
    margin-top: 24px;  
    margin: 0 auto;    
}

.dark {
    /*color: #E8ECEF;*/
    line-height: 15px;
    font-size: 24px;
    /*font-weight: 300;
    font-family: 'Source Sans Pro';*/
    margin-top: 15px;
    /*max-width: 700px;*/
    /*margin: 0 auto;*/

    /*max-width: 30%;*/
    padding-top: 1%;

    color: #fff;
    font-family: Arial;
    font-weight: 400;
}

.dark.mb15{
margin-bottom: 15px;
}  

.dark.mt18{
margin-top: 18px;
}    

/*.footer {
    color: #E8ECEF;
    font-family: 'Source Sans Pro';
    
}*/

.features {
    font-size: 24px;
    line-height: 30px;
    margin-top: 20px;
}

.features h3{
    list-style: none;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: #4c5867;
}

.features ul.one li:nth-child(1) {
    list-style-image: url('img/video-camera.png');
}

.features h3 img{
    width: 48px;
    height: auto;
}

.intro {
    background: #FFF;
    text-align: center;
    padding: 100px 0;
    position: relative;
}

.intro-home {
    background-image: url(img/intro-home-back2.png);
    background-size: 2543px 283px;
    background-repeat: repeat-x;
    background-position: 50% 102%;
}

/*Responsive*/
@media screen and (max-width: 768px) {

    .banner-logo {
        padding-left: 10px;
        padding-right: 10px;
    }

    .features .col-xs-12 h3{
    text-align: center;
    }

    .pimg {
     width: 80%;
     height: auto;
     margin: 0 auto;   
    }
}

.pricing-column-wrapper {
    margin-top: 20px;
    border-radius: 4px;
    border-left: 0px none;
    overflow: hidden;
}

.pricing-column {
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(210, 218, 225);
}

.pricing-title-wrapper{
    box-shadow: rgba(98, 112, 128, 0.0980392) 0px 3px 0px 0px;
}

.pricing-title {
    background-color: rgb(241, 245, 248);
    color: rgb(76, 88, 103);
    text-transform: uppercase;
    padding: 30px 0px;
    text-align: center;
    border-bottom: 1px solid rgb(210, 218, 225);
}

.title-h3 {
    color: rgb(76, 88, 103);
    line-height: 51px;
    font-size: 36px;
    font-weight: 300;
    font-family: 'Roboto Condensed';
    margin: 0px;
}

.pricing-price-row {
    padding-bottom: 0px;
}

.pricing-price {   
    font-size: 57px;
    /*color: #5cb85c;*/
    color: #30A5FF;
    border-bottom: 1px solid rgb(210, 218, 225);
    padding-top: 0px;
    height: auto;
    width: auto;
    display: block;
    padding-bottom: 28px;
    border-radius: 0px;
    background-color: rgb(255, 255, 255);
    font-family: Roboto;
    text-align: center;
    margin: 0px auto;
    font-weight: 300;
}

.pricing-cost {
    padding-top: 17px;
    line-height: 56px;
    font-weight: 300;
}

.pricing-price > p {
    margin-bottom: 7px;
}

.pricing-price .time {
    display: block;
    padding-top: 11px;
    text-align: center;
    color: rgb(65, 143, 154);
    line-height: 31px;
    font-size: 26px;
    font-weight: 300;
    font-family: 'Source Sans Pro';
}

.pricing-row {
    border-bottom: 1px solid rgb(210, 218, 225);
    background-color: rgb(241, 245, 248);
    padding: 10px 0px;
    text-align: center;
    font-size: 17px;
}

.pricing-footer {
    background-color: rgb(241, 245, 248);
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
}

#platform .row {
    margin-top:25px;
    margin-bottom:25px;

    color: #000;
    font-family: Arial;
    font-weight: 400;
    line-height: 24px;

}

#platform .item-title{
    font-size: 28px;
}

.customers {
    margin: 0 auto;
}


#advantages .row {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
#advantages .adv_content{
    display: flex;
}
#advantages h1{
    margin-bottom: 15px;
}
#advantages .col-md-4, #advantages .col-md-8{
    display: flex;
    align-self: center;
    justify-content: center;
}
#advantages img {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 76%;
    height: auto;
}


/*New Footer CHanges*/

#footer_b {position: relative;
    margin-top: -62px; /* negative value of footer height */
    height: 62px;
    clear:both;} 

body #footer {
  border-top: 2px solid #00b0ec;
  /* primary colour */
  min-width: 1170px;
  background-color: #4c5867;

}
body #footer #toplink i {
  color: #fff;
  /* primary colour */

}
body #footer #toplink a {
  color: #fff;
  /* primary colour */

}

#footer {
  background: #373f4a;
  /*min-height: 200px;*/
  padding: 20px 0 10px 0;

  color: rgba(255, 255, 255, 0.6);
  border-top: 2px solid #55a79a;
}

#footer .subfooter {
    text-align: center;
  /*
border-top: none;
margin-top: 0em;
padding-top: 0em;
*/
}

#footer p{
   margin:0;
  /*color:rgba(255, 255, 255, 0.6);*/
  color: #fff;
}

#footer h3 a{
  font-weight: 400;
  color: #fff;
  font-family: Arial;
}

#footer .hotlinks ul li ul li a {
    color:rgba(255, 255, 255, 0.6);
}