




<div class="row">
    <div class="col-xs-2">
        <label for="name">Name</label>
        </div>
        <div class="col-xs-1">
            <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
        </div>
          <div class="col-xs-6">
          <% if params[:action] == "edit" %>
          <input type="text" class="form-control input-sm" id="name" name="name" placeholder="" value="<%= @show_resp["title"]%>">
          <% else %>
        <input type="text" class="form-control input-sm" id="name" name="name" placeholder="" value="">
        <%end%>
    </div>
</div>

<div class="row">
    <div class="col-xs-2">
        <label for="description">Description</label>
        </div>
        <div class="col-xs-1">
            <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
        </div>
          <div class="col-xs-6">
          <% if params[:action] == "edit" %>
          <textarea class="form-control input-sm" rows="5" id="description" name="description" placeholder="<%= @show_resp["description"]%>" value="<%= @show_resp["description"]%>"></textarea>
          <%else%>
        <textarea class="form-control input-sm" rows="5" id="description" name="description" value=""></textarea>
        <%end%>
    </div>
</div>

<div class="row">
    <div class="col-xs-2">
        <label for="sequence_no">Enter Show Order</label>
        </div>
        <div class="col-xs-1">
            <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
        </div>
        <div class="col-xs-6">
        <% if params[:action] == "edit" %>
        <input type="number" class="form-control input-sm" id="sequence_no" name="sequence_no" placeholder="" value="<%= @show_resp["sequence_no"]%>" min="1">
        <%else%>
        <input type="number" class="form-control input-sm" id="sequence_no" name="sequence_no" placeholder="" value="1" min="1">
        <%end%>
    </div>
</div>

<% if params[:action] == "edit" %>
<%else%>
<div class="row">
    <div class="col-xs-2">
    <label >What do you want to add?</label>
    </div>
    <div class="col-xs-1">
            <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
        </div>
          <div class="col-xs-6">
    <select name="child_flag" id="child_flag" class="form-control input-sm">
        <option value="episodes">Episodes</option>
        <option value="subcategories">Subcategories</option>
    </select>
    </div>
</div>
<%end%> 

<div class="row">
    <div class="col-xs-2">
    <label >Select Status</label>
    </div>
    <div class="col-xs-1">
            <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
        </div>
          <div class="col-xs-6">
<% if params[:action] == "edit" %>
          <% if @show_resp["status"]=="edit"%>
	        <% statuses = ["edit","published"]%>
	        <% end %>
	        <% if @show_resp["status"]=="published"%>
	        <% statuses = ["published","unpublished"]%>
	        <% end %>
	        <% if @show_resp["status"]=="unpublished"%>
	        <% statuses = ["unpublished","published"]%>
	        <% end %>

	        <select id="status" name="status" class="form-control input-sm">
	            <% statuses.each do |status| %>
	            <option value="<%= status%>">
	                <%= status%>
	            </option>    
	            <% end %>
	        </select> 
<%else%>	        
    <select name="status" id="status" class="form-control input-sm">
        <option value="published">Publish</option>
        <option value="edit">Edit</option>
    </select>
<%end%>
    </div>
</div>



<form enctype="multipart/form-data">

<div class="row">
      <div class="col-xs-2">
        <label for="featured_image">Banner Image</label>
      </div>
      <div class="col-xs-1">
        <img class="info_img" data-toggle="tooltip" title="You can provide the default featured image for the catalog item" src="/assets/info_55x55.png" alt="dummy">
        </div>
        <% if params[:action] == "edit" %>
		
		<% if @show_resp["thumbnails"].blank? %>
		<div class="col-xs-6">
		<img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_large.jpg" id= "fimgsrc" alt="image" alt="image" class="s3_image">
          <div class="upload-section">
	      <input type="file" id="fimg" class="choose-file"  name="fimg" style="display:inline;">
	      <input type="button" class="btn btn-primary upload-image" id="fimgb" name="fimgb" value="Upload Image">
	      (1920px X 1080px)-(png,jpeg,gif)
	      <input type="hidden" id= "featured_image" name="featured_image"> 
	      </div>
	    </div>

	    <%else%>

	    <div class="col-xs-6">

          <% if @show_resp["thumbnails"]["l_large"]["url"].blank? %>

          <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_large.jpg" id= "fimgsrc" alt="image" class="s3_image">
          <input type="hidden" id= "featured_image" name="featured_image"> 

          <%else%>

          <img src="<%= @show_resp["thumbnails"]["l_large"]["url"]%>" id= "fimgsrc" alt="image" class="s3_image">
          <input type="hidden" id= "featured_image" name="featured_image" value="<%= @show_resp["thumbnails"]["l_large"]["url"]%>"> 
          
          <%end%>

          <div class="upload-section">
          <input type="file" id="fimg" class="choose-file"  name="fimg" style="display:inline;">
          <input type="button" class="btn btn-primary upload-image" id="fimgb" name="fimgb" value="Upload Image">
          (1920px X 1080px)-(png,jpeg,gif)
          </div>
        </div>
          <%end%>

		<%else%>
      <div class="col-xs-6">
          <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_large.jpg" id= "fimgsrc" alt="image" class="s3_image">
          <div class="upload-section">
          <input type="file" id="fimg" class="choose-file"  name="fimg" style="display:inline;">
          <input type="button" class="btn btn-primary upload-image" id="fimgb" name="fimgb" value="Upload Image">
          (1920px X 1080px)-(png,jpeg,gif)
          </div>
      </div>
	<input type="hidden" id= "featured_image" name="featured_image">

	<%end%>
    </div>    
    

<div class="row">
      <div class="col-xs-2">
        <label for="l_listing_image">Large Image</label>
      </div>
      <div class="col-xs-1">
        <img class="info_img" data-toggle="tooltip" title="You can provide the default landscape image for the item" src="/assets/info_55x55.png" alt="dummy">
        </div>
        <% if params[:action] == "edit" %>
        <% if @show_resp["thumbnails"].blank? %>
        <div class="col-xs-6">
	      <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_medium.jpg" id= "limgsrc" alt="image" class="s3_image">
	      <div class="upload-section">
	      <input type="file" id="limg" class="choose-file"  name="limg" style="display:inline;">
	      <input type="button" class="btn btn-primary upload-image" id="limgb" name="limgb" value="Upload Image">
	      <input type="hidden" id= "l_listing_image" name="l_listing_image">
	      (360px X 203px)-(png,jpeg,gif)
          </div>
	    </div>
	    <%else%>
	    <div class="col-xs-6">
          <% if @show_resp["thumbnails"]["l_medium"]["url"].blank? %>
          <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_medium.jpg" id= "limgsrc" alt="image" class="s3_image">
          <input type="hidden" id= "l_listing_image" name="l_listing_image">
          <%else%>
          <img src="<%= @show_resp["thumbnails"]["l_medium"]["url"]%>" id= "limgsrc" alt="image" class="s3_image">
           <input type="hidden" id= "l_listing_image" name="l_listing_image" value="<%= @show_resp["thumbnails"]["l_medium"]["url"]%>">
          <%end%>
          <div class="upload-section">
          <input type="file" id="limg" class="choose-file"  name="limg" style="display:inline;">
          <input type="button" class="btn btn-primary upload-image" id="limgb" name="limgb" value="Upload Image">
          (360px X 203px)-(png,jpeg,gif)
          </div>
          </div>
        <%end%>

	  <%else%>
      <div class="col-xs-6">
          <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_medium.jpg" id= "limgsrc" alt="image" class="s3_image">
          <div class="upload-section">
          <input type="file" id="limg" class="choose-file"  name="limg" style="display:inline;">
          <input type="button" class="btn btn-primary upload-image" id="limgb" name="limgb" value="Upload Image">
          (360px X 203px)-(png,jpeg,gif)
          </div>
      </div>
      <input type="hidden" id= "l_listing_image" name="l_listing_image">
      <%end%>
    </div>    
    



<div class="row">
      <div class="col-xs-2">
        <label for="p_listing_image">Small Image</label>
      </div>
      <div class="col-xs-1">
        <img class="info_img" data-toggle="tooltip" title="You can provide the default Portrait image for the item" src="/assets/info_55x55.png" alt="dummy">
        </div>
        <% if params[:action] == "edit" %>
        <% if @show_resp["thumbnails"].blank? %>
        <div class="col-xs-6">
          <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_small.jpg" id= "pimgsrc" alt="image" class="s3_image">
          <div class="upload-section">
          <input type="file" id="pimg" class="choose-file"  name="pimg" style="display:inline;">
          <input type="button" class="btn btn-primary upload-image" id="pimgb" name="pimgb" value="Upload Image">
          <input type="hidden" id= "p_listing_image" name="p_listing_image" >
          (251px X 141px)-(png,jpeg,gif)
          </div>
        </div>
        <%else%>
        <div class="col-xs-6">
          <% if @show_resp["thumbnails"]["p_small"]["url"].blank? %>
          <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_small.jpg" id= "pimgsrc" alt="image" class="s3_image">
          <input type="hidden" id= "p_listing_image" name="p_listing_image" >
          <%else%>
          <img src="<%= @show_resp["thumbnails"]["p_small"]["url"]%>" id= "pimgsrc" alt="image" class="s3_image">
          <input type="hidden" id= "p_listing_image" name="p_listing_image" value="<%= @show_resp["thumbnails"]["p_small"]["url"]%>">
          <%end%>
          <div class="upload-section">
          <input type="file" id="pimg" class="choose-file"  name="pimg" style="display:inline;">
          <input type="button" class="btn btn-primary upload-image" id="pimgb" name="pimgb" value="Upload Image">
          (251px X 141px)-(png,jpeg,gif)
          </div>
        </div>
        <%end%>
		<%else%>
      <div class="col-xs-6">
          <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_small.jpg" id= "pimgsrc" alt="image" class="s3_image">
          <div class="upload-section">
          <input type="file" id="pimg" class="choose-file"  name="pimg" style="display:inline;">
          <input type="button" class="btn btn-primary upload-image" id="pimgb" name="pimgb" value="Upload Image">
          (251px X 141px)-(png,jpeg,gif)
          </div>
      </div>
      <input type="hidden" id= "p_listing_image" name="p_listing_image">
      <%end%>
    </div>  
    <script> console.log("data==="+@catalog)</script> 
<% if !@catalog["episodetype_tags"].nil? %>
<% if !@catalog["episodetype_tags"].empty? %>
<!-- EpisodeType_Tags -->
<div class='row'>
  <div class="error_media" id="episodetypeid"></div>
  <div class='col-xs-2'>
    <label>Select Episode Type</label>
  </div>
  <div class='col-xs-1'>
    <img class='info_img' data-toggle='tooltip' title="Episode Type Tag(s)" src='/assets/info_55x55.png' alt='dummy'>
  </div>
  <div class='col-xs-6'>
    <% if params[:action] == "edit" %>
     <% episodetypes = @show_resp["episodetype_tags"] %>
      <% @catalog["episodetype_tags"].each do |ett|%>
      <div class='checkbox'>
        <label>
          <% if episodetypes.include?ett %>
          <input type="checkbox" id="episodetype_tags" name="episodetype_tags[]" value="<%= ett['name']%>-<%= ett['display_title']%>" checked>
          <%= ett['display_title'].camelcase %>
          <% else %>
          <input type="checkbox" id="episodetype_tags" name="episodetype_tags[]" value="<%= ett['name']%>-<%= ett['display_title']%>">
          <%= ett['display_title'].camelcase %>
          <% end %>
        </label>
      </div>
      <% end %>
    <% else %>
    <% @catalog["episodetype_tags"].each do |ett|%>
    <div class='checkbox'>
      <label>
        <input type="checkbox" id="episodetype_tags" name="episodetype_tags[]" value="<%= ett['name']%>-<%= ett['display_title']%>">
        <%= ett['display_title'].camelcase %>
       </label>
    </div>
     <% end %>
    <%end%>
  </div>
</div>
<!-- EpisodeType_Tags  End-->
<% end -%>
<% end -%>
    <div class="row">
      <div class="col-xs-2">
        <label for="name">SEO</label>
      </div>
    </div>

    <div class="row">
    <div class="col-xs-2">
        <label for="meta-title">Title</label>
        </div>
        <div class="col-xs-1">
            <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
        </div>
          <div class="col-xs-6">
          <% if params[:action] == "edit" %>
          <input type="text" class="form-control input-sm" id="meta_title" name="meta_title" value="<%= @show_resp["meta_title"]%>">
          <%else%>
        <input type="text" class="form-control input-sm" id="meta_title" name="meta_title" placeholder="" value="">
        <%end%>
    </div>
</div>

<div class="row">
    <div class="col-xs-2">
        <label for="meta-description">Description</label>
        </div>
        <div class="col-xs-1">
            <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
        </div>
          <div class="col-xs-6">
          <% if params[:action] == "edit" %>
        <input type="text" class="form-control input-sm" id="meta_description" name="meta_description" value="<%= @show_resp["meta_description"]%>">
        <%else%>
        <input type="text" class="form-control input-sm" id="meta_description" name="meta_description" placeholder="" value="">
        <%end%>
    </div>
</div>

<div class="row">
    <div class="col-xs-2">
        <label for="meta-keywords">Keywords</label>
        </div>
        <div class="col-xs-1">
            <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
        </div>
          <div class="col-xs-6">
         <% if params[:action] == "edit" %>
        <input type="text" class="form-control input-sm" id="meta_keywords" name="meta_keywords" value="<%= @show_resp["meta_keywords"]%>">
        <%else%>
        <input type="text" class="form-control input-sm" id="meta_keywords" name="meta_keywords" placeholder="" value="">
        <%end%>
    </div>
</div>
    
