<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li>Shows</li>
            <li class="active">Add Show</li>
        </ol>
    </div><!--/.row-->
    <!-- <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Add Show</h1>
        </div>
    </div> --><!--/.row-->

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" id="showForm" role="form">
                        <div class="container-fluid">

                        <%= render :partial => "shows/shows_form" %>

                            <!-- <div class="row">
                                <div class="col-xs-2">
                                <label >Show has Subcategories?</label>
                                </div>
                                <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                <select name="subcategories_flag" id="subcategories_flag" class="form-control input-sm">
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                                </div>
                            </div>    

                            <div class="row">
                                <div class="col-xs-2">
                                <label >Show has Episodes?</label>
                                </div>
                                <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                <select name="episodes_flag" id="episodes_flag" class="form-control input-sm">
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                                </div>
                            </div> -->

                            <!-- <div class="row">
                                <div class="col-xs-2">
                                    <label for="featured_image">Featured Image</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="featured_image" name="featured_image" placeholder="" value="">
                                </div>
                            </div> -->   

                            <form enctype="multipart/form-data">
                             

                            <!-- <div class="row">
                                <div class="col-xs-2">
                                    <label for="l_listing_image">Landscape Image</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="l_listing_image" name="l_listing_image" placeholder="" value="">
                                </div>
                            </div>  -->   

                            

                            <!-- <div class="row">
                                <div class="col-xs-2">
                                    <label for="p_listing_image">Portrait Image</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="p_listing_image" name="p_listing_image" placeholder="" value="">
                                </div>
                            </div>  --> 

                            
                                </form>

                                <div>
                                    <input type="hidden" name="catalog_object" value="<%= @catalog%>">
                                </div> 

                            <br><button type="button" class="btn btn-primary" id="submitShowForm" >Add Show</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // Validate form data
    // function validateForm(){
    //     var name = $('#name').val();
    //     if ((name.trim()).length == 0) {
    //         alert("Name can not be empty!");
    //         return false;
    //     }

    //     var name = $('#l_listing_image').val();
    //     if ((name.trim()).length == 0) {
    //         alert("Landscape Image can not be empty!");
    //         return false;
    //     }
    //     return true;
    // }

    $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});

    (function($,W,D)
{
    var JQUERY4U = {};

    JQUERY4U.UTIL =
    {
        setupFormValidation: function()
        {
            //form validation rules
            $("#showForm").validate({

                errorPlacement: function (error, element) {
                    error.css({'float':'left','color':'red','text-align':'left'});
                    error.addClass("error")
                    error.insertAfter(element);
                },
                rules: {
                    name: "required",
                    featured_image: "required",
                    l_listing_image: "required",
                    p_listing_image: "required",
                    sequence_no : {
                        required : true,
                        min : 1
                        }
                },
                messages: {
                    name: "THIS FIELD IS MANDATORY",
                    featured_image: "THIS FIELD IS MANDATORY",
                  l_listing_image: "THIS FIELD IS MANDATORY",
                  p_listing_image: "THIS FIELD IS MANDATORY",
                  sequence_no: {
                     required : "THIS FIELD IS MANDATORY",
                        min : "Enter ORDER VALUE GREATER THAN OR EQUAL TO 1"
                        }
                },
                submitHandler: function(form) {
                    //form.submit();
                     return false;
                }
            });
        }
    }

    //when the dom has loaded setup form validation rules
    $(D).ready(function($) {
        JQUERY4U.UTIL.setupFormValidation();
    });

})(jQuery, window, document);


$("#fimgb").click(function(){
   
    var ffileSelect = document.getElementById('fimg');
    var catalog_name = document.getElementById("name").value;
    var ffiles = ffileSelect.files;
    console.log("files is::"+ffiles);

    if (ffiles.length == 0)
    {
        alert("Please Choose Image");
    }
    else
    {
    if (catalog_name == "" || catalog_name == null)
    {
        alert("Please Provide Name!");
    }
    else
    {
        if (ffiles[0].type == "image/png" || ffiles[0].type == "image/jpeg" || ffiles[0].type == "image/gif")
        {
        console.log("image");
        var fwidth = 794;
        var fheight = 447;
        var imgstatus = imagevalidation(ffiles,fwidth,fheight);
        }
        else
        {
        alert("Upload Image Files Only");
        }
    }
    }
});

$("#limgb").click(function(){
    var lfileSelect = document.getElementById('limg');
    var catalog_name = document.getElementById("name").value;
    var lfiles = lfileSelect.files;
    console.log("files is::"+lfiles);

    if (lfiles.length == 0)
    {
        alert("Please Choose Image");
    }
    else
    {
    if (catalog_name == "" || catalog_name == null)
    {
        alert("Please Provide Name!");
    }
    else
    {
        if (lfiles[0].type == "image/png" || lfiles[0].type == "image/jpeg" || lfiles[0].type == "image/gif")
        {
        console.log("image");
        var lwidth = 410;
        var lheight = 231;
        var imgstatus = imagevalidation(lfiles,lwidth,lheight);
        }
        else
        {
        alert("Upload Image Files Only");
        }
    }
    }
});

$("#pimgb").click(function(){
    var pfileSelect = document.getElementById('pimg');
    var catalog_name = document.getElementById("name").value;
    var pfiles = pfileSelect.files;
    console.log("pfiles is::"+pfiles);

    if (pfiles.length == 0)
    {
        alert("Please Choose Image");
    }
    else
    {
    if (catalog_name == "" || catalog_name == null)
    {
        alert("Please Provide Name!");
    }
    else
    {
        if (pfiles[0].type == "image/png" || pfiles[0].type == "image/jpeg" || pfiles[0].type == "image/gif")
        {
        console.log("image");
        var pwidth = 251;
        var pheight = 141;
        var imgstatus = imagevalidation(pfiles,pwidth,pheight);
        }
        else
        {
        alert("Upload Image Files Only");
        }
    }
    }
});

function imagevalidation(file,wid,hei){
    var upimg = new Image();
    upimg.onload = function () 
    {            
    // if (this.width < wid && this.height < hei){
      //  alert("Resolution must be" +wid+"X"+hei+"px format");
    //}
    //else if (this.width > wid && this.height > hei){
      //  alert("Resolution must be" +wid+"X"+hei+"px format");
    //}else{
      //  console.log(this.width+" : "+this.height);

    if (file[0].size > 500000){
        alert("Please Upload Image of Size less than 500KB");
    }
    else{
        console.log("files size is:::::"+file[0].size);

        var key = "<%=@signature[:key]%>"
        var awsAccessKeyId = "<%=@signature[:access_key]%>"
        var acl = "<%=@signature[:acl]%>"
        var policy = "<%=@signature[:policy]%>"
        var signature = "<%=@signature[:signature]%>"
        console.log("signature key==="+key);
        console.log("signature access_key==="+awsAccessKeyId);
        console.log("signature acl==="+acl);
        console.log("signature policy==="+policy);
        console.log("signature==="+signature);

        uploadImage(key, awsAccessKeyId, acl, policy, signature, file, wid, hei)
    }
    }
    //}
    upimg.src = URL.createObjectURL(file[0]);  
}

function uploadImage(key, awsAccessKeyId, acl, policy, signature, file, wid, hei) {

      var catalog_name = document.getElementById("name").value;
      catalog_name = catalog_name.replace(/[^a-zA-Z0-9\s]/g,"");
      catalog_name = catalog_name.toLowerCase();
      catalog_name = catalog_name.replace(/\s/g,'-');
      var bucket = "<%=@signature[:bucket]%>"

      var imgname = file[0].name;
      var imgindex = imgname.lastIndexOf('.');
      var imgext = imgname.substring(imgindex);
      var bucket = "<%=@signature[:bucket]%>"
      var domain_name = "<%=@signature[:domain_name]%>"
      
      url = 'http://'+bucket+'.s3.amazonaws.com/'

      if (domain_name == "" || domain_name == null){
        imageurl = "https://s3-ap-southeast-1.amazonaws.com/"+bucket+"/"+key+catalog_name+"/images/"+catalog_name+"-"+wid+"x"+hei+imgext
      }else{
      imageurl = 'http://'+domain_name+"/"+key+catalog_name+"/images/"+catalog_name+"-"+wid+"x"+hei+imgext
    }

      var fd = new FormData();
      //fd.append('key', key+file[0].name);
      fd.append('key', key+catalog_name+"/images/"+catalog_name+"-"+wid+"x"+hei+imgext);
      fd.append('AWSAccessKeyId', awsAccessKeyId);
      fd.append('acl', acl);
      //fd.append('success_action_redirect', success_action_redirect);
      fd.append('policy', policy);
      fd.append('signature', signature);  
      fd.append('Content-Type', 'image/');
      fd.append("file", file[0]);

      $.ajax({
        type: 'POST',
        url: url,
        processData: false,
        contentType: false,
        data: fd,
        success: function(response) {
            console.log("response"+response);
            imageurl = imageurl
            console.log("imageurl is===="+imageurl);

            if (wid == 794){
            document.getElementById("fimgsrc").src = imageurl+"?"+Math.random();;
            document.getElementById("featured_image").value = imageurl;
            }
            if (wid == 410){
            document.getElementById("limgsrc").src = imageurl+"?"+Math.random();;
            document.getElementById("l_listing_image").value = imageurl;
            }
            if (wid == 251){
            document.getElementById("pimgsrc").src = imageurl+"?"+Math.random();;
            document.getElementById("p_listing_image").value = imageurl;
            }
          
          alert('Success uploading Image');
        },
        error: function (response) {
            console.log(response);
          alert('Problem uploading Image');
        }
  });
}





    $('#submitShowForm').click(function(){
        //var status = validateForm();
        var status = $('#showForm').valid();
        console.log(status);

        if ( status == true) {
        var data = $('#showForm').serialize();

        $.ajax({
            url: '/shows/',
            data: data,
            type: 'POST',
            dataType: 'json',
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
            },
            success: function(d){
                //window.location = "/shows/view_all"
                window.location = "/catalogs/view_catalog/<%=@catalog_id%>"
            }
        });
        }
    });
</script>
