<script type="text/javascript">

$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});


(function($,W,D)
{
    var JQUERY4U = {};

    JQUERY4U.UTIL =
    {
        setupFormValidation: function()
        {

        	$.validator.addMethod("specialchar", function(value, element) {
                  return this.optional(element) || /([0-9a-zA-Z\s])$/.test(value);
                }, "* Special Char");

            //form validation rules
            $("#profileForm").validate({

                errorPlacement: function (error, element) {
                    error.css({'float':'left','color':'red','text-align':'left'});
                    error.addClass("error")
                    error.insertAfter(element);
                },
                rules: {
                    name : {
                    required: true,
                    specialchar: true
                    },
                    v_bitrate: "required",
                    a_bitrate: "required",
                    width: "required",
                    height: "required"
                },
                messages: {
                    name : {
                    required: "THIS FIELD IS MANDATORY",
                    specialchar: "Please use only Letters, Numbers and Underscores"
                    },
                    v_bitrate: "THIS FIELD IS MANDATORY",
                    a_bitrate: "THIS FIELD IS MANDATORY",
                    width: "THIS FIELD IS MANDATORY",
                    height: "THIS FIELD IS MANDATORY"
                },
                submitHandler: function(form) {
                    //form.submit();
                    return false;
                }
            });
        }
    }

    //when the dom has loaded setup form validation rules
    $(D).ready(function($) {
        JQUERY4U.UTIL.setupFormValidation();
    });

})(jQuery, window, document);


function profilecheck(event) {
    $(".error_media").text("");

    if(event.charCode==32){
        return false;
    }
}

// function validateForm(){
//     var name = $('#name').val();
//     var v_bitrate = $('#v_bitrate').val();
//     var a_bitrate = $('#a_bitrate').val();
//     var width = $('#width').val();
//     var height = $('#height').val();

//       if ((name.trim()).length == 0) {
//         //alert("Please Enter Profile Name!");
//         return false;
//       }
//       if ((v_bitrate.trim()).length == 0) {
//        // alert("Please Enter Video Bitrate!");
//         return false;
//       }
//       if ((a_bitrate.trim()).length == 0) {
//         //alert("Please Enter Audio Bitrate!");
//         return false;
//       }
//       // if ((container.trim()).length == 0) {
//       //   //alert("Please Enter Container!");
//       //   return false;
//       // }
//       // if ((vcodec.trim()).length == 0) {
//       //   //alert("Please Enter Video Codec!");
//       //   return false;
//       // }
//       // if ((acodec.trim()).length == 0) {
//       //   //alert("Please Enter Audio Codec!");
//       //   return false;
//       // }
//       if ((width.trim()).length == 0) {
//         //alert("Please Enter Width!");
//         return false;
//       } 
//       if ((height.trim()).length == 0) {
//         //alert("Please Enter Height!");
//         return false;
//       }
//       return true;
// }


    $('#submitProfileForm').click(function(){
        //var status = validateForm();
        var status = $('#profileForm').valid();
        var error = "";
        if ( status == true) {
        var data = $('#profileForm').serialize();
        $.ajax({
            url: '/profiles/',
            data: data,
            type: 'POST',
            dataType: 'json',
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    //alert(JSON.parse(e.responseText)["error"]);
                    error = JSON.parse(e.responseText)["error"];
                    //alert(error);
                    $(".error_media").text(error);
                    //location.reload();
                }
            },
            success: function(d){
                console.log(d);
                window.location = "/profiles/view_all"
            }
        });
     }
    });
</script>


<script type="text/javascript">
function load_actions() {
    $('.delete-profile').click(function(){
        $.ajax({
            url: '/profiles/'+$(this).attr('profile-id')+'?method=delete',
            type: 'POST',
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
            },
            success: function(d){
                location.reload();
            }
        });
    });
};
</script>