<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li>Profiles</li>
            <li class="active">Add Profile</li>
        </ol>
    </div><!--/.row-->
    <!-- <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Add New Profile</h1>
        </div>
    </div> --><!--/.row-->
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" id="profileForm" role="form" onkeypress="return profilecheck(event)">
                        <div class="container-fluid">
                            <div class="row">
                            <div class="error_media"> </div>
                                <div class="col-xs-2">
                                    <label for="name">Name</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_anp_Name')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="name" name="name" placeholder="Name of your choice" value="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="v_bitrate">Video Bitrate</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_anp_Video_Bitrate')%>"  src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="v_bitrate" name="v_bitrate" placeholder="" value="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="a_bitrate">Audio Bitrate</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_anp_Audio_Bitrate')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="a_bitrate" name="a_bitrate" placeholder="" value="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="container">Container</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_anp_Container')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                        <select name="container" id="container" class="form-control input-sm">
                                        <option value="mp4">mp4</option>
                                        <option value="avi">avi</option>
                                        <option value="matroska">matroska</option>
                                        <option value="mxf">mxf</option>
                                        <option value="ogg">ogg</option>
                                        <option value="quicktime">quicktime</option>
                                        </select>
                                    <!-- <input type="text" class="form-control input-sm" id="container" name="container" placeholder="" value=""> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="vcodec">Video Codec</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_anp_Video_Codec')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                        <select name="vcodec" id="vcodec" class="form-control input-sm">
                                        <option value="h264">h264</option>
                                        <option value="mpeg">mpeg</option>
                                        <option value="mpeg-1">mpeg-1</option>
                                        <option value="mpeg-2">mpeg-2</option>
                                        <option value="mpeg-4">mpeg-4</option>
                                        </select>
                                    <!-- <input type="text" class="form-control input-sm" id="vcodec" name="vcodec" placeholder="" value=""> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="acodec">Audio Codec</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_anp_Audio_Codec')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                        <select name="acodec" id="acodec" class="form-control input-sm">
                                        <option value="mp3">mp3</option>
                                        <option value="aac">aac</option>
                                        <option value="wma">wma</option>
                                        <option value="ac-3">ac-3</option>
                                        <option value="dts">dts</option>
                                        </select>
                                    <!-- <input type="text" class="form-control input-sm" id="acodec" name="acodec" placeholder="" value=""> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="width">Width</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_anp_Width')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="width" name="width" placeholder="" value="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="height">Height</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_anp_Height')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="height" name="height" placeholder="" value="">
                                </div>
                            </div>
                            <br><button type="submit" class="btn btn-primary" id="submitProfileForm">Add Profile</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%= render :partial => "profile/profile_validations" %>