<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li>Profiles</li>
            <li class="active">All</li>
        </ol>
    </div><!--/.row-->
    <!-- <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Profiles</h1>
        </div>
    </div> --><!--/.row-->
    <!-- <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-blue panel-widget ">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <em class="glyphicon glyphicon-asterisk glyphicon-l"></em>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">0</div>
                        <div class="text-muted">Total Profiles</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-orange panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <em class="glyphicon glyphicon-file glyphicon-l"></em>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">0</div>
                        <div class="text-muted">Standard</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-teal panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <em class="glyphicon glyphicon-edit glyphicon-l"></em>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">0</div>
                        <div class="text-muted">Custom</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-red panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <em class="glyphicon glyphicon-th glyphicon-l"></em>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">0</div>
                        <div class="text-muted">Total</div>
                    </div>
                </div>
            </div>
        </div>
    </div> --><!--/.row-->
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="table1" data_source="/profiles" auto_refresh="10000" loader="false" entries_info="true">
                        <script type="text/javascript" >
                        String.prototype.trunc = 
                            function(n){
                                return this.substr(0,n-1)+(this.length>n?'&hellip;':'');
                             };
                            $(document).ready(function(){       
                                var table1 = new saranyutable("#table1");
                                table1.createBody = function createBody(_this) {            
                                    $(_this.selector).find("thead").append(
                                        '<tr><th style="width: 20%;"><left>Name</left></th><th><left>Video Bitrate</left></th><th><left>Audio Bitrate</left></th><th><left>Container</left></th><th><left>Video Codec</left></th><th><left>Audio Codec</left></th><th><left>Resolution</left></th><th><left>System Profile?</left></th><th><left>Actions</left></th></tr>');
                                };
                                table1.load();                      
                                table1.appendContent = function appendContent(data,_this){      
                                    var tbody = $(_this.selector).find("tbody");
                                    tbody.html(""); 
                                    for ( var i = 0; i < data.list.length; i++) {
                                        //name
                                        name = data.list[i].name
                                        //video bitrate
                                        video_bitrate = data.list[i].video_bitrate
                                        //audio bitrate
                                        audio_bitrate = data.list[i].audio_bitrate
                                        //container
                                        container = data.list[i].container
                                        //video codec
                                        video_codec = data.list[i].video_codec
                                        //audio codec
                                        audio_codec = data.list[i].audio_codec
                                        //resolution
                                        resolution = data.list[i].width+'x'+data.list[i].height
                                        //actions
                                        actions = ""
                                        delete_disabled = ""
                                        <%if !(current_user.roles.include?"cms_manager")%>
                                        if (data.list[i].is_system_profile == true) {
                                            delete_disabled = "disabled"
                                        }
                                        <%end%>
                                        //system profile
                                        system_profile = ""
                                        if (data.list[i].is_system_profile == true) {
                                            system_profile = "Yes"
                                            delete_disabled = "disabled"
                                        }
                                        else{
                                            system_profile = "No"
                                            delete_disabled = ""
                                        }                                      
                                        actions = '<button type="button" class="'+delete_disabled+' btn btn-xs btn-danger delete-profile" data-toggle="tooltip" title="Delete" profile-id='+data.list[i]._id+'><span class="glyphicon glyphicon-remove"></button>'
                                        //append
                                       var  pname=name.trunc(20);
                                        tbody.append("<tr><td>" + pname
                                            + "</td><td>" + video_bitrate
                                            + "</td><td>" + audio_bitrate
                                            + "</td><td>" + container
                                            + "</td><td>" + video_codec
                                            + "</td><td>" + audio_codec
                                            + "</td><td>" + resolution
                                            + "</td><td>" + system_profile
                                            + "</td><td>" + actions
                                            +"</td></tr>");
                                    }
                                    load_actions();
                                };
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%= render :partial => "profile/profile_validations" %>


