<style type="text/css">
    body {
    padding-top: 0px;
    padding-bottom: 0px;
    }
  td {
  font-size: 13px;
  }
  .navbar {
  margin-bottom: 0px;
  }
</style>

<div class="container-fluid" style="background-color: #4F2F4F;">
  <div class="row">
    <div class="col-xs-4" align="center">
      <br>
      <img src="/assets/devices.png">
    </div>
    <div class="col-xs-8">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item active" style="height: 380px;">
              <div class="container">
                <div class="carousel-caption">
                  <br><br>
                  <h1>Media Profiles</h1>
                  <h2>All trial videos are transcoded to the below mentioned profile:</h3>
                  <p><strong>Bitrate:</strong> 832kbps, <strong>Resolution:</strong> 640x480</p>
                  <p><strong>Format:</strong> mp4 (H264/AAC)</p>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active" style="background: yellow;">
        <div class="container-fluid">
          <div class="row">
            <div align="center" style="color:gray;" class="col-xs-6">
              <br>
              <center><h1><strong>Multiscreen</strong> Media Workflow</h1></center>
              <br>
              <div class="col-xs-6">
                <p><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp; <strong>Multi-Source Ingestion</strong></p>
                <p><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp; Real Time Transcoding</p>
                <p><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp; <strong>Mutiple Video Profiles</strong></p>
                <p><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp; Mobile Publishing and Delivery</p>
                <p><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp; <strong>Security &amp; Encryption</strong></p>
              </div>
              <div class="col-xs-6">
                <p><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp; <strong>Smart Video URLs</strong></p>
                <p><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp; REST based API</p>
                <!-- <p><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp; <strong>Meta Data, Search &amp; Discovery</strong></p> -->
                <p><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp; Powerful Video Analytics</p>
                <p><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp; <strong>Device Apps &amp; Player</strong></p>
              </div>
            </div>
            <div align="center" class="col-xs-6">
              <br>
              <embed width="480" height="270" src="https://www.youtube.com/v/XSGBVzeBUbk">
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<script type="text/javascript">
  $('.carousel').carousel({
      interval: false
  });
</script>     