
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/assets/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/bootstrap-select.min.css" rel="stylesheet">
  <link href="/assets/datepicker3.css" rel="stylesheet">
  <link href="/assets/bootstrap-toggle.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="assets/common.css">
  <link href="/assets/mis_dashboard.css" rel="stylesheet">
  <script src="/assets/jquery-1.11.1.min.js"></script>
  <script src="/assets/moment-with-locales.js"></script>
  <script src="/assets/bootstrap.min.js"></script>
  <script src="/assets/chart.min.js"></script>
   <script src="/assets/highcharts.js"></script>
    <script src="/assets/exporting.js"></script>
  <script src="/assets/easypiechart.js"></script>
  <script src="/assets/bootstrap-datepicker.js"></script>
  <script src="/assets/bootstrap-datetimepicker.js"></script>
  <script src="/assets/saranyutable.js"></script>
  <script src="/assets/bootstrap-toggle.min.js"></script>
   <script src="/assets/ckeditor.js"></script>
  <script src="/assets/jquery.validate.min.js"></script>
  <script src="assets/bootstrap-select.min.js"></script>
<script src="assets/mis_dashboard.js"></script>
</head>
  <body>
   <!--header starts -->
   <header id="header">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-left">     
       <a href="/" id="header_logo"><img src="/assets/logo-s.png"></a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 person_details pull-right">
        <span>Logged in as</span><br>
        <%#= current_user.inspect %>
        <span><%= current_user.email%> | </span> <span><a href="/users/logout">Logout</a></span>
      </div>
      </div>
          <div class="clearfix"></div>
     </header>
     <div class="clearfix"></div>
      <div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-4 menu-section"><!-- Menu Section starts -->
        <ul class="navigation mb75">
          <li>
            <a href="/mis_dashboard">Dashboard</a>
          </li>
        </ul>
        <ul class="navigation m75">
          <li>
            <a href="/get_top_items">Content performance</a>
            <ul>
              <li>
                <a href="/get_all_items">All content</a>
              </li>
              <li>
                <a href="/language_data">Language Data</a>
              </li>
              <li>
                <a href="/consumption_by_category">Consumption by category</a>
              </li>
              <li>
                <a href="/content_by_geography_country">Content by geography</a>
              </li>
              <li>
                <a href="/content_performance_by_owner">Content performance by content owner</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="navigation mb75">
          <li>
            <a href="javascript:;">Users</a>
            <ul>
              <li>
                <a href="javascript:;">Active Users</a>
              </li>
              <li>
                <a href="/content_by_geography_country?users=true">Logins by geography</a>
              </li>
              <li>
                <a href="/users_by_device">Users by device</a>
              </li>
            </ul>
          </li>
        </ul>
      </div><!-- Menu Section ends -->
<div class="col-md-9 col-sm-9 col-xs-8 right-content"><!-- Content Section starts -->
       
        <%= yield%>
       
      </div><!-- Content Section ends -->
    </div>
  </div>
  </div>
 
  </body>
  </html>
<style type="text/css">
#header{
  padding: 30px;
  height: auto;
  min-height: 60px;
}
  .person_details span{
    font-size: 16px;
  }
</style>

<li></li>